[2016-05-15 02:03] kenny-evitt commented on #2201
@cskujbus Glad it's fixed.

[2016-05-15 02:03] #2201 closed

[2016-05-16 01:34] mkno opened #2207 "autocomplete freezes very very briefly"
when I type anything in win 7 installation of Lighttable, the autocomplete popups up but it seems to freeze maybe 400~600ms. I have the REPL running. Of course I don't know the exact milliseconds but it's enough for me to notice and it's not smooth at all and feels 'jerky'. Wondering if anyone is running into the same issue and was able to resolve it.

Looks like https://github.com/LightTable/Ligh

[2016-05-16 01:36] mkno commented on #2035
as of 0.8.1, experiencing this on win 7

[2016-05-16 10:08] robjens commented on #1928
@cclaudiu81 Thank you! The misbehaving plugin was `clj-light-refactor`! Solved here and explains why my Win 10 box didn't suffer this problem and the Server 2012 R2 did.

[2016-05-16 13:43] kenny-evitt commented on #1984
@mluisbrown [I think you're out of luck if you can't access GitHub over HTTPS](https://developer.github.com/v3/#schema):

Would you please create a separate issue as this issue just covers generic proxy support.

[2016-05-16 13:53] rundis commented on #1928
@robjens You mind submitting an issue to clj-light-refactor if you haven't already done so. It hasn't recevived much love lately, but I'm planning on giving it at overhaul when I'm back coding clojure for a living agains soon :-)

[2016-05-16 14:18] mluisbrown commented on #1984
@kenny-evitt I've looked at this further, and I don't think that my work proxy is blocking SSL access to api.github.com after all (I can access it via a browser no problem). Still, for whatever reason the `metadata-temp.tar.gz` file that's received from GitHub is 0 bytes long, which leads to the `Error: ENOENT: no such file or directory, scandir 'C:\Users\myid\AppData\Roaming\LightTable\metadata-t

[2016-05-16 15:06] mluisbrown commented on #1984
More info. My work proxy is not *blocking* SSL access, but they are inserting their own SSL certificate in the chain in order to be able to monitor SSL traffic of employees as I mentioned above. This means that software that performs certificate verification will fail:

`curl -i https://api.github.com/users/octocat/orgs` fails with an SSL certificate problem. It only works if I use the `--insecure

[2016-05-16 15:29] kenny-evitt commented on #2030
@TimothyDJewell We build the Windows release on a Windows computer so the special handling mentioned in the link you referenced isn't an issue for us. We also have a Windows-based CI build (currently just for a development branch) too.

[2016-05-17 02:07] TimothyDJewell commented on #2030
@kenny-evitt I think their comment about needing to edit the exe  and how they do that applies to all platforms as context to why they need special handling for non-Windows platforms. I don't think the root of this issue is in the current build process, per se, so much as that Windows requires an extra build step of editing the exe so that the icon and metadata are accurate. I don't know if Window

[2016-05-17 10:11] carocad commented on #2082
@jipen if that solves your answer your issue please consider closing this issue. Thanks

[2016-05-17 13:00] jhamfler opened #2209 "0.8.1 ":editor :lt.objs.editor/line-numbers" needs to be reloaded or another window needs to be focused to make it work properly"
I am using `[:editor :lt.objs.editor/fold-gutter]` and `[:editor :lt.objs.editor/line-numbers]` and when I restart lighttable the line-numbering looks like this.
![menu_006](https://cloud.githubusercontent.com/assets/6141920/15322686/817df97e-1c3e-11e6-8399-95856e7918b1.png)
It seems that the background of the line numbering is shifted to the right.

When I focus another window or when I save `use

[2016-05-17 15:35] mluisbrown commented on #1984
Confirmed that it's the SSL certificate problem. The following node script:

[code]

works fine. But if I remove the `strictSSL: false` option (it defaults to `true`) then I get:
`Error: self signed certificate in certificate chain` and a 0 byte file is created.

To "fix" this for people in work environments like mine there would need to be some kind of config option that made calls using `[reques

[2016-05-17 16:05] mluisbrown commented on #1984
Just to confirm my issue beyond all doubt, if I hack the copy of `request` in my LT installation to force `strictSSL: false` then the Plugin manager in LT works fine over the office proxy :smile:

[2016-05-17 18:47] mkno commented on #2035
some update, turning off autocomplete will fix this problem.

really nice to have that autocomplete but definitely not worth having the editor freeze up to a full second and not knowing what you are typing until it catches up.

[2016-05-17 18:52] flavio20002 commented on #2035
I still prefer to use version 0.74 with autocomplete without freezes.
Il 17/mag/2016 20:48, "mkno" <notifications@github.com> ha scritto:

[2016-05-18 01:00] cprabhu opened #2210 "Creating multiple connections on the same clojure project"
I am using LightTable version 0.8.1 on Ubuntu 14.04 LTS. In the clojure project that I am working on, I have already evaluated and made the connection using ctrl-o. I can see the active connection as well in the connection space. Now, I want to watch over a div/link in a clj file, and hence invoked watch-selection using the key that I have loaded in the keymap for the same. But this is resulting i

[2016-05-18 03:15] bbbates commented on #2210
What version of the Clojure plugin do you have installed?

[2016-05-18 03:25] cprabhu commented on #2210
I think it was 0.3.1. I just updated it to 0.3.3 and restarted the LightTable to see it work! :)

[2016-05-18 03:25] #2210 closed

[2016-05-18 07:02] kskarthik opened #2211 "Light Table appimage"
I made [appimage](http://appimage.org) for light table 0.8.1

### Advantages of appimage

* *one app = one file*
* can run on any linux distro without installation, just chmod +x to give executable permission
* no root privilages required
* App always stays in compressed state on the disk. So, saves memory ( not a big prob for new systems)

Download here[53.5 MB]: https://www.dropbox.com/s/3fbofqv

[2016-05-18 11:23] cldwalker commented on #2211
Nice! We don't plan on changing how we distribute to linux distros. If you'd like to maintain an appimage for the latest LightTable release, feel free to add your package to this [wiki page](https://github.com/LightTable/LightTable/wiki#os-distributions-package)

[2016-05-18 11:23] #2211 closed

[2016-05-18 13:49] kskarthik commented on #2211
Done ! added :smiley:

[2016-05-18 15:21] mluisbrown opened #2212 "Add behavior to allow disabling SSL certificate checking when using NPM's request package"
### Background

Anyone who works in a corporate environment likely has to access the internet via an HTTP/HTTPS proxy. LightTable already supports this via the `http_proxy` and `https_proxy` environment variables (see #1984 for more details).

The use of a corporate proxy allows the company to control what sites employees have access to and also potentially monitor all access to the internet. In a

[2016-05-18 17:07] carocad commented on #2207
@mkno would you consider closing this issue since #2035 already convers it and there is quite a discussion there?

[2016-05-18 17:09] carocad commented on #2185
I don't think somebody is working on this but @kenny-evitt and @cldwalker are the experts on that topic. They probably can give you a complete answer.

[2016-05-18 17:27] carocad commented on #2173
@kennytilton you are right. Those tabs do not appear in my LT either.

I guess the reason for this is that those images were made with a previous LT version but I can't be sure since the images seem to be from a Mac OS which is not my case. Probably @kenny-evitt could confirm is this is a documentation bug or if it is something specific to Mac.

Note for @kenny-evitt: He refers to the images shown

[2016-05-18 17:28] carocad commented on #2170
@martinchooooooo if that solved the problem would you consider closing this issue please :) ?

[2016-05-18 18:49] mkno commented on #2035
@flavio20002 is there any feature/performance downgrades of using 0.74?

[2016-05-18 18:49] #2207 closed

[2016-05-18 20:20] flavio20002 commented on #2035
Not really...it works perfectly...I use it 3 hours per day without a lag
and with apparently the same functions of 0.8
Il 18/mag/2016 20:50, "mkno" <notifications@github.com> ha scritto:

@flavio20002 <https://github.com/flavio20002> is there any
feature/performance downgrades of using 0.74?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub
<ht

[2016-05-18 21:30] kenny-evitt commented on #1928
Given that this was never reproducible by any of the core team, I'm going to close this. I created a new issue for this in the clj-light-refactor plugin repo:

 - ["ExceptionInfo: Unsupported escape character: \U" on Windows · Issue #8 · rundis/clj-light-refactor](https://github.com/rundis/clj-light-refactor/issues/8)

This may be caused by other plugins as well. Feel free to create a new issue in

[2016-05-18 21:30] #1928 closed

[2016-05-18 21:58] kenny-evitt commented on #2030
@TimothyDJewell Sure, we're open to additional dependencies. Especially given that this isn't a 'build' issue as much as it's a 'release' issue. We're already doing some minor manual tasks when we do a release so some additional (but minor) work to fix this wouldn't be a problem.

For anyone interested in working on this, here's the relevant info in Electron's docs:

 - [Application Distribution –

[2016-05-18 22:03] #2082 closed

[2016-05-19 09:51] kenny-evitt commented on #2170
@carocad It's okay to keep this open; no one has added info about 'whole file evals' to the docs yet.

[2016-05-19 10:39] rundis commented on #2170
@cldwalker Would it make sense to provide a sprinkle of `defonce` in the LT codebase or would that have unfortunate side-effects ?

[2016-05-19 12:26] cldwalker commented on #2170
@rundis It's unlikely but possible if applied to the wrong var e.g. one that relies on set!. If we were to introduce a convention of any file being reloadable, we should be consistent about it everywhere. Given how large our code base is and how this adds to more things we need to QA, I don't think it's worth the effort. [defonce](https://github.com/clojure/clojure/blob/010864f8ed828f8d261807b7345

[2016-05-19 13:02] rundis commented on #2170
mkay got it.

[2016-05-19 16:33] kenny-evitt commented on #2212
@mluisbrown I'm not entirely against this but what about allowing users to add your internal certificates instead? [The *request* package also seems to support this](https://github.com/request/request#using-optionsagentoptions):

One (major) advantage is that you wouldn't need to completely disable SSL.

[2016-05-19 18:00] mluisbrown commented on #2212
@kenny-evitt that's a good suggestion. However, it turns out that it's extremely tricky to obtain a `.pem` file to use with an `agentOptions` config that works. I haven't been able to do it. It must be possible, but very tricky (at least at my workplace), and requires a lot of futzing around with `openssl` to get the file in the right format etc.

With the `strictSSL: false` option you are not com

[2016-05-19 18:01] mluisbrown commented on #2212
Sorry, hit the "Close and comment" button by mistake :stuck_out_tongue_closed_eyes:

[2016-05-19 18:41] kenny-evitt commented on #2185
@mberardinelli Thanks for the reminder. I'll look into this.

[2016-05-19 23:14] kenny-evitt commented on #2206
@carocad What about just doing what `defn` does itself? Doc-strings are just added to the var's metadata – to the `:doc` key specifically. So, to add a doc-string to the `hello-panel` var, you could just do:

[code]

We could of course also add support for optional doc-strings to the `behavior` and `defui` macros, but that's a low priority for us (including reviewing submitted PRs for those change

[2016-05-20 07:26] byaka commented on #1457
what about 0.8.1?

[2016-05-20 10:31] carocad commented on #2206
@kenny-evitt that's not a very sustainable solution. For what is worth I would rather put comment lines above or below the definition and just read them when I need to.

Of course I understand and agree that this is not a priority right now and I also didn't intend it to be, but I wanted to make clear that this should be addressed at some point; hopefully sooner than later (more behaviors and ui-w

[2016-05-20 17:22] kenny-evitt commented on #2173
@kennytilton Those tabs don't exist in the latest versions. Eventually, it'd be nice of us, or anyone really, to update the docs. For anyone interested in doing so, the source for the docs site are in GitHub:

 - [LightTable/docs.lighttable.com: Light Table's official documentation](https://github.com/LightTable/docs.lighttable.com)

I created LightTable/docs.lighttable.com#9 for this.

[2016-05-20 17:22] #2173 closed

[2016-05-21 20:11] 1j01 commented on #2179
Wouldn't it just be `pmeta-alt-i`? From the LT FAQ, "You can substitute option for alt", and [from here](https://groups.google.com/forum/#!topic/light-table-discussion/hJ1RRHQuAOU), "pmeta is [command on Mac, ctrl on Linux/Windows]"

[2016-05-22 16:00] kenny-evitt commented on #2179
@cldwalker @rundis Are we open to a default key binding for opening dev tools?

[2016-05-27 07:26] pwetosaurus commented on #2128
I just got this error on Windows 7 too.

This happen on some actions after opening a new LT window and closing it.

To reproduce this issue, you simply have to open a second window and then close it, you will not be able to use the menu until you close the remaining window.

I cannot use File > Save but I can save with the Ctrl + S keyboard shortcut.

[2016-05-29 01:02] dmbennett opened #2213 "Repl can't connect after fresh install"
After a fresh install, I cannot run the repl on a .clj file I get this message:

[code]

[2016-05-29 08:57] rundis commented on #2213
It seems to me your project is using an old version of clojure, but you have plugins or stuff in your profiles.clj that requires a newer clojure version ?

Hard to be sure because you haven't provided anything resembling a [sscce](http://sscce.org). With dependency problems it's a lot of parts to consider; project.clj, project local profiles.clj, global `.lein/profiles.clj`

[2016-05-29 14:00] Mouvedia commented on #2081
@cldwalker You should add this issue to the [0.9 milestone](https://github.com/LightTable/LightTable/milestones/0.9.0).

[2016-05-30 22:10] develop7 commented on #616
@cldwalker the issue is still relevant.

[2016-05-31 13:12] kenny-evitt commented on #616
@develop7 We're sharing stuff like this in [the wiki](https://github.com/LightTable/LightTable/wiki).

[2016-05-31 16:22] Mouvedia commented on #744
This needs to be reopened.

[2016-05-31 16:51] Mouvedia opened #2215 "Missing actions: selectCurrentWordUnderCursor"
1. select current word under cursor cf #744
2. <del>select previous occurrence of word `:editor.sublime.selectPreviousOccurrence`</del> #2216
3. <del>yank emacs style ctrl-y (ctrl-k needs to save what it kills)</del> #2217

[2016-05-31 17:52] kenny-evitt commented on #2215
@Mouvedia I numbered your actions to make referencing them individually easier.

[1] and [2] seem reasonable to implement in the core.

[1] might be fairly easy to implement by using [the CodeMirror `findWordAt` function](http://codemirror.net/doc/manual.html#findWordAt).

[2] might be pretty easy to do as-is. We do have the *Editor: Select next occurrence of word* command (tho it doesn't seem to

[2016-05-31 17:52] kenny-evitt commented on #2215
@Mouvedia Please change the title to reflect your specific requests too – it's too vague now.

[2016-05-31 18:02] Mouvedia commented on #2215
@kenny-evitt
[2] is just the counterpart of `:editor.sublime.selectNextOccurrence`
[1] is useful if you want to surround stuff easily for example (since the paredit plugin doesn't cover it)

[3] ctrl-k is part of core and is inspired of emacs kill line which is always coupled with ctrl-y. Currently ctrl-k just deletes: it's not the intended purpose; it can be explained by the omission of yank-line

[2016-05-31 18:07] kenny-evitt commented on #2215
@Mouvedia Thanks for changing the title!

I'm fine with [1] and [2] being added to core, but you'll need to convince @cldwalker and @rundis next. And then submitting a PR with the relevant changes would greatly increase the probability of them making it into the next version.

As for [3], <kbd>Ctrl</kbd>+<kbd>k</kbd> doesn't seem to currently be a part of core. Given that, I'm inclined to think th

[2016-05-31 18:17] Mouvedia commented on #2215
[1][2] I won't be able to PR: clojure is not my language of predilection.

[3] @kenny-evitt then could you explain why ctrl-k is working on my side even if it's not set in my user or default keymaps?

[2016-05-31 19:44] rundis commented on #2215
-  [1] I don't see the point of implementing. If you place the cursor over a word and invoke `:editor.sublime.selectNextOccurrence` (I've bound that to ctrl-g). It will select the word, subsequent invokations will select the next occurence
- [2] Would be good for symmetry, create a separate issue for that. Odds are it's not going to get a high priority and it's not available upstream (CodeMirror)

[2016-05-31 19:46] rundis commented on #744
Why ?

[2016-05-31 19:50] Mouvedia opened #2216 "Add selectPreviousOccurrence"
counterpart of `:editor.sublime.selectNextOccurrence`

cf https://github.com/LightTable/LightTable/issues/2215#issuecomment-222798464

[2016-05-31 19:52] Mouvedia commented on #2215
@rundis #2216

Ill let you create that issue.

[2016-05-31 20:07] Mouvedia opened #2217 "Implement yank (and kill)"
cf https://github.com/LightTable/LightTable/issues/2215#issuecomment-222798464
`sublimeYank` from http://codemirror.net/keymap/sublime.js

Ours would use killLine as the source instead of a region.

[2016-05-31 20:08] Mouvedia commented on #2215
@rundis #2216 #2217

[2016-05-31 20:19] rundis commented on #2215
I need you to be explicit about what exactly you want for select word under cursor (beyond if anything what I already outlined with the current selectNextOccurence command). (
I'm much to lazy to try and figure out/guess which part of  #744 you might be referring to as well. I don't want to navigate a web of closed issues with various discussions to try and figure out if this is something I can pi

[2016-05-31 20:24] Mouvedia commented on #2215
Fair enough.
FYI I am trying to surround a word with `'` or `"` when I am over it.

[2016-05-31 22:17] Mouvedia commented on #1459
For the ones on the Electron version the file is `LightTable.app/Contents/Resources/app/core/css/structure.css`.

[2016-05-31 23:12] Mouvedia commented on #1064
This is so annoying when it happens.

[2016-05-31 23:40] Mouvedia commented on #2002
@kenny-evitt How did you fix the TernJS bug?

[2016-06-01 02:04] kenny-evitt commented on #2002
@Mouvedia I think the 0.8.0 release, which included a lot of changes for the migration from node-webkit to { Atom Shell / Electron }, broken the TernJS plugin. See mortalapeman/LT-TernJS#26 for a sorta-recent example that doesn't appear to be fixed in the main plugin repo.

[2016-06-01 16:49] kenny-evitt commented on #2199
[I found similar issues to this one](https://github.com/LightTable/LightTable/issues?utf8=%E2%9C%93&q=is%3Aissue+libstdc):

* [Can't run on CentOS 6.5 · Issue #1842 · LightTable/LightTable](https://github.com/LightTable/LightTable/issues/1842)
* [Running on CentOS · Issue #1418 · LightTable/LightTable](https://github.com/LightTable/LightTable/issues/1418)
* [GLIBC error on Debian · Issue #164 · Li

[2016-06-01 16:49] #2199 closed

[2016-06-02 16:47] rundis commented on #2213
@dmbennett I haven't heard back from you, and I can see little evidence this is a Light Table problem so I'm closing this issue.

[2016-06-02 16:47] #2213 closed

[2016-06-02 16:50] rundis commented on #2175
@heegaiximephoomeeghahyaiseekh Haven't heard back on this so I'm closing

[2016-06-02 16:50] #2175 closed

[2016-06-03 22:51] HopefulLlama opened #2218 "Right click option to move file"
I can't find any option to move a file in my workspace.

[2016-06-04 18:44] stemd commented on #915
Put following line in ```user.behaviors```:

    [:app :lt.objs.plugins/load-css "/home/<your_username>/.config/LightTable/console.css"]

In ```console.css``` put something like this:

    ul.console, em.file, em.line {
        font-family:"DejaVu Sans"
        font-size:12px;
    }

    ul.console > li > table > tr > td > pre {
        font-family:"Ubuntu Mono";
        font-size:12px;
    }

Of

[2016-06-05 00:20] kenny-evitt commented on #2218
Please add [the info we ask for when reporting bugs in the contributing doc](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs).

I'll re-open when you've done that.

[2016-06-06 08:54] HopefulLlama commented on #2218
Steps to reproduce: None - there is no option for moving files at all. What I would have expected is any of the following:

- Right click on a file -> Move file option -> Move file dialogue
- Open command pane -> "Move File" -> Move file dialogue

Versioning:
OS: Any
LightTable: Any
Plugins: None

Configuration: Default

Error Messages: None; I didn't do anything.

[2016-06-06 13:41] kenny-evitt commented on #2218
@HopefulLlama thanks!

[Others have noted the lack of this "pretty basic feature that's missing".](https://groups.google.com/forum/#!topic/light-table-discussion/2fdVHOZQ9_U)

Are you interested in working on implementing this?

[2016-06-07 09:37] robjens commented on #2186
I've also had extensive troubles with this bug. Just now, a actually properly parsed seq of maps was doing just fine, until I used `second` on it, then it crashed. Same way as described: black screen, detached JVM and LT. As there was nothing wrong with this seq, and it had a 2nd element which was evaluated, this really puzzles me. It seems to have a relationship with the volume of data here but h

[2016-06-10 16:56] kenny-evitt commented on #1931
[Someone just reported this on Gitter](https://gitter.im/LightTable/LightTable?at=5759b5706092456f6632a213) with a slightly different error message:

[2016-06-11 17:45] yonas commented on #727
Just a heads up, Light Table now uses Electron. Support for Electron on FreeBSD is being worked on here:

https://github.com/electron/electron/issues/3797

[2016-06-11 18:53] kenny-evitt commented on #727
Thanks @yonas!

[2016-06-14 04:10] cjdg opened #2220 "browser rendering glitches"
Ubuntu 16.04 x64

Everytime i use the browser i get the same glitch in many sites, from local projects to websites, i have to close and create a new browser window to get it work
![light table_001](https://cloud.githubusercontent.com/assets/5726836/16030983/f93f697e-31bb-11e6-9726-82a201025947.png)

[2016-06-14 04:38] cjdg opened #2221 "Browser doesnt work well"
No websites work with browser
![light table_002](https://cloud.githubusercontent.com/assets/5726836/16031361/e3647dac-31bf-11e6-9e32-26f643581d4c.png)

[2016-06-14 13:09] kenny-evitt commented on #2221
Please review [the default text when submitting a new issue](https://github.com/LightTable/LightTable/issues/new) and include the info we need to help you. I'll re-open this when you've done that.

[2016-06-14 13:09] #2221 closed

[2016-06-14 13:09] kenny-evitt commented on #2220
Please review [the default text when submitting a new issue](https://github.com/LightTable/LightTable/issues/new) and include the info we need to help you. I'll re-open this when you've done that.

[2016-06-14 13:09] #2220 closed

[2016-06-14 13:18] kenny-evitt commented on #2220
@cjdg You seem to have ignored both the "Please review the guidelines for contributing to this repository." note as well as the issue template text. Did you submit this and the other issue on a mobile device? I updated the issue template text to (hopefully) be clearer about how the template text should be used. Any feedback on the text, or the changes I made just now, would be appreciated.

[2016-06-17 19:04] robjens commented on #2186
So, the symptoms:

Black screen of death (cannot be closed, process must be terminated by means of task manager)
![image](https://cloud.githubusercontent.com/assets/11848802/16160998/761bdc9a-34cb-11e6-90c5-18ca2202f2e8.png)

The detached process (process hacker 2):
![image](https://cloud.githubusercontent.com/assets/11848802/16161219/96b6e7aa-34cc-11e6-82e7-c2c9e041dda3.png)

Note I upped the mem

[2016-06-18 15:39] sbauer322 commented on #1953
Not to necro an old issue, but I had this happen at least twice about a year ago as well. As for if it was LT's fault or not I cannot say.

It was in either Ubuntu or Windows, in my case... Too far back to remember.

Just wanted to second this as I saw it in open issues.

[2016-06-18 20:26] kenny-evitt commented on #2186
@JanDornbusch @robjens Ding ding ding! I was able to reproduce this on a Windows 10 computer [note to me – L] just now. I'm running a source build that's *probably* mostly up-to-date but I'm guessing this is due to something we haven't changed in a while anyways.

I cloned the repo @JanDornusch referenced in their last comment.

To reproduce:

 1. Open Light Table.
 2. Create a new workspace and a

[2016-06-19 10:11] edwardhew opened #2223 "Windows 10, double click .exe, nothing happens"
Windows 10, Intel HD 4600 Graphics, 8Gig RAM.

Unzipped the 0.8.1 zip, placed in D drive (not C), tried to launch LightTable.exe, nothing, no errors, just nothing happens. Is there some requirements not met? I don't have Python for example.

[2016-06-19 12:52] kenny-evitt commented on #2223
@edwardhew Do you see "LightTable" or "Electron" in Task Manager? You're going to need to grant permission for LT (or "Electron") to use your network at some point. I vaguely recall that taking a while the first time I ran LT on my Windows 10 computer.

[2016-06-19 20:18] JanDornbusch commented on #2186
@kenny-evitt could you specify long, please? My LT stopped work (black background, but menu still drops down, but not react on clicks) at 14:34 today, it's now 22:17 and nothing changed.

[2016-06-19 23:17] edwardhew commented on #2223
Hello, thanks for response, I didn't see Electron, so I unzipped from the 0.8.1 again, this time LightTable launched! I must have somehow botched the copy last time, maybe some files weren't copied correctly. Sorry about the false alarm.

[2016-06-19 23:17] #2223 closed

[2016-06-20 00:09] kenny-evitt commented on #2186
@JanDornbusch Not that long! After 'uninstalling' (deleting my local Light Table app data directory), the freezes didn't seem to last more than 15-20 seconds. You could try that, but that directory contains plugins, workspaces, and maybe some other stuff you don't want to delete. Perhaps you could make a backup of that directory, delete it, and let me know whether the freeze is much shorter then?

[2016-06-20 00:11] kenny-evitt commented on #2223
@edwardhew No worries – glad it's working!

[2016-06-20 05:24] JanDornbusch commented on #2186
@kenny-evitt So I did now. Deleted all traces of LightTable within AppData\Roaming\LightTable, deleted the complete application and did a fresh "reinstall" of newly downloaded archive. Repeated the Steps above and it stopped working same point. After 1 or 2 minutes the Workspace turned black and (only 10 minutes so far) not came back to life till now. Will try it again with more time this evening.

[2016-06-20 14:11] kenny-evitt commented on #2186
@JanDornbusch Try this for me please:

Copy your *handler.clj* file to a directory outside of your project's directory tree and add that outside directory to the LT workspace. Make sure your project's directory is *not* in the LT workspace. Then follow the steps to reproduce the bug in the *handler.clj* copy. When (or if!) LT freezes, wait at least a few minutes before killing LT. I (somewhat weak

[2016-06-20 23:21] JanDornbusch commented on #2186
Just testing fast. Emptied workspace, added new folder containing copy of file. Restarted LT to be sure. Only one folder + file in workspace. Followed till hanging and now 30 minutes passed still black background only. (Both processes stated <20MB memory and 0% cpu in taskmanager). Ohh, as I did the fres Install I am back at Clojure 0.3.1 Plugin will update now but test later again with new versio

[2016-06-21 01:51] kenny-evitt commented on #2186
@JanDornBusch Thanks for testing this. I'm stumped now why my reproductions are such short freezes. I haven't re-tested with your entire project tho.

[2016-06-21 02:07] kenny-evitt commented on #2186
@JanDornbusch I can't seem to reproduce the long freeze anymore, even with your project.

What's your computer's specs?

[2016-06-22 14:10] JanDornbusch commented on #2186
@kenny-evitt Specs:
CPU: Intel i7-3930K @3.20Ghz (6C12T)
Ram: 16GB (4x4 DDR3 Ballistix Elite 1866 MT/s (PC3-14900))
GPU: ATI R9 Fury X
Systemdisk: Samsung 850 Pro SSD 256GB
Disk with LT: PNY Optima SSD 64GB (connected by INTEL SASUC8i controller no-raid enabled)
Mainboard: INTEL DX79SI

Anything else of interest?

[2016-06-23 01:07] kenny-evitt commented on #2186
@JanDornbusch That's a nice box you got there :smile:

Unfortunately, that means there's something really wrong with something in LT.

I tried reproducing this again just now, without first 'uninstalling', and I thought I finally reproduced a long freeze, but it still 'thawed' after 2 minutes or so, so it's not really what you're observing.

I'm stumped as to what to do or try next. I'm going to c

[2016-06-23 01:19] kenny-evitt commented on #2190
I was able to reproduce this just now on a Windows 10 computer [note to me – L]. I'm running the 0.8.1 release and I recently ['uninstalled'](https://github.com/LightTable/LightTable/issues/1968) so that might be why (somehow) I wasn't able to reproduce this earlier on other computers (e.g. where I've been working with source builds of LT and maybe some kind of vestigial code/files that kept this

[2016-06-24 01:05] #2202 closed

[2016-06-24 02:30] sbauer322 commented on #2218
@kenny-evitt would it be possible for you to outline steps/areas for this enhancement?

I should have some time to attempt this, but I am relatively new to LightTable's source and structure. Thanks!

[2016-06-24 11:44] kenny-evitt commented on #2218
@sbauer322 I'm nearly as unfamiliar with the relevant code as you, but I'll gladly help out. I'll take a look at the code soonish. Ping me again in about a week if I don't follow-up with you before then.

[2016-06-24 12:41] mikub commented on #2092
I am experiencing this issue as well in v.0.8.1. Furthermore I can see the following stack trace in console. The deref works just fine.
`Invalid behavior: :lt.objs.eval/inline-results
TypeError: Cannot read property 'addEventListener' of undefined
    at Function.CodeMirror.on (C:%5CLightTable%5Cresources%5Capp%5Ccore%5Cnode_modules%5Ccodemirror%5Clib%5Ccodemirror.js:7101:16)
    at Function.<anon

[2016-06-25 16:15] nonnymoose opened #2224 "Build fails with "Could not transfer artifact..." on armhf"
### Steps to Reproduce

I downloaded leiningen exactly as described and node 4.2.6 and npm 3.5.2 from my package manager. I used `update-alternatives` to link the node command to nodejs. When I ran `script/build.sh`, it failed with the errors below.

### Environment

| Info                             | Details |
| -------------------------------- | ------- |
| Light Table version              |0.

[2016-06-25 18:13] kenny-evitt commented on #2224
@nonnymoose I think I've seen errors like that myself and that they were just intermittent issues with downloading from Maven. Try running the build script again when you have a chance and let me know whether it works.

[2016-06-26 14:16] nonnymoose commented on #2224
@kenny-evitt Unfortunately that was my _third_ time trying it.

[2016-06-27 13:20] kenny-evitt commented on #2224
@nonnymoose I can't reproduce this. I also just noticed that, according to the output in your comment, the build is attempting to download *lein-cljsbuild* and *lein-codox* from Maven ("central") instead of Clojars. I'm guessing your Leiningen configuration is not the same as mine.

Don't be discouraged by my closing this issue. I'm just indicating to other contributors that there's nothing really

[2016-06-27 13:20] #2224 closed

[2016-06-27 16:04] djavanci commented on #1984
I'm using LightTable 0.8.1 in Ubuntu 16.04 with CNTLM configured and in use by every other application on my machine. But I couldn't connect to server and get the plugins available. Reading this thread, I installed npm on my machine and checked the request version on path "lighttable-0.8.1-linux/resources/app/core:

$ npm list request
LightTable@0.8.1 ~/lighttable-0.8.1-linux/resources/app/core
└─

[2016-06-28 00:54] kenny-evitt commented on #1984
@djavanci Thanks for confirming.

[2016-06-28 13:50] nonnymoose commented on #2224
@kenny-evitt  Is there a way for me to modify my configuration such that it is the same as yours?
Or at least get it and show it to you?

[2016-06-28 14:25] carocad commented on #2182
Should this still be open? Is there any feasible solution for this?

[2016-06-28 20:58] 1j01 commented on #2182
I described two possible solutions in my previous comment. Either one should be pretty easy to do.

[2016-06-28 21:40] carocad commented on #2182
@1j01 would you be willing to tackle this issue?

[2016-06-28 23:26] 1j01 commented on #2182
@carocad I would, but I don't use LT. (I tried it out, but wasn't able to get live editing working.)

[2016-06-29 00:18] kenny-evitt commented on #2224
@nonnymoose How'd you install Leiningen? And what version of Leiningen is installed? You can check the version by running `lein -v`.

[2016-06-29 02:39] Mouvedia commented on #460
Anyone managed to do it? If so how?
`[:tabs-extended :lt.plugins.user/last-tab]` doesn't seem to be enough.

Apart from adding/editing the user.cljs, is there anything else that needs to be done?

[2016-06-29 07:26] rundis commented on #2224
also did you create a ~/profiles.clj and if so does it contain anything related to repositories ?

[2016-06-29 13:59] awage commented on #1538
On version 0.8.1 on linux 64 bit this problem remains. I have a spanish keyboard.

I put this line user.behavior:
[:editor :lt.objs.editor/autoclose-brackets  ]
but doesn't change anything.

[2016-06-29 15:56] carocad commented on #1538
@awage that's weird. I also have a spanish keyboard with a Ubuntu 14.04 on a v0.8.1 Lighttable and the apostrophe works without any problem. Did you change something in your LT?

[2016-06-30 01:03] kenny-evitt commented on #2182
I'm closing as this doesn't seem to significantly affect anyone any more.

[2016-06-30 01:03] #2182 closed

[2016-06-30 08:54] awage commented on #1538
Nop. I work on Debian Jessie and I execute the program directly from the downloaded folder. I discovered a workaround: "Windows key + apostrophe" display the apostrophe. So it is not a big issue.

[2016-06-30 13:30] Mouvedia commented on #460
Here are the steps to enable the `:tabs.last` behaviour:

1. add user plugin to workspace
2. replace user.cljs with https://github.com/joshuafcole/lt-user-plugin/blob/master/src/lt/plugins/user.cljs
3. add these behaviours:
[code]
4. eval everything once in the user.cljs or restart LT

[2016-06-30 13:45] kenny-evitt commented on #460
@Mouvedia Thanks

[2016-06-30 13:56] Mouvedia commented on #460
@kenny-evitt np.

disclaimer: moving tabs will now have a minor bug (if you are switching a tab with the juxtaposed last tab.

[2016-07-01 15:02] kenny-evitt commented on #460
@Mouvedia What's the bug?

[2016-07-01 15:21] Mouvedia commented on #460
@kenny-evitt Ill give you one way to reproduce it:

1. 4 tabs open A, B, C and D
2. B is the last and D is active
3. move C so that you end up with this order: A C B D
4. B title tab has the hover styling

[2016-07-01 19:15] olange commented on #1984
Being back today at my customer's site, where I encountered the issue I reported on April 17, I built LightTable from the sources this time (rather than only updating the `request` module within the packaged version of LightTable), behind its enterprise proxy, and could confirm that updating the `request` module to the latest version indeed solved the issue of updating the plugins behind a proxy:

[2016-07-01 19:27] randomchar opened #2225 "When creating a new file, typing in some code then evaluating it fails silently"
When loading lighttable create new file and type some code, then try to evaluate the code, it fails silently. If there's no way to infer what kind of code is being evaluated there should be a popup windows asking for more info.

[2016-07-01 20:52] kenny-evitt commented on #1984
@olange I submitted PR #2208 already but the core team (excluding me) is not sold on merging those changes. As-of now, at least one of the core team needs to reproduce the original issue. We haven't gotten around to doing so yet.

[2016-07-02 06:36] Mouvedia commented on #2218
If you take a stab at this try to implement the drag and drop in the workspace as well.

[2016-07-02 13:52] kenny-evitt commented on #2225
@randomchar Please edit the original comment to match our issue template. I'll re-open this when you've done that.

[2016-07-02 13:52] #2225 closed

[2016-07-03 22:04] azbshiri opened #2226 "Provide LightTable default theme color scheme"
Hey guys, I'm new to LightTable and I really like the speed and its default theme's harmony. I often switch between a terminal and an editor and I want to my terminal color scheme to match the editor. I couldn't find the LightTable default color scheme name, nor any source with a color palette to apply to my terminal. I'd appreciate it if you could provide a color palette (solarized, gruvbox, etc)

[2016-07-04 16:08] nonnymoose commented on #2224
@rundis I did not create a ~/.profiles.clj

@kenny-evitt `lein -v` returns the following:
[code]

[2016-07-04 21:20] kenny-evitt commented on #2226
@azbshiri The default theme is just named *default*. Here's the CSS for it:

 - [LightTable/default.css at master · LightTable/LightTable](https://github.com/LightTable/LightTable/blob/master/deploy/core/css/themes/default.css)

[2016-07-04 21:20] #2226 closed

[2016-07-05 00:56] azbshiri commented on #2226
I meant, a color color palette not specific css selectors which LightTable uses.

[2016-07-05 00:56] azbshiri commented on #2226
I meant, a color color palette not specific css selectors which LightTable uses.

[2016-07-05 10:47] nmfisher opened #2227 "If a folder is renamed inside LT, if the rename was unsuccessful, LT displays the renamed folder"
## Report a Bug

### Steps to Reproduce

1. Outside LightTable, acquire some handle to a directory that is open in a LightTable workspace (e.g. cd to the directory in Windows cmd.exe)
2. Inside LightTable, right click the folder name and "rename".
3. The folder will appear to have been successfully renamed, though the rename on the filesystem will not occur (and an error is logged to console). The

[2016-07-05 13:39] kenny-evitt commented on #2224
@nonnymoose I can't find anyone else reporting or discussing your exact issue. Would you mind reporting this upstream to Leiningen? Here's their GitHub repo:

 - [technomancy/leiningen: Automate Clojure projects without setting your hair on fire.](https://github.com/technomancy/leiningen)

[2016-07-05 14:03] kenny-evitt commented on #2226
@azbshiri I'm not sure what you're looking for but I'm guessing we don't have it. An example of what you're looking for would be helpful.

[2016-07-05 14:47] azbshiri commented on #2226
l;;;https://raw.githubusercontent.com/altercation/solarized/master/img/solarized-palette.png something like th picture. Provide background colors (bases) and also different colors for red, green, yellow, cyan, etc.

[2016-07-05 17:04] kenny-evitt commented on #2226
@azbshiri I'm pretty sure we don't have an image describing the palettes of our default or other themes.

[2016-07-06 01:31] ZelphirKaltstahl opened #2228 "keyboard shortcut not working?"
## Report a Bug

### Steps to Reproduce

 1. put `[:editor "ctrl-shift-d" :editor.sublime.duplicateLine]` in the user.keymap file
 2. try to use ctrl+shift+d to duplicate a line
 3. see that it opens the documentation pane on the right of the editor window

### Environment

| Info                             | Details |
| -------------------------------- | ------- |
| Light Table version

[2016-07-06 01:32] #2228 closed

[2016-07-06 01:33] ZelphirKaltstahl commented on #2228
Error was in front of the computer, sorry.

[2016-07-06 09:11] flavio20002 commented on #1915
The answered that CodeMirror stores its lines as separate strings, so multiline should be applied by deafult. But last version of LIght Tablet doesn't use CodeMirror anymore, right? Anyway, I can't use the last version of LIght table because of #2035 so, I'm stick on using 0.7.2.

[2016-07-06 10:56] kenny-evitt commented on #1915
@flavio20002 LT is still using CodeMirror. Somehow our code is not enabling, or explicitly disabling, the multi-line support – but I don't think there's an obvious easy fix. But I'd think storing separate lines as separate strings would make supporting multi-line regexes (at least slightly) harder.

[2016-07-11 04:37] devinrhode2 opened #2229 "Control space shortcut key not opening command pane"
The command bar was not opening by pressing <kbd>Ctrl</kbd>+<kbd>Space</kbd>

I had a broken/stale quicksilver installed and taking up the control+space keybinding, but not actually doing anything. Uninstalling quicksilver fixed my problem, as explained here: http://www.ehow.com/how_8177973_uninstall-quicksilver.html

[2016-07-11 04:37] #2229 closed

[2016-07-11 06:25] devinrhode2 opened #2230 "light command"
I had a very simple issue:
[code]

The problem was in my ~/.zshrc shell profile <small>(or ~/.profile or ~/.bash_profile or ~/.bash_rc)</small> I had `LightTable.app` appended to `LT_HOME`:
[code]

### Steps to Reproduce

 1. Set `export LT_HOME=/Applications/LightTable.app` in your shell profile
 2. Try running `light somefile.txt`

### Environment

| Info                             | Details |

[2016-07-11 15:24] kenny-evitt commented on #2230
You don't even need to set `LT_HOME` at all. The `light` script already checks */Applications*.

I'm also unsure what you mean by:

We don't publish a Homebrew formula (or bottle). If someone else published one you'll need to seek support from them.

[2016-07-11 16:26] kenny-evitt commented on #2092
I created LightTable/Clojure#90 to replace this.

[2016-07-11 16:26] #2092 closed

[2016-07-12 11:12] tomtau opened #2231 "Plugin development: cljs dependency crashes lighttable.nrepl"
I'm having a trouble with loading an external cljs dependency (datomic-cljs). I tried various things, including restarting Light Table as suggested here: https://github.com/LightTable/LightTable/issues/2194

My guesses are that it may be caused by cljs incompatibilities or a bug in either LT or Clojure plugin.

Any ideas?

### Steps to Reproduce

 1. create new plugin project: `lein new lt-plugin

[2016-07-12 11:39] carocad commented on #2231
@tomtau Lighttable uses internally a very old version of cljs. Therefore a lot of libraries are not compatible as they require newer versions of it. I recommend you to check the releases of your library and see if there is any that matches the version of cljs used in Lighttable.

[2016-07-12 12:18] tomtau commented on #2231
@carocad I updated the library to match the cljs version: https://github.com/tomtau/datomic-cljs/commit/b5da7b70899f4512e9f6a248ac43cd4863ff4dec
`[tomtau/datomic-cljs "0.0.1-alpha-1"]` (https://clojars.org/tomtau/datomic-cljs )
but still the same issue.

[2016-07-16 13:53] kenny-evitt commented on #2227
Thanks for the bug report.

[2016-07-18 05:04] tomtau opened #2232 "Renaming a folder prevents saving already opened files"
One small issue: after renaming a folder, its contained files opened before the renaming cannot be saved. One way around it is to copy the file content somewhere, close the file and "discard changes", and re-open that file and paste the changed content back.

### Steps to Reproduce

 1. Have some files opened in the editor.
 2. In the workspace browser, right-click on the folder these files are co

[2016-07-19 20:34] robjens commented on #2186
@kenny-evitt Great you could confirm/replicate. Shame it seems to be elusive so far. I'll chip in a few cents. Earlier I made a long ass post after some 'findings' only to delete it later on, a few of the initial assumptions, after it stopped freezing for a day or so, only to come back later and not being able to get rid of it.

First assumption was, and it may still be related somehow, that this

[2016-07-19 20:51] robjens commented on #2186
Bang... and we have a black screen on profiling. Also very inconsistent. But I was running a recording session for about half an hour with no freeze, so I cleared all profiles and hit record again, and then the dev-tools (only dev-tools) got a black screen.

The rest of the editor remains working.

[2016-07-20 01:50] kenny-evitt commented on #2232
@tomtau Thanks for the report. Unfortunately, this is not likely to be fixed anytime soon, if ever; at least not given current and recent levels of activity. That said, this may not be hard to 'fix' so if anyone's interested in working on it just ping me here or on Gitter and I'll be glad to help however I can.

I'm going to close this for now. When or if someone wants to work on it, I'll re-open.

[2016-07-21 00:04] kenny-evitt commented on #2186
@robjens Thanks for the info. This is one painful Heisenbug. I'm not sure where to start to continue debugging it honestly.

[2016-07-21 18:42] brentdewe commented on #2121
I think the problem is indeed the regex mentioned by rundis. If I am correct, the regex is compiled to a javascript regex, where \w is equivalent to [A-Za-z0-9_].

CodeMirror uses a custom list of characters to include: https://github.com/codemirror/CodeMirror/blob/791fdd1f9874c284319b176f080e1dfdfc06e5d8/lib/codemirror.js#L8412

[2016-07-22 13:48] tomtau commented on #2232
@kenny-evitt It shouldn't be too difficult to fix, I can give it a go.

[2016-07-22 14:02] kenny-evitt commented on #2232
@tomtau Great! Ping me here or in the Gitter room if you have any questions or need any other help.

[2016-07-24 17:00] tomtau commented on #2232
@kenny-evitt https://github.com/LightTable/LightTable/pull/2233

[2016-07-26 16:10] tomtau commented on #1647
What about integration testing: http://electron.atom.io/spectron/ ?
Should a separate issue be created for that?

[2016-07-29 01:04] kenny-evitt commented on #1647
@tomtau This covers unit testing in particular. But we had someone – @justintaft – work on getting integration testing working with Selenium (ChromeDriver). See the PR #1996 for details. I think I pinged them on Gitter when I saw the integration testing support in Electron 1.0.

I don't think we need a separate issue for it. I'd rather the existing PR be updated and merged, or a new PR be created

[2016-07-29 08:01] lks128 commented on #1973
@cldwalker, I would like to participate on solving this issue as it feels like a mayor blocker for such important thing as automated testing.

It looks like long time there was no activity... Are there any blockers?

Regarding the QA checklist it would be nice to automate it, I'm referring: https://github.com/electron/electron/blob/master/docs/tutorial/using-selenium-and-webdriver.md

[2016-07-29 11:21] kenny-evitt commented on #1973
@lks128 There's a checklist of items at the top of the issue. Also see the referenced issues and PRs for other details.

[2016-07-29 12:49] cldwalker commented on #1973
@lks128 Great! Attempting to fix any of the Fix items would be appreciated. As outlined in the first items, steps to setup an upgrade environment: upgrade cljs, lein-cljsbuild and `lein cljsbuild once cljsdeps`. We won't be able to merge this into master until the QA checklist works but if any progress is made on the checklist, we could save any work to a separate branch

[2016-08-01 18:30] kxepal opened #2235 "Make dependency on libcups optional"
## Report Bug

It's not clear why LightTable need in cups, but it would be nice it this dependency will be optional.

### Steps to Reproduce

1. Have a system with no cups installed
2. Install any icedtea or oracle jdk
3. Download latest LightTable release
4. Run it

### Environment

| Info                             | Details |
| -------------------------------- | ------- |
| Light Table version

[2016-08-01 21:03] rundis commented on #2235
Light Table is build on electron. This is apparently a requirement / (or won't fix) upstream afaik. So I'm going to close this issue.
ref : https://github.com/electron/libchromiumcontent/issues/134

[2016-08-01 21:03] #2235 closed

[2016-08-01 21:05] kxepal commented on #2235
Thanks for the reference! That makes sense now.

[2016-08-02 02:47] sbauer322 opened #2236 "Add or link to a code style guide"
A coding style guide document for LightTable would be beneficial for those contributing... or at least a link directing contributors to a recommended style guide.

Having a standard to develop against can help minimize idiosyncrasies introduced from various contributors as well as document various preferred naming conventions used within the project.

[2016-08-02 22:40] Mouvedia commented on #1615
@kenny-evitt regarding https://github.com/LightTable/LightTable/issues/1615#issuecomment-151682404 could you add a GFM task list so that we can list and monitor all scenarii that need to be addressed? We might have to separate them into several issues if there are too many though. This way it will be easier to tackle.

[2016-08-05 01:37] sbauer322 opened #2237 "Replace wrench with shelljs"
According to wrench's [github page](https://github.com/ryanmcgrath/wrench-js), it has been deprecated and the recommended replacement is [fs-extra](https://github.com/jprichardson/node-fs-extra). Since we don't need everything that fs-extra offers, replace wrench with [shelljs](https://github.com/shelljs/shelljs).

[2016-08-05 17:20] Mouvedia commented on #2197
What about using the HTML5 disclosure widget?

[code]

[2016-08-06 02:32] sbauer322 commented on #2056
I'll be able to start on this in about a week as development for #2218 is winding down. @kenny-evitt could you mention a couple of significant areas you want covered, or even a high level outline if you have the time (or feel inclined).

[2016-08-06 17:42] kenny-evitt commented on #2197
@Mouvedia Does that resolve this problem I described:

[2016-08-06 18:55] Mouvedia commented on #2197
Either you never used the details/summary tags or I am not understanding your problem. Just wanted to give you a suggestion.

[2016-08-07 21:36] kenny-evitt commented on #2056
@sbauer322 My current idea of how to go about this would be to do it 'on-demand' or 'bottom-up', i.e. add info as I learn or discover it while working on other tasks or projects.

The 'recursively blocking' project I wanted to work on before continuing to work on this myself was to find a good-enough tool with which to write the documentation. I wanted to look at using [hydrox](https://github.com/

[2016-08-08 02:37] sbauer322 commented on #2056
That is a nice write up of the current situation and how to proceed - thank you @kenny-evitt!

Though I do find the problem interesting (and hope to address it later down the line), I'm not particularly concerned with which tool we use for the documentation at this point... we just need to get something written down. We can always change it up later! :smile:

I will likely start off with a markdow

[2016-08-08 11:10] kenny-evitt commented on #2056
@sbauer322 It just occurred to me that the most 'Light Table way' to do this (or any) documentation is embedded in Light Table itself, with links to the source that open the relevant files.

[2016-08-10 14:00] sbauer322 commented on #2056
Maybe I am overthinking this (or simply have not seen a feature), but how would we go about that?

[2016-08-11 13:24] kenny-evitt commented on #2056
@sbauer322 A quick and dirty outline off the top of my head:

 1. Include the source files in the releases.
 2. Generate documentation files (somehow) – worst case we write documentation like [the 'intro' / "Welcome" page](https://github.com/LightTable/LightTable/blob/master/src/lt/objs/intro.cljs#L38-L49) (i.e. as LT code).

For [2], for the "worst case", we could add a LT UI function to open an

[2016-08-12 03:47] sbauer322 commented on #2056
Happy to go with whatever everyone feels is right, but I am initially hesitant with regards to not writing the documents in markdown as markdown is fairly ubiquitous and well known... plus we already have multiple other high level documents in markdown.  I will probably feel better after seeing an example.

Could we convert the markdown documents into hiccup or HTML via something like [endophile](

[2016-08-12 13:20] kenny-evitt commented on #2218
@HopefulLlama Someone – @sbauer322 – submitted PR #2234 with changes that provide a move feature via the existing "Rename" item in the workspace context menu for files and directories. It'd be great if you tested those changes and let us know your thoughts. You'll need to clone the LT Git repo, merge the changes in the PR, and then build the source code to create a LT executable you can test. Let

[2016-08-13 03:50] sbauer322 commented on #2129
This was rediscovered during work for PR #2234, but can still be reproduced on 0.8.1 via the context menu's Duplicate. Rather than create another extremely similar issue, the relevant information is below with screenshots for reproducing the issue with Duplicate from the context menu.

On LT 0.8.1 this happens at all folder levels.

Here are some screenshots illustrating the problem (and workaroun

[2016-08-13 14:03] Mouvedia commented on #2129
While you are it you could add drag and duplicate.

on Windows: ctrl+click+drag
on Mac: ⌥+click+drag

Or should this be requested in another issue?

[2016-08-13 14:14] sbauer322 commented on #2129
My guess is probably another issue!

Happy to work on that after I get to a couple of other issues.

[2016-08-14 04:58] jalbam commented on #703
Maybe this is useful: https://github.com/jalbam/nwjs_rpi

[2016-08-14 12:06] kenny-evitt commented on #703
@jalbam Light Table switched from node-webkit (NW.js) to Electron a while ago, tho someone could use the old code if they really wanted.

[2016-08-17 03:05] sbauer322 commented on #2237
Updated to reflect that we are not pursuing fs-extra and instead going to use shelljs

[2016-08-18 03:58] sbauer322 opened #2240 "Allow project search results to be collapsible"
When searching project-wide many results can be returned and within each file there could be many occurrences. Being able to collapse the results down to one line stating the file name and number of occurrences would be a nice feature to have in LightTable.

This is also fairly standard... for instance Atom, Eclipse, and Notepad++ all can do this.

Below is a screenshot from Atom better showing th

[2016-08-18 14:37] vvansice commented on #927
also have similar error, pyzmq is installed.

[2016-08-20 04:57] sbauer322 opened #2241 "Child folders are closed after refresh in sidebar"
Not necessarily a bug, but somewhat of an annoyance... so probably an enhancement. If you have a deeply nested folder open in the sidebar and refresh (via the context menu) on a high level parent folder then all child folders will become closed.

For instance, if the open folders hierarchy was 'LightTable/src/lt/objs/sidebar/' and 'src' was refreshed then every folder below 'src' would become clos

[2016-08-25 13:46] JoelSanchez opened #2243 "Revert a file / Undo all unsaved changes / Reload a file"
I'd like to be able to revert a file, just like in Sublime Text.

If this is already implemented, I'd appreciate instructions on how to do it (couldn't find how).

[2016-08-25 15:18] #2236 closed

[2016-08-25 19:32] #2232 closed

[2016-08-26 03:18] sbauer322 commented on #2243
To clarify for anyone not familiar with Sublime Text, when reverting a file it reverts to the last saved state (i.e., undoes everything since then). I was only able to find it as an option in the Sublime Text command palette, but it could exist elsewhere...

I was not able to find something like this within LightTable. The closest thing was to discard changes by closing a file and then reopening i

[2016-08-26 08:18] rundis commented on #2243
Had a peek yesterday too. The underlying codemirror plugin has a concept of generations and you can mark/keep track of generations for an editor. I would imagine it's just a matter of reverting to the generation since last save (obviously needs to be synced with the existing dirty checking in LT) . So I think this should be feasible to implement without to much hassle. If anyone is interested in t

[2016-08-27 14:00] JustinSpedding opened #2244 "User keymap is overridden by plugin/default keymaps"
Steps to reproduce:

1) add a new key binding to your user keymap such as [:editor "pmeta-9" :paredit.grow.left] that conflicts with an existing keybinding in the default keymap. pmeta-9 is bound to switch to the last open tab by default.

2) try to use the key binding. The default behavior overrides the user behavior.

3) go into the default keymap file in the lighttable install directory and com

[2016-08-27 19:37] sbauer322 opened #2245 "After rename, tabs do not immediately reflect change"
This was noticed during PR #2233 but decided the found issue was not in scope of the original issue.

After a folder is renamed a file's tab still contains the previous path until the editor is touched in some way. For instance, if you click on the tab name or the corresponding file in the workspace sidebar, the path shown in the mouse hover is updated.

As an example, below we can see the folder

[2016-08-28 15:14] ashleyconnor commented on #2144
Also having this issue.

[Source code](https://github.com/ashleyconnor/guestbook)

Added: `[lein-light-nrepl "0.3.3"]` to `:project/dev :dependencies` and `:repl-options {:nrepl-middleware [lighttable.nrepl.handler/lighttable-ops]}` (see `project.clj` file).

![Screenshot](https://www.dropbox.com/s/hu1cq94clgemict/Screenshot%202016-08-28%2011.11.58.png?dl=1)

[2016-08-28 17:15] rundis opened #2246 "Added gutters do not handle refresh gracefully"
gutter width and offset of editor content gets mangled when refresh triggers on editor.

Steps to reproduce
1. Install lt-js-hint plugin
2. Open a new blank editor -> set current editor syntax to javascript -> write some crappy js so you get lint markers in the gutter
3. Open user behaviors and save it
4. Voila your gutter should look pretty messed up

This whole logic seems flawed/fragile to me:

[2016-08-28 18:33] yogthos commented on #2144
For `lein repl`, it should just be `lein repl :connect localhost:7000` without `http://`.

[2016-08-29 00:53] bbbates commented on #2246
Yes, I noticed this in the course of playing around with the gutter marks for those linting plugins.
If it helps the debugging effort: if you switch editors (next-tab, then previous-tab commands) it seems to refresh the gutter state, and everything looks like it should.

[2016-08-29 01:02] kenny-evitt commented on #927
@vvansice Please open an issue in [the Python plugin repo](https://github.com/LightTable/Python). Keep in mind tho that the core team doesn't support the Python plugin; thus we don't support Python either (because none of us use Python [much]). Someone stepped forward to maintain the plugin (and thus Light Table Python support) but they haven't been active much since.

[2016-08-30 04:50] sbauer322 commented on #1973
@cldwalker or @kenny-evitt, could you clarify what this means, or how I would go about making sure the extend-types are properly updated?

[2016-08-30 13:00] kenny-evitt commented on #1973
@sbauer322 I don't know what that means. @rundis – thoughts?

[2016-08-30 17:04] Mouvedia opened #2247 "CHANGELOG update process"
This enhancement ticket covers the streamlining to the steps 2 and 3 of the [release checklist](https://github.com/LightTable/LightTable/wiki/Release-Checklist). This is not urgent but could help accelerate the overall process. In that regard it is related to #2133

It could be labeled nice-to-have-but-can-live-without.

## Add changelog to CHANGELOG.md

As explained on http://keepachangelog.com/

[2016-08-30 17:38] Mouvedia commented on #2133
@bdukes your notification has been added as a step on the [release checklist page](../wiki/Release-Checklist).

[2016-08-30 18:51] bdukes commented on #2133
:+1:

[2016-08-30 23:45] kenny-evitt commented on #2241
This is surprising enough that I'm comfortable calling it a 'bug'.

[2016-08-30 23:45] kenny-evitt commented on #2241
@sbauer322 Just based on your recent perusal of the relevant code, how hard would it be to maintain the 'open?' state of the directory tree?

[2016-08-31 01:43] sbauer322 commented on #1973
@kenny-evitt not sure if you get notifications on highlights for LightTable/fetch, but I opened an issue asking for a release since it seems to address some warnings during the build. Just wanted to mention it here too!

https://github.com/LightTable/fetch/issues/18

[2016-08-31 02:02] sbauer322 commented on #2241
I took a stab at this about a week ago, @kenny-evitt, and it was pretty gross... unless I was simply doing it wrong or missed existing functions that made it simpler (certainly possible!).

From what I remember, it is easy enough to get the open state of a folder, but it appeared that a folder will only point to their immediate children... not their grandchildren (and so on). In other words, we wo

[2016-08-31 03:39] sbauer322 opened #2248 "Update deprecated functions in files namespace"
Current function:

[code]

However, [existsSync](https://nodejs.org/api/fs.html#fs_fs_existssync_path) is deprecated. `exists?` should be updated to use `fs.statSync()`, `fs.accessSync()` or something else.

There may be other deprecations too, so it is worth checking out what else is labelled as deprecated and update accordingly.

[2016-08-31 12:32] cldwalker commented on #1973
@sbauer322 Hi. This means you'll need to familiarize yourself with core protocols in cljs.cljs e.g. IFn and ensure they are being implemented correctly w/ a modern clojurescript. Then you should understand how these extensions are used and verify none of them are behaving differently enough to cause bugs. Fwiw, none of the core team has written these extensions

[2016-08-31 17:10] Gozala opened #2249 "Light table just displays error prompt"
## Report a Bug

### Steps to Reproduce

 1. Start a light table without pre-existing (`~/.LightTable` directory).

### Environment

| Info                             | Details |
| -------------------------------- | ------- |
| Light Table version              |     lighttable-0.8.1    |
| Operating system                 |    osx   10.12 Beta  |

<img width="532" alt="screen shot 2016-08-31 at 1

[2016-08-31 17:23] rundis commented on #2249
Maybe you have some cruft left from an old LT in your ~/Library/Application Support/LightTable ?
if you do it might be worth nuking/moving that.

I'm clutching at straws here though.

It might be some flavour of this problem with Electron resurfacing:
https://github.com/ethereum/mist/issues/142

[2016-08-31 17:40] Gozala commented on #2249
Thanks that helped!

[2016-08-31 17:40] #2249 closed

[2016-08-31 17:48] kenny-evitt commented on #2244
I can't quite reproduce a similar variation.

I added the following line to my *user.keymap* file:

[code]

And the key binding worked as expected, i.e. <kbd>pmeta</kbd>+<kbd>9</kbd> always results in the previous tab in the current tabset being activated. [The binding in *default.keymap* is for that to result in the *last* tab in the current tabset being activated.]

From the *user.keymap* file (

[2016-08-31 18:26] rundis commented on #2249
Excellent !

[2016-08-31 18:34] rundis commented on #2244
I suspect the issue is that the key is bound to the :tabs tag (https://github.com/LightTable/LightTable/blob/53a90bee4c2c6758e4b5dffdffbc32256a05e00d/deploy/settings/default/default.keymap#L84)

The defining that keychord to an :editor tag, doesn't remove the fact that the keychord is still bound to the :tabs tag. The fix is probably to also override for :tabs tag and let that have a different key

[2016-09-01 05:39] rundis opened #2250 "Allow inline docs to be rendered as markdown"
It would be nice if the [docs](https://github.com/LightTable/LightTable/blob/master/src/lt/plugins/doc.cljs) namespace allowed for rendering the inline docs body as markdown.

The same applies for the docs/search sidebar doc display as well.

For inspiration one might look at the [elm-light plugin](https://github.com/rundis/elm-light/blob/master/src/lt/plugins/elm_light/inline-doc.cljs)

[2016-09-01 15:51] kenny-evitt commented on #2250
This would be great. I wanted to do something similar for the behaviors docs too – #2197.

[2016-09-03 14:03] kenny-evitt commented on #533
I'm closing this as @alekseilunacharskii has implemented a plugin to provide this and any future work related to this can best be directed towards improving that plugin.

Thanks @alekseilunacharskii ! 🎉 👍 Sorry for not congratulating you back in February!

[2016-09-03 14:03] #533 closed

[2016-09-03 15:22] kenny-evitt opened #2251 "Add (or re-implement) feature to run an 'edge version' LT"
## Overview

#2138 covers fixing the currently broken internal upgrade feature.

Something interesting can be seen in [the current code that generates the 'tarball' URLs (URLs for the release packages)](https://github.com/LightTable/LightTable/blob/master/src/lt/objs/deploy.cljs#L32-L35):

[code]

The `(cache/fetch :edge)` code seems to be from earlier support from running an 'edge version', i.e.

[2016-09-03 17:17] kenny-evitt commented on #2247
For anyone curious, we currently only update the changelog.md document when we're ready to create a new release:

 - [History for deploy/core/changelog.md - LightTable/LightTable](https://github.com/LightTable/LightTable/commits/master/deploy/core/changelog.md)

I'm not averse to updating it with each PR (or commit), where the relevant change is significant and visible for users. @rundis @sbauer32

[2016-09-03 17:19] kenny-evitt commented on #2133
@Mouvedia Would you submit a PR to add notifying Brian to the release checklist in the repo code?

[2016-09-03 17:46] #2237 closed

[2016-09-03 17:49] kenny-evitt commented on #2241
@sbauer322 It reads like some refactoring would be warranted, e.g. storing the open state of directories as they're opened to avoid traversing the entire tree when refreshing.

[2016-09-03 18:49] Mouvedia commented on #2251
This would be great for testers. Ideally pre-configured edge builds (could be old doesn't matter) for each platform would be provided somewhere on the website. If online, it would automatically update itself upon first launch.

[2016-09-03 19:15] Mouvedia commented on #2133
@kenny-evitt #2252

[2016-09-03 20:04] kenny-evitt commented on #2251
@Mouvedia You wrote:

What configuration do you think should be done?

I'd like for these builds to be the same as the 'release' builds.

What I'm suggesting is that a user would simply toggle the 'run the edge version' setting in their *user.behaviors* file and, when the new-version check is run, the upgrade code would check for a newer version (based on the latest commit of the *master* branch o

[2016-09-03 20:26] Mouvedia commented on #2251
In short a switch. Well if you think that's appropriate, go for it.
Since downgrading is not available I supposed that not having 2 different flavours of LT would complicate the process of switching back and forth between the last minor version and the trunk.

It all depends on the overall goal. If it's to get more quality feedbacks from early adopters then a modified version of LT should be provi

[2016-09-04 22:26] kenny-evitt commented on #586
A permalink for the "Apparently Electron just doesn't support `prompt` link above":

 - [electron/override.coffee at 30ec7fdeed715f4a8e234bb2557497081f8d1171 · electron/electron](https://github.com/electron/electron/blob/30ec7fdeed715f4a8e234bb2557497081f8d1171/atom/renderer/lib/override.coffee)

[2016-09-05 03:24] Mouvedia commented on #1649
@cldwalker OP says it's fixed. Shouldn't this be closed?

[2016-09-05 04:13] sbauer322 commented on #1649
Closing as issue was fixed as of version 0.8.0 per the original submitter.

[2016-09-05 04:13] #1649 closed

[2016-09-05 04:55] sbauer322 commented on #1826
Adding a Mac label since this is unexpected behavior in that space.

[2016-09-05 08:23] Mouvedia commented on #1022
I didn't realize it by then but #1870 is a duplicate.

[2016-09-05 15:47] Mouvedia commented on #1790
For what I can gather*, `brew-man` wouldn't be a valid name.

http://unix.stackexchange.com/a/168222/7579

[2016-09-05 21:06] sbauer322 commented on #1895
Closing this issue in favor of #1984, which covers the same problem.

[2016-09-05 21:06] #1895 closed

[2016-09-05 21:12] sbauer322 commented on #1896
In the same realm of #1826.

[2016-09-05 21:25] sbauer322 commented on #2012
Closing as this is an issue only Electron can resolve.

[2016-09-05 21:25] #2012 closed

[2016-09-05 23:53] sbauer322 commented on #2150
For what it is worth, the above message occurs on startup if `default.clj` is missing from ltcache on Ubuntu 16.04. When this happens, it appears `default.clj` is created afterwards, as well as `workspace` folder in `ltcache`. Subsequent starts do not have this message.

If there are no objections (and if I understand the issue correctly) I am inclined to rename the issue. Let me know if you feel

[2016-09-06 00:19] sbauer322 commented on #2158
When testing against a .js or .json file, there is indeed no delightful rainbow of syntax occurring.

A quick look at the README.md for https://github.com/LightTable/Rainbow suggests the plugin's current functionality is limited to CLJS.

As this issue pertains to the plugin, I am closing this issue and opening https://github.com/LightTable/Rainbow/issues/4

[2016-09-06 00:19] #2158 closed

[2016-09-06 00:29] sbauer322 opened #2254 "Add documentation for whole file evaluation"
Stemming from discussions on https://github.com/LightTable/LightTable/issues/2170 it would be beneficial to add documentation for whole file evaluation, especially when eval'ing LightTable itself, or at least move the information gained from the discussion into a document in the project.

[2016-09-06 00:37] sbauer322 commented on #2178
For anyone curious, below is part of the Plugin Manager where text cannot be selected;

![plugin-manager-cropped](https://cloud.githubusercontent.com/assets/2945386/18258679/731ec694-73a8-11e6-918e-5ed77df3e635.png)

The goal would be to allow the selection of the text for a given plugin such that it could be copied and pasted.

[2016-09-06 01:48] sbauer322 opened #2255 "Update label scheme"
@kenny-evitt, as requested, here is summary of the initial desired label changes. There is nothing too crazy... probably the most significant is appending types to various labels. For instance `status: ` to statuslabels such as `status: blocked`. Since there are multiple changes, I want to get at least one other LT member's okay as a sanity check.

To better aid contributors, users, and visitors,

[2016-09-06 14:06] Mouvedia commented on #2255
We need proposals for that.

This should be divided between `status:` ones (blocked, in progress) and `resolution:` ones (cannot reproduce, duplicate, triaged). `crash` doesn't belong in either.

I disagree: UX has a specific meaning. `experience` should be deleted.

**Apart from these, I agree on everything else.**

[2016-09-06 14:41] sbauer322 commented on #2255
I agree can agree with all this. I was torn with appending `bug: ` to the bug labels as the label be meaningful for non-bug issues too (e.g., using the electron label to identify an enhancement that involves electron.

I have updated the original post to reflect these changes.

[2016-09-07 02:14] sbauer322 commented on #2244
Possibly related to https://github.com/LightTable/LightTable/issues/1488? Not familiar enough with keymaps and keybindings to tell.

[2016-09-08 13:30] kenny-evitt opened #2256 "`Window.prompt()` doesn't work"
Note that any work pertaining to this should use the corresponding issue in the JavaScript plugin repo:

 - [`Window.prompt()` doesn't work · Issue #21 · LightTable/Javascript](https://github.com/LightTable/Javascript/issues/21)

## Report a Bug

`Window.prompt()` in JavaScript code doesn't work when eval-ed in Light Table.

### Steps to Reproduce

 1. Eval JavaScript code that calls `prompt()` or

[2016-09-08 13:31] kenny-evitt commented on #2256
This is just a placeholder for anyone in the future searching for this info.

Anyone interested in working on a feature pertaining to this should use the corresponding issue in the JavaScript plugin repo:

 - [`Window.prompt()` doesn't work · Issue #21 · LightTable/Javascript](https://github.com/LightTable/Javascript/issues/21)

[2016-09-08 13:31] #2256 closed

[2016-09-10 13:52] kenny-evitt commented on #2170
#2254 covers the only work that remained to be done for this.

[2016-09-10 13:52] #2170 closed

[2016-09-11 00:50] esdoppio opened #2258 "Doc search still has focus when toggled off"
## Report a Bug

Doc search still has the focus when toggled off. I think a more desirable behavior is to transfer the focus back to the editor after toggle off the doc search.

### Steps to Reproduce

 1. Open LT and open any file.
 2. Use <kbd>ctrl-shift-d</kbd> to call out the doc search.
 3. Do <kbd>ctrl-shift-d</kbd> again to toggle off the doc search.
 4. Type something.
 5. Do <kbd>ctrl-shi

[2016-09-11 17:04] sbauer322 commented on #2258
I am able to reproduce this in Ubuntu 16.04 as well.

As @esdoppio thinks, the correct behavior should be to return focus back to the editor after the doc search is closed.

Pressing esc to close the doc search should also return focus back to the editor, but it currently does not.

[2016-09-11 17:24] #2254 closed

[2016-09-15 03:13] sbauer322 opened #2259 "Replace optimist as library is deprecated"
While looking at what is needed to update our electron version I noticed that we require optimist at the start of `main.js`. Optimist's [npm page](https://www.npmjs.com/package/optimist) reveals that is has since become deprecated.

The recommended replacements by the package author are [minimist](https://www.npmjs.com/package/minimist), [yargs](https://www.npmjs.com/package/yargs), or [nomnom](ht

[2016-09-15 16:58] rundis commented on #2255
go for it.

[2016-09-16 04:53] Mouvedia commented on #1444
This one is worth reopening.

[2016-09-16 05:11] sbauer322 commented on #2255
The requested changes have been applied with the following exceptions:

- `feature` was not renamed as it does not quite fit in with the other `status: ` labels
- `fixed-on-master` and `fixed-upstream` were not removed but prepended with `resolution: `

[2016-09-16 05:11] #2255 closed

[2016-09-16 05:19] Mouvedia commented on #2178
He's right overwriting is the way to go. For example it prevents text from being selected during drag and drop.

[2016-09-16 05:21] sbauer322 commented on #1444
Could you point out where this convention comes from? I've never encountered (or at least noticed) it in the wild.

[2016-09-16 05:24] Mouvedia commented on #1444
![webstorm surround](https://cloud.githubusercontent.com/assets/208817/18576102/933be9d2-7bde-11e6-8a26-f3c426a7086b.png)

[2016-09-16 05:55] rundis commented on #1444
Hm this seems to work as expected when I use it. Ie write `hello` select hello then press `'` and the text becomes `'hello'`.

[2016-09-16 05:57] sbauer322 commented on #1444
Seems to work for me as well in all cases except `<`. Might be something trivial to add if the others currently work.

[2016-09-16 05:58] Mouvedia commented on #1444
@rundis it's not working for me.

version 0.8.1

[2016-09-16 06:15] rundis commented on #1444
Have you turned on the autoclose brackets plugin (https://codemirror.net/demo/closebrackets.html)

ie do you have the following in your user.behaviors ?
[code]

[2016-09-16 06:18] Mouvedia commented on #1444
@rundis I have it but commented. Thanks for the reminder!

[2016-09-17 02:41] #2060 closed

[2016-09-17 03:11] sbauer322 opened #2261 "Migrate user docs to GitBooks"
This issue is being opened here rather than LightTable/docs.lighttable.com as that repo can continue to exist for the time being independent of this migration. Also, there may need to be updates made in Light Table as described below.

Stemming from discussion [here](https://github.com/LightTable/docs.lighttable.com/issues/10) we wish to try out GitBooks as an alternative to the current way user l

[2016-09-17 03:28] sbauer322 opened #2262 "Create Light Table organization for GitBooks"
As the title suggests, we will want an open source organization account on GitBooks. They have already been contacted about establishing one.

[2016-09-17 03:29] Mouvedia commented on #2261
Or you could just set up a 301 redirect on all requests on that subdomain.

[2016-09-17 03:39] sbauer322 opened #2263 "Update editor and files namespaces to use more meaningful param names"
Stemming from discussion in https://github.com/LightTable/LightTable/pull/2253 it would be beneficial to most if more meaningful parameter names were used. While we don't need to go overboard in terms of verbosity, a good canditiate would be single character parameters...

For instance, in editor.cljs we have `e`, `v`, `m`, `cm`, `opts`, `ev`, `pos` as common parameter names. The meaning of about

[2016-09-17 04:28] sbauer322 opened #2264 "Add docstrings to namespaces in util directory"
Following up with #2060 we have a ton more namespaces that shed a tear every time someone curses Light Table for not having adequate documentation.

That said, this round focuses on namespaces in the util directory:

- util/
  - cljs.cljs
  - dom.cljs
  - events.cljs
  - ipc.cljs
  - js.cljs
  - kahn.cljs
  - load.cljs
  - style.cljs

[2016-09-17 04:34] sbauer322 opened #2265 "Update electron to latest version"
Like most of the dependencies we heavily rely on, this one is long out of date. Bring it up to the most recent.

Do note, there are breaking changes that electron's changelog was kind enough to point out. It will be necessary to update electron to the last version before 1.0.0, complete that update, then continue on to the latest.

Once the update is complete, the resulting pull request will need

[2016-09-18 02:39] sbauer322 commented on #2134
There is some relevant information and suggestions posted in this [discussion topic](https://groups.google.com/forum/#!topic/light-table-discussion/aickVtKDHcc).

[2016-09-18 03:29] sbauer322 commented on #2262
The open source Light Table organization was approved on GitBooks. Initially, myself and @rundis are owners and can add contributors and collaborators as needed.

Feel free to ask us!

[2016-09-18 03:29] #2262 closed

[2016-09-18 03:31] Mouvedia commented on #2262
https://www.gitbook.com/@lighttable

[2016-09-18 04:28] sbauer322 commented on #2261
All known user docs have been migrated to the [Light Table User Guide](). Their original form has more or less been preserved. A new task will be opened to start making our docs great again.

docs.lighttable.com and user docs on the wiki will remain where they are until the book is in a solid state.

[2016-09-18 04:28] #2261 closed

[2016-09-18 04:34] Mouvedia commented on #2261
Iv heard this somewhere.

[2016-09-18 04:39] sbauer322 opened #2266 "Write the Light Table User Guide on Gitbook"
All known existing user level documentation has already been migrated (see https://github.com/LightTable/LightTable/issues/2261). Now the task at hand is to make a [User Guide](https://lighttable.gitbooks.io/light-table-user-guide/content/) that is succinct and thorough. Some examples for inspiration:

 -http://redux.js.org/
- https://guide.elm-lang.org/
- https://rundis.gitbooks.io/elm-light-guid

[2016-09-18 19:03] sbauer322 opened #2267 "Create a plugin portal (or webpage)"
In order to better aid in the discovery of useful and relevant plugins, having some functionality within LT itself that allows us to explore existing plugins and their statistics would be beneficial. One alternative would be to implement this in a webpage off of lighttable.com, but it might not be the most desired solution.

The initial vague description to implement this is to build something int

[2016-09-18 19:22] sbauer322 opened #2268 "Rename link to go to a plugin's page to something more obvious"
`source` does not seem like suitable text for a link that navigates to a plugin's webpage / github page. It should either be renamed to something more salient, or actually link to the source code.

![731ec694-73a8-11e6-918e-5ed77df3e635](https://cloud.githubusercontent.com/assets/2945386/18618379/b34d032e-7db3-11e6-9933-95e42242afee.png)

I suggest changing `Source` to `view`... or any other word

[2016-09-18 19:28] sbauer322 opened #2269 "Plugin's name should be a link to the plugin's project page"
It would be nice to have the actual name of the plugin link to the plugin's project's page. This could make the `source` button redundant, thus making issue https://github.com/LightTable/LightTable/issues/2268 obsolete.

Personally, I keep expecting the project name to be a link.

[2016-09-18 19:46] rundis opened #2270 "Create a Light Table Developers Guide"
To make it way more approachable for people to get started developing plugins or contributing to the core of Light Table we should create a Developers Guide.

I've initiated the work by creating a GitBook. Currently it's just a a draft of some ideas.
I'll comment on this issue when I feel it would be fruitful for others to pitch in !

Obviously this work needs to be coordinated with the [User Guid

[2016-09-18 20:53] Mouvedia commented on #2267
https://github.com/LightTable/LightTable/blob/53a90bee4c2c6758e4b5dffdffbc32256a05e00d/src/lt/objs/metrics.cljs

[2016-09-18 20:55] sbauer322 commented on #2267
Sorry, I had meant locate the code on the server side. I've updated the issue.

[2016-09-18 20:56] sbauer322 commented on #2267
Might be a reasonable thing to see if anyone from Kodowa would have it lying around... @ibdknox - any information regarding the metrics server code?

[2016-09-19 01:12] mheiber commented on #2134
Thank you

On Sep 17, 2016 10:39 PM, "Scott Bauer" <notifications@github.com> wrote:

[2016-09-19 04:17] sbauer322 opened #2271 "Add an API stability index for namespaces"
Similar to node.js, having a [stability index for namespaces](https://nodejs.org/api/documentation.html#documentation_stability_index) may be useful to plugin authors and inspire confidence (or fear). No one downstream likes breaking changes and I'm sure our plugin authors feel the same.

It may be best to wait until we are confident with the exposed Light Table API before pursuing this. In other

[2016-09-20 14:09] Mouvedia commented on #2247
changelog tools: olivierlacan/keep-a-changelog#67

[2016-09-20 16:28] sbauer322 commented on #2247
I'm late to this party as I somehow missed my highlight - despite reading this issue several times - but adding and maintaining an unreleased section in the changelog seems like a good idea. It would ease pressure during release times and seems like a positive change.

chandler does feel like overkill and chag is cool but I'm not sure either provide enough benefits to warrant adding to our workflo

[2016-09-21 16:12] mazaltod opened #2272 "Same issue as LightTable/issues/1447 in 0.8.1"
Hi,
I open my Tomcat (V6) in a Browser Tab but when I want to access to the manager I got the default Tomcat message to configure tomcat-user.xml : 401 Unauthorized etc....

This file is correctly configured as I can connect directly in my browser or other web tools.

I supposed I should clear the LT cache, but searching where it is (no more .cache ?) or searching the command to clear the LT cache

[2016-09-21 19:28] rundis commented on #2272
Tx for the report. I believe this could be due to the Chromium WebView from Electron being very aggressively caching. It might have been fixed in this issue upstream (Light Table uses Electron under the hood). https://github.com/electron/electron/pull/6470

Once we upgrade Electron, we can probably pass some flags to the web view thingie.

[2016-09-21 20:36] sbauer322 commented on #2272
For what it is worth, issue https://github.com/LightTable/LightTable/issues/2265 should cover the electron upgrade.

[2016-09-22 04:19] sbauer322 opened #2273 "Update certain dom.cljs functions to use more idomatic Clojurescript"
There are functions in dom.cljs (and probably elsewhere) where we do not follow standard clojure(script) practices... at least I haven't seen it done this way elsewhere (feel free to point out that I am wrong).

Typically, these functions will take an element and optionally a value. If the value is not provided then it will return the current value. If a value is provided then it will set the elem

[2016-09-22 05:02] sbauer322 commented on #2273
One question to consider is if this is even worth the trouble? I'm not sure it is...

[2016-09-22 10:23] mazaltod commented on #2272
Ok,
I'll let you close or link this issue.
Thanks.

[2016-09-22 20:08] Mouvedia commented on #2272
Close as duplicate and reopen #1447.

[2016-09-23 00:54] sbauer322 commented on #2272
Thanks everyone! Closing to reopen #1447 instead.

[2016-09-23 00:54] #2272 closed

[2016-09-23 00:54] sbauer322 commented on #1447
Reopening as this occurs in 0.8.1 as reported in #2272

[2016-10-04 03:21] abhi18av commented on #2270
I'm really looking forward to this guide @rundis!

LT is awesome but we need more people to chime in :)

[2016-10-04 03:36] abhi18av opened #2277 "How can I contribute?"
I've recently discovered LightTable and I am really awed by the the consistent architecture it provides, I have *some* experience with ClojureScript. The architecture of LT and ClojureScript make me want to explore and hack on this editor all the more - after all who doesn't love Electron?

## Request for guidance

But I feel, the momentum is way less than what it's supposed to be. Look at the int

[2016-10-04 05:32] rundis commented on #2277
Awesome !

We most definitely need people contributing. We are currently doing a push to document things a whole lot better to try to make it easier for people to contribute. Hopefully we are not to far off this being good enough to make an announcement and invite more people to contribute.
However don't let our pending work stop you from start contributing now :-)

Some ideas for things that migh

[2016-10-04 05:50] sbauer322 commented on #2277
I would likely just echo what @rundis has already written so I will simply go with some advice instead:

Don't feel discouraged if you have trouble developing or learning about Light Table! Chances are someone has already encountered the same problem... or you have simply found an area where we need to improve documentation. Please, let us know! We are happy to help and chances are can get you bac

[2016-10-04 05:58] sbauer322 opened #2278 "Investigate discussion forum alternatives"
Currently, we use a combination of Gitter and Google Groups to field questions and problems that pop up with users. It was suggested in this issue https://github.com/LightTable/LightTable/issues/2277 that these may no longer be the best, or at least most welcoming, solutions. Given that attracting people is an ongoing issue, this claim seems plausible.

Rust, Sublime, and Atom were suggested as ha

[2016-10-04 06:01] sbauer322 commented on #2258
PR #2275 resolves this issue and has been merged. Thank you for pointing out the bug!

[2016-10-04 06:01] #2258 closed

[2016-10-04 06:55] Mouvedia commented on #2277
@abhi18av

1. if you don't have an idea of what's missing just pick something out of the [wish list](https://github.com/LightTable/LightTable/projects/2) that you fancy
2. if you like challenges fix one of the two most requested features: #662 or #533
3. take care of several beginner issues
4. review some pending PRs

[2016-10-04 14:23] abhi18av commented on #2278
May I suggest switching over to Slack instead? It seems a lot more popular than Gitter on the App Stores

[2016-10-04 14:41] abhi18av commented on #2277
Okay, so I've gone through the mentioned links and the issue lists and I feel I have a better Idea of how to approach this so I'd start by adding a few bits and pieces on the ongoing LightTable guide all the while working through the codebase.

As mentioned in https://github.com/LightTable/LightTable/issues/2278 where should I put up my questions :)

Thanks for the guidance and quick response @run

[2016-10-04 14:56] sbauer322 commented on #2277
For questions, I would still recommend our [Gitter](https://gitter.im/LightTable/LightTable) for the time being. We are anything but fast to adopt new platforms of communications! 😄

For the ongoing [Light Table guides](https://www.gitbook.com/@lighttable), once you sign into Gitbook, you should be able to hover over a paragraph and a button will appear on the right that lets you start discussions

[2016-10-04 14:57] abhi18av opened #2279 "Vision of LightTable?"
Hi again)

Actually, I created this issue since I believe that having this well documented in the issue list would be an asset for the newcomers.

So, as the title says - "What's the current vision of LightTable? "

* Is it merely to sustain the wonderful work done previously?
* Or do we still aim for having LightTable a proper editor to be reckoned with - at par with Atom/Brackets/Sublime etc?
*

[2016-10-04 19:48] abhi18av opened #2280 "Error in ReactJS based customization"
Hey, so I'm trying to build a simple customization in LightTable using this blogpost on [ReactJS and LightTable](http://blog.brabadu.com/2015/01/reactjs-based-plugin-for-lighttable.html)

* I double checked that the paths for the user.behaviors  snippets are set correctly *

But I eventually run into the following error log

[code]

And this isn't even all of it so I guess, the crucial hints were

[2016-10-04 21:22] Mouvedia commented on #2280
@ what step of the walkthrough?

[2016-10-04 21:43] rundis commented on #2280
Can you provide an [SSCCE](http://sscce.org/) if you are fairly confident this is something actually wrong with Light Table and not your code. We're keen on trying to keep the issue log relevant for things that needs work.

If you have questions or need general help, issues is not the way. Please try either the [gitter](https://gitter.im/LightTable/LightTable) room or the [mailing list](https://gr

[2016-10-04 21:43] #2280 closed

[2016-10-04 21:44] Mouvedia commented on #2278
@abhi18av the problem is that we already have a channel on IRC and Gitter; that's enough.

For news, instead of posting on the mailing list, we should announce on [telegram](https://telegram.me/).
Personally I think we should relay all issues fixed automatically on twitter.

We should:

- close this issue
- add a maintenance issue to create the [telegram channel](https://telegram.me/lighttable)
-

[2016-10-04 21:54] Mouvedia commented on #2279
This doesn't really belong here. You should repost that on the mailing list and this issue should be closed.

Id say that the current contributors are maintaining LT. The new collaborators are not bound to work on anything specific; we don't have milestones on Github. At first, it could be frightening to not have a clear vision but it's also liberating in a strange way.

[2016-10-04 21:59] rundis commented on #2279
Agreed. And it's not meant to be unfriendly in any way shape or form. Just as I mentioned in another issue, we'd like the issue tracker to focus on things we can work on.

[2016-10-04 21:59] #2279 closed

[2016-10-04 22:02] rundis commented on #2277
Ok. I'm going to close this issue now. As it doesn't contain any further work items as far as I can tell. Let's keep future discussions in gitter or the mailing list.
cheers !

[2016-10-04 22:02] #2277 closed

[2016-10-05 01:46] abhi18av commented on #2280
Oh, okay :)

[2016-10-05 01:48] abhi18av commented on #2279
Okay, I'll keep this in mind :)

[2016-10-05 02:57] sbauer322 opened #2281 "Add label values to inline doc for objects and behaviors"
With PR #2276, behaviors and objects now have useful info in their inline documentation (Ctrl-D). Another useful piece of information are the `:label` values from the `:params` vector. That way, in some instances, you would be able to pass the args key to the inline doc.

Below, an example of `:label` and `:params` can be seen in use, but not displayed in the doc box:

![object-docstring-with-desc

[2016-10-05 05:39] Mouvedia commented on #2216
@sbauer322 are you sure Sublime supports it? I know it has _undo selection_ but I am not so sure about *select previous*.

[2016-10-05 09:08] abhi18av commented on #2280
Well, I was just following the tutorial as it said.

 However, I've contacted the author he says it's probably due to some  breaking changes in React as LT API is pretty stable.

Would you advice using Reagent instead for the little plugin?

[2016-10-05 10:20] thSoft commented on #358
I'd vote for reopening. I'd propose that welcome screen should only appear on first startup before installing/updating LT.

[2016-10-05 10:58] sbauer322 commented on #2280
Have you tried to determine the specific version of React the tutorial author used and include that instead?

I'm not familiar enough with either to recommend one or the other.

[2016-10-05 11:02] rundis commented on #2280
I would advice you to start without pulling in anything (event hough that means messing with the Dom directly), once you understand how things work properly then you can consider pulling in something like React.

When it comes to pulling in cljs dependencies please be aware that LT uses a very old version of ClojureScript so you'll probably have a hard time finding versions that are compatible.  I

[2016-10-05 11:03] rundis commented on #2280
closing this down now since I've already notified about where I think discussions and questions should happen :-)

[2016-10-05 13:36] abhi18av commented on #358
+1, it does get annoying after a while.

[2016-10-05 13:41] rundis commented on #358
Just add `[:app :-lt.objs.intro/show-intro]` to your user.behaviors file.

[2016-10-05 13:43] rundis commented on #358
If someone think the above solution is insufficient, feel free to submit a PR that updates the user.behaviors file for you from the welcome screen or something to that effect.
Locking this issue down

[2016-10-06 02:37] #2264 closed

[2016-10-06 03:13] mobbjelly opened #2282 "Can't eval defprotocol in cljs source file"
**Reproduce**

1.  Create project using `Lein new mies`
2.  Add some code in core.cljs
3.  Eval code by hitting ctrl + enter
4.  Error occurs in defprotocol

![error](https://cloud.githubusercontent.com/assets/8497784/19139199/0961a6a2-8bb5-11e6-943e-1a8bca014e8d.png)

**Environment**

-  Windows 10 64bit
-  LT 0.8.1
-  Default user.keymap and user.behaviors
-  Default plugins (Didn't download any

[2016-10-06 03:36] sbauer322 commented on #2282
To clarify, with `Lein new mies` do you mean to use the mies template and not a new default project named mies?

[2016-10-06 03:40] mobbjelly commented on #2282
Yeah, I use the [mies template](https://github.com/swannodette/mies)

[2016-10-06 03:43] mobbjelly commented on #2282
Relevant info for refer: [defprotocol fails oddly in repl *only*](https://groups.google.com/forum/#!topic/clojurescript/__Qf6L40cwU)

[2016-10-06 04:25] sbauer322 commented on #2282
I am able to reproduce this, so at least there is that.

Curiously, if you adjust the project to be Clojure rather than ClojureScript it evals correctly.

Unfortunately, my guess as to the actual problem would be the internal version of ClojureScript that Light Table uses for a repl does not have the fix reported in your link... or otherwise some other incompatibility. We have issue #1973 to addre

[2016-10-06 05:32] sunlchk opened #2283 "Instarepl doesnt work"
## _Instarepl doesnt work_

When i opened lighttable it asked for upgrade and then it asked for plugin upgrade

Now instarepl is not available.i tried downloading latest version it would not work

I reverted to old version but still unable to see intarepl.

Could you please let me know on this

[2016-10-06 05:56] rundis commented on #2283
Sorry to hear that.

1. What version of Light Table were you using before the upgrade ? If it was prior to 0.8 the upgrade procedure doesn't work unfortunately. It was a major upgrade of the core architectural components in Light Table with 0.8. Bottom line here is to use the latest version of Light Table (0.8.1), you should try download and install from lighttable.com. Then try to install the ins

[2016-10-06 22:17] Mouvedia commented on #2283
dupe of #2163?

[2016-10-09 21:36] cldwalker commented on #2080
As discussed with the team, we're looking to move to GA and at least track when users are first opening LT. We should also be explicit that we're using GA

[2016-10-10 04:23] sbauer322 commented on #2283
We should also make note of the intention to deprecate on ClojureInstarepl's README in the event a maintainer is not found.

[2016-10-10 14:44] rundis commented on #2217
Should be fairly straightforward to add to pool.cljs (also see https://github.com/LightTable/LightTable/blob/master/deploy/core/node_modules/codemirror/keymap/sublime.js#L455)

[2016-10-12 01:49] sbauer322 commented on #2216
Since I am not certain of this, I will remove the label for the time being.

[2016-10-13 19:33] stegrams commented on #1526
Two years later, if someone has a similar request, this pluggin may help
https://github.com/obarbeau/lt-link-with-editor

[2016-10-14 08:52] Mouvedia commented on #1999
dupe of #1542

[2016-10-14 11:52] blackSea4477 commented on #1842
Just Copy
- libstdc++.so.6
- ld-linux-x86-64.so.0
- libc.so.6
- libgtk-x11-2.0.so.0
under the path .....src/node_modules/electron/dist . You can get this from Centos 7 .
Then Download https://jlison.github.io/bin/centos6/soichih/mirror/gcc-4.7.2.tar.gz and extarct it to some folder and update LD_LIBRARY_PATH

glibpath=/opt/glib/  (path where you have extracted glib )

export LD_LIBRARY_PATH=$glibp

[2016-10-14 22:12] sbauer322 commented on #2218
@cldwalker. should this issue be closed, given that PR #2234 has been closed in favor of making it a plugin? Aside from drag and drop that @Mouvedia mentioned, the other options @HopefulLlama listed all would require essentially the same approach as that PR...

[2016-10-16 01:53] sbauer322 opened #2285 "Find and search cannot be toggled off"
Find (Ctrl-F) and search (Ctrl-Shift-F) cannot be toggled off by the same command that opened it. This is inconsistent from other temporary widgets such as language docs (Ctrl-Shift-D), command pane (Ctrl-Space), and the console.

Find can only be hidden via the command pane. Search can be closed by closing its tab. For consistency,  these should be toggle-able.

[2016-10-16 02:10] sbauer322 opened #2286 "Connection Pane's arrow is the same in both states"
As the title says, the Connection Pane's arrow is always in the same direction.

Here is the initial state, where current connections are displayed:

![connection-pane-arrow-incorrect](https://cloud.githubusercontent.com/assets/2945386/19414704/b4feee3c-9323-11e6-9f2a-738c88fd9a57.png)

This arrow likely should be pointing downward.

For comparison, when you click on the 'Add Connection' button, t

[2016-10-16 02:39] sbauer322 opened #2287 "Default keymap for :show-connect does not work unless it already has focus"
The Connection Pane is toggled open and closed with the following line in `default.keymap`:

[code]

However, it does not open or close via this keybinding (or any other you change it to) unless the pane already has focus.

Given, that the default is set to "esc", it seems likely the originally intention was to only use this for closing the Connection Pane. Unfortunately, if focus goes elsewhere b

[2016-10-18 13:03] cldwalker commented on #2218
@sbauer322 Worth leaving this open to get feedback once your plugin is available

[2016-10-18 18:20] pate commented on #2283
Same thing happened to me. Installing the plugin "ClojureInstarepl" restores the feature:

![image](https://cloud.githubusercontent.com/assets/1011676/19490639/3efc88c6-9570-11e6-8ab0-4c024bb74bf3.png)

[2016-10-18 18:21] pate commented on #2283
@sbauer322, does this mean instarepl is going away? I love the instarepl for teaching Clojure, and use it for prototyping.

[2016-10-18 19:24] rundis commented on #2283
@pate it means it will die eventually if no one voluenteers to pick it up and maintain it. A bit sad tbh, but the core team just doesn't  have the capacity (and sufficient motivation as none of us use it ) to keep it in shape and someone from the community needs to step up.

[2016-10-21 06:21] Mouvedia commented on #2285
I dunno about the desired behaviour from the user point of view in that scenario:
* search something which exists in the editor
* focus search field
* esc
* pmeta-f (`:find.show`)

I was surprised that the queried keyword wasn't automatically highlighted in the editor. Is this expected?

[2016-10-28 04:08] shandanjay opened #2288 "Lighttable halts at start in Windows 10"
Showing Lighttable splash it halts. And following log I've found.

| Info                             | Details |
| -------------------------------- | ------- |
| Light Table version              |    0.8.1     |
| Operating system                 |    Win10 64bit     |

### Error Messages

[code]

[2016-10-28 06:23] rundis commented on #2288
Could you show us your user.behaviors file, seems to contain something borked. Not 100% sure exactly which folder that would be for you machine. `%APPDATALOCAL%/LightTable/User/` (on my machine it's under a roaming folder, it might be different for you).

[2016-10-28 08:12] shandanjay commented on #2288
@rundis I found this file in AppData\Roaming\LightTable\User
[user.behaviors.txt](https://github.com/LightTable/LightTable/files/557870/user.behaviors.txt)

[2016-10-28 08:24] shandanjay commented on #2288
@rundis Ofcoz you are correct. There was a type in user.behaviors. After Fixing that LightTable loads normally. Thanks.

[2016-10-28 09:00] rundis commented on #2288
np !

[2016-10-28 09:00] #2288 closed

[2016-10-31 19:46] rundis commented on #2283
@sunlchk Did you manage to get instarepl to work ? If not please open a new issue in the instarepl repository https://github.com/LightTable/ClojureInstarepl

[2016-10-31 19:46] #2283 closed

[2016-10-31 19:51] rundis commented on #2049
I'm closing this as there now is a plugin.

[2016-10-31 19:51] #2049 closed

[2016-10-31 23:09] yogthos commented on #2049
👍

[2016-11-06 18:10] chris-etheridge commented on #2268
Maybe just `website` is a good enough name?

[2016-11-06 21:40] sbauer322 commented on #2268
Ah, yes, that might be the clearest choice!

[2016-11-07 02:18] sbauer322 commented on #2206
PR #2276 addresses this request with the `:doc` key for objects, behaviors, and defui. Do note that due to https://github.com/LightTable/LightTable/issues/2203 it will likely not be possible to get this optional docstring for defui when developing plugins. In other words, this functionality currently limited to developing on the core of Light Table until that issue is addressed.

[2016-11-07 02:18] #2206 closed

[2016-11-07 02:20] sbauer322 commented on #2048
This issue is resolved with the following pull request in the Clojure plugin https://github.com/LightTable/Clojure/pull/84.

[2016-11-07 02:20] #2048 closed

[2016-11-07 02:37] Mouvedia commented on #2268
What about repository instead? Most, if not all, link to a repository.

[2016-11-07 02:39] sbauer322 commented on #2268
Certainly a good option too.

[2016-11-08 08:27] chris-etheridge commented on #2268
If you're happy with `website`, I don't mind adding it! I think `website` works, because the website for the plugin may not always be a repository, or on source control.

[2016-11-08 08:41] chris-etheridge commented on #2269
Happy to do this!

[2016-11-09 02:58] sbauer322 commented on #2268
Thanks for opening PR #2289 which addresses this!

[2016-11-09 02:58] sbauer322 commented on #2269
Thanks for opening PR #2289 which addresses this!

[2016-11-09 05:12] chris-etheridge opened #2290 "Naming of source and website UI components"
I think we should settle on one word, to represent the authors website (or repository), for a plugin. Right now, we use `website` and `source` interchangeably. See [this thread](https://github.com/LightTable/LightTable/pull/2289) for more information.

I'm happy to refactor the CSS and CLJS to use one word, such as `website`, to represent the plugin website. Only issue I can think of with this, th

[2016-11-09 21:07] robjens commented on #2186
@kenny-evitt +1 for the colloquial use of Heisenbug, just glad it isn't Bugfoot anymore although we see , or I'd have to start doubting my own sanity. But it is like a ghost so far, not much (circumstantial) evidence in terms odd resource consumption, log messages etc. It is definitely using ~~Albuquerque~~ Redmond as it's home base, that's for sure. Although we seem to have had somewhat different

[2016-11-11 09:58] focamonca opened #2291 "Error on Light Table startup about Example plugin"
Just installed LightTable and this is what I get from the console:

`Error: ENOENT: no such file or directory, open 'C:\Users\Gianmaria\AppData\Roaming\LightTable\plugins\Example\example_compiled.js'
    at Error (native)
    at Object.fs.openSync (fs.js:549:18)
    at Object.module.(anonymous function) [as openSync] (ATOM_SHELL_ASAR.js:137:20)
    at Object.fs.readFileSync (fs.js:397:15)
    at O

[2016-11-11 13:12] rundis commented on #2291
I can understand it's frustrating with errors, but the title for this issue isn't very constructive nor particularly descriptive. Anyways:

First time ever you install Light Table, or maybe you have tried it before on that machine in the past ?

The error basically complains about your user plugin is referencing a plugin called Example that plugin looks to have a .behaviors file that tries to load

[2016-11-11 13:45] focamonca commented on #2291
AWESOME
THANKS!!!

[2016-11-12 03:49] sbauer322 commented on #2291
I have renamed this issue to be more descriptive.

Glad to hear Magnus' suggestion has worked out! From the sounds of it, this has been resolved and I am closing the issue.

[2016-11-12 03:49] #2291 closed

[2016-11-12 03:50] sbauer322 commented on #2290
My vote is for website... but it would be nice to hear from others before you get started on anything so as to prevent possibly wasting your time.

[2016-11-12 18:44] justintaft opened #2292 "Slow cljs compile times"
## Request a Feature

The `bootstrap.js` file needs to be compiled when modifying LightTable files.
When modifying the core program, it takes around 30 seconds to compile, leading to slow
development cycles.

### Steps to Reproduce

1. Run `lein cljsbuild auto`.
2. Modify LightTable source
3. Notice compile time.

### Environment

| Info                             | Details |
| ------------------

[2016-11-12 18:45] cldwalker commented on #2290
defui components are rarely used by user plugins so a small number of changes there to be consistent is reasonable. We shouldn't be changing css classes unless we know they have no effect on themes or a plan to deprecate. Looking at [themes LT ships](https://github.com/LightTable/LightTable/tree/master/deploy/core/css/themes) is a starting point. Then, you should be looking at [user plugins named

[2016-11-12 21:58] sbauer322 opened #2293 "Expand defui docstring to work in plugins"
As described across the links below, defui docstrings should work in plugins as well... currently it does not.

One possible off-the-cuff solution is to handle defui like we do with behaviors and objects. In other words, stuff them all into atoms in the object.cljs namespace. The current behavior and object atoms appear to be the reason why the `:doc` keys are able to work during plugin developmen

[2016-11-13 14:32] Mouvedia commented on #2035
This one should be added to the [0.8.2 milestone](../milestone/16).

[2016-11-13 20:55] ottonascarella commented on #620
on japanese keyboard on mac book pro
all the keys are swapped. caps key is interpreted as control and so forth.
this way I would have to have different shortcuts for different layouts, even though I wanna keep same layout.

[2016-11-21 11:45] alephyud commented on #2144
Had the same issue – could finally connect to the nrepl server when I explicitly specified the Light Table handler for nrepl in `repl-server` in the `core` ns of my app:

[code]

Hope this helps.

[2016-11-21 16:59] Spenhouet commented on #2155
I had a similar issue because i didn't know how to trigger the auto-complete at all without input.
Therefor i added the configuration in intellij style:

[code]

But i would like to only open the auto-complete with `ctrl-space` and not inserting one of them.
Inserting one of the auto-complete suggestions should be done by pressing `enter`.
How to do that?
Is there a documentation on all possible c

[2016-11-22 05:20] sbauer322 opened #2294 "Make plugin manager title links more obvious"
Thanks to the work performed in this [pull request](https://github.com/LightTable/LightTable/pull/2289), the title of a plugin in the plugin manager is now a link.

One improvement would be to make it more obvious the title is actually a link. Currently, there is no indication the title is actually a link until you click it and a page is opened.

My initial thoughts were to simply mimic how links

[2016-11-22 12:54] chris-etheridge commented on #2294
I was thinking about doing the same when implementing that pull request. Would be a simple change, and then the links would behave like they usually do in web browsers.

[2016-11-24 11:40] MasterMastic opened #2295 "Instarepl doesn't use my existing connection"
I'm trying to use instarepl with my project but instead of using my project, it always creates its own connection.

Steps to reproduce:

1. Load a project folder and open a source file in the editor.
2. Connect to it with Ctrl+Enter.
3. Wait for connection to be completed.
4. Ctrl+Space, select `Instarepl: Open a clojure instarepl`
5. Wait, it's making a new connection again (undesired).
6. Try to

[2016-11-24 19:07] sbauer322 commented on #2295
Though I don't have much experience with the Instarepl plugin, I am fairly sure that evaluation via Ctrl-Enter and Crtl-Shift-Enter are independent of the Instarepl plugin. They should be from the Clojure plugin. As such, they would likely have their own connections.

Regarding the failure mentioned when evaluating a project with the Instarepl, is there a repository available to test this against?

[2016-11-25 08:22] MasterMastic commented on #2295
@sbauer322 I only pressed those to establish a connection, it really has nothing to do with the plugin.

As for repository, `lein new` will do, as it's like this with any project.

[2016-11-25 11:00] sbauer322 commented on #2295
Thanks, I'll give it a try this weekend!

[2016-11-25 14:44] MasterMastic commented on #2295
Thank you, @sbauer322 .
I've just now tested again on Windows 10 Pro x64 and the problem was reproduced.

[2016-11-26 11:25] adammunoz commented on #2190
My workaround is to reload the behaviours:

ctrl+space and type Reload behaviours.

It's easy to do while this bug gets fixed :-)

[2016-11-28 11:33] rbecheras commented on #491
I have the same issue with LT v0.8.1.
I wrote a PR in LT/Javascript project: https://github.com/LightTable/Javascript/pull/22

[2016-11-29 01:46] sbauer322 commented on #2295
I was able to reproduce this problem. From what I gather, the Instarepl was meant largely for quick, small prototyping that does not make use of dependencies. It looks like the Instarepl has some severe limitations with regards to working with projects.

Unfortunately, I don't have a solution and the plugin is in need of a maintainer... despite how popular it appears to be. As such, I am doubtful

[2016-11-29 02:35] sbauer322 commented on #2292
It certainly can be frustrating for it to take so long!

Would you have any ideas or suggestions on how to make it faster?

[2016-12-01 00:04] BloodShura commented on #2248
Actually, `existsSync` is not deprecated at all.

From the same link you referenced:

[2016-12-01 02:54] sbauer322 commented on #2248
Hmm, yep, that is certainly what the docs say... I wonder function I actually meant. I'll poke around and either update or close this soon.

[2016-12-11 21:12] id042013 opened #2297 "LightTable freezes because of auto-suggest"
## Report a Bug

The feature Auto-Suggest that is on by default, makes my app freeze often, usually for up to 10 seconds, but this time I had to kill the process because I could not wait very long.
I don't have any custom setup, I'm quite new using LightTable. The only info I found on the internet related to it is a setting called:

" :editor.keys.hinting.active - Applies when hinting/autocomplete

[2016-12-13 00:01] LukeDefeo opened #2298 "[Mac OS] Cant drag files to dock icon or to an open window"
## *Issue Template*

## Request a Feature

Not sure if feature request or bug as this is extremely standard mac os behaviour, When dragging a random plaintext file such as my ssh config it wont let me drag to the dock icon or even over a window. Ive tried dropping on the tab area or the space below and neither work

### Environment

| Info                             | Details |
| ----------------

[2016-12-14 05:56] sbauer322 commented on #2298
#### Drag to dock icon

Regarding the dragging to dock icon, given that this seems a fairly ubiquitous feature for the OS... I do not think it should be difficult to implement.

I do not have access to Mac OS so this improvement will have to come from another maintainer or the public... pull requests are welcome!

Not sure if there are other related issues, but I did find this old one asking for t

[2016-12-14 06:03] sbauer322 commented on #2295
I am closing this issue as the Instarepl is limited with regards to accessing projects and because the problem concerns the Instarepl plugin rather than Light Table's core.

Please feel free to open a separate issue in the Instarepl plugin's repo.

[2016-12-14 06:03] #2295 closed

[2016-12-14 06:18] sbauer322 commented on #2297
I believe we have a long running issue about the performance issues regarding autocomplete here: https://github.com/LightTable/LightTable/issues/2035. Since it does not always happen to all machines, it has been difficult to take care of.

In the meantime, if you wish to disable autocomplete then @rundis's answer on Stack Overflow should help:

http://stackoverflow.com/questions/34883979/turn-off-

[2016-12-14 06:51] NoWayHoze commented on #2010
This might not be the case here, but my lighttable folder was read only mode in windows 10.

[2016-12-14 18:22] id042013 commented on #2297
Many thanks for answer. The solution works. The topic may be closed.

I only recently read about how to report a bug, so I should have included steps to reproduce the problem. I guess the lag is because the file is very long, although I know nothing about how the auto complete feature is implemented.

[2016-12-15 01:45] #2297 closed

[2016-12-18 03:41] sbauer322 opened #2299 "Rename 'goto line' command to 'go to line'"
Our command for jumping to a line within a file is 'Editor: Goto line' (Ctrl-L). Unfortunately, if you were not aware of this emacs-derived name then when you search the command panel for 'go to line' or 'jump to line' you are not given any result. The next thought might be that this functionality is a plugin... but searching for those phrases also returns nothing.

As we have an issue with the di

[2016-12-19 06:09] sbauer322 commented on #2281
@rundis - could you provide some info on how you wanted the param labels displayed? For instance, before the :doc / :desc, after it, to the right of the function name, or perhaps wrapped in a pair of `[ ]` with commas separating them, etc...

[2016-12-22 01:19] sbauer322 commented on #2268
Closing as #2289 has been merged.

[2016-12-22 01:19] #2268 closed

[2016-12-28 19:10] bruno-oliveira commented on #2299
Hi,
I would like to help with this!

[2016-12-28 19:49] bruno-oliveira commented on #2299
Ive created a pull request

[2016-12-29 12:02] bruno-oliveira commented on #2299
I have submitted the changes requested and created  more PR, please do check to see if everything is okay.
They all passed the CI tests.

[2016-12-29 20:08] bruno-oliveira commented on #2299
Any updates?

[2016-12-29 20:20] sbauer322 commented on #2299
Sorry, what I've seen from the PRs looks good so far, but I won't be able to take a proper look at it until late tonight.

My only concern is that it is more common to simply have one pull request containing multiple relevant commits rather than multiple relevant pull requests containing single changes... would you mind condensing the pull requests into one? Everything else seemed okay otherwise.

[2016-12-29 23:45] bruno-oliveira commented on #2299
How can I do that "condensing"? I've cloned the repo to my local machine but when I try to push I get an error, so Im doing it in the web interface...

[2016-12-30 06:11] chriswatrous opened #2307 "'light' script always opens a new window"
## Bug Report

'light' script always starts a new window. I'm not sure if this is a bug or a feature but it would be nice if it would always open files in the same window, or if there was an option to do this.

### Steps to Reproduce

 1. To make sure the install is clean, delete the lighttable directory in /Applications and delete "~/Library/Application Support/LightTable".
 2. Download lighttabl

[2016-12-30 09:10] rundis commented on #2299
Did you follow a workflow similar to this: https://gist.github.com/Chaser324/ce0505fbed06b947d962
 ?
You really should create a branch when working on pull requests. Please create one consolidated PR which will make all our lifes easier ! Oh and tx for your efforts, sorry to be a stickler :-)

[2016-12-30 09:33] bruno-oliveira commented on #2299
Hi @Magnus,

Yes, I've created a consolidated PR already and will follow up the work. I
went rest until this is merged in the master branch

Em 30/12/2016 09:10, "Magnus Rundberget" <notifications@github.com>
escreveu:

Did you follow a workflow similar to this: https://gist.github.com/
Chaser324/ce0505fbed06b947d962
?
You really should create a branch when working on pull requests. Please
create

[2016-12-30 11:50] bruno-oliveira commented on #2299
Hi,
I've added some commits to fix what we discussed... I hope all is good now!

[2016-12-31 03:31] sbauer322 opened #2308 "Go to line command allows non-digit characters resulting in error message"
When using the `Editor: Go to line` command, it is possible to enter characters other than digits and press enter to jump to the line. Doing so results in an error message in Light Table's console. See below:

![go-to-line-non-digit-text](https://cloud.githubusercontent.com/assets/2945386/21575593/90dd5848-cedf-11e6-937e-d8debd02a880.png)

We should handle this situation better. Perhaps either pre

[2016-12-31 09:13] bruno-oliveira commented on #2308
Maybe when the other issue is finally solved and the PR is accepted, I can start working on this? Or is this not suited for beginners?

[2017-01-02 03:06] sbauer322 commented on #2308
I'm not certain if it would be suitable for beginners, but then again it would largely come down to how we want to address the problem.

You are certainly welcome to give it a try - our [Gitter](https://gitter.im/LightTable/LightTable) is a good place for any questions you may come across. I think the second solution mentioned below might be suitable for beginners.

It seems the problem lies in th

[2017-01-02 03:14] sbauer322 commented on #2307
Unfortunately, I do not have access to any macOS, but hopefully someone else is able to confirm this is a bug (or a feature request).

[2017-01-02 15:38] bruno-oliveira commented on #2308
I am still learning clojure as well as clojurescript (following the 4clojure website at the moment), but, thinking purely in terms of general programming, shouldn't we simply add a regex verification that the entered input needs to match? Namely, that the number needs to be between 1 and MAX_LINES where MAX_LINES would be the total number of lines of the given file?

For this, I might have to setu

[2017-01-03 20:00] bruno-oliveira commented on #2299
For reference, commits have been squashed and the issue is in progress of being solved.

[2017-01-04 10:28] bruno-oliveira commented on #2259
If this hasn't yet been done, I would like to do it!

[2017-01-05 02:01] sbauer322 commented on #2299
PR https://github.com/LightTable/LightTable/pull/2306 addresses this issue and has been merged. Thanks again, @bruno-oliveira!

[2017-01-05 02:01] #2299 closed

[2017-01-05 02:19] sbauer322 commented on #2308
That sounds about right in terms of logic, but the main concern I would have, if we went with regex validation, is how do we make the user aware their input is invalid?

There already exists some validation logic to check if it is a number, but I think there is a situation in a predicate where it evaluates to true if you enter non-numeric text (from what I remember after briefly looking at it a fe

[2017-01-05 07:18] bruno-oliveira commented on #2308
For this, I might have to setup a local dev version to be able to test te changes I'd be doing... I will try to do it over the weekend to start looking into it...
However, thinking about it, the regex validation can only address part of the problem, right?
One thing is to make sure that invalid input is caught/detected (which can be done via regex) and other thing, that needs to be done as a conse

[2017-01-05 22:57] robjens commented on #2186
So... after having worked with LT sufficiently in the Remote Desktop Windows 2012 environment today and yesterday, I think I have my case nailed down or, that is to say, I can trigger and prevent it. What puzzles me is the difference with Linux but it must be the file system.

Basically, the editor explodes (read black screen + JVM detached) on evaluating a sufficiently large amount of data in the

[2017-01-06 11:45] rundis commented on #2292
Why not use the cljs repl in when working with core changes ? Do you have particular scenarios where this is feasible ?

[2017-01-06 19:15] sova opened #2309 "feature request : undo tree"
Emacs has a good way to move through undos/redos in a tree-like fashion.  Would it be possible to implement this  for  LightTable?

As far as I understand, LightTable is brought-together by Electron...

I could help write such a plugin if someone could direct me to the proper resources (coming from js/html/css/clojure land)

[2017-01-07 03:19] sbauer322 commented on #2309
It should be possible to implement something similar to what you are describing as a plugin. The following are resources you may be interested in checking out:

- https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#contributing
- https://github.com/LightTable/LightTable/wiki/For-Developers#creating-a-plugin

Additionally, checking out how existing plugins are written can be useful

[2017-01-14 20:08] Mouvedia commented on #2308
[code]

tl;dr: you don't register visually anything but digits or you use an input of type number.

[2017-01-14 20:14] Mouvedia commented on #2309
@sova http://web.archive.org/web/20110710161600/http://e-texteditor.com/blog/2006/making-undo-usable

This was a killer feature.

[2017-01-16 03:22] sbauer322 opened #2311 "Display :type key for params in inline docs"
Building off of #2301, it would be nice to also display the `:type` attribute/key for params (when given) for Light Table's internal inline docs.

[2017-01-16 03:25] sbauer322 opened #2312 "Add arg-names to inline doc for behaviors"
Sister issue to https://github.com/LightTable/LightTable/issues/2281, but for arg-names.

[2017-01-16 03:26] sbauer322 commented on #2281
PR #2301 addresses issue and has been merged.

[2017-01-16 03:26] #2281 closed

[2017-01-16 13:11] robjens commented on #2186
Is there a hard limit to the amount of data one can display inline in LT editor evaluation box? I have a 5000 line XSD file that will pretty much always consistently crash on `slurp`. The last method called is `[stdout]:   44573 4845       4       sun.nio.cs.UTF_8$Encoder::encode (359 bytes)`

The odd thing, the third time I tried and wait a bit before evaluating (no project, single file, commente

[2017-01-16 18:38] 1dot75cm commented on #2265
Hi @sbauer322
Some mouths ago, i review some code, and patch it for `electron 1.2.x`. Today, i review and test for `electron 1.3.13`. Just little error, the editor is work fine.

Patch for b83f440: [fix-lt-exception.patch, fix-electron-1.2.0.patch](https://github.com/FZUG/repo/commit/6a4c71c1067172146a6922f7f9ace9d30c101d15)

[2017-01-16 19:02] robjens opened #2313 "Better portability: build on Windows + Git Bash to run script/light.sh"
Currently, the `script/light.sh` file ran after building this solution on a Windows machine, doesn't pick up the fact that I can actually run LightTable just fine.

At the moment, it checks first for Darwin - which I'd keep since it to has bash - but then proceeds to check `Linux` using `uname -s` as well, finally to check for Cygwin in the same fashion.

Now, I am not sure if and why Cygwin would

[2017-01-17 02:16] sbauer322 commented on #2313
I'm not opposed to a PR for this... As long as everything still works! :smile:

@LightTable/maintainers - any concerns or objections?

[2017-01-17 07:55] Mouvedia commented on #2313
@robjens while you are at it could you check bash on <abbr title="Windows Subsystem for Linux">WSL</abbr>?

[2017-01-17 08:36] rundis commented on #2313
No objections, as long as it works... and we are able to test that it does I'm good.

[2017-01-17 18:21] robjens opened #2314 "Clean-up of temp after disconnecting Hotspot server"
I've been in the process of trying to find any, and I mean any, clues for tracking down this heisenbug #2186. While in the process of doing so, I found a difference between my ArchLinux, which has no problems, and my Windows machines - one of which is the host to my VirtualBox Linux guest (Windows 10) and my work RDP instance (Windows 2012 server). Both Windows show the "black screen of death" pre

[2017-01-18 01:03] sbauer322 commented on #2314
This is really interesting - thank you for the detailed information!

[2017-01-18 01:24] sbauer322 commented on #2313
Sounds like a PR for this would be appreciated @robjens - feel free to proceed if you so desire.

[2017-01-18 01:53] sbauer322 commented on #2265
Thank you @1dot75cm, this looks like it will be useful when we take on this issue.

[2017-01-18 02:40] sbauer322 commented on #2307
There is some relevant discussion about this topic at the Light Table forum https://groups.google.com/forum/#!topic/light-table-discussion/ZvKRV_lY_hk

[2017-01-23 13:46] robjens commented on #2186
After a few false alarms, I figured it might still be useful to put my intermediate findings here. The detachment itself, I had hoped might be different if I ran the program under elevated Admin permissions in Windows. There was 1 difference: the instance this time didn't detach. While inspecting the processes running, I noticed my JVM (the one attached to `lein-light-nrepl` instance) has exactly

[2017-01-23 13:54] robjens commented on #2186
And... it is not the JVM either. It is actually LT which hangs but since it dies, it was hard to see it missing. On Linux it crashes (only the menu buttons still work the rest is unresponsive) but doesn't detach

![image](https://cloud.githubusercontent.com/assets/11848802/22206444/98175f60-e17b-11e6-924d-6c7156f10f40.png)

What could cause the CPU to spike and then hang? I guess that definitely c

[2017-01-24 16:05] robjens commented on #2186
Well at least by now I am 100% sure I can avoid this, so it isn't in the volume of data per se as it is more in the (inline) display. I have no issue when I display a single `zip/node` the `zip/root` would crash it. It is consistent in 1 regard, always crashes on UI even when a large collection has already been processed. Which would be the case since the `zip/root` would take place after a loop/r

[2017-01-24 23:02] rundis commented on #2186
I'm feel your pain and salute your determination to try to figure out a reproducible case. I'm also having random stalls at times. Not very often, but once or twice a week. I initially thought it was the autocompleter, but it's happening on my home computer which I do mostly Elm development on. I'm usually given a fore warning, things start to get increasingly slugish. Then I usually restart befor

[2017-01-27 08:43] robjens commented on #2186
Hey rundis. It is ok now, it's basically just a discipline thing as I've been able to successfully avoid the issue by just taking more care of not showing too much data at once in the inline editor. Where Linux is near 99% of the times doing just fine, Windows really has some - what I think - screen painting issues. The lag is pretty big when I have a large chunk of data showing in the inline sect

[2017-01-28 02:09] sbauer322 commented on #2269
This has been taken care of for a while now with #2289 being merged.

[2017-01-28 02:09] #2269 closed

[2017-01-29 12:36] vbauer commented on #2150
I have the same problem on macOS Sierra 10.12.3:

[2017-01-29 20:22] sbauer322 commented on #2294
Closing issue as PR #2294 addresses it.

[2017-01-29 20:22] #2294 closed

[2017-01-29 20:51] sbauer322 opened #2317 "Fix default zoom keybindings for numpad use"
This is similar to issue #2181, but I am experiencing a few inconsistencies related to zoom's default keybindings:

- `pmeta`-`-` works fine.
- `pmeta`-`+` is not a default keybinding, but is actually bound to `pmeta`-`=` and `pmeta`-`Shift`-`+`... so it does not work with the numpad.
- `pmeta`-`0` is to reset zoom, but does not work with the numpad either.

We will want to add the appropriate bin

[2017-01-29 23:37] sbauer322 commented on #2181
I believe that zooming should not zoom the entire UI either. It should be limited to zooming the tabs, which would contain the browser as well.

[2017-01-30 05:36] sbauer322 commented on #2317
Initial investigations suggest that `pmeta-0` is not working due to a bug in Mousetrap. This bug is fixed in a later version.

[2017-01-31 04:47] #2248 closed

[2017-01-31 04:57] sbauer322 commented on #2127
This may be remedied to some degree with PR #2318 and issue #2317... should be able to use `Ctrl-Shift-=` when focused on an editor instead... certainly not ideal but will have to do unless we change the default keybinding for folding code.

[2017-01-31 16:02] igand opened #2319 "Clear exception from editor based on cursor location"
I'd like to be able to remove result of evaluation of the row the cursor is on. Especialy in case of exceptions. And do that using keyboard only.

As mentioned here
[in my stack overflow question](http://stackoverflow.com/questions/41780140/how-to-remove-exception-from-light-table-editor-using-keyboard-only/41948525#41948525)
I'd like to achieve the same thing you can already do with mouse right b

[2017-02-01 17:14] robjens commented on #2186
Ok so this is getting weirder. In the meanwhile, I've had it freeze once more unexpectedly (no workload, single key press (autocomplete?) triggered it so it seemed). In overall, with a little future here and there, as mentioned, I am able to avoid most crashes.

Just now I had a really weird thing happening, I was having LT open and using Chrome browser, all I did was (I think) `alt+d` to focus th

[2017-02-01 17:20] robjens commented on #2186
Seems we may have the actual source of the problem, I am less and less inclined to think this is with LT per se, ... https://github.com/RocketChat/Rocket.Chat.Electron/issues/150 Symptoms are all the same, massive windows issues with electron. I'll go and see what the actual cause was, when fixed and how our LT version holds up against that number. Could be yet another bug, or just that we don't h

[2017-02-01 21:59] robjens commented on #2313
Alright, will do... cheers. I'm not sure if I'm supposed to sign a CA but I'll check. Also I noticed it didn't work out of the box as expected when I changed the script pre-build but it might have also overwritten something so I'll take care to double check before I do a PR.

[2017-02-01 22:04] sbauer322 commented on #2313
No need for a CA from us!

[2017-02-02 09:22] robjens opened #2320 "Unexpected behavior on parallel processing in Clojure"
This is on Windows for now, while hunting down this generic 'black screen of death' I had noticed some different behavior on LT failing and decided to run a small, repeatable failure test. I was using the Clojure `pmap` function, and the example is from the Clojure Programming book:

[code]

Upon inspecting the value of `files` it starts processing, not when the bottom two expressions are evaluate

[2017-02-02 09:33] robjens commented on #2320
This may in part be some misunderstanding of what `dorun` is supposed to do. Access to `files` var content is enough to make my nix freak out too in terms of volume probably. So I presume I just need to better mentally visualize some data or take only portions of it to the editor or it will complain. Using a mere `map` or `pmap` will show the lazy seq just fine so I guess I just don't want to real

[2017-02-02 09:33] #2320 closed

[2017-02-06 03:02] sbauer322 commented on #2150
PR #2316 has been merged.

[2017-02-06 03:02] #2150 closed

[2017-02-07 19:35] robjens commented on #2186
Well, it isn't the `disable-gpu` setting, it still occurred after I hacked in that statement at main. But for the past two, three days I've been using `boot` and as such launch a middleware repl to which I connect from LT remote nrepl. I have been my usual 'reckless' self by displaying the result of large sets of data inline and have yet to witness or experience a single BSOD. Either using powersh

[2017-02-08 11:40] robjens commented on #2186
What I suspected, seems to be the case. The detached JVM appears to be caused by failure to properly handle a socket disconnect. That is to say, something breaks, the client crashes and the server fails to realize this. Often I've had JVM running with CPU usage which became detached.

At an earlier point I arrived at this gut feeling, when tracking down other messages in LT console. This one came

[2017-02-08 13:12] robjens commented on #2186
Some more information from the repl:

[code]

Now I recon it could be that my use of Process Monitor runs interference, I am not sure. But it seems on a first glance, we don't properly check if files can be written to when caching data. I know this is a common problem on Windows, countless times I couldn't delete a stupid PDF (preview in explorer) due to being in use or have files just lock themse

[2017-02-08 13:45] robjens commented on #2186
AFAIK https://github.com/LightTable/LightTable/blob/8db0585cfaa857e594149be6833fe7f82bcc9616/src/lt/objs/files.cljs#L380 does not check for writable file state before attempting it. The `try...catch` suggests this isn't a very optimized fn to begin with. Of course there could be several reasons why a write fails but I presume it doesn't have to check if a file actually exists, if save makes a new

[2017-02-08 13:58] sbauer322 commented on #2186
You might be able to test this theory by writing a little snippet of code that attempts to save, and then throw in some logging for the callback you provide. I believe the callback is called even with an error.

If the save function is getting hammered, it may indeed cause a problem... though using `.writeFileSync` inside the save function could prevent locking (not certain). In any case, excessiv

[2017-02-13 00:06] sbauer322 commented on #1973
The following branch was created to better track work being done for this issue: https://github.com/LightTable/LightTable/tree/1973-update-clojurescript

Until a pull request is open, consider it a WIP and subject to change (and force pushes).

[2017-02-15 20:52] Mouvedia commented on #1973
Maybe release 0.9.0-rc so that we can have feedbacks. This seems like a break-prone update.

[2017-02-15 22:49] sbauer322 commented on #1973
I am hesitant to make a proper release candidate until the [upgrading is restored](https://github.com/LightTable/LightTable/issues/2138) in some form. That said, it would make sense to have this clojurescript upgrade merged into a 0.9.0-rc branch rather than master due to the potential for breakage as you mentioned.

If we get our upgrading fixed and implement something like this [edge release iss

[2017-02-15 23:41] sbauer322 commented on #2178
Closing as PR #2322 has been merged to address this.

[2017-02-15 23:41] #2178 closed

[2017-02-21 02:19] sbauer322 commented on #2319
The resulting command/behavior for this enhancement should be added to `eval.cljs`

[2017-02-23 23:00] robjens commented on #2313
@sbauer322 Cool. I just built LT again on Windows and I changed the light.sh script before running build.sh for the first time. On compilation/setup finish, it tries to run script/light.sh at the very end right? It seems it may not be using the local one though, I'm guessing it uses the git cloned script ...? Since it basically notifies right after the git activity...

![image](https://cloud.githu

[2017-02-25 03:55] sbauer322 commented on #2313
Oh, I believe the last `Cannot detect a supported OS` is coming from `script/build.sh` it will need something for MINGW as well... mentioned this further [here](https://github.com/LightTable/LightTable/pull/2323#issuecomment-282168324).

[2017-02-26 23:47] TimothyDJewell commented on #2030
@kenny-evitt I've put up a PR for this, though I did keep it in the build process, rather than the release.  I intentionally kept the build process without this rcedit.exe installed still working, albeit with console warnings about failures to rebrand.  For me, it would bother me to be testing an app and see the wrong branding.

[2017-02-28 15:58] deinspanjer commented on #2077
Same here.  I was really hoping to be able to use instarepl to evaluate the result of some es6 javascript, but can't get LightTable going with it. :/

[2017-03-02 03:36] sbauer322 commented on #2077
This seems likely to be an issue with the Javascript plugin... Unfortunately, the plugin itself is currently in need of a maintainer, thus the backlog of JS issues... but pull requests are welcomed for it.

There is also issue https://github.com/LightTable/LightTable/issues/2134 which seems to relate to the topic at hand of running ES6.

[2017-03-04 17:37] kevgathuku opened #2325 "Light Table unable to open recreated folder"
### Steps to Reproduce

 1. Open Light Table
 2. Click on the File menu item, then `Open folder`
 3. Choose a folder. It is now displayed in your workspace
 4. Right click on the folder in the workspace and select `Delete folder`
 5. Re-create the folder that you just deleted in the same location where the previous folder was
    e.g. in the terminal or in a `Finder` window with the same name as t

[2017-03-04 22:07] sbauer322 commented on #2325
I can reproduce this on Ubuntu with LT 0.8.1 as well.

Thank you for the thorough bug report, @kevgathuku!

[2017-03-05 04:20] sbauer322 commented on #2317
With PR #2318 merged, this issue is resolved.

[2017-03-05 04:20] #2317 closed

[2017-03-06 03:49] Mouvedia commented on #2258
@sbauer322 gotta remove the in progress label.

[2017-03-11 10:00] hit023 commented on #2217
@rundis , Clojure newcomer here : could you please describe what is expected to be included in the fix? I am familiar with the terms 'kill' and 'yank' (from Emacs).

[2017-04-07 07:50] olegst90 opened #2326 "No check marks in View menu list"
0.8.1, Ubuntu 16.04 x86_64

View menu contains items like console, workspace etc. When I press them and respective UI blocks appear, items in menu are not checked - for example, there is no check mark against Workspace item when workspace area is displayed.

[2017-04-07 08:01] olegst90 opened #2327 "No tab headers scrolling"
0.8.1, Ubuntu 16.04 x86_64, binary from Download link on the official site

When a lot of files are opened and there is not enough space for all tab headers, there is no way to scroll to previously opened tabs. One can only try to click the edge of the leftmost tab so that it scrolls a bit to the right and do the same thing over and over again do get to the first tab.

[2017-04-07 08:04] olegst90 commented on #2327
False report: tabs can be scrolled with a mouse wheel while toggling Shift.

[2017-04-07 08:04] #2327 closed

[2017-04-08 14:06] MarcusE1W commented on #2017
Hi.
I just checked this issue and I could reproduce it in Ubuntu 14.4.
However I have also checked Ubuntu 16.10 the currently latest version in the same way and the error does not come up.
I think this can be considered a Ubuntu 14.4 related issue and not a lighttable issue.
Maybe this issue can be closed?

[2017-04-08 14:27] sbauer322 commented on #2017
@MarcusE1W, just to confirm, which version of Light Table were you testing this with?

[2017-04-08 19:06] MarcusE1W commented on #2017
I have used the linux 64bit package 0.8.1 from the website.
The test was for both images like this:
1. download ubuntu image (14.4 first, then 16.10)
2.  run image in virtualbox
3. download lighttable from lightttable.com
4. unpack package
5. start lighttable
6. use menu to open new window.
7. close the newly opened window
8. use menu to open new window.

for 14.4 step 8 caused the above mentioned

[2017-04-10 08:59] knzudgt opened #2328 "Upload not working after fresh install with PPA"
## Report a Bug

Upload not working

### Steps to Reproduce

I installed as common user Light Table using the following steps, as described at [itsfoss](https://itsfoss.com/install-lighttable-ubuntu/):

[code]

I launch as common user Light Table from Application/Programming/Light Table

Once launched, Light Table informs that there is an update availble for version 0.8.1
Version installed is in f

[2017-04-10 21:40] Astara commented on #1984
What is keeping proxy support from being added back in?  I'm behind a proxy and some things won't connect (like extensions).

It's a simple proxy --- no authorization needed... just host:port in my browser.  Is that so complicated?

As for duplicating the env on your local machine... download squid from squid-cache.org.
It's not hard to build a basic version.   Would that duplicate the env you nee

[2017-04-10 22:48] olange commented on #1984
@Astara Try the workaround I described in [my above comment of 17.04.2016](#issuecomment-211029093). Assuming you have `npm` on your command-line, this recipe might solve your issue; replace `‹lighttable-dir›` with the path to the folder you installed LightTable into:

[code]

[2017-04-10 22:52] olange commented on #1984
@kenny-evitt proposed a PR #2208 to solve the issue and took the time to discuss it with core developers (many thanks by the way, I forgot to answer when I first read it last year), but the request was rejected because another request of the core developers is not fulfilled yet – they'd like to be able to test the proxy support in continuous integration tests. So our user requirement is subordinat

[2017-04-11 02:40] sbauer322 commented on #2017
I'm inclined to agree with you that it is no longer happening. I was able to open and close additional Light Table windows without issue via Ubuntu 16.04 and LT 0.8.1. Based on the time stamp of when the issue was opened, this issue seems to have been occurring in either 0.8.0-alpha, or 0.7.2.

If anyone is able to reproduce this error in 0.8.1 or later then I am happy to reopen.

Thanks for testi

[2017-04-11 02:40] #2017 closed

[2017-04-11 02:47] sbauer322 commented on #2328
@knzudgt, unfortunately 0.8.0 has an issue with its updating system where it does not update. In order to update, it is necessary to manually retrieve 0.8.1 from Light Table's [website](http://lighttable.com/) or the from downloads under the 0.8.1 [release tag](https://github.com/LightTable/LightTable/releases/tag/0.8.1).

Restoring the automatic updating is high on our priorities.

[2017-04-11 03:28] Astara commented on #1984
Olivier Lange wrote:

----
    They can setup squid and test through that -- or to really isolate a
client,
run it on a VM.

    I.e. the method is there.  If they want to set it up, they can.  But
like you
say, if they aren't willing to automate the test, I'd think they weren't
that
serious about automating -- and if using that as an excuse not to fix the
bug, then its pretty obvious they don't c

[2017-04-11 04:00] sbauer322 commented on #1984
Given that adding QA has been blocked by upgrading Light Table's internal ClojureScript to something remotely recent for at least a year, I have no qualms about reintroducing proxy support in the meantime.

In a sense, you are correct @Astara. None of the active maintainers are pained by the proxy issue so no one has taken care of it. The project is currently being run entirely on people's free ti

[2017-04-11 07:21] Astara commented on #1984
Scott Bauer wrote:

----
    They would probably have to attract a large enough user-base for
a sponsor to see it as worthwhile.

Do any of them run linux?  It's usually an included package in most
distros, which might be the easiest way.  I think even Cygwin (runs on
Windows) has squid in their list of offered packages.

Instructions would vary by distro to some extent.

Like Ubuntu, has a setup

[2017-04-11 08:02] mluisbrown commented on #1984
up when I scanned for extensions/plugins.  Does that go to a website
URL?  That might be the problem -- if it is going to some absolute port
and not using http(or https) as a transport, then they might have
more luck converting the extension-plugin scanner to http and web-requests,
but w/o delving into it more, not sure exactly what the problem is.

The problem is only with getting plugin metadata

[2017-04-11 13:29] sbauer322 commented on #1984
@mluisbrown - thanks for pointing out your PR and the steps for being able to test the fix. Assuming Charles works for Windows and Linux (it should), I will give it a try this week.

I do agree it is quite unfortunate that there have been several important PRs stagnating, which is why we intend to address all outstanding PRs this year as part of [Light Table's 2017 Roadmap](http://lighttable.com/2

[2017-04-14 01:53] sbauer322 commented on #2328
Closing this issue as a workaround has been provided.

[2017-04-14 01:53] #2328 closed

[2017-04-16 02:43] ahoffer commented on #2285
@sbauer322
I am not sure what behavior ctrl+shift+f should exhibit. Ctrl_shift+f open the Searcher, which is a new tab. The new tab is made active.

Should ctrl+shift+f close the Searcher tab and set focus to the tab on the left? This is what happens when you close the Searcher tab by clicking on the tab's "X" button.

Personally, I expected subsequent ctrl+shift+f invocations to open more Searche

[2017-04-16 18:52] yardstudio opened #2332 ""Failed to open path" when running from USB drive on Windows 64 bit"
## Report a Bug
LightTable running from USB drive  I:\PortableAPPS\lighttable-0.8.1-windows

### Steps to Reproduce

 1. place LightTable to USB drive_
 2. run it from USB drive

### Environment

Windows 7 64 bit

Light Table version
0.8.1
Binary version
0.34.5
Plugins directory
C:\Users\jaro\AppData\Roaming\LightTable\plugins

[2017-04-17 16:29] sbauer322 commented on #2285
Hmm, those are some good questions @ahoffer!

There are a couple different paths to pursue, but in hindsight, this issue should not have included the `Ctrl-Shift-F` Search. As you rightly pointed out, since the tab has an "X" button, it is not necessary to be able to close the Search tab via `Ctrl-Shift-F`... additionally, whatever keybinding already exists to close a tab should be able to handle

[2017-04-18 03:00] ahoffer commented on #2285
Agreed. Merge [PR 2330](https://github.com/LightTable/LightTable/pull/2330). When issue #2240 is resolved, do the same thing for search. I like Notepad++ collapsable/closable search results as well.

[2017-04-19 13:41] PearJam opened #2333 "LT Freezes When Opening - Ubuntu 15.04 64bit"
I installed LT and it appeared to operate normally. I was able to open files etc..

I wanted to disable the intro window so I looked it up, found - https://github.com/LightTable/LightTable/issues/1258 - and put the following in the 'users.behaviors' file:

:- {
     :app [:lt.objs.intro/show-intro]

     :editor []}

Now LT only shows the intro window lol. It won't open past that, including any ve

[2017-04-19 15:46] sbauer322 commented on #2333
Sorry to hear you are having some troubles!

Could you share the contents of your `user.behaviors` file via something like [Gist](https://gist.github.com/)?

Also, and I don't think this will necessarily help your issue, but there is an 0.8.1 release available via the [Light Table website](http://lighttable.com/). Release 0.8.0 managed to break the upgrading process.

[2017-04-19 15:58] sbauer322 commented on #2333
If it helps, here is default initial `user.behaviors` file is [here](https://github.com/LightTable/LightTable/blob/master/deploy/core/User/user.behaviors). Using the above file, you should simply be able to add the following to disable the welcome screen:

[code]

The formatting from the issue you linked might not be compatible with recent versions of LT. I did notice the  issue has a timestamp of

[2017-04-19 16:50] PearJam commented on #2333
Thank you so much for responding!!

Version 0.8.1 is the one I'm trying. The paste in the OP is when I was trying older versions to see if it corrected the issue. *All* versions hang the same way (stops at opening screen).

The users.behaviors file is 'stock'.
- I download 0.8.1 (or any version).
- Extract.
- Run "light" or "LightTable".
- Hangs on opening screen.

I agree that the formatting is d

[2017-04-19 16:52] sbauer322 commented on #2333
Just to confirm, LT was working until you started making changes to the `user.behaviors` file?

[2017-04-19 16:57] PearJam commented on #2333
Yes.

I downloaded it - it worked - I pasted old code - nothing works, not even a fresh install or older versions.

[2017-04-19 17:03] sbauer322 commented on #2333
Hmm, very odd. Assuming there are no significant changes to you wanted to keep, would you mind trying to delete the contents of `~/,config/LightTable` (or wherever your LT config folder is located) and then opening Light Table?

[2017-04-19 17:11] PearJam commented on #2333
IT WORKS!!!!!

You sir, are a coding-life saver!!

Wow.. I even know about the .config file and didn't think to check it. I thought I was loosing my mind lol.

Seriously, thank you so much..

Are you LT's author?

[2017-04-19 17:20] sbauer322 commented on #2333
Glad to hear it works!

I am not LT's original author, that was @ibdknox. As he is now focusing on [Eve](http://witheve.com/), Light Table has been transitioned to the open source community since release 0.7.0 in late 2014. I am one of the current maintainers.

[2017-04-19 17:26] sbauer322 commented on #1258
For anyone looking to disable the intro screen in later versions of Light Table, you simply need to add the following snippet to your `user.behaviors` file:

[code]

[2017-04-19 17:32] PearJam commented on #2333
Ahh, ok. Either way I plan on blogging about LT as an alternative to ST3 to help get the word out. I'll try to find a way to let you know when I do (it'll be a wile, I'm working on a new design).

Thank you again! I'll close this issue!

[2017-04-19 17:32] #2333 closed

[2017-04-22 02:02] Vitruvia opened #2334 "Can't connect when running clojure code or updating the clojure plug-in"
I am receiving an error whenever I try to run clojure code or update the plugin. My issue seems to be related to issue #851 and #1090, but it seems to be different from those and it is not fixed by the suggestions in these issues. I have included relevant information below, but let me know if you need more.

I had run into this problem earlier in the day when trying to evaluate some code, but only

[2017-04-22 02:06] sbauer322 commented on #2334
Could you post your `project.clj` here, or perhaps via [Gist](https://gist.github.com/)?

[2017-04-22 02:11] Vitruvia commented on #2334
I just included a link into the main post, at the description.

[2017-04-22 02:21] sbauer322 commented on #2334
Hmm, the first project.clj looks like what I have and it works fine for me. Based on conversation in the Clojurians Slack, I think something else is amiss and not the project configuration.

When you open up the plugin manager, are there any errors showing up in the console?

[2017-04-22 12:26] Vitruvia commented on #2334
No errors show when I open the plugin manager. I will try reinstalling the program just to see what happens.

[2017-04-22 12:39] Vitruvia commented on #2334
No change after reinstalling or after trying to evaluate code with antivirus turned-off.

[2017-04-23 15:27] jiacai2050 opened #2335 "SyntaxError: Unexpected end of input on Mac"
I install the latest version using command below:
[code]
Then I open lighttable, following error occurs in console:
[code]

[2017-04-24 01:05] Vitruvia commented on #2334
I decided to delete the interact folder to see what would happen, and the error message changed (more details in the original post).

[2017-04-24 17:42] arozhok commented on #305
Just install the Reminisce plugin via plugin manager. It reopens the files upon reopening LT

[2017-04-24 17:45] arozhok commented on #1131
I added [:app :lt.objs.app/run-on-init [:workspace.show]] to user behaviors and installed the Reminisce plugin via plugin manager. Reopens both the workspace and tabs with the previously open files

[2017-04-24 19:50] pedrorgirardi opened #2336 "Small UI tweaks - `font-family` and placeholder text"
I noticed that the `find bar` and the command palette `search` text looks different from the other parts of LT:

`find bar`

![screen shot 2017-04-24 at 16 12 35](https://cloud.githubusercontent.com/assets/585191/25355340/b03bac80-290c-11e7-9c31-0a45e574f3e9.png)

`command palette`

![screen shot 2017-04-24 at 16 16 43](https://cloud.githubusercontent.com/assets/585191/25355377/ca3d0ab6-290c-11e7-

[2017-04-25 02:47] sbauer322 commented on #2334
I'm not too sure what else could be the problem. I have had no luck in reproducing any of the error messages. :(

Maybe try deleting the contents of `C:\Users\<your_user_name>\AppData\Roaming\LightTable`, where `<your_user_name>` is the appropriate path?

[2017-04-25 02:49] sbauer322 commented on #2335
Unfortunately, I do not have access to a Mac. @rundis or @cldwalker, can you look into this?

[2017-04-25 02:52] sbauer322 commented on #2336
I'm not aware of this being intention, but I would be open to a pull request correcting both the font and capitalization. I believe the first letter should be capitalized as it is consistent with other parts of LT.

Thanks for noticing this!

[2017-04-25 03:11] sbauer322 commented on #2332
I was able to reproduce this with a USB drive only when `C:\Users\jaro\AppData\Roaming\LightTable\` directory is missing.

This should only happen on the first launch LT of `C:\Users\jaro\AppData\Roaming\LightTable\` or whenever that directory is missing. PR https://github.com/LightTable/LightTable/pull/2316 has been merged to address this message. The fix will be including in the upcoming LT rele

[2017-04-25 03:11] #2332 closed

[2017-04-25 11:30] pedrorgirardi commented on #2335
Hi @jiacai2050,

I did the same on my Mac running macOS Sierra but I couldn't reproduce the error.

[2017-04-25 11:35] pedrorgirardi commented on #2336
Cool! I will submit a PR then.

Thanks, @sbauer322!

[2017-04-25 14:59] jiacai2050 commented on #2335
My mac is also running Sierra `10.12.4 (16E195)`.

I open `Developer Tools` window, and find an error:

[code]
But I can `curl http://localhost:8315/json` successfully with following response:
[code]

Is there anything wrong with my Mac

[2017-04-26 21:48] Vitruvia commented on #2334
No luck =(

[2017-04-27 09:46] rundis commented on #2334
Perhaps you have some conflicting deps/plugins in `~/.lein/profiles.clj` ? (Assuming you have installed leiningen at some point, and `~` being your home folder)

[2017-04-27 11:05] Vitruvia commented on #2334
I have lein but it is a fresh install. I checked the file and there are no plugins there.

[2017-05-10 22:08] pndpo commented on #2286
I've got a real simple fix for this locally. I read through the docs and didn't find anything on github PR request flow. Is it fine to just PR from my fork and reference this bug?

[2017-05-10 23:27] sbauer322 commented on #2286
Yes, that flow sounds perfect!

[2017-05-11 22:58] jkroes commented on #2307
This is an issue on the latest version of macOS (10.12.4) at the very least. Discussion on https://github.com/tmux/tmux/issues/475 offers the following code to prevent the error messages: `export EVENT_NOKQUEUE=1`. Unfortunately, this does nothing to prevent new windows from opening.

[2017-05-18 01:44] sbauer322 commented on #2307
Thank you for confirming the issue exists, @jkroes.

[2017-05-18 21:39] #2212 closed

[2017-05-18 21:40] mluisbrown commented on #1984
Thanks @sbauer322 for merging the PRs! I believe this issue can now be closed, finally 🎉 . I already closed #2212.

[2017-05-22 00:34] sbauer322 commented on #1984
Closing as PRs #2214 and #2331 have been merged and should address this.

[2017-05-22 00:34] #1984 closed

[2017-06-08 11:35] 24king commented on #3
`so do I, `, for execute `sbin/start-yarn.sh`

[2017-06-08 11:36] MarcusE1W opened #2338 "some keymappings not working with developer version on linux"
Some keys do not work as defined in the keymap.

So far I have found:
- auto-complete with tab is ignored (you only get the tab)
- ctrl-d deletes the current line instead of showing documentation

This has been tested with Archlinux (git AUR package) and Linux Lite (based on Ubuntu) following the guide for a developer install.
Standard keymaps have been used for testing.

Interestingly, when you i

[2017-06-09 18:17] idkjs opened #2339 "console error on initial launch and there after"
## *Issue Template*
Mac Sierra.
Light Table version
0.8.1
Binary version
0.34.5

## Report a Bug

Console show error on launch. Lighttable still runs without error but thought i would share.

### Steps to Reproduce

 1. _Download Binary from lighttable.com

 2. _Click on lighttable to open

3. _Console show error:
[code]

[2017-06-09 18:29] #2339 closed

[2017-06-11 09:01] shahzadthathal opened #2340 "Is php twig template is supported by light table editor?"
Hi,

Is PHP twig template is supported by light table editor?

Thanks

[2017-06-12 21:46] rundis commented on #2340
I don´t think so. Should be quite easy to create a simple plugin to add the codemirror mode that exists to give some support though

[2017-06-12 21:46] #2340 closed

[2017-06-13 10:43] kolya-ay commented on #2340
@rudis, @shahzadthathal, actually Codemirror already has support for twig templates [since 5.4](https://github.com/codemirror/CodeMirror/releases/tag/5.4.0). However LT still uses obsolete 4.7.0 version. It should definitely be updated to keep LT alive.

[2017-06-22 14:15] BillBarnhill opened #2341 "Opt-in Lein project discovery on first execution"
## Request a Feature

Opt-in Lein project discovery on first execution

### Story

As a new LightTable user, I want to run LightTable for the first time and be prompted with a dialog box asking if I want LightTable to search for existing Clojure projects, then have LightTable find these projects and add them to the current workspace, so that LightTable user on-ramping is easier, to support increas

[2017-06-22 14:57] sbauer322 opened #2342 "Dragging a tab outside of Light Table produces incorrect text"
As seen [here](https://t.co/saY4lyaUzb), the string "dummy" is used. The expected behavior would be the path of the document or just the document name.

Confirmed the behavior on Windows 8.1 when dragging to FireFox and Chrome. Dragging appears disabled when dragging to other applications like Notepad and Notepad++.

[2017-06-28 15:40] somenxavier opened #2343 "I cannot see the names of the files properly"
Version 0.8.1 when I open a file I see this
![captura de pantalla_2017-06-28_17-38-28](https://user-images.githubusercontent.com/89915/27646425-dd5cfe40-5c28-11e7-9742-276b6b550f26.png)

[2017-06-28 15:50] sbauer322 commented on #2343
That certainly is an odd one. Can you provide details about your operating system, and OS language settings (if applicable)?

[2017-06-28 16:27] somenxavier commented on #2343
Arch Linux: https://aur.archlinux.org/packages/lighttable-bin/
In which commit did you fix it? Perhaps in [lighttable-git](https://aur.archlinux.org/packages/lighttable-git/) is fixed.

[2017-06-29 14:16] somenxavier commented on #2343
In `lighttable-git` we have the same issue. Confirmed as I installed

[2017-06-30 17:41] MarcusE1W commented on #2343
I am using Archlinux as well and experience the same issue. However, I am pretty it has worked before and as the Lighttable binary package has not changed for a while I suspect it might have to do with Archlinux ?

[2017-06-30 19:42] pitalig commented on #2343
Same issue here in Manjaro Linux.

[2017-07-04 10:07] yamboy1 opened #2344 "How do I build this from source?"
I would like to install this on a Raspberry Pi. It uses an ARM processor, so the x64 binary won't work and I would like to install this from source. However I have no experience using clojure. How do I do this?

[2017-07-04 11:08] rundis commented on #2344
Check out this page (and note the prerequisites!)

[2017-07-04 11:09] rundis commented on #2344
No idea whether it will work though...

[2017-07-06 23:20] celliern commented on #2343
Same error. Trying to evaluate inline python code leads to unicode error.

I highly suspect that lighttable is built with py2 and has a conflict with ArchLinux default python env (which is py3).

I will try to force py2 use with the instruction on the [Arch Wiki](https://wiki.archlinux.org/index.php/python#Dealing_with_version_problem_in_build_scripts)

[2017-07-10 13:55] kenny-evitt commented on #2196
Please un-assign me.

[2017-07-10 13:55] kenny-evitt commented on #2138
Please un-assign me.

[2017-07-10 13:56] kenny-evitt commented on #2133
Please un-assign me.

[2017-07-10 13:57] kenny-evitt commented on #2056
Please un-assign me.

[2017-07-10 13:57] kenny-evitt commented on #1953
Please un-assign me.

[2017-07-10 13:58] kenny-evitt commented on #1874
Please un-assign me.

[2017-07-12 07:08] rovf opened #2345 "Light Table for Windows hangs on startup."
Yesterday, LightTable on Windows worked. Today, it hangs after start up, showing only the splash screen:

![capture_20170712_085810](https://user-images.githubusercontent.com/6795665/28105663-a8bb1c90-66e0-11e7-9ac5-aa105c73582f.jpg)

I can't even close it with the "close" button on the window decoration, but have to use the Windows Task Manager to forcefully kill it.

I could restart Light Table

[2017-07-14 16:56] sbauer322 commented on #2345
Hmm, try clearing out the contents of `%APPDATA%/LightTable`. In particular, the directory named `plugins`.

[2017-07-17 12:03] rovf commented on #2345
This has the only effect that LightTable displays a huge list of missing plugins (the onces which had been in the directory named "plugins" before) and then hangs.

I also tried to remove just SOME plugins. In this case, the list which LightTable complains about is - of course - shorter, and I can see two choices on bottom: "Cancel" and "Install missing plugins". Clicking on either one has not eff

[2017-07-17 12:06] rovf commented on #2345
I have uploaded a screenshot of how LightTable looks like after I had cleaned the plugins directory and restarted LightTable:

![capture_20170717_140501](https://user-images.githubusercontent.com/6795665/28267163-0f52afce-6af9-11e7-9953-a71e235be19c.jpg)

[2017-07-17 12:11] rovf commented on #2345
There is one more odd issue with this: I really had trouble getting this screenshot. I used Xnview to take the screenshot, and set it to "take screenshot of active window", and the result was that only part of the LightTable Window was visible, but the other part showed the windows below! I then reverted to the mode, where I can manually mark the rectangle to be included in the screenshot, and thi

[2017-07-18 01:27] noxecane commented on #2343
Anyone with a fix for this, was trying this for the first time and this is what I faced

[2017-07-18 02:56] celliern commented on #2343
I'm sure it is caused by lighttable asking for py2 and archlinux giving py3 as default. Did not achieve to fix it to... Maybe the devs can do something...

Le 17 juil. 2017 21:27, à 21:27, Arewa Olakunle <notifications@github.com> a écrit:

[2017-07-19 01:02] noxecane commented on #2343
I have given up already, gone back to emacs... Hope  it gets fixed regardless

[2017-07-19 13:20] 13160735575 opened #2346 "console don't input"
## on ubuntu llight table's console don't input
`(read-line)`

[2017-07-20 06:52] matthewwooller commented on #2343
Same issue here - has rendered LightTable unusable for me. I have tried both pre-built and own-built binaries, to no avail. Running Fedora 26 - Gnome.

[2017-07-22 01:38] uditrpanchal opened #2347 "all menu toolbars are hidden in ubuntu 16.04"
## *Issue Template*

This section covers general topics related to all issues, regardless of their subject.

Note that issues for this repo are for bugs with or feature requests for LightTable itself. Bugs or features for a specific language or other plugin should be submitted to their respective GitHub repo e.g. [Clojure](https://github.com/LightTable/Clojure), [JavaScript](https://github.com/Lig

[2017-07-22 18:47] rundis commented on #2347
Why did you ignore the entire issue template and just include it verbatim ? (hint: it's not very helpful)

Anyone else experiencing the same issue. As in is it reproducible ?

[2017-07-22 18:58] rundis commented on #2343
Ouch. Well LT has changed for a quite a while, so it must be something platform/os related.  I'll have a go at a few distros to see if I can reproduce.

[2017-07-22 20:19] rundis commented on #2343
Just installed fedora 24. Worked as expected. Same with ubuntu (14 though).

[2017-07-22 20:27] rundis commented on #2343
@celliern how is this the same issue. Evaluating python code is surely not the same as the file dialog not working (as in not showing file names properly) ?  That sounds like a problem with the LT python plugin... which btw has several reported issues related to problems with python support (and which is lacking a maintainer btw !).

[2017-07-22 20:34] mwooller commented on #2343
I have a workaround which is to start lighttable from a cli and supply a directory path as an argument, that means I don't need to go near the file dialog. Thank you for looking into this.

[2017-07-22 21:21] celliern commented on #2343
Just a guess based on the fact that all the issues seems to happen with archlinux based distribution which has python3 default and one of the notable differences between py2 and py3 is how it deal with Unicode.

It's a clue, nothing more..

⁣Envoyé par TypeApp ​

Le 22 juil. 2017 16:27, à 16:27, Magnus Rundberget <notifications@github.com> a écrit:

[2017-07-25 13:53] richard-delorenzi opened #2348 "Does not do what it says on the tin."
I just tried light table (0.8.1), for the first time. I was expecting something special.
First I tried python. At first I could not get it to work at all. Then I realised I need to keep pressing ctrl-enter. Is this what I have to do, to get basic feedback.

Then I tried html, I managed to get feedback in another tab, but I have to keep switching tabs. (I can drag a tab, but nothing happens. Does n

[2017-07-25 14:01] sbauer322 commented on #2348
I don't use either of those plugins currently, but it is possible that is
their intended behavior.

Both the Python and HTML plugins (and pretty much everything else) are in
need of maintainers and have not had much support for quite some time... so
the user experience may be lacking at this point.

Having split windows opened and being able to drag tabs around should be
possible. If you right cli

[2017-07-25 23:00] sbauer322 commented on #2346
Closing as the issue currently lacks sufficient information. Is this a bug? If so, what are the steps to reproduce?

If you mean that the Light Table console does not accept user input, then yes that the current anticipated behavior.

If additional information is provided then we will be happy to reopen.

[2017-07-25 23:00] #2346 closed

[2017-07-25 23:04] sbauer322 commented on #2344
I am not aware of ARM support either and am dubious that the current build will work without additional tweaking.

If you had and luck or find out additional information then please feel free to update us on your findings.

Closing this issue @rundis provided the current build instructions.

[2017-07-25 23:04] #2344 closed

[2017-07-25 23:05] sbauer322 commented on #2343
I would concur that this is likely an issue with some combination of py2/py3/the python plugin/ArchLinux.

[2017-07-25 23:10] sbauer322 commented on #2341
Just a passing observation, but this might be better off implemented as a plugin, as opposed to written directly into the Light Table core. Too soon to say.

Though Clojure is one of the main languages of Light Table, there are still other language plugins still in use and their users may not be interested in searching for Clojure projects.

[2017-07-25 23:14] sbauer322 commented on #2345
This is quite the odd situation. I've been wholly unsuccessful at reproducing this problem. If possible, could you provide a list of all your Light Table plugins? It might be availabe within `%APPDATA%/LightTable/User/plugin.edn`.

[2017-07-26 00:19] sbauer322 commented on #2338
You are absolutely correct. It looks like a regression was introduced in commit https://github.com/LightTable/LightTable/commit/75d65c35edab455dbca5a62250036b0f55dc51cf, which has not been in an official release yet.

[2017-07-26 07:36] rovf commented on #2345
plugin.edn uploaded .....

[plugin_edn.zip](https://github.com/LightTable/LightTable/files/1175775/plugin_edn.zip)

[2017-07-29 13:04] sirolf2009 opened #2349 "FileChooser Character Encoding"
I've just downloaded light table from the official repo, version 0.8.1 for linux and my filechooser doesn't display any text. I'm running Parrot OS.
[code]
![screenshot at 2017-07-29 15-00-53](https://user-images.githubusercontent.com/3534736/28745026-401a4764-746f-11e7-92f1-f4cc0c1ee878.png)

[2017-07-29 13:08] sbauer322 commented on #2349
We seem to be having the same problem with [ArchLinux](https://github.com/LightTable/LightTable/issues/2343) as well.

Would you know what version of python you have installed on your system?

[2017-07-29 13:09] sirolf2009 commented on #2349
Yeah
[code]

[2017-07-29 13:12] sbauer322 commented on #2349
Thanks!

Since this is occurring on at least three linux OSes at this point, I am going to close this issue in favor of https://github.com/LightTable/LightTable/issues/2343.

[2017-07-29 13:12] #2349 closed

[2017-07-29 13:12] sbauer322 commented on #2343
Happens on ParrotOS as well https://github.com/LightTable/LightTable/issues/2349

[2017-07-29 13:14] sbauer322 commented on #2343
Potentially a problem with our (rather old) electron version given that the character encoding issue is limited to the file chooser, which comes from electron.

[2017-07-29 13:17] sbauer322 commented on #2345
I can't seem to open the zip file. Could you upload the contents of `plugin.edn` via something like [Gist](https://gist.github.com/)?

[2017-07-31 10:11] rovf commented on #2345
Done:

https://gist.github.com/rovf/9ba060f840fe06416d7715aacac74f3a

[2017-07-31 14:22] bici-zizilla commented on #2343
Happens the same on Fedora 26.
Tell me if I can do further research that can help fixing this issue.
Thanks for the fix in advance.

[2017-08-01 15:24] matthewwooller commented on #2343
Interestingly the self same problem can be seen with another Electron based project, GitKraken. It is certainly electron related and I am wondering if I should raise the issue with them...

[2017-08-01 20:07] sbauer322 commented on #2343
I've only used GitKraken on Windows 8.1, Windows 10, and Ubuntu so I cannot confirm if they have a problem but Electron would indeed be a common thread between the two.

[2017-08-04 18:42] #2347 closed

[2017-08-05 14:51] sikucing commented on #2343
same issue here (on antergos)
and i agree with @sbauer322, i also suspect electron that caused this problem.
i experienced the same bug with pingendo, which as far as i know is another electron based apps

[2017-08-07 02:40] pacuna commented on #2343
same issue with Fedora 26 and Gnome

[2017-08-07 18:17] azizzaeny opened #2350 "Eval clojure in Readme.md And Block Selected Eval"
How do you eval if specified fileTypes not in context...
and expected result of select text then eval... is recursively send individualy block of code and get inline result rather than  single result in the end of selected text

example:
i want to eval just inside markdown code

nb: see comment below
readme.md
[code]
[code]

[2017-08-11 11:44] sirolf2009 commented on #2343
Just bumped into the same issue on debian
![screenshot from 2017-08-11 13-24-36](https://user-images.githubusercontent.com/3534736/29211729-0bc53c36-7e9b-11e7-81df-d66a9b7f0430.png)
It's strange though, because I don't think I had this issue a few days ago. I think it came after installing some themes, but after playing around a bit in tweak tool I didn't manage to revert it.
[code]

[2017-08-14 05:06] greyhands2 opened #2351 "each time i try to open a file or folder it shows boxes instead of the file or folder names"
## *Issue Template*

This section covers general topics related to all issues, regardless of their subject.

Note that issues for this repo are for bugs with or feature requests for LightTable itself. Bugs or features for a specific language or other plugin should be submitted to their respective GitHub repo e.g. [Clojure](https://github.com/LightTable/Clojure), [JavaScript](https://github.com/Lig

[2017-08-14 11:40] MarcusE1W commented on #2351
Hi, I believe you have the same issue as already reported in #2343

[2017-08-14 12:30] greyhands2 commented on #2343
so am assuming there is not any solution to this problem??

[2017-08-14 15:15] MarcusE1W commented on #2343
I just found an issue raised for Electron describing the above mentioned problem with GitKraken. Unfortunately the advise was to build the programme with the latest Electron version. (9616 of the Electron issue tracker)

[2017-08-14 15:19] MarcusE1W commented on #2343
As LightTable has not changed, and uses an old Electron version that has (can) not changed, what outside of the LightTabe / Electron envirnomnet could have trigered the issue?

[2017-08-14 15:31] MarcusE1W commented on #2265
Hi @1dot75cm. Have you progressed this any further ? Did it work eventually ?

[2017-08-14 17:28] MarcusE1W commented on #2343
So, I have digged a bit. To start, the `Save` dialoge shows the same behaviour. LightTable uses the Electron function `showOpenDialog` and `showSaveDialog` in file dialogs.cljs. The Electron function description can be found here: https://xwartz.gitbooks.io/electron-gitbook/content/en/api/dialog.html

As far as I understand Electron uses GTK+ on linux for the native system dialogs. From there I ha

[2017-09-05 14:37] endersaka commented on #2087
Same problem. Here is the log:
[code]

And this is the source code. "bundle.js" is just a bundle generated with Browserify and contains three.js e and the Detector.js example. The bug appears when I press COMMAND-S (platform is Mac OS X 10.12.6) to save the changes to this code.

[code]

[2017-09-20 13:35] MeSans commented on #2343
Issue still persists in lighttable-bin 0.8.1-1

Anybody know of a workaround?

[patriks@patriks-pc ~]$ lsb_release -a
LSB Version:    n/a
Distributor ID: ManjaroLinux
Description:    Manjaro Linux
Release:        17.0.5
Codename:       Gellivara
[patriks@patriks-pc ~]$ python3 --version
Python 3.6.2
[patriks@patriks-pc ~]$ python --version
Python 3.6.2

[2017-09-29 09:45] ferdavid1 commented on #2343
Same issue on ArchLinux, tried both the lighttable-bin and lighttable-git packages.

[2017-10-01 18:20] yilmazedis opened #2352 "I received error "the system cannot find the specified file" in clojure scripts"
![capture](https://user-images.githubusercontent.com/15719990/31057573-a5659690-a6ed-11e7-9c1f-4ac5d02320dc.PNG)
Altought I have working same directory my clojure file and examp.txt . i received "the system cannot find the specified file" always. What should i do. please help.

[2017-10-11 05:45] tdan commented on #2343
Follow @MarcusE1W comment, downgrading [pango](http://www.pango.org/) does solve the problem for now.

For **Fedora 25** users:
`sudo dnf install pango-1.40.3-1.fc25.x86_64 pango-1.40.3-1.fc25.i686 --allowerasing`

[2017-10-12 00:44] ArchI3Chris commented on #2343
Same problem. Again on Arch. And I don't think downgrading is an easy or useful solution. I have like 15 packages depending on pango. So, I have to expect downgrading to mess up my whole system. No thanks. I guess that means, back to Sublime Text 3 and the annoying "purchase me". I most certainly don't start downgrading my whole system (and manually!) to get one editor working. Ain't gonna happen.

[2017-10-12 04:32] bigDaddyS1oth opened #2354 "Updating Clojure Issues"
I was attempting to update the Clojure plugin, and I ran into some errors when I pulled up the console after trying to update it by clicking the "update" button in the Plugin View that wasn't seeming to work. **However** right as I exited Light Table and started it up again to see if anything changed, there was no update option for the Clojure plugin. So while I'm not entirely sure what happened,

[2017-10-17 05:17] robertmorelli opened #2356 "light table just instantly shits itself and dies (dead on arrival)"
I was using light table earlier today and i reloaded it because of the issue with half screen on windows 10 and it just sat on the loading screen and did nothing. I did ye olde, tried and true, turn it off and on again...no beans. I tried reinstalling it...no beans. tried looking for useful threads on the subject...no beans. If it helps—I was messing around with adding custom themes in the user.be

[2017-10-18 06:01] rundis commented on #2354
Looks like the second error is misleading. The actual problem seems to be that there is a theme plugin (neon-lt) in the plugin manager which you tried to install ?, that points to a non existing github repo (hence the 404 in the first error)

[2017-10-23 00:22] MarcusE1W commented on #2352
Could you check the file name? Your directory is called 'example'. And you check for 'exampl.txt'. Is the missing e in the filename intentional?

[2017-10-26 21:54] AaronKaa commented on #2356
I can't help but this is officially the best issue subject on github !!

[2017-10-27 07:04] rundis commented on #2356
Sounds like you might have "corrupted" your user.behaviors file. To uninstall completely you need to delete the folder %APPDATA%\LightTable (otherwise when you re-install LT will just reuse the settings file already in that folder).

[2017-10-30 07:24] lawrenceagles commented on #2343
I will go with Archi3Chris. Downgrading is very expedient and could mess up more things just to get one text editor working. I just upgraded my light table, but my hope of seeing  this bug fixed was dashed. I'm running KDE on Antergos and I ve been waiting for this bug to be fixed. I guess i'd be rocking my atom till they are ready.

[2017-10-30 12:08] ArchI3Chris commented on #2343
BTW, file drag&drop doesn't work for me either. Which makes it an even bigger problem.

[2017-11-01 16:34] dosmoc commented on #2343
It appears that gitkraken [resolves](https://github.com/Azd325/gitkraken/pull/48) the issue by embedding a particular version of pango and linking to it in the project. If upgrading electron is not feasible, maybe setting LD_LIBRARY_PATH to load the correct library might work.

[2017-11-04 18:18] awsdert opened #2357 "Projects, Typewords & Wildcard support"
## Request a Feature
Languages like C/C++ that support things like typedefs/defines should have a parameter for listing typewords (like in Notepad++) and also permit a wildcard based definition such as *_t. An example would be in say a lightable.json file with the following:

<code>
{
  "name": "Hello World Example",
  "FolderContentsIsProject": true,
  "C": {
    "std": 1999
  },
  "C;C++": {

[2017-11-05 04:01] ArchI3Chris commented on #2343
Maybe in this case it's just me, but what you suggest, dosmoc, does not work for me. I did update the key for libcurl-openssl-1.0, install it, install gitkraken, update electron, set LD_LIBRARY_PATH, and still have the same issue.

[2017-11-12 07:03] robertmorelli commented on #2356
alright rundis, ill give that a try. Thanks for the help...

sub note: i've been using a laptop for the last couple weeks so light table was working on that

sub sub note: i broke my hand and thats why i was bringing a laptop everywhere (to take notes (it's my right hand thats broke (4th metacarpal )))

[2017-11-16 19:47] WorldsEndless commented on #2343
Confirmed problem. Using OpenSUSE Tumbleweed/Plasma 5 (KDE). I just installed fresh, hoping it might help me teach students Clojure without the learning time of my Emacs environment. This is a show-stopper for me exploring the option, though.

[2017-11-21 08:13] christiaan-janssen commented on #2343
Confirming on Ubuntu 17.10 with Gnome3 / Wyland with a fresh install.

[2017-11-21 17:39] ipsquare commented on #2343
I was trying to reproduce the issue. Lighttable on my Ubuntu 16.04 looks like this at moment:
![light-open](https://user-images.githubusercontent.com/4143146/33087555-ce5318a0-ce9f-11e7-89a4-e4a9ef7c9a77.jpg)

[2017-11-21 20:10] ArchI3Chris commented on #2343
I think we can safely assume, this is because you are 3 versions behind and using an outdated setup. Just before you christiaan-janssen stated, that in 17.10, which is the current version, the problem is present.

[2017-11-21 20:12] ArchI3Chris commented on #2343
Is it just me or is it really interesting, that this seems to be a major problem in current Linux versions, yet the issue hasn't even been assigned to anyone in like 5 months?

[2017-11-28 09:09] danjohansson commented on #2186
I noticed that on windows Lighttable is using 32bit electron even if you run 64bit windows.
Do you experience these lockups on 64 bit Lighttable as well?

I build in MinGW instead of cygwin so maybe thats why the arch lookup does not work as it should?

You can get Lighttable in 64bit by hardcoding
deploy\electron\node_modules\grunt-download-electron\tasks\download-atom-shell-task.coffee
getArch =

[2017-11-28 17:01] denis6705 opened #2358 "Trouble with jre 9"
LightTable cant connect to the nrepl when I use jdk 9.
When I try evaluate expression got:
-----------------------------------------------------------------------------------------
     We couldn't connect.
Looks like there was an issue trying to connect to the project. Here's what we got:
java.lang.ExceptionInInitializerError
	at dynapath.defaults__init.load(Unknown Source)
	at dynapath.defaults_

[2017-11-29 10:59] dukex commented on #2343
@ArchI3Chris @somenxavier @MarcusE1W @celliern @noxecane @pitalig @pacuna and everyone else, I fixed it using the same approach the gitkraken did on https://github.com/Azd325/gitkraken/pull/47, my PR is here https://github.com/LightTable/LightTable/pull/2359. I create a release for linux you can download from https://github.com/megafono/LightTable/releases/tag/0.8.1-pango-fix

[2017-11-29 23:11] dukex commented on #2343
@ArchI3Chris Nice advice man, thanks! But, I read all comments/suggestions, I clicked in links to the others same issues, etc.  If you really take a look in PR, you will see I just embedded the `libpangoft2-1.0.so.0.4000.5` and use it only with LightTable, your system will not be changed and nothing will be downgraded. I sent a suggestion if will don't accept it, good for you, but please read the

[2017-11-30 00:21] ArchI3Chris commented on #2343
I see. So, you are not offering a solution to a problem. You are offering a master's degree in "how to get LightTable up and running". Because obviously I missed, that you delivered research material? And everyone who wants to use LightTable needs to be an expert developer. Because obviously in your comment 13 hours ago you clearly stated, that you are using lipangoft ... uhm, whatever that is. An

[2017-11-30 01:20] ArchI3Chris commented on #2343
Allow me to present you with a screenshot of
![lighttable-0 8 1-pango-fix](https://user-images.githubusercontent.com/26651111/33408125-fb4603fa-d574-11e7-8493-e311e4855b85.png)
your solution. I guess that should fix this dialog ...

[2017-12-06 23:17] trondhindenes commented on #2343
I can repro on Ubuntu 17.10.

[2017-12-07 02:31] ReallyComeOn commented on #2343
Confirmed on Solus 3 Budgie/Gnome. Hope this gets fixed soon!

[2017-12-10 00:11] atorralb commented on #2356
lol, this is how issues should be explained... forget ITIL

[2017-12-13 05:34] davidwords opened #2360 "tofu in file dialog, 0.8.1"
### Steps to Reproduce

 1. Open file, or open folder
 2. Tofu! (See screenshot.)

### Environment

| Info                             | Details |
| -------------------------------- | ------- |
| Light Table version              |   0.8.1      |
| Operating system                 |  Ubuntu Linux 17.10       |

#### Relevant Plugins

This is a new, plain-vanilla installation, from tarball.

![light

[2017-12-19 08:57] maddin79 commented on #2360
Same here ...

[2017-12-28 01:12] hickscorp commented on #2343
Same issue here, Xubuntu 17.10.

[2017-12-29 10:15] tbalashov commented on #2360
any ideas?

[2017-12-29 13:39] BayyinahAwesome commented on #1326
Bro/sis acKalker, I opened a github account just so I could thank you for this thing!!!!!!!!!!!

[2018-01-03 13:38] MarcusE1W commented on #2360
A known problem, unfortunately not solved. Please see Issue #2343 and PR #2359

[2018-01-11 15:07] russianhun commented on #2343
Just a shoutout, the above-referenced brackets bug has been resolved (it was a very similar issue). It might just be worth having a look at their solution... (Not that they've referenced the solution in any obvious way....)

[2018-01-11 16:32] ArchI3Chris commented on #2343
So, this is what just worked for me:
https://github.com/ArchI3Chris/LightTable-Square-Fix

[2018-01-12 19:53] russianhun commented on #2343
Your square fix squarely fixed the issue for me. Thanks.

[2018-01-14 20:50] dadetka commented on #2358
Had the same

[2018-01-16 11:58] Miku25 opened #2361 "File missing in lighttable's workspace view"
I have a folder with 4 files of which only 3 show up in Lighttable's workspace view. All the files have the exact same access rights etc.

Steps to reproduce
1. Clone the certain repo from git
2. Add the folder as a workspace through Lighttable
3. Navigate to the certain folder

Very strange bug and might be hard to pin down but took me some time before I realized this was the case and can be very

[2018-01-16 13:13] bakirillov commented on #2343
@ArchI3Chris It doesn't work for me.

[2018-01-16 16:53] laurenblackfox commented on #2343
@ArchI3Chris Absolutely worked for me :)

[2018-01-20 10:19] ztickm opened #2362 "Uninstall button partly covered up by scrollbar in plugins tab"
## Report a Bug

When hovering over the uninstall/source buttons in the plugins tab, the word "uninstall" is truncated/ covered up by the scroll bar (see attached image), it needs more space; either that or you forgot the last letter.
![screenshot from 2018-01-20 11-10-23](https://user-images.githubusercontent.com/7467165/35182362-9544b222-fdd3-11e7-8357-a625acd2b4f2.png)

### Steps to Reproduce

[2018-01-22 17:25] rundis commented on #2361
Could it it be that your missing file matches the following regex : `"^\\.|\\.class$|^target/|svn|cvs|\\.pyc$|~$|\\.swp$|\\.jar$"`

Files matching this regex is by default filtered from the workspace/file tree.

[2018-01-26 10:05] DanielSokil commented on #2343
Same Issue on Ubuntu 17.10, Fixed Thanks to https://github.com/ArchI3Chris/LightTable-Square-Fix

[2018-01-30 18:34] chrisfjones commented on #2358
Seems this is due to https://github.com/technomancy/leiningen/issues/2149
This works for me:
```$ LEIN_SKIP_BOOTCLASSPATH=true open /Applications/lighttable-0.8.1-mac/LightTable.app```

[2018-01-31 14:50] sayes2x commented on #2343
I have the same issue on Ubuntu Studio 17.10. I tried the LightTable Square Fix and it did not work. Did I do something wrong? There was no LightTable folder inside my /opt folder, so I created a LightTable folder (/opt/LightTable), downloaded the 2 files, and moved them to the /opt/LightTable directory. Is there a /opt/LightTable folder somewhere within my file system that I should put these file

[2018-01-31 17:12] ArchI3Chris commented on #2343
Hey sayes2x. I'm not sure why it did work for DanielSokil on Ubuntu 17.10 and not for you on Ubuntu Studio 17.10. Maybe @DanielSokil can help us out here? However, it seems Ubuntu or some installation methods (ppa? .deb?) are installing the application in a different way than Arch Linux does. If the folder /opt/LightTable is not there, creating it won't solve the problem for you. In my case (Arch

[2018-01-31 17:52] sayes2x commented on #2343
@ArchI3Chris, thank you for responding and taking the time to update update your fix for this issue.

[2018-01-31 18:35] ArchI3Chris commented on #2343
Thanks for the response. Interesting. I just checked everything and everything seems to be working fine on my end. File size is correct. Download, extraction, execution of LightTable works. But there seems to be a general issue with zip files. So, I've uploaded it as a tarball now. Hope that solves the problem ;)

[2018-01-31 19:34] sayes2x commented on #2343
Thank you again Christ for your response and efforts with this. I am sorry, but I cannot get either file to open. I have even uploaded the files to 6 tools online that claim to be able to unzip (or untar, ungz) files. None of them worked. I kept getting an unsupported file error message.

[2018-02-05 13:31] Miku25 commented on #2361
So it would seem. Still annoying, even if intended, that naming a file "cvsubview" makes it dissapear entirely from the view.

[2018-02-16 22:07] wff75 opened #2363 "Cannot open file or folder"
After downloading and extracting Light Table on Win 10 (Version 10.0.16299) I was ready to try out this seemingly cool editor. But, I couldn't even open a javascript file...

 1. Open File -> Select xxx.js and get the following msg in the bottom of the window saying the file does not exist.

 2. Open Folder -> Select a folder with multiple javascript files and you see the folder in the workspace.

[2018-02-18 07:32] franklima260 commented on #2343
@ArchI3Chris

Thanks so much for making this fix!

What is the underlying cause of the bug? Do you know?

[2018-03-06 10:45] Terchestor commented on #2343
@ArchI3Chris
It's nice to have this fix for Arch Manjaro. I just discovered Light Table and wanted to give it a try.
Looks quite interesting.

[2018-03-11 11:14] m-a-sch commented on #2358
what worked for me is to 1) install jdk8 through http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html
2) setting
$ JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_161.jdk/Contents/Home
before launching through a shell
$ open /Applications/lighttable-0.8.1-mac/LightTable.app

[2018-03-11 22:13] Meresmata opened #2364 "Open Files Window with Xubuntu 17.10 German Locals"
## Report a Bug

### Steps to Reproduce

 1. _I downloaded the linux 64-bit version.
 2. _Started light table.
 3._Wanted open a file

 4._Got following Window (using Xubuntu 17.10 with German locals)
![bildschirmfoto_2018-03-11_23-05-51](https://user-images.githubusercontent.com/6282825/37259056-9d4a12f2-2581-11e8-9ce4-0949034c3d53.png)

### Environment

| Info                             | Detai

[2018-03-17 00:38] Gustavo6046 opened #2365 "Multiple deprecations with build script."
Hello. As the title says, multiple deprecation warnings are issued by npm when the build script is ran on Arch Linux:

[code]
The problem is with the variety of security issues, and even dependency breaks, that it can introspect into future versions of the LightTable software, so I advise to update the usage of as many dependencies as possible.

[2018-04-01 15:58] couic commented on #2343
Same as @Terchestor, thanks a lot for having this fixed. Really nice editor.

[2018-04-01 21:22] somenxavier commented on #2343
@ArchI3Chris Can you please integrate [your solution](https://github.com/ArchI3Chris/LightTable-Square-Fix) to mainstream

[2018-04-14 12:09] Mouvedia opened #2366 "create a .yml for up-for-grabs (as a PR)"
http://up-for-grabs.net/
https://github.com/up-for-grabs/up-for-grabs.net#add-a-project

The `link` value would currently be `https://github.com/LightTable/LightTable/labels/beginner`.

BTW Id recommend to rename the _beginner_ to _good first issue_.
cf https://help.github.com/articles/helping-new-contributors-find-your-project-with-labels/

[2018-04-17 11:38] burningraven06 opened #2367 "Fonts not rendering"
Hello,

Fonts are not rendering in the dialogue box / file browser, when I click "Open File" or "Open Folder" in Lighthouse.

Here is the screeshot. I am using Fedora 27.
Please let me know how to fix this.
Thank you.

![lighhttable](https://user-images.githubusercontent.com/18212542/38867509-c7349dfc-4233-11e8-83b6-bfb90b4a343f.png)

[2018-04-17 23:57] Mouvedia commented on #2367
Are you getting #436 in your console?

[2018-04-18 17:15] burningraven06 commented on #2367
no, I'm seeing nothing in the console. I'm using LightTable v 0.8.1, and after extracting the tarball, I cd into the extracted folder and run the executable from the shell/terminal, LightTable starts up but nothing else appears in the console.

[2018-04-18 18:03] sbauer322 commented on #2367
Sounds a lot like https://github.com/LightTable/LightTable/issues/2360, which is related to https://github.com/LightTable/LightTable/pull/2359 and https://github.com/LightTable/LightTable/issues/2343

[2018-04-18 18:45] Mouvedia commented on #2367
This should be closed as duplicate of #2343.
cf https://github.com/LightTable/LightTable/issues/2343#issuecomment-316613517

[2018-04-19 01:06] sbauer322 commented on #2367
Thank you for submitting the issue, @burningraven06. I am going to closing this issue as a duplicate of #2343 as it has the most activity.

[2018-04-19 01:06] #2367 closed

[2018-04-19 01:10] sbauer322 commented on #2364
This like issue #2343, which is related to #2359 and #2360.

I am going to close this issue in favor of #2343, but should the problem persist after #2343 is resolved, please feel free to open another issue.

[2018-04-19 01:10] #2364 closed

[2018-04-19 01:25] sbauer322 commented on #2361
I can duplicate the problem with the filename `cvsubview`, `dcsvsubview`, and `cvssubview.css`. I believe it is indeed a problem with the file match regex.

We'll need to either improve the file matching or make it more obvious what is going on to the user.

The simplest approach might be to provide an option in the right click context menu for a project to toggle hidden file visibility.

[2018-04-19 01:25] sbauer322 commented on #2360
Closing this issue in favor of #2343.

[2018-04-19 01:25] #2360 closed

[2018-04-19 01:31] sbauer322 commented on #2358
This might be resolved by updating Light Table's internal Clojure to 1.9 in combination with updating the lein version (based on an earlier comment).

[2018-04-19 01:33] Mouvedia commented on #2343
Brackets has fixed that bug on its side.
One of [these commits](https://github.com/adobe/brackets/compare/release-1.11...release-1.12) fixed it.

[2018-04-19 01:42] sbauer322 commented on #2354
I've opened this issue in the plugin metadata repo to remove the theme: https://github.com/LightTable/plugin-metadata/issues/80

Closing this issue as removing the plugin should resolve the problem.

[2018-04-19 01:42] #2354 closed

[2018-04-19 01:45] sbauer322 commented on #2352
Closing this issue as user has not followed on questions. Happy to help if it is still a problem.

[2018-04-19 01:45] #2352 closed

[2018-04-19 01:46] sbauer322 commented on #2351
Closing as a duplicate of https://github.com/LightTable/LightTable/issues/2343

[2018-04-19 01:46] #2351 closed

[2018-04-19 01:53] sbauer322 commented on #2350
If I understand correctly, as far as I know, clojure eval can only occur in clojure files. Attempting to eval code in a markdown file will not work.

Hope that helps! :grinning:

[2018-04-19 01:53] #2350 closed

[2018-04-19 01:56] sbauer322 commented on #2345
If you are still experiencing this issue (or have an interest in attempting to resolve it), could you tell me what version of Windows you are using?

[2018-04-19 02:01] sbauer322 commented on #2348
Closing this issue as having to manually evaluate code with `ctrl-enter` or `ctrl-shift-enter` is fairly consistent and standard across plugins.

In previous versions, I recall there was some some sort of constantly running whole file eval, but it was removed at some point... perhaps I am thinking of the clojure instarepl.

[2018-04-19 02:01] #2348 closed

[2018-04-19 02:12] sbauer322 commented on #2326
There is currently nothing to indicate if a view is active aside from it being actually visible in the editor.

I'm not sure how difficult it would be to add checkboxes to the View menu dropdown given that only a limited number of views can be active at any given time, or how desirable it will be to other users.

[2018-04-19 02:38] Mouvedia commented on #2335
same problem as #2026

[2018-04-19 02:41] Mouvedia commented on #2366
@sbauer322 could you add the beginner label?

[2018-04-19 02:44] sbauer322 commented on #2366
The label has been added to this issue, and the `beginner` label has been renamed `good first issue` to better align with Github's recommendations.

[2018-04-19 02:50] sbauer322 commented on #2335
Curious as to what is causing the error to appear again as #2026 had PR https://github.com/LightTable/LightTable/pull/2091 merged in for it.

[2018-04-19 02:56] Mouvedia commented on #2335
@sbauer322 Probably because it's not shared: if it's generic it should have been.
[The ones](https://github.com/LightTable/LightTable/search?utf8=%E2%9C%93&q=%22js%2FJSON.parse%22) without the `try` are the culprits.

[2018-04-19 02:57] sbauer322 commented on #2335
Ahh, thank you!