[2015-06-26 18:43] kenny-evitt commented on #1504
I'm closing this because it's a duplicate. Thanks @timmc

[2015-06-26 18:43] #1504 closed

[2015-06-27 20:58] kenny-evitt opened #1931 ""/usr/bin/env: node: No such file or directory" error building *atom-shell* branch with Debian-ish Node.js package installed"
[This just came up in a thread in the discussion group.](https://groups.google.com/d/msg/light-table-discussion/Qemk-Uet2y8/z6Wscc0jllIJ)

[This is a known Node.js 'issue' too.](https://github.com/joyent/node/issues/3911) The Debian package is behind the Node.js releases because the relevant Debian maintainers are also maintaining other dependent packages that will break when Node.js is upgraded.

[2015-06-27 21:00] #1931 closed

[2015-06-28 04:44] learner010 commented on #453
i downloaded the latest code 2 days ago and tried it. it threw the error above.

[2015-06-28 05:55] kenny-evitt commented on #453
@learner010 You downloaded the latest code from the *atom-shell* branch? Can you confirm that the libudev files *do* in fact exist in one of the locations mentioned in the error?

[2015-06-28 15:46] gsscoder commented on #1914
Sorry, but I've never build **LightTable** before. This is what I get aftet `./script/build.sh`:
[code]

The problem is that without building it, I'm unable to check for the issue again. Any help?

[2015-06-28 18:40] kenny-evitt commented on #1914
@gsscoder, would you try upgrading to the latest Node.js and npm? Follow the instructions on the Node.js website as the version available thru the package manager for your distro is probably a much older version (if not the one you already have installed).

[2015-06-28 18:58] gsscoder commented on #1914
@kenny-evitt, yes in my linux box I still run **Ubuntu 12**... I'll post here after updating **NodeJS**.

Thank you.

[2015-06-28 23:56] alilee commented on #1685
I've had a showstopper build issue on OS X (Yosemite) for a long while now, but trying again today it builds and instarepl seems to be working well.

[2015-06-29 09:31] marcelocra opened #1932 ""Invalid behavior: :lt.plugins.clojure/eval!" after initial setup (developer-install.md)"
The specific error I get is this one:

    Invalid behavior: :lt.plugins.clojure/eval!
    TypeError: Cannot call method 'call' of undefined

I already tried to run `lein uberjar` as recommended [here][1] without success. I followed precisely the instructions given in [`developer-install`][2], but maybe they are outdated?

[1]: https://github.com/LightTable/LightTable/issues/1832
[2]: https://gith

[2015-06-29 13:07] kenny-evitt commented on #1685
@alilee You may have run into the name-change of Atom shell to Electron. That was fixed just a couple of weeks ago. Thanks for trying it out again! Issues and pull requests welcome!

@avstudio @vbauer @simax @priyatam Building the *atom-shell* branch is pretty straightforward – or should be at least. We're working on the next release now, but it'd be great if you all could try out the latest code.

[2015-06-29 13:09] kenny-evitt commented on #1932
@marcelocra Please try building the *atom-shell* branch – that's the working branch for the next release.

[2015-06-29 13:14] kenny-evitt commented on #1832
@justintaft I'm closing this because the active working branch is now *atom-shell*.

[2015-06-29 13:14] #1832 closed

[2015-06-29 14:34] marcelocra commented on #1932
It worked, thanks!

Note: For it to work after I had previously built using the master branch, I removed both the LightTable directory as well as the .config/LightTable directory. Otherwise I would get the same error.

[2015-06-29 14:34] #1932 closed

[2015-06-29 18:32] kenny-evitt commented on #1932
@marcelocra Great news! And thanks for the info about needing to cleanup.

[2015-06-29 23:12] ohAitch commented on #1262
Seems to still be the case. Additionally, if the _current editor syntax_ is set to Github Flavored Markdown, the file loses all highlighting entirely until switched back.

[2015-06-30 07:27] hayd opened #1933 "Add web page to docs with screenshots of available themes"
Perhaps there's already a neat way to compare available color schemes, but at the moment I'm changing the config and seeing what it looks like...

It's be really nice if there was a webpage similar to http://vimcolors.com/ or https://github.com/robbyrussell/oh-my-zsh/wiki/themes where you could quickly compare the different available schemes.

[2015-06-30 13:00] kenny-evitt commented on #1262
@ohAitch You're setting the current editor syntax thru the command bar, right? Would you build and run the *atom-shell* branch version and confirm if this is still an issue with that version?

[2015-06-30 13:01] kenny-evitt commented on #1922
This is a duplicate of #1262. @Joshfindit – use that older issue for this please.

[2015-06-30 13:01] #1922 closed

[2015-06-30 13:02] kenny-evitt commented on #1933
@hayd Why not submit a PR to [the docs repo](https://github.com/LightTable/docs.lighttable.com) for this?

[2015-06-30 13:56] Joshfindit commented on #1262
Adding the relevant examples from #1922 :

In Github Flavoured Markdown, the following are valid:

[code]
[code]
[code]

[2015-06-30 16:32] hayd commented on #1933
@kenny-evitt Honestly, I'm not sure how/a good way to do this (it'd be nice not to have to update css in lots of places when a theme was updated). I guess the alternative us to enumerate and take the fifty or so screenshots of themes (if we went that route rather than using css)... ah, you changed the title to reflect going the screenshots route...

It's going to be tricky to do that neatly (so sc

[2015-06-30 17:56] kenny-evitt commented on #1933
@hayd Feel free to change the title to reflect what you want to do (or be done).

[2015-06-30 18:56] hayd commented on #1933
There are two options:

1. show these in in html / css (this is what vimcolors does)
2. take screenshots of each theme (this is what ohmyzsh does)

The former is the "better" solution, but the latter is probably easier (and could probably still be made to look ok).

[2015-06-30 19:41] kenny-evitt commented on #1933
@hayd I have no preference. I'm fine with whatever you, or whomever submits the PR, decides.

[2015-07-01 10:28] naryad opened #1934 "Remove from workspaces works only after doing it twice."
Mac OS X 10.9.5, LT 0.7.2
First time I click on "remove from workspace" nothing happens, it corrects removes folder from workspace only on second attempt.

[2015-07-01 13:11] MrSpock commented on #1789
But still here on OS X El Captain. When installing Go plugin I'm getting;
Error: incorrect header check
    at Zlib._binding.onerror (zlib.js:295:17)

[2015-07-01 13:41] kenny-evitt commented on #1934
@naryad Please try to reproduce this with the *atom-shell* branch. That's effectively the pre-release for the next major version.

[2015-07-01 13:44] kenny-evitt commented on #1789
@jasonzoladz @mikebelanger @mbernat @troydm @MrSpock Would you confirm whether you can reproduce this with the *atom-shell* branch?

[2015-07-01 18:21] BenjaminVanRyseghem commented on #1923
This is still a bug in the `atom shell` branch

[2015-07-01 19:05] BenjaminVanRyseghem commented on #460
any news here?

[2015-07-01 19:20] BenjaminVanRyseghem commented on #246
Still not showing in Light Table version: 0.7.2, Binary version: 0.22.1

[2015-07-01 19:44] troydm commented on #1789
@kenny-evitt just checked with latest version of LightTable from atom-shell branch built from source and the issue is still there :(

[2015-07-01 19:51] BenjaminVanRyseghem commented on #662
I :+1: for the usage of golden-layout :)

[2015-07-01 20:14] BenjaminVanRyseghem commented on #850
Now if I try to rename a file `bar.md` to `../does-not-exists/foo.md` I got a popup error.
But the file is no more openable.

Even if in the workspace tree, the file is still named `bar.md`, trying to rename it fill the name input field with `../does-not-exists/foo.md`

[2015-07-01 22:06] BenjaminVanRyseghem commented on #893
Is this resolved now? :smile:

[2015-07-01 22:10] BenjaminVanRyseghem commented on #1151
I experienced that a dozen of time (even on the `atom-shell` branch).

I have to remove the files in `Application Support/LightTable` to get LT on the screen

[2015-07-01 22:19] BenjaminVanRyseghem commented on #1111
any progress here? :smile:

[2015-07-01 22:27] BenjaminVanRyseghem commented on #1111
According to CodeMirror [doc](https://codemirror.net/doc/manual.html#commands),
there are

[code]

[2015-07-01 22:52] BenjaminVanRyseghem commented on #1088
I used to experienced something similar quite often.

Now that I am using the `atom-shell` branch, I will report it here if I bump into this again :smile:

[2015-07-01 23:56] kenny-evitt commented on #1401
This is a duplicate of #1052.

[2015-07-01 23:56] #1401 closed

[2015-07-01 23:58] kenny-evitt commented on #1173
This is a duplicate of #1052.

[2015-07-01 23:58] kenny-evitt commented on #1565
I just ran into this issue with my own Clojure project. I'm running the latest *atom-shell*, via `script/ligh.sh`, on Ubuntu 14.04.

Running `lein clean` seems to (temporarily) resolve the issue.

I'm closing this as its a duplicate of #1052 (and #1401).

[2015-07-01 23:58] #1565 closed

[2015-07-02 07:59] rundis commented on #1052
I believe this pull request fixes the issue:
https://github.com/LightTable/Clojure/pull/48

I tested it with the guestbook sample project using compojure 1.1.6 without exclusion to ensure an old reader version is pulled in. It still works a charm :-) With the patch, the lein-light-middleware uses it's own inlined version of tools.reader so it seems to work fine.

[2015-07-02 08:02] rundis commented on #1880
I think https://github.com/LightTable/Clojure/pull/48 pretty much addresses this issue properly.

[2015-07-02 10:56] BenjaminVanRyseghem commented on #1196
Can someone reproduce this in the `atom-shell` branch?

[2015-07-02 13:09] kenny-evitt commented on #1880
This is a duplicate of #1052.

[2015-07-02 13:09] #1880 closed

[2015-07-02 13:23] kenny-evitt commented on #1923
I couldn't reproduce this on Windows 7 just now.

Tho I didn't even know that you *could* create multiple windows!

[2015-07-02 13:26] kenny-evitt commented on #1923
@Joshfindit @BenjaminVanRyseghem What's the expected, or ideal, behavior in this case? Should the new window be full-screen (and the LT UI elements properly sized in it) too? Or should the new window have the default settings?

[2015-07-02 13:28] kenny-evitt commented on #1789
@troydm Thanks for checking.

[2015-07-02 14:13] BenjaminVanRyseghem commented on #1923
First it feels weird to be able to create a new window while in fullscreen mode.

But then I would expect it to be another fullscreen window (that's the Chrome behavior at least)

[2015-07-02 14:32] #1292 closed

[2015-07-02 14:37] kenny-evitt opened #1936 "Release version 0.8.0"
This issue should cover all of the work that *needs* to be done before version 0.8.0 is released.

- [x] Add to [QA checklist](https://github.com/LightTable/LightTable/wiki/QA-Checklist)  _all_ features that should be QAed before a release
- [x] Finish 0.8.0 open issues
      - [x] #1715, #1781
      - [x] Replace all references to atom-shell with electron
      - [x] Add electron arch doc. Core c

[2015-07-02 14:55] kenny-evitt commented on #1936
It's only implied by one of the checklist items above, but [the previous release of Light Table is looking for updates at Kodowa endpoints](https://github.com/LightTable/LightTable/blob/0.7.2/src/lt/objs/deploy.cljs#L28-L31). The next release will use GitHub. Light Table won't be able to self-update. I thought this might be worth considering how to avoid, e.g. have someone at Kodowa upload the new

[2015-07-02 17:24] Joshfindit commented on #1923
I would expect that the new window would also be full-screen with LT UI elements properly sized. This is fairly standard across OSX 10.10. (As in, I can't remember an app that did not do this besides Light Table, and even then it does create a new full-screen window)

[2015-07-02 18:16] BenjaminVanRyseghem commented on #1277
ping?

[2015-07-02 18:20] BenjaminVanRyseghem commented on #1934
I can't reproduce it on the `atom-branch`
but I am not using the same OSX version
(and I can't remember having this issue before)

[2015-07-02 18:24] BenjaminVanRyseghem commented on #1874
Can be reproduced in the `atom-shell` branch

[2015-07-02 18:27] BenjaminVanRyseghem commented on #1863
work to me on Yosemite 10.10.4 on the `atom-shell` branch

[2015-07-02 18:35] BenjaminVanRyseghem commented on #1797
should we close this one and focus on #1802 ?

[2015-07-02 18:37] BenjaminVanRyseghem commented on #1799
@mengzyou any news here?

[2015-07-02 18:38] BenjaminVanRyseghem commented on #1800
I think it's done now :smile:

@cldwalker I think you can close this one ;)

[2015-07-02 18:48] rundis commented on #1789
Well it seems downloading the tar.gz fails somewhere along the line. For Paredit-plus and go I'm getting a not found basically. Looking at the go plugin it seems to be something whacky with the info in plugin-metadata and actual tags for the project. For paredit-plus I haven't yet been able to figure out why the download fails.

I'll keep on plugin. Seems a little bit more robust error handling wo

[2015-07-02 19:15] rundis commented on #1789
**Paredit-plus**
Ok found the problem with paredit-plus. It's metadata lists the source attribute as https://github.com/otijhuis/paredit-plus.git .... the .git part messes everything up when it tries to download https://api.github.com/repos/otijhuis/paredit-plus.git/tarball/0.0.7.

**Zenburn**
the author has changed his github alias
trying to download: https://api.github.com/repos/wisenomad/zenbur

[2015-07-05 03:55] Joshfindit commented on #1064
If possible, a sane default could be don't even suggest autocomplete until the third typed number.

Mostly, I get this a lot when playing around with single and double digits. Usually, I just want to type something like /3, and instead I get suggestions for any number starting with 3.

[2015-07-06 11:20] mengzyou commented on #1799
@BenjaminVanRyseghem Yes, it works when use `[:editor.html :lt.objs.editor/tab-settings false 2 2]`.

[2015-07-06 11:33] #1799 closed

[2015-07-06 13:06] kenny-evitt commented on #1064
Pull requests welcome!

[2015-07-06 13:12] kenny-evitt commented on #1893
@Jaballadares Re-open when or if you have some more details about the problem(s) you're having.

[2015-07-06 13:12] #1893 closed

[2015-07-06 13:13] kenny-evitt commented on #1886
@sarvex If you can, please test the changes in [this PR](https://github.com/LightTable/LightTable/pull/1937).

[2015-07-06 13:17] kenny-evitt commented on #1863
@Kindpire @Announcement If you could, please try running the latest source version of LT. We just merged the *atom-shell* branch into *master* so build the latter to get the most recent changes.

There also seems to be an open issue with some plugins and the GitHub Git repo URLs they use – see PR #1937. If you observe errors installing a plugin, merge the changes in that PR into your local LT repo

[2015-07-06 13:48] #893 closed

[2015-07-06 13:52] kenny-evitt commented on #1151
@MarcoPolo @BenjaminVanRyseghem Would you confirm whether you can consistently (or always) reproduce this by following the steps that you, @MarcoPolo, describe in your comment?

[2015-07-07 00:06] kenny-evitt commented on #1052
@rundis I'll test this too when I get a chance.

[2015-07-07 00:09] kenny-evitt commented on #1196
*atom-shell* has been merged into *master*, so use that if you're going to test the latest code.

[2015-07-07 00:11] kenny-evitt commented on #1292
@cldwalker Thanks!

[2015-07-07 00:13] kenny-evitt commented on #1277
Comment if this should be re-opened.

[2015-07-07 00:13] #1277 closed

[2015-07-07 00:15] kenny-evitt commented on #1874
This isn't so much a bug as a missing feature. I vaguely remember looking at the relevant code and I think my guess was correct; the replace function can't access the regex match data.

[2015-07-07 00:27] Mouvedia commented on #1874
If I am matching something then it should replace accordingly. How is that not bug?
Sorry to be blunt, but I am missing your point.

[2015-07-07 00:43] kenny-evitt commented on #1874
@Mouvedia No worries about being blunt. The relevant code is in a library and the version we're using doesn't seem to implement regexes for replace. I'd like to look at this further when I have time but currently we're focused on finishing the release of version 0.8.0. Pull requests are welcome!

[2015-07-07 01:02] kenny-evitt commented on #1874
[Here's the relevant LT code.](https://github.com/LightTable/LightTable/blob/master/src/lt/objs/search.cljs#L22-L40)

[That code uses a vendored (and probably forked) Node module `replace`.](https://github.com/LightTable/LightTable/tree/master/deploy/core/node_modules/replace)

[2015-07-07 03:38] acceleanu commented on #1732
I had the same issue on a mac. Switched to Java 8 and that resolved it. A nice way to manage multiple versions of java is by using http://www.jenv.be .

[2015-07-07 14:36] #1800 closed

[2015-07-07 21:49] mikofski commented on #1878
+1 but on windows

LT 0.7.2

can't connect to IPython kernel using any method from various docs, discussions and questions on lighttable website, google groups and so

1. changing user.behavior

 [:app :lt.plugins.python/python-exe "C:/Python27/python.exe"]
 [:app :lt.plugins.python/ipython-exe "C:/Python27/Scripts/ipython.exe"]

2. set python to ipython

 [:app :lt.plugins.python/python-exe "C:/P

[2015-07-08 10:52] devmru opened #1938 "Search "/" and replace"
The search can not handle at the beginning and at the end with a "/", and then replaced.

Error:
[code]
Without the "/" all right

[2015-07-08 11:39] kenny-evitt commented on #1938
@devmru Would you comment with the exact search and replace text you entered? It's not entirely clear from you original comment.

[2015-07-08 12:07] devmru commented on #1938
Procedure:
Ctrl+F -> input "find" set value "/var/www/" -> input "replace" set value "/home/max/www/" -> button "all" click -> Error

[2015-07-08 13:11] kenny-evitt opened #1939 "Wrap text when showing changelog (version)"
This is a low priority, but it would be nice to do someday.

The relevant code:

 - [LightTable/version.cljs at 20681a35258a95632e4c099d003399b98f5cb4ea · LightTable/LightTable](https://github.com/LightTable/LightTable/blob/20681a35258a95632e4c099d003399b98f5cb4ea/src/lt/objs/version.cljs)

Here's the code for showing the docs:

 - [LightTable/docs.cljs at 20681a35258a95632e4c099d003399b98f5cb4ea

[2015-07-09 14:48] BenjaminVanRyseghem commented on #1151
@kenny-evitt I am currently on vacations travelling, so I do not have a spare screen to try this out, sorry.

I will give it a try as soon as I am back home (somewhere next week)

[2015-07-10 19:31] bitmonk opened #1941 "Adding a folder to workspace hangs the UI for several minutes"
I've had this problem for some time on OSX, across as many OSX versions as Light Table has ever run on - when adding a folder to the workspace, the UI hangs for several minutes and node-webkit spikes, possibly to over 100% cpu.

[2015-07-12 16:31] OryxGazella commented on #1727
Is there a workaround for this?

[2015-07-13 02:27] kenny-evitt commented on #1727
@OryxGazella @olivervejen I saw this erro while installing plugins on a build of the latest source but I didn't actually have any problems with any of the plugins. What problems are you having beyond seeing this error? What plugins are you installing?

[2015-07-13 12:46] OryxGazella commented on #1727
@kenny-evitt Oh, I didn't actually check whether the plugins were installed or not. Just assumed it meant it wasn't installed. Silly me.

[2015-07-13 15:55] rundis commented on #1941
I'm pretty sure this is fixed in the master branch. Light Table has been ported from node-webkit to atom/electron.

You can try and build LT from source following https://github.com/LightTable/LightTable/blob/master/doc/developer-install.md

Let me know how that works out...

[2015-07-13 19:21] olivervejen commented on #1727
@kenny-evitt the plugins work well enough, but it annoys me to have an error for every plugin i've installed in the console every time i start light table, but i guess it will be fixed eventually :)

[2015-07-14 00:28] kenny-evitt commented on #1938
@devmru thanks

[2015-07-14 00:43] kenny-evitt commented on #1727
@OryxGazella @olivervejen thanks for checking. And always remember – pull requests welcome!

[2015-07-14 00:50] kenny-evitt commented on #497
@robjens The *master* branch is now running on Atom; please build that if you can.

[2015-07-14 00:52] kenny-evitt commented on #543
@kreutter @oddjones care to test this with a build of the latest source and confirm whether this has been resolved?

[2015-07-14 01:21] db47h commented on #1696
The issue does not seem to occur anymore with latest master (d79adff7855).

A workaround that worked for me with LT 0.7.2 was to put the numbers between double quotes:

    [:editor :lt.objs.style/font-settings "Ubuntu Mono" "13" "1.05"]

[2015-07-14 01:28] kenny-evitt commented on #1088
*atom-shell* is merged into *master*; just run a build of the latest source.

[2015-07-14 01:29] kenny-evitt commented on #1934
@naryad If you're going to test a source build, just use *master* – *atom-shell* was merged.

[2015-07-14 01:31] kenny-evitt commented on #1696
@pierre-haessig Comment to re-open if you can reproduce this in the newest version.

[2015-07-14 01:31] #1696 closed

[2015-07-14 01:54] db47h commented on #1674
I have the same issue on Linux with LT from latest master when I explicitly set the skin in the user.behaviors file:

    [:editor :lt.objs.style/set-skin "dark"]

to reproduce: start LT, update user.behaviour and select any skin, open a file large enough for the vertical scrollbar to appear and you get the default chromium scrollbar. Disable the set-skin line in user.behaviors, and the problem is

[2015-07-14 17:22] rundis commented on #1938
Seems to be an issue with the Codemirror search/find plugin.
Can reproduce the problem here: https://codemirror.net/demo/search.html

[2015-07-14 17:27] rundis commented on #1938
Since it's a regex behind the scenes you'd have to write something like:
Find: /\/var\/www\//
Replace: /\/home\/max\/www\//

[2015-07-15 01:41] chaffra opened #1943 "New feature: add a menu item to open workspace files with "Open with...""
Is there a way to add a menu item to open workspace files with "Open with..." I'd like to be able to open pdf, docx, ... files externally with a different program without having to leave LT of course. I am running on ubuntu.

[2015-07-15 18:04] devmru commented on #1938
I did some tests. Problem "/" early search

[2015-07-15 18:06] devmru commented on #1938
Ctrl+F -> input "find" set value "/var/www/" -> input "replace" set value "/home/max/www/" -> button "all" click -> Error
Ctrl+F -> input "find" set value "var/www/" -> input "replace" set value "/home/max/www/" -> button "all" click -> No error

[2015-07-15 19:00] naryad commented on #1934
@kenny-evitt Installed LightTable from master branch and I can reproduce it with latest code. OS X version used 10.9.2.

[2015-07-15 20:35] ShayMatasaro commented on #1909
no issue on
 on ubuntu 14.04
with master branch

[2015-07-15 20:41] rundis commented on #1909
Ok. I'm closing this one. Nobody able to reproduce. @carocad Feel free to let me know if it turns out to still be a problem.

[2015-07-15 20:41] #1909 closed

[2015-07-16 01:39] #1727 closed

[2015-07-16 01:43] kenny-evitt commented on #1943
@chaffra Certainly this is *possible* tho I'm not sure if there's a way to do this easily for all three platforms. This isn't a high priority so it may be a (long) while 'til anyone looks at it. But remember – pull requests welcome! And if you want some help implementing this, just ping me in this issue or in [the Gitter (chat) room](https://gitter.im/LightTable/LightTable).

[2015-07-16 02:03] kenny-evitt commented on #1938
@devmru @rundis [This seems to be the problematic code](https://github.com/LightTable/LightTable/blob/master/deploy/core/node_modules/codemirror_addons/search.js#L43-L46):

[code]

It'd be nice to continue supporting regexes so we need *some* way to distinguish between regular string and regexes. Unless we treat everything like a regex. Maybe we could just treat any `input` as `/input/g`? Or maybe

[2015-07-16 02:07] kenny-evitt commented on #1934
@naryad Thanks for reproducing with the latest code. Given that a workaround is readily available, and somewhat documented via this issue, this is going to be a low priority for a (long) while. But pull requests are welcome! If you can look at this, and you having any questions, just ping me in this issue or in [the Gitter (chat) room](https://gitter.im/LightTable/LightTable).

[2015-07-16 02:09] kenny-evitt commented on #1727
@olivervejen Magnus didn't spend the time to fully investigate *why* this was happening, but hopefully it at least won't be annoying you any more. You'll need to run a build of the latest source version (which is actually remarkably easy to build) until we release 0.8.0.

[2015-07-16 14:07] kolya-ay commented on #1943
There is [LT-Opener](https://github.com/eldargab/LT-Opener) plugin which among other things allows you to define custom commands. However I think that something like this should be gently merged to the core.

[2015-07-16 18:29] bitmonk commented on #1941
Thanks, that did work, though there's new wierdness, but I'll chock that up to life on master and try to find a way to help.

[2015-07-16 18:29] #1941 closed

[2015-07-17 17:03] kenny-evitt commented on #1943
@kolya-ay thanks. Your suggestion about merging into core raises interesting questions about when a plugin should be included in the defaults.

[2015-07-17 17:04] kenny-evitt commented on #1943
@chaffra I'm closing because of the LT-Opener plugin.

[2015-07-17 17:04] #1943 closed

[2015-07-19 11:23] ShayMatasaro opened #1944 "Misleading error message when uninstalling plugin"
using 0.8 from master.
when uninstalling light refactor i get the following msg:

Some plugin dependencies are missing.

We found that the following plugin dependencies are missing:
clj-light-refactor 0.1.6
Would you like us to install them?

[2015-07-20 07:30] wjaskowski commented on #1878
The same happens on my OSX 10.8

[2015-07-22 08:14] weaver-viii opened #1945 "#enhancement. Ready for use snippet for "Inserting a comment at the end of the current line""
<h4> Uncomment the last line to start typing if you a vim-user </h4>
[:app "f4"
  :editor.line-end
  :editor.new-line-indent
  :comment-selection
  :editor.line-up
  :editor.sublime.joinLines
  :editor.line-end
<b>;;  [:vim.send-key "a" ]</b>
  ]

[2015-07-29 11:11] madkinder commented on #1180
Since Light Table 0.7.2 the syntax has changed:

[code]

You don't need the action for unbinding, just prepend the dash to the key specification to unbind it.

[2015-07-31 18:25] Maddix commented on #1250
Linux mint 17 64 bit in virtual box also has this issue. The 32 bit works though.

1. Nvidia Quadro K2000M
2. Virtual box drivers (Vbox version 5.0.0)
3. No
4. No

[2015-08-01 19:46] QM-Hacker commented on #1762
I just managed to fix this problem in Arch with a KDE desktop. After changing my lighttable.desktop file to

[code]
from
[code]
I can open text files in LightTable from the desktop.

Hope this helps

[2015-08-01 20:07] matt-della commented on #1762
This did partially solve the issue for me. I also made one additional change for my system:

    [Desktop Entry]
    Name=Light Table
    Comment=Light Table IDE
    Type=Application
    Icon=lighttable
    Exec=/opt/LightTable/ltbin %U
    Categories=Utility;TextEditor;Development
    Terminal=false
    MimeType=text/plain;

Adding the %U made LightTable available in the "open with..." menu in GN

[2015-08-03 09:44] crantok commented on #688
Got directed here from codemirror/CodeMirror/#3075 and was grateful for the tip. I don't know whether the original config structure still works but I did the following successfully and am have pasted it in here case any noobs find it useful.

[code]

[2015-08-10 22:53] Ghassan commented on #1088
I am running LT 0.7.2 on OSX 10.10.4 MBP 16 GB RAM and I get:
1) the user_compiled.js error which I don't know what it is.
2) node-webkit Helper is choking the entire Mac. usually runs about 140% CPU time.

I have to frequently restart sometimes my entire Mac.

[2015-08-11 01:58] GetContented commented on #1088
This project hasn't had a commit for 26 days, sadly.

[2015-08-11 06:35] danmbox commented on #1938
no checkbox to select regex / non-regex search, nice...

[2015-08-11 12:00] kenny-evitt commented on #1938
@danmbox Pull requests welcome.

[2015-08-11 15:04] kenny-evitt commented on #1088
@Ghassan Would you create a new issue for [1] and provide enough details for someone to reproduce the error you're observing?

But before you do that, please try building Light Table from the latest source of the *master* branch. The latest source version shouldn't have this issue as LT was migrated from node-webkit to Atom/Electron (precisely to fix this and other similar issues).

[2015-08-11 15:05] kenny-evitt commented on #1088
@GetContented Pull requests welcome! And keep in mind that this project is spread out over multiple repos; most of the interesting functionality is implemented in separate plugins, and there has even been an update to one of them since the last commit for this repo.

There are a few of us working on packaging up the latest version as a new release, but we're not the original contributors so it's s

[2015-08-11 16:47] GetContented commented on #1088
@kenny-evitt understood! It's hard to know this stuff as an "ordinary observer"... no blog updates for over 6 months, too. Would be good if there were slightly more frequent updates there. Not trying to be overly critical, just letting you know what it seems like. Anyway, this probably isn't the right spot to make this comment (not sure where is, though).

[2015-08-11 20:43] kenny-evitt commented on #1088
@GetContented There's a few of us somewhat active on the [Gitter room](https://gitter.im/LightTable/LightTable) for this, the main GitHub repo. [The Google Groups group](https://groups.google.com/forum/#!forum/light-table-discussion) is also suitable for general questions and discussion.

[2015-08-11 21:45] Ghassan commented on #1088
@kenny-evitt I downloaded the main branch, looked around everywhere possible for instructions on how to build LightTable from the source but couldn't find any. Went ahead and ran build.sh under script (don't know if this is all there is though?). then I executed "light" under builds which I noticed it was created after I ran the script.

The editor opened had "About Atom" as the first menu item un

[2015-08-11 21:54] kenny-evitt commented on #1088
@Ghassan Running `script/build-app.sh` is all you need to do to build – assuming you have Node.js and npm installed.

Instead of running `script/light.sh`, I usually run the build output executable directly; in your case the *LightTable.app* file under *builds\lighttable-0.8.0-mac*.

[2015-08-11 22:05] Ghassan commented on #1088
I have node 0.12.7 and npm 2.12.1. Running build-app.sh doesn't do much. Just the same behavior. I tried to delete "builds" directory but it did not recompile. Any advice? also pointers to docs on how to build from source with optional commands? Thanks a lot.

[2015-08-14 07:14] huaoguo opened #1947 "How to load my js after code mirror modes have been load"
How to load my js after code mirror modes have been load? I want to add my custom coffeescipt codemirror mode.

If I config behavior like this:

[:app :lt.objs.plugins/load-js ["js/simple.js", "js/coffeescript.js"]]

This will cause codemirror default coffeescipt mode override my mode.

[2015-08-14 20:15] Muffo commented on #607
@ibdknox thanks for the suggestion.
However I think that this is not very straightforward for people that are new to this editor.

Also, the fact that the console is hidden by default makes thing even more complicated for those who are not familiar with Clojure, like me.
Yesterday I spent an awful lot of time trying to understand why the "hello world" was not working.
Eventually I discovered that

[2015-08-15 00:19] kenny-evitt opened #1948 "Console should be shown, if hidden and not docked to a tab, when errors are logged"
See [this comment](https://github.com/LightTable/LightTable/issues/607#issuecomment-131228317) for relevance.

I believe this may have been the default behavior at one time.

[2015-08-15 00:20] kenny-evitt commented on #607
@Muffo The console should be shown as soon as an error is logged – or at least that's what I *think* it used to do. I created [a new issue](https://github.com/LightTable/LightTable/issues/1948) for implementing that (or fixing whatever broke it, if it previously did that).

[2015-08-15 01:13] kenny-evitt commented on #494
@zachaller @skeet70 @fbender @eafzali @gavocanov Anyone interested or willing to test my initial attempt? You should be able to clone my fork into the plugin directory and then refresh the plugin list in LT.

@frankcash If you're still available and willing to help, I'd appreciate a review of my changes.

[2015-08-15 10:02] gavocanov commented on #494
@kenny-evitt I built the latest atom-shell branch, cloned your fork in the plugins directory and it works like a charm, all "harmony" features seems working (let, const, arrow functions etc.).

Thanks a lot!

[2015-08-15 13:52] cldwalker commented on #494
@kenny-evitt I've verified this works with a few harmony features:

[code]

Nice work!
Code feedback:
* Most of LT's behaviors don't log to console and if they do it's because the user isn't sure what/when something has been set. This behavior seems straightforward (if behavior present -> enabled) and so we probably don't need it. Your call
* Given the behavior is already in a  `lt.plugins.js.node

[2015-08-15 22:08] Pastafarianist opened #1950 "LightTable 0.7.2 silently refuses to start up"
I am trying to run a binary version of `LightTable 0.7.2` under Gentoo. I have downloaded the archive from [here](https://d35ac8ww5dfjyg.cloudfront.net/playground/bins/0.7.2/LightTableLinux64.tar.gz), extracted it in `~/LightTable` and issued `~/LightTable/Lightable`. Nothing happened.

The `bash` script itself did execute (the symlink to `/lib64/libudev.so.1` was created), and the branch of `if`

[2015-08-16 05:43] IGitSylvia commented on #1727
Bump,

It is happening to me as well... when trying to install a plugin...

[code]

[2015-08-16 18:35] rundis commented on #1727
@IGitSylvia Did you try building from master before reporting this ?

[2015-08-17 10:25] Muffo commented on #1948
@kenny-evitt thanks for opening this ticket :)

Just one clarification: I am not sure what you mean by *errors*, but in my [previous comment](https://github.com/LightTable/LightTable/issues/607#issuecomment-131228317) I was referring to normal output with `println` rather than Closure errors.

I think that the console should be shown in both cases.

[2015-08-17 11:30] rundis commented on #1948
I really really don't want the console to be shown by default for println and friends. (much like I don't want the console in my browser to be shown by default).

[2015-08-17 16:12] CrazyPyro opened #1951 "code/license for Light Table Playground? (for running headless/in-browser)"
I love the Light Table "Playground" edition at http://app.kodowa.com/playground because I can run it in a browser without installing anything.   I was wondering if the code for it is available?  The site refers to https://github.com/Kodowa/Light-Table-Playground/ but that repo redirects to here, and searching for "playground" here yields nothing.

My motivation for this strange request is that I w

[2015-08-17 16:16] Muffo commented on #1948
Not sure that the comparison between the console of an IDE and the console of your browser makes much sense...

Here we are talking about an environment where developers want to have visibility of what's going on.
In any other IDE I have used before when I press RUN the console is always visible or become so.

[2015-08-17 22:06] kenny-evitt commented on #1948
@Muffo You should be able to keep the console open in a tab and move the tab to a separate tab group. Then you can see the console output with other tabs open. You should be able setup this as a default by editing your *user.behaviors* file.

But, more in the LT 'spirit' would be to just eval code in your source files, or open a REPL tab and run or test code as you write it.

But I don't think ope

[2015-08-17 22:06] #1948 closed

[2015-08-18 00:54] kenny-evitt commented on #1950
@Pastafarianist If you would, please try to build and run the latest version of the *master* branch and let us know if you can reproduce the issue:

 - [LightTable/developer-install.md at master · LightTable/LightTable](https://github.com/LightTable/LightTable/blob/master/doc/developer-install.md)

[2015-08-18 13:14] kenny-evitt commented on #1951
@CrazyPyro Your request isn't *that* strange, but you should ask it on [the Google Groups group](https://groups.google.com/forum/#!forum/light-table-discussion). There's no repo for it for the Light Table organization on GitHub, unless it's this one, so I can't answer any questions about the code or its license.

But, the core LT code is compiled to JavaScript and effectively runs in a browser – E

[2015-08-18 13:14] #1951 closed

[2015-08-18 18:43] ibdknox commented on #1951
We never released that code as it required a custom-modified version of
Clojure (most of the nice tools we have now didn't exist back then). :(

That being said the instarepl is basically a port of it.

On Tue, Aug 18, 2015 at 6:14 AM kenny-evitt <notifications@github.com>
wrote:

[2015-08-18 20:32] jacohend opened #1953 "If killed by the system, open files will sometimes have contents deleted"
I have an html file that was open but previously saved, that is now 100% empty after a kernel panic restarted the system. Not acceptable.

[2015-08-19 11:03] Muffo commented on #1948
OK I am happy to open a console in a separate tab, but my point here is that if it is the first time ever you use Clojure and LT and you simply copy and paste [this Hello World](http://java.ociweb.com/mark/clojure/article.html#Overview):

[code]

You type this and won't see anything happening.

What about an icon somewhere in the GUI at least to highlight that there is something in the console?

[2015-08-19 13:46] kenny-evitt commented on #1948
@Muffo There *is* an icon that indicates that something's been logged to the console. In the screenshot below, the "1" highlighted in red indicates that an error has been logged:

![image](https://cloud.githubusercontent.com/assets/1461730/9357165/61c3bf86-4653-11e5-9685-6e537cbf5231.png)

In this screenshot, the "2" highlighted in lighter-gray-blue indicates that two non-errors have been logged:

[2015-08-19 14:47] Muffo commented on #1948
Actually that's perfect!!
I did not notice this before, thanks @kenny-evitt for the clarification :)

[2015-08-19 15:14] kenny-evitt commented on #1953
I'm skeptical this is a problem with Light Table, but only weakly. Can you reliably reproduce this by killing Light Table?

I'm struggling to imagine how this could happen. I can't think of a reason why LT would write to an open file when killed, let alone write nothing.

Are the affected files literally nothing? Or is something, e.g. some sequence of bytes, present?

[2015-08-19 16:11] jacohend commented on #1953
Hi Kenny,

I don't really see what else it could be. I have never had previously saved
files open in my workspace all of a sudden hit a size of 0 bytes if Vim
gets killed (or the whole system goes down) while editing.

I have had this occur 3 times now, once during a kernel panic, once during
a proper poweroff, once when I killed the LT process. No other text editor
has done this.

If I were to gu

[2015-08-20 13:05] kenny-evitt commented on #1953
@jacohend Let's assume it's LT's fault for now.

 - [ ] I'll try to reproduce this on my Ubuntu box.

[2015-08-21 04:25] cldwalker commented on #494
@kenny-evitt Your branch is close to knocking this out. Want to open a PR for it and address the minor feedback?

[2015-08-21 23:02] raould commented on #700
uh, hmm, I only just downloaded LT 0.7.2 to this macbook os x 10.9, and i wrote test.clj that has only the number 2 in it, and evaluating it causes things to blow up just like this issue reports. Adding "(ns my-namespace)" in doesn't seem to help, LT seems to be fubar now and just keeps writing such errors into the console.

[2015-08-23 09:07] Pastafarianist commented on #1950
@kenny-evitt the latest version compiled from the repository does not have this issue.

[2015-08-24 12:51] cldwalker commented on #1936
@kenny-evitt Thanks for leading the charge on this! I hope to start helping on this when I can, starting with #1715

[2015-08-24 13:03] cldwalker commented on #1936
@kenny-evitt I've updated the checklist and will add more when I think of em. @rundis Are you linux? If so could you be the linux QA?

[2015-08-24 14:14] kenny-evitt commented on #1936
@cldwalker thanks for the additions.

My current focus for this has been writing an initial version of a Bash script to create the release packages for each environment (i.e. the *.zip* and *.tar.gz* files). I think I've got it working for Windows. I was going to work on the Mac portion next. I'm not sure what to do about the 32-bit Linux version as all my Linux boxen are 64-bit.

I've got at leas

[2015-08-24 14:17] kenny-evitt commented on #1936
@cldwalker I just made [a PR for the 'package' script](https://github.com/LightTable/LightTable/pull/1954).

[2015-08-24 14:21] kenny-evitt commented on #1936
@cldwalker Magnus (@rundis) and I previously agreed that releasing sooner would be better, e.g. for rallying community morale. I'm fine with deferring the release until we complete all of the items on our list, especially given your seeming ability to contribute more regularly of late, but I'd still like to release a 'pre-release' version ASAP, i.e. as soon as we can upload new 'release package' f

[2015-08-24 17:55] rundis commented on #1936
@cldwalker I'm on mac. Could install a linux distro through parallells I suppose, but it would be smoke testing more than anything else though

[2015-08-24 21:40] cldwalker commented on #1936
Before you spend too much time on this, what is the package script doing that [script/build-app.sh](https://github.com/LightTable/LightTable/blob/master/script/build-app.sh) doesn't do? A fair amount of work already went into it to make sure it works across platforms and mimics the existing packaging format. If there are issues with build-app.sh on windows we should fix em

@rundis Ok. Good to kno

[2015-08-25 06:05] cldwalker opened #1956 "Remove plugin-specific node packages"
As noticed in #1781, the following node packages belong in their respective plugins:

* bencode - Clojure. Also check that minor change in atom-shell branch isn't needed
* harbor - Javascript
* jshint - JSHint. JSHint already comes with node package but verify it's being used

When adding a plugin-local install, be sure to require with something like: `(js/require (plugins/local-module "javascript

[2015-08-27 13:26] kenny-evitt commented on #1936
@cldwalker The package script is just creating the *.zip* or *.tar.gz* files for users, or the update process, to download. The existing *build-app.sh* has an option to create the *.tar.gz*, but it didn't seem like the contents of the tarball it would create would match the latest download files nor would it create a *.zip* file for Windows or Mac users.

[2015-08-27 13:29] kenny-evitt commented on #1936
For this task:

I think we should release *0.8.0-alpha*.

[2015-08-28 04:33] cldwalker commented on #1715
Done plus ns docstrings

[2015-08-28 04:33] #1715 closed

[2015-08-28 13:41] kenny-evitt commented on #494
@cldwalker Thanks for the eyes. I created [a PR for my changes](https://github.com/LightTable/Javascript/pull/17/files) and I just pushed a rebase of my changes and your suggestions.

The console logging was just a quick aid for debugging.

I don't remember why I named the behavior the original name. I changed it to your suggestion.

I removed `client-command`.

[2015-08-28 16:04] hiredgunhouse commented on #1928
I have the same problem. I'm also on Win7 and learning Clojure and am constantly hitting this issue.
Also I can reproduce it with the steps @tjg provided.

[2015-08-28 16:08] kenny-evitt commented on #1928
@hiredgunhouse Please build the latest version (of the *master* branch), try to reproduce, and let me know the result.

[2015-08-28 20:17] hiredgunhouse commented on #1928
@kenny-evitt when I try building from latest I get this error:
[code]

[2015-08-28 22:19] fmezas opened #1958 "Build fails with "Cannot find electron v0.22.1 from GitHub null" if no cached version is available"
trying to build the master branch following the steps in [developer-install.md](https://github.com/LightTable/LightTable/blob/master/doc/developer-install.md) results in the error

[code]

The problem seems to be caused by the version of `Electron` the build process attempts to download from github as configured in `shell/Gruntfile.js`: version `0.22.1` apparently is called atom-shell. Simply upda

[2015-08-29 03:46] #1857 closed

[2015-08-29 03:47] blaggacao commented on #1857
closing, because i cannot provide follow up any more.

[2015-08-29 03:47] blaggacao commented on #1856
closing, because i cannot provide follow up any more.

[2015-08-29 03:47] #1856 closed

[2015-08-29 04:36] kenny-evitt commented on #1928
@hiredgunhouse #1958 will cover the `download-electron` build issue. I couldn't reproduce it just now.

[2015-08-29 07:56] hiredgunhouse commented on #1928
@kenny-evitt
That's exactly what I did in the meantime.
I run into some other problems with my setup, but managed to solve them and now my fresh build of LT seems to work fine (I also updated to latest lein and clojure 1.7.0) and now with a quick tests I cannot reproduce the problem.
I'll try a bit more later (I want to also try another machine) and let you know.

[2015-08-29 08:11] Davidslv opened #1959 "LightTable is stalled on startup"
Yesterday as far as I remember I touched the user behaviours to add line numbers, which was showing fine, although when I tried to start Light Table again it stays in that screen and nothing else happens

version: `0.7.2`
OSX version: `10.10.4 (14E46)`

I've tried:

- Force Quit and start Light Table, same result
- Trash it and use a new one, same result
- Trash it, restart, use new one, same resu

[2015-08-29 15:08] cldwalker commented on #1936
@kenny-evitt Ok. Let's talk more about packaging tomorrow. Agree on 0.8.0-alpha
@kenny-evitt @rundis I've added a [QA Checklist](https://github.com/LightTable/LightTable/wiki/QA-Checklist) wiki page. Please feel free to update

[2015-08-29 18:55] niedzielski commented on #1958
I can repro on Linux.

[2015-08-29 19:18] niedzielski commented on #497
I believe I'm seeing the same issue on Linux using the prebuilt 0.7.2 binary and master, 686c9b1. I get the following error when trying to connect to server.js[0]:

    server.js[stderr]:
    /home/stephen/opt/LightTable/builds/lighttable-0.8.0-linux/resources/app/plugins/Javascript/node/ltnodeclient.js:99
          vm.runInContext(cleanCode(fs.readFileSync(path)), sb, path);
             ^
    Sy

[2015-08-29 19:36] niedzielski opened #1960 "build.sh doesn't produce LightTable executable"
Towards the end of the build script output, I see the following error and LightTable isn't generated:

   mv: cannot stat ‘builds/lighttable-0.8.0-linux/atom’: No such file or directory

The electron executable built seems to work though. This might be caused by having to build with electon 0.31.1 due to issue 1958. The full build script output is below:

    $ ./script/build.sh
    ~/opt/LightTab

[2015-08-29 20:32] cldwalker commented on #1960
Thanks for the report. [We're aware](https://github.com/LightTable/LightTable/blob/master/script/build-app.sh#L17) that upgrading electron requires changes to the build. We'll be tracking a fresh install not building in #1958

[2015-08-29 20:32] #1960 closed

[2015-08-29 20:36] cldwalker commented on #1958
@fmezas Thanks for reporting. I didn't notice this because the download task uses [a cached version](https://github.com/atom/grunt-download-electron/blob/05dd085b0090b7a83f2098751b1c1f3e72bedd3b/tasks/download-atom-shell-task.coffee#L134) of the download. We're preparing for a release so we'll decide soon if upgrading electron is worth doing before or after the release

[2015-08-29 20:39] cldwalker commented on #1945
Hi @weaver-viii. Thanks for sharing your snippet. Unfortunately, it's not something that belongs in LightTable itself. If you'd like to share this with other feel free to start a Snippets [wiki page](https://github.com/LightTable/LightTable/wiki)

[2015-08-29 20:39] #1945 closed

[2015-08-29 20:42] cldwalker commented on #1944
HI @ShayMatasaro. I've verified this issue. It is misleading message caused by behaviors probably kicking off out of order. Note the uninstall still works. Regardless, it is something we'll need to fix

[2015-08-29 20:44] cldwalker commented on #1912
Closing as we can't reproduce without a minimal example

[2015-08-29 20:44] #1912 closed

[2015-08-29 20:46] cldwalker commented on #1947
I'm closing as I think you've solved this with [your own plugin](https://github.com/LightTable/plugin-metadata/pull/35/files). Happy to reopen if this is still an issue

[2015-08-29 20:46] #1947 closed

[2015-08-29 21:38] kenny-evitt commented on #1950
@Pastafarianist thanks. We're working on the next release but there's no reason why you can't or shouldn't run the local build of the latest source version. We'll follow-up sometime after the next release is available and confirm this is resolved.

[2015-08-29 22:56] kenny-evitt commented on #700
@raould I can reproduce this, but I'm not sure that this isn't a 'by-design bug'. Clojure isn't typically evaluated as naked expressions in text files, even if they have a *.clj* extension. Most (?) Clojure code is part of a Leiningen project and every code file defines a namespace in the project. Otherwise, code is evaluated 'live' in a REPL.

Interestingly, the expression `2` isn't *visually* ev

[2015-08-29 23:51] raould commented on #700
Thanks! I can grok that there are things even Clojure wouldn't like :-), so neither should LT. But I guess I'd want it to just report the Clojure error, and not additionally add in whatever confusing extra layers of errors it does with all the "TypeError: Cannot read property 'addEventListener' of undefined" stuff? Since that makes it look like LT is just borked making it harder for users to figur

[2015-08-30 02:16] fmezas commented on #1958
Sure. Makes sense. Looking forward to the release :)

On Sat, Aug 29, 2015 at 1:36 PM, Gabriel Horner <notifications@github.com>
wrote:

[2015-08-30 17:49] rundis opened #1961 "Client processes not cleaned up after killing(/quitting) LT on electron"
If I connect to say Clojure projects in Light Table and leave them open before quitting LT, the processes (lein-light + light runner) spawned for the projects will be left running after the main LT process is gone.

Might be an issue with other clients too.

[2015-08-30 19:54] kenny-evitt commented on #1958
I just ran into this. @fmezas Was this definitely due to the name change? It seems like it should still be available regardless.

[2015-08-30 20:28] fmezas commented on #1958
@kenny-evitt sequence of events:

1. LT uses the npm module `grunt-download-electron [^2.0.0]` to try to download `Electron [0.22.1]`
2. `grunt-download-electron` implements this functionality as a grunt task
3. The code of the `grunt-download-electron` grunt task (code that belongs to grunt-download-electron, not to LT), points to the github repo from where the `Electron` code base needs to be do

[2015-08-31 02:49] kenny-evitt commented on #1958
@fmezas This is fixed in the branch *more-electron* in the same way you fixed it – by bumping the Electron version. See [the pull request for the changes to be merged from the branch](https://github.com/LightTable/LightTable/pull/1957).

What's weird is that this definitely *did* work previously as none of the relevant LT or *grunt-download-electron* code has changed in a while.

Interestingly, if

[2015-08-31 13:57] kenny-evitt commented on #1959
@Davidslv Would you post your *user.behaviors* file?

[2015-08-31 17:51] kenny-evitt commented on #1958
[This has been fixed upstream.](https://github.com/atom/grunt-download-electron/issues/33#issuecomment-136434117) We could bump to version 2.1.2 to prevent similar problems in the future.

[2015-08-31 20:06] use924 opened #1962 "error similar to issue #927 but with pyzmq installed"
Evaluating any python code crashes lighttable (OS X 10.9, versions 0.7.2(binary)  or  0.8 (compiled in-house) )  pyzmq installed

Message similar to #927:

Application Specific Information:
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '+[NSUndoManager(NSInternal) _endTopLevelGroupings] is only safe to invoke on the main thread.'
abort() called
terminati

[2015-08-31 23:46] sidcarter commented on #1498
Had the same problem. Removing stuff in my .profile fixed it for me. Weird!

[2015-09-01 05:39] rundis commented on #1959
Also @Davidslv You might want to check the logs in ~/Library/Application\ Support/LightTable/logs/ to see if you get any pointers as to what the problem might be

[2015-09-01 13:47] Davidslv commented on #1959
Hey, thank you for your time answering, so the log says the following:

[code]

Unfortunately I don't know where the `user.behaviours` is, but seems pretty much it's the responsible for the crash. What can I do in this situation?

Thank you

[2015-09-01 15:24] rundis commented on #1959
@Davidslv  ~/Library/Application\ Support/LightTable/User/user.behaviors

[2015-09-01 17:57] Davidslv commented on #1959
Thanks @rundis, seems I'm not very lucky rollbacking the `user.behaviors` file, I still get the same error.

`Could not load behaviors for plugin: UserInvalid behavior: :lt.objs.settings/initial-behaviorsError: nth not supported on this type cljs.core/Keyword`

[2015-09-01 19:04] rundis commented on #1961
Seems the trigger :closing is never raised.
I also found that the prompt for closing when you have unsaved files never is invoked either.
Seems to be a close event missing somewhere to tie all this together...

[2015-09-01 19:29] rundis commented on #1959
Feel free to join the gitter room for somewhat more synchronous communication :-)
In the thread you mention, Chris indicated that maybe your user.keymap file has some funkiness in it,

[2015-09-01 19:56] standinga commented on #57
+ php

[2015-09-01 21:35] kenny-evitt commented on #494
This is in the latest version of the JavaScript plugin. You should be able to update to that version from within LT.

[2015-09-01 21:35] #494 closed

[2015-09-01 21:38] kenny-evitt opened #1963 "Can't resize workspace tree, tabsets, or console on master on Window; icon doesn't change"
I'm not seeing the cursor change to the resize cursor anywhere between my left-most editor tabset and the workspace tree (when the latter is visible).

[2015-09-01 21:44] cldwalker commented on #1961
Thanks for digging in. It seems I caused it with https://github.com/LightTable/LightTable/commit/9658450e3b2a9d61c706d42056656347708e9bab. I remember making this change and asking Chris if he had any objection but never heard back. When I revert this commit I do see Clojure processes killed :) Would be great if we could bring back a solution that doesn't require `windowClosing`. $IPC_DEBUG may com

[2015-09-01 23:13] Davidslv commented on #1959
I've decided to delete the folder ` ~/Library/Application\ Support/LightTable/` and is back to normal.
Thank you for your time :+1:

[2015-09-02 00:03] kenny-evitt commented on #497
@niedzielski Thanks; an example should hopefully make fixing this easier. We're currently working on the next release but, even after it's done, I'm not sure when someone can look at this.

[2015-09-02 00:26] kenny-evitt commented on #1962
@use924 Thanks for reporting this. To make this as easy as possible for someone to troubleshoot, would you provide extremely explicit steps for *anyone* to reproduce this? I probably won't look into this anytime soon, if ever, but if I did I'd have to setup a similar environment and find or create a similar project to first reproduce this.

[2015-09-02 01:07] kenny-evitt commented on #1962
@use924 Sorry for the overly fatalistic comment! We don't currently have any active Python contributors and there are quite a few open issues pertaining to various Python tools and environments, so this seems rather daunting.

[2015-09-02 03:56] niedzielski commented on #497
@kenny-evitt, thanks! I don't have bandwidth to help develop a fix but I would be happy to help test one when it does come along.

[2015-09-02 13:13] #1959 closed

[2015-09-02 20:35] conchis opened #1965 "Error when opening repl"
Without any updates of changes, this following started happening every time I try to open a Clojure repl. I am not sure why it is looking for bootstrap.js.

[code]

[2015-09-02 22:14] use924 commented on #1962
Thanks for the reply. I am surprised nobody else has reported this problem. Perhaps there is
something wrong with my setup (no problems with julia though, only with python- )
so no worries..

[2015-09-02 23:27] kenny-evitt commented on #1885
Duplicate of #1277

[2015-09-02 23:27] #1885 closed

[2015-09-02 23:30] kenny-evitt commented on #1963
I can't reproduce this on Ubuntu. I suspect I'm not running the latest version on the relevant Windows box.

[2015-09-02 23:35] kenny-evitt commented on #1498
It seems likely these errors are due to ["bash identifiers containing hyphens because, strictly speaking, they are illegal in bash"](https://github.com/LightTable/LightTable/issues/1277#issuecomment-36441727).

@sidcarter Do you see "Failed to source PATH files. See console log for details." in the bottom status bar when you get this error? I just want to confirm that the changes made by [this PR]

[2015-09-03 00:51] sidcarter commented on #1498
This is what was there in my .profile:

[code]

And these are the exact messages in the console:

[code]

Don't see anything else in the bottom status bar. I'm using:

Light Table version
0.7.2
Binary version
0.8.4

[2015-09-03 04:38] cldwalker commented on #1457
@drakulavich Thanks for the package! I've added it to our [wiki package list](https://github.com/LightTable/LightTable/wiki#os-distributions-package). Closing as this is done
Anyone else feel free to add other links to the above wiki page

[2015-09-03 04:38] #1457 closed

[2015-09-03 04:53] cldwalker opened #1966 "Cleanup duplicated error handling"
In a number of places [like this](https://github.com/LightTable/LightTable/blob/686c9b1e5e24fcb08ff44eb57eb7889e31e37806/src/lt/object.cljs#L135-L142) we have duplicate error handling for `js/Error` and `js/global.Error`. This was before clojurescript landed `(catch :default ...`. We should find all instances of error handlers that are _exact_ duplicates and replace them with one :default handler

[2015-09-03 13:07] DavidJFelix commented on #1457
Awesome!

[2015-09-03 14:05] kenny-evitt commented on #1963
I just built the latest version of *master* on the same Windows box and this behavior still afflicts me. I also can't resize any of the other elements.

[2015-09-04 00:23] cldwalker commented on #1963
It's worth seeing if this is still an issue on #1957. If it is we'll probably want to report upstream to electron

[2015-09-04 03:27] Kindpire commented on #1863
Thanks all your help!

[2015-09-04 03:27] #1863 closed

[2015-09-05 22:25] kenny-evitt commented on #1965
@conchis *bootstrap.js* is the core Light Table code (compiled from the ClojureScript source into JavaScript). What version of LT are you running? What OS are you running? Please provide steps and code to reproduce this.

[2015-09-06 19:36] kenny-evitt commented on #1963
@cldwalker Will do. I can't repro this with #1957 on my Mac.

[2015-09-07 14:22] #1958 closed

[2015-09-09 15:02] kenny-evitt opened #1968 "How to uninstall?"
[This was recently asked on the forum.](https://groups.google.com/d/msg/light-table-discussion/FS2v0UE8EFk/DD-lAFU2AwAJ)

[2015-09-09 15:16] kenny-evitt commented on #1968
[I answered in the forum post](https://groups.google.com/d/msg/light-table-discussion/FS2v0UE8EFk/cHvbZ4HfAwAJ):

For Windows, the user data directory should be *%APPDATA%\\LightTable* and (probably) also *%APPDATA%\\..\LightTable*. *%APPDATA%* is (typically?) *C:\Users\user\AppData\Roaming*. I can't quite tell why some files are in one directory versus the other. It may be due to our recent migra

[2015-09-09 15:16] #1968 closed

[2015-09-10 01:57] cldwalker opened #1970 "Commands/behaviors aren't immediately available after installing a plugin through the plugin manager"
To reproduce:
* Install a plugin e.g. [Whitespace plugin](https://github.com/LightTable/Whitespace)
* Expect to see a command from the installed plugin in the command bar e.g. Command `Editor: Toggle visible whitespace"` but command not found

If you execute the command `App: Reload behaviors`, then the command is found. This is loosely related to #1042. For an example of a behavior not being imme

[2015-09-10 13:45] kenny-evitt opened #1971 "Document workaround for 'uberjar + connect' error when eval-ing Clojure projects"
See #1052 and its multiple duplicates for details and examples.

The basic issue is that the LT Clojure plugin components and their dependencies are not isolated from the dependencies of the user project being eval-ed. Running `lein uberjar` results in additional project dependencies being populated in the classpath shared by both LT and the project. Running `lein clean` removes the project depend

[2015-09-10 13:45] kenny-evitt commented on #1971
@rundis @cldwalker Where do we want to document this? I think it's perfectly reasonable to punt on this for now – this issue, and the original bug reports too, all document this workaround.

[2015-09-10 15:20] hiredgunhouse commented on #1928
I just confirmed using another machine that this problem does not exist anymore (I used the binaries are created about 12 days ago on the original machine)

[2015-09-10 18:00] rundis commented on #1928
Great. Tx

[2015-09-11 05:05] cldwalker opened #1973 "Update ClojureScript"
Updating ClojureScript is important because it's preventing us from using cljs.test (#1647) and more importantly from evaling in modern clj/cljs projects (LightTable/Clojure#52). Here is a running list of known todos needed to update cljs:

* Remove uses of `lt.util.cljs/clj->js` and `lt.util.cljs/js->clj` and rely on the fns of the same name that come with clojurescript
* Update `lein cljsbuild`

[2015-09-11 05:06] cldwalker commented on #1739
This issue has been superseded by #1973

[2015-09-11 05:06] #1739 closed

[2015-09-11 21:35] cldwalker commented on #1961
Fixed with #1964

[2015-09-11 21:35] #1961 closed

[2015-09-13 16:57] Mosho1 opened #1974 "Long Base64 string hoses auto-completion and makes LightTable hang"
I have a file with a base64 string of an image, it's pretty long and when it gets triggered by auto-completion LightTable hangs and often doesn't recover at all.

[2015-09-13 21:13] rundis opened #1975 "Closing internal browser not cleaning up properly ?"
If I;
1. Open a html file
2. Select command ```Editor: Open current file in browser```
3. Close the browser
4. Select command: ```Console: Clear console```

I get the following exception:
[code]

[2015-09-14 05:24] rundis commented on #1975
Not entirely sure what's happening, but it seems that the browser (webview) client isn't removed when closed. Tried debugging a bit, and I can't seem to pick up any close events from the webview, but there is deffo a destroyed event being triggered (as per the IPC debug feature).

Tried adding a close event handler with a println (as per https://github.com/atom/electron/blob/master/docs/api/web-vi

[2015-09-14 05:41] cldwalker commented on #1975
Thanks for opening this. I've been seeing this bug for awhile at least since the atom-shell branch. Since it was so infrequent, I didn't dig into it more. With a reproducible case, I should have a fix up shortly

[2015-09-14 05:51] rundis commented on #1975
Cool. I can reproduce with the steps outlined in the initial comment.

[2015-09-14 14:20] bmcgonag opened #1977 "Windows 0.7.2 Settings auto-complete not functioning properly"
Trying to follow instructions in documentation and videos, but when I go into user behaviors to change line numbers and font size, the auto-complete typing either.
1. does not come up,  or
2. comes up if I backspace once, but does not provide an option for font-size.

I copied the change for line numbers from a google forum post and got that set, but the font size does not work even when copying t

[2015-09-14 16:35] anshbansal opened #1978 "Shortcuts missing from the dropdown menu"
Environment - Ubuntu 14.04 64-bit
Light Table version - 0.7.2
Binary version - 0.8.6

The "Getting started" for files and workspaces shows that the shortcuts are available on the dropdown. e.g. Ctrl + Shift + O is shown for Open file in the video. But in my Light table these shortcuts are not being shown.

[2015-09-14 16:37] anshbansal commented on #1978
The folder | file | recent at the top of workspace are also not available

[2015-09-14 17:01] anshbansal commented on #1978
I think this is related to https://github.com/LightTable/LightTable/issues/1338

[2015-09-14 17:06] anshbansal opened #1979 "instarepl broken"
I was going through the tutorial for instarepl and I found that it is broken

Environment - Ubuntu 14.04 64-bit
Light Table version - 0.7.2
Binary version - 0.8.6

![instarepl](https://cloud.githubusercontent.com/assets/4127841/9856140/9279b0f8-5b30-11e5-8083-741ce7c4c6bd.png)

In the image if I change the (+ x y) line then the numbers instead of changing increase. I mean it is like this. See the

[2015-09-14 17:23] anshbansal opened #1980 "Behaviours reloading not working for skin change"
Environment - Ubuntu 14.04 64-bit
Light Table version - 0.7.2
Binary version - 0.8.6

I followed the tutorial to the end. I changed the set skin to "light" but the whole thing did not turn white as expected and shown in the tutorial.

[2015-09-14 17:27] anshbansal commented on #1979
I thought that this was a really cool thing that I can present to some people but seeing the instarepl broken is a complete bummer.

I am learning clojure so probably going to use this till I can find time for Emacs. I wish this was not broken  as I seriously think that this is really nice.

[2015-09-14 17:29] anshbansal commented on #1980
I was able to get similar effect via
 [:editor :lt.objs.style/set-theme "codemirror"]

But the tutorial should probably be changed.

[2015-09-15 05:53] rundis commented on #1979
This is fixed in the latest clojure plugin (0.1.3 currently).
- ctrl + space  (open command bar)
- "Plugins: Show plugin manager"
- Find the Clojure plugin and click upgrade

After it's installed, unfortunately you current need to reload it's behaviors or restart LT
Reloading:
- ctrl + space
- "App - Reload behaviors"

Once that is done you can open an instarepl and results shouldn't be stacking a

[2015-09-15 13:08] #1975 closed

[2015-09-15 13:22] anshbansal commented on #1979
Thanks for the details. Different colors not working. But maybe that is not important.

[2015-09-15 21:50] kenny-evitt commented on #1974
@Mosho1 I'm not sure how to reproduce this. Would you please provide an example file and detailed steps to reproduce?

[2015-09-15 21:55] kenny-evitt commented on #1977
@bmcgonag What version of Windows are you running? Would you post the exact line you're trying to add to your *user.behaviors* file to change the font size?

[2015-09-15 21:58] kenny-evitt commented on #1978
@anshbansal Please try building the latest source of the *master* branch and confirming whether you can reproduce this with that version. If indeed this is a limitation of NW.js, like #1338, then this may be resolved by the migration to Atom Electron.

[2015-09-16 06:11] anshbansal commented on #1978
I will build the master. By sunday.

I am not sure whether it is related as per the technology point of view. I was talking as per functionality. The screenshots are similar to what I see myself.

[2015-09-16 07:37] Mosho1 commented on #1974
A file with just a base64 representation of an image crashes LT for me.

For example:

[2015-09-16 13:06] salmazov opened #1981 "Can't run simple code."
![lightttable 2](https://cloud.githubusercontent.com/assets/1635615/9905287/cc5504f0-5c8c-11e5-97bc-ca7cae721a87.PNG)
![lightttable](https://cloud.githubusercontent.com/assets/1635615/9905289/cc7f03c2-5c8c-11e5-9699-14ab2059328e.PNG)

When I was wrong?

[2015-09-16 19:04] rundis commented on #1981
Evaluate second.clj first and you are good to go.

[2015-09-16 19:04] #1981 closed

[2015-09-16 19:12] rundis commented on #1979
The video's are getting pretty dated,

Bug reports really need to state what is wrong rather than referring to tutorials for us to be able to consider them. (on a side note, the tutorials page probably needs a disclaimer that things might have changed in later version, alternatively we remove them altogether and refer to them as external non supported learning resources).

Closing this issue. Let

[2015-09-16 19:12] #1979 closed

[2015-09-16 19:14] rundis commented on #1980
Duplicate of https://github.com/LightTable/LightTable/issues/1403

[2015-09-16 19:14] #1980 closed

[2015-09-16 19:28] rundis commented on #1900
@MFAshby  Pastebin gone, so I can't be bothered to try and figure out how to trigger this. Could you try and build from master to see if this is still a problem ?
(if indeed it is still a problem and it's due to electron, it would need to be fixed upstream)

[2015-09-16 19:32] rundis commented on #1907
ref suggestion from @Robsteranium. If this isn't sufficient we are open for pull requests :)

[2015-09-16 19:32] #1907 closed

[2015-09-16 19:37] rundis commented on #1886
Closing this as I'm pretty sure the PR above (which is now merged to master) handles most cases a lot more gracefully.

[2015-09-16 19:37] #1886 closed

[2015-09-16 19:43] rundis commented on #1890
Probably not going to happen anytime soon :-) Unless you feel inclined to whack one up I

[2015-09-16 19:43] #1890 closed

[2015-09-16 19:44] rundis commented on #1852
Works on master

[2015-09-16 19:44] #1852 closed

[2015-09-16 22:07] kenny-evitt commented on #1974
@Mosho1 I just created an empty text file in LT and copied your base64 string into the empty file in LT.  I'm guessing you're not following those same steps – what are you doing? The more detailed you are the more easily I can reproduce your issue and the faster I can determine what's causing it. See [the guidelines for submitting issues for bugs](https://github.com/LightTable/LightTable/blob/mast

[2015-09-17 03:38] Mosho1 commented on #1974
That's just what I did. I just did the same from a different pc and LT froze. I copied the string, and started typing, so that autocompletion shows. It doesn't start until the 4th or so keystroke. Sorry if I was unclear.

[2015-09-17 08:14] sbrl commented on #1890
@rundis If I knew where light table stores it's data / extensions, I could probably come up with something.

[2015-09-17 09:45] rundis commented on #1890
In the file menu for LT there is a menu choice "About Light Table"
There you will see an entry with plugins directory: for my machine that's ```/Users/mrundberget/Library/Application Support/LightTable/plugins``` (I'm on a mac)
so for me my Light Table data is basically stored under ```/Users/mrundberget/Library/Application Support/LightTable```

[2015-09-17 13:00] kenny-evitt commented on #1890
@sbrl A comment I made with info about the relevant LT and Electron code.

[2015-09-17 13:25] kenny-evitt commented on #1974
@Mosho1 Generally, you can't be *too* specific or detailed in describing steps to reproduce.

I was able to reproduce this with both version 0.7.2 and a build of a very recent version of *master*.

In 0.7.2 the UI isn't responsive but I can open menus and various hover effects still work. In the *master* build the entire window goes white.

Steps to reproduce:

 1. Create a new text file.
 2. Past

[2015-09-17 16:38] sbrl commented on #1890
Right. I might try taking a look at bundling light table with [portable apps](http://portableapps.com/) then!

[2015-09-18 15:41] wzhishen commented on #1817
Win7 seems working fine for me.

LightTable Version: 0.72
OS: Windows 7 Enterprise (Build 7601: Service Pack 1)

[2015-09-18 16:13] schodge commented on #1905
I'm not sure what changed, but this is no longer a problem.

[2015-09-18 16:13] #1905 closed

[2015-09-18 23:22] cldwalker commented on #1845
This should be fixed with the release of Clojure 0.2.0 plugin. If you're still having an issue please open it in https://github.com/LightTable/Clojure/issues

[2015-09-18 23:22] #1845 closed

[2015-09-18 23:34] cldwalker commented on #1443
Now that LT supports a modern version of ClojureScript, this won't be an issue for any givencljs  project. If you want to connect to the Light Table UI connection, this won't work until we update clojurescript which is being tracked in #1973

[2015-09-18 23:34] #1443 closed

[2015-09-18 23:37] cldwalker commented on #667
Closing as I never heard back on this

[2015-09-18 23:37] #667 closed

[2015-09-19 05:17] cldwalker opened #1983 "Unable to open a file via navigate pane if no tabs exist"
To reproduce on osx:
* Close all tabs
* Try to open a file e.g. Cmd+O
* Get error in console:
[code]

[2015-09-19 13:26] binary132 commented on #1343
I'm still getting this issue on 0.7.2 downloaded as a .tar.gz from the main site.

[2015-09-19 15:50] kenny-evitt commented on #1343
@binary132 Try building the latest source version and comment whether you can reproduce this issue.

[2015-09-19 16:08] kenny-evitt commented on #1817
@MrDetonia @Trapets Try building the latest source version and comment whether you can reproduce this.

[2015-09-19 17:20] cldwalker commented on #1974
@kenny-evitt Thanks for looking into this.
@Mosho1 Thanks for the report. We've had the same issue reported in #1635 and is being tracked there. There's a suggested fix on that issue if you're interested in contributing

[2015-09-19 17:20] #1974 closed

[2015-09-19 17:56] #1971 closed

[2015-09-19 18:40] cldwalker opened #1984 "Add back proxy support"
Proxy support [was disabled](https://github.com/LightTable/LightTable/blob/dec215a2846644e5544c971c4275f6d8313ad730/src/lt/objs/deploy.cljs#L193) and not implemented in the move from node-webkit to electron. Updating [the old proxy](https://github.com/LightTable/LightTable/blob/dec215a2846644e5544c971c4275f6d8313ad730/src/lt/objs/deploy.cljs#L29-L48) with [the electron one](https://github.com/atom

[2015-09-19 19:36] cldwalker opened #1985 "Cleanup forked and non-standard javascript dependencies"
This is a parent issue to keep track of forked and non-standard js dependencies. While this isn't currently pressing, at some point it would be good to have [all of our js dependencies](https://github.com/LightTable/LightTable/tree/master/deploy/core/node_modules) be upgradeable and non-forked so we can report issues upstream. Here they are under node_modules/ :

* [ ] `replace` - forked
* [ ] `so

[2015-09-19 19:41] cldwalker opened #1986 "Cleanup malformed overindented behaviors"
There are a number of behaviors throughout the codebase that are incorrectly indented e.g. [here in browser.cljs](https://github.com/LightTable/LightTable/blob/dec215a2846644e5544c971c4275f6d8313ad730/src/lt/objs/browser.cljs#L138-L173). Since there are still quite a few, we should just fix this and avoid the code churn it adds to pull requests. The PR for this should only be whitespace changes an

[2015-09-20 09:36] salmazov opened #1987 "CTRL + Space doesn't work in Yosemite 10.10"
It's a pity, but LT doesn't work with OSX 10.10.

What should I do to use CTRL + Space in LT on my Mac?

[2015-09-20 11:38] hiredgunhouse opened #1988 "LT does not build on Windows"
script/build.sh in line 24 contains a command:
[code]
but the problem is that the grunt script file is named grunt.cmd and Cygwin does not pick up .cmd extension as executable file cause it does not seem to respect PATHEXT environment variable.
Anyway I believe that the line should not specify path to grunt a simply be:
[code]
This fix works for me on Windows, but I haven't tested it on Linux.
I c

[2015-09-20 15:20] binary132 commented on #1343
Can't reproduce bug when building current master (0.8.0).  I thought the fix was in for 0.7.2 for some reason though.

[2015-09-21 19:50] levitanong commented on #1987
That's odd. I don't recall having this problem back when I was using Yosemite. Perhaps it's bound to something else?

[2015-09-21 22:47] cldwalker opened #1991 "Todos with a modern ClojureScript version"
This is a running list of things todo once we're on a modern version of ClojureScript e.g. >= 1.7.x :

* [ ] Verify #1025 is resolved and close
* [ ] Replace [this user plugin.edn generation hackiness](https://github.com/LightTable/LightTable/blob/dec215a2846644e5544c971c4275f6d8313ad730/src/lt/objs/plugins.cljs#L635-L642) with cljs.pprint
* [ ] Generate source maps and include it in stack traces

[2015-09-21 22:53] #1970 closed

[2015-09-22 02:21] Rmmichael95 commented on #533
+1

[2015-09-22 13:13] #1944 closed

[2015-09-22 13:13] cldwalker commented on #1944
This is fixed on master

[2015-09-22 21:27] kenny-evitt commented on #1988
I don't have any problem running this in a Cygwin Terminal on two different Windows 7 boxes. What version of Windows are you on? What's the error or warning you're seeing when you run the build script?

[2015-09-22 21:29] kenny-evitt commented on #1987
@cldwalker @rundis Are either of you on OS X 10.10?

[2015-09-23 05:08] rundis opened #1993 "Make uninstall plugins cleanup as much as possible without restart"
It would be neat if uninstalling a plugin did more cleanup runtime than it currently does.
- Remove commands from command-bar
- Cleanup references in .behaviors files
- Cleanup references in keymaps
- ...

I realize it's not trivial, but worth discussing what would be possible :-)

[2015-09-23 09:47] edwinksl commented on #1457
Excellent, thanks!

[2015-09-24 09:41] hiredgunhouse commented on #1988
@kenny-evitt ok, it is something I will have to investigate further, on the initial run of script/build.sh there is this file deploy/electron/node_modules/.bin/grunt that somehow disappears later.
Ignore the problem for now and I'll get back to you with more details.

[2015-09-24 17:34] akash-vartak opened #1994 "Light Tables opens very slowly in Windows 10"

[2015-09-25 09:35] salmazov commented on #1987
It's fantastic! Yes, of course. It's bound to Spotlight Search by default.

[2015-09-25 10:55] kenny-evitt commented on #1987
See this Stack Overflow question for the same issue affecting Eclipse:

 - [Insert code template in eclipse on mac os x (ctrl-space not working)](http://stackoverflow.com/q/2209181)

[2015-09-25 10:55] #1987 closed

[2015-09-25 13:20] kenny-evitt commented on #1994
Please read [the guidelines for contributing](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md), particularly [the section on reporting bugs](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs):

In this case, the steps to reproduce seem obvious. [But generally it's helpful to be more detailed than you might deem necessary!]

Your operating system is obvi

[2015-09-25 17:19] akash-vartak commented on #1994
ohk...thanks, and sorry I didn't know about the info to be given when reporting bugs.
Will get back ASAP.

[2015-09-25 17:41] akash-vartak commented on #1994
I am running Windows 10 on Lenovo S510P - IdeaPad
Light Table Version: 0.7.2
Binary Version:0.8.6
Plugins - none

It takes about a whole minute to open.
By open I mean, I see the LT window with the huge LIGHT TABLE text but my previous workspace window or the default 'welcome' window does'nt open for about a minute or half.

I am attaching two images I thought would help.
![screenshot 1](https://c

[2015-09-25 18:51] mdouglasbrett opened #1995 "r"

[2015-09-25 18:52] #1995 closed

[2015-09-25 19:57] kenny-evitt commented on #1994
@akash-vartak No worries! And thanks for the extra info. A minute might just be how long LT needs to fully load on your computer. The version of LT you're running uses node-webkit (now NW.js) which uses Chromium so LT is pretty similar to (an older version of) Chrome. How long does Chrome take to startup? [I don't think this is a particularly good comparison; in part because Chrome typically uses

[2015-09-25 19:59] kenny-evitt commented on #1995
Is it International Talk Like a Pirate Day?

[2015-09-25 20:18] mdouglasbrett commented on #1995
Ha(r) I think it was last week! I had the focus on the wrong window, was trying to clear my terminal and sounded like a pirate by mistake :)

Michael Brett

[2015-09-26 06:47] akash-vartak commented on #1994
Thanks for the verbose explanation. LT is slow only at startup.
Chrome is pretty fast though.

[2015-09-27 20:21] petermolnarnomicom commented on #1750
The energy issue still exists. The problem is that LT keeps the background Julia process busy...at about 20% when I'm not typing...
I'm running LIghtTable version 0.7.2 (binary version 0.21.2) from the atom-shell branch on GitHub, OS X 10.10.5, and Julia 0.3.11.
I keep other Julia REPLs running, and they are fine when idle.
I would greatly appreciate any suggestions.
Thanks

[2015-09-27 21:23] kenny-evitt commented on #1750
@petermolnarnomicom Try building the latest *master* branch and running that. But I suspect this may be an issue with [the Julia plugin](https://github.com/one-more-minute/Julia-LT).

[2015-09-27 22:29] petermolnarnomicom commented on #1750
Has the atom-shell part been merged to the master?
I’ll try it out.
Thanks
-p

Peter Molnar
Senior Data Scientist
NOMi®
O +1.678.367.2943 | M +1.404.271.2872
twitter @getnomi <https://twitter.com/getnomi> | LinkedIn petermolnar <https://www.linkedin.com/in/petermolnar>

[2015-09-28 21:40] kenny-evitt commented on #1750
@petermolnarnomicom Yeah, [*atom-shell* was merged almost three months ago](https://github.com/LightTable/LightTable/pull/1756) (!). We're definitely getting *closer* to the next release.

[2015-09-29 16:43] buzzshiva opened #1997 "LightTable not able to detect classpath of lein project"
LightTable not able to detect classpath of lein project, Can someone let me know how to set classpath in lightTable for clojure projects using lein.

java.io.FileNotFoundException: Could not locate guestbook/models

[2015-09-30 02:14] kenny-evitt commented on #1997
Light Table is just using Leiningen. Are you able to run your project directly with Leiningen?

Also, see [the section about bugs](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs) in [the contributing guidelines](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md):

Steps would be helpful.

Your OS, OS version, LT version, and plugin versions (particular

[2015-09-30 03:41] buzzshiva commented on #1997
Basically I created a lein project and imported the root project folder and started liverepl where I pointed the src/guestbook/models/db.clj file using

Also be noted that I'm able to resolve the classpath using lein repl under the same directory i.e., c:\samples\guestbook\lein repl,

[use 'guestbook.models.db]

under lein classpath i can see the path is available, but guestbook model is not getti

[2015-09-30 05:35] rundis commented on #1997
@buzzshiva I think there are some severe limitations with the instarepl when handling clojure projects (not sure if it has been recently introduced or not). This issue is related: https://github.com/LightTable/Clojure/issues/55

If you skip using instarepl and rather use eval form or eval editor contents expllicitly should work as you would expect.

[2015-10-01 07:05] MMSN commented on #1965
@kenny-evitt I got the same issue, LT 32, Linux Mint 17. I was following this tutorial: http://docs.lighttable.com/ , in the second step, when opening the REPL the error happened.

Sorry >.<

[2015-10-02 00:17] kenny-evitt commented on #1965
@conchis I'll re-open if this is still an un-resolved issue.

[2015-10-02 01:21] kenny-evitt commented on #972
This is *probably* irrelevant now that we've (a while ago now) merged the changes to migrate from node-webkit to { Atom Shell / Electron }.

[2015-10-02 01:21] #972 closed

[2015-10-02 02:52] kenny-evitt commented on #1936
@rundis @cldwalker Regarding "Verify that future self-updates of LT will use GitHub (instead of Kodowa sites); and verify that updates actually work.":

 - Long-term, we shouldn't need to direct users to download the "binary version" from the main website anymore, right? We should be able to replace the binary (somehow) after requesting that the user restart – but let's definitely punt on that for

[2015-10-02 02:54] kenny-evitt opened #1998 "Test LT self-updates via GitHub releases"
This is part of the upcoming 0.8.0-alpha release – see issue #1936.

[2015-10-02 03:58] cldwalker commented on #1936
lighttable.com is a pretty well known site so we'll want to keep download links valid initially (for an official release). If it becomes a pain to update 3 download links we could consider linking to the github download page

We have deploy.cljs to auto-updates non-binary releases. We'll have to write more code to achieve this. I think we have more pressing issues but feel free to open an issue if

[2015-10-02 04:01] cldwalker commented on #1936
@rundis @kenny-evitt Do we want to freeze master and QA for an alpha release? I'm waiting on @ibdknox as we sort out osx cert issues but I don't think we need to block on it for pre-releases

[2015-10-02 13:29] kenny-evitt commented on #1685
I'm guessing this is no longer an unresolved issue. If it is, please build the latest source off the *master* branch and comment on this issue if you're still having this problem.

[2015-10-02 13:29] #1685 closed

[2015-10-02 13:33] kenny-evitt commented on #1936
@cldwalker @rundis I'm fine with freezing master. We have "Add 0.8.0 milestone to all open issues that will be resolved for inclusion in this release" on the checklist above – I'm going to make a quick pass thru the open issues to check for anything that might be reasonable to address now but I'm very confident there's nothing like that.

[2015-10-02 13:59] kenny-evitt commented on #524
Anyone – add a comment if this is still an un-resolved issue.

[2015-10-02 13:59] #524 closed

[2015-10-02 14:01] kenny-evitt commented on #543
Anyone – add a comment if this is still an unresolved issue.

[2015-10-02 14:01] #543 closed

[2015-10-02 14:03] kenny-evitt commented on #557
We can re-open this if anyone is willing to submit a PR for the relevant changes.

[2015-10-02 14:03] #557 closed

[2015-10-02 14:07] kenny-evitt commented on #558
I added this to the [feature wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist).

[2015-10-02 14:07] #558 closed

[2015-10-02 14:10] kenny-evitt commented on #581
We can re-open this if anyone is willing to submit a PR.

[2015-10-02 14:10] #581 closed

[2015-10-02 14:12] kenny-evitt commented on #586
@zencodism I don't know of any reason why this would be fixed, but would you mind confirming whether you can reproduce this with a build of the latest source version of the *master* branch?

[2015-10-02 14:16] kenny-evitt commented on #593
We can re-open this if anyone is willing to submit a PR.

[2015-10-02 14:16] #593 closed

[2015-10-02 14:25] kenny-evitt commented on #597
@pawrsccouk I'm not sure if I can reproduce this with your code. When I run your code I see the `"Exception on canvas paint."` exception logged to the console.

@pawrsccouk @spoon16 I'm going to tentatively consider this to have been resolved. If I'm wrong, add a comment to that effect and I'll re-open this. Build the latest source version of the *master* branch if you can to test reproducing this

[2015-10-02 14:25] #597 closed

[2015-10-02 14:31] kenny-evitt commented on #687
If anyone is still interested in this, add it to [the feature wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist). Also, provide some details – doing so as a comment on this issue is fine – as PeepCode seems to have been acquired and neither of the links in the original comment work now.

[2015-10-02 14:31] #687 closed

[2015-10-02 14:36] kenny-evitt commented on #1017
We probably updated the CodeMirror code we use at some point. I can't reproduce this with the snippet to which @andremendesc linked in the previous comment.

[2015-10-02 14:36] #1017 closed

[2015-10-02 14:48] kenny-evitt opened #1999 "Only one editor search match on each line is highlighted"
This was originally reported in #1022.

Steps to reproduce:

 1. In an open file, type the example text below.
 2. Invoke the editor find (e.g. <kbd>Ctrl</kbd>+<kbd>f</kbd>) and type `lighttable` in the "find" field.
 3. Only the first `LightTable` words on each line are highlighted – the second word on the first line is not highlighted.

I reproduced this on a Windows 7 box running a recent sourc

[2015-10-02 14:49] kenny-evitt commented on #1022
We can reopen this if anyone is interested in submitting a PR to add a configuration setting for this.

I created a separate issue for the search match lighting bug – #1999

[2015-10-02 14:49] #1022 closed

[2015-10-02 16:28] kenny-evitt commented on #1060
As mentioned in [this comment](https://github.com/LightTable/LightTable/issues/1665#issuecomment-62507373) on a related issue, this is probably due to something with the InstaREPL not evaluating, or not displaying the results of evaluating, certain forms.

I can reproduce a similar behavior for string literals:

[code]

However, the string literal doesn't prevent *subsequent* forms from being eval

[2015-10-02 16:39] kenny-evitt commented on #1079
I added this to [the feature wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist). We can re-open if anyone is interested in submitting a PR for this, tho this could also be implemented as a plugin.

[2015-10-02 16:39] #1079 closed

[2015-10-02 16:41] kenny-evitt commented on #1080
Anyone – comment whether this is still unresolved, particularly with a build of the latest source (on the *master* branch), and we can reopen it.

[2015-10-02 16:41] #1080 closed

[2015-10-02 18:34] kenny-evitt commented on #1088
@Ghassan I was wrong in writing earlier that you only need to run `script/build-app.sh` – you need to run `script/build.sh` at least once. `build-app.sh` just packages the build files.

If you can, try building the latest source version again.

I'm not sure what you mean by "optional commands".

[2015-10-02 19:12] salmazov commented on #1987
Great! But it's not user-friendly. System shortcuts should be major. Are you seriously think that LT main functional is more major than system?

It's not appropriate!

[2015-10-02 19:13] salmazov commented on #1875
And you think it's good and handy behaviour?

[2015-10-02 19:36] jleclanche commented on #557
If you're still accepting PRs fixing this, then why close the bug? *shrugs*

[2015-10-02 21:49] rundis commented on #1987
according to these pages https://support.apple.com/kb/PH18799?locale=en_US and https://support.apple.com/kb/PH14213?locale=en_US  `cmd+space` is the default shortcut for spotlight search. So if that information (from apple) is correct, ctrl+space is perfectly okay. I haven't heard anyone else complain about this before now either.

You can also customize the shortcut to pretty much whatever you pr

[2015-10-02 21:52] rundis commented on #1875
@salmazov What do you mean by that statement ? I think the closing comment was pretty explanatory.

[2015-10-02 22:03] rundis commented on #1936
@cldwalker @kenny-evitt I'm fine with freezing master.

[2015-10-02 22:25] cldwalker commented on #1936
@rundis Great. Assuming @kenny-evitt does windows, do you want to QA linux or osx? I'm fine doing anything

[2015-10-03 00:52] kenny-evitt commented on #557
@jleclanche I closed this to cleanup the list of open issues. If no one's interested in working on this, why keep it open?

More generally, because the original team has moved on to another project, the only changes that are going to be made are those that the remaining contributors are interested in in working on. I'm running LT on Linux, but this isn't a priority for me.

There's no definitive i

[2015-10-03 01:35] jleclanche commented on #557
I don't know about electron, but as far as the spec goes, config should at the very least be in `$XDG_CONFIG_HOME/<project>/...` or some form of it. You can respect the spec to various extents so it depends on the complexity you want to introduce.

[2015-10-03 02:29] kenny-evitt commented on #557
Huh – here's [the relevant Electron doc](https://github.com/atom/electron/blob/master/docs/api/app.md#appgetpathname) now:

[It looks like this has been in Electron since version 0.20.7](https://github.com/atom/electron/commit/8aa5b97c614994c07335e823854ab6a702a96228) and we're currently on 0.31.1.

Would you try building the latest source and checking where it creates the directory?

[2015-10-03 02:31] kenny-evitt commented on #1968
[On Linux, the user data directory should be](https://github.com/atom/electron/blob/v0.31.1/docs/api/app.md#appgetpathname):

[2015-10-03 02:33] jleclanche commented on #557
I can't right now, sorry. I'll leave it up to someone else to try it.

[2015-10-03 17:42] kenny-evitt opened #2000 "Saving HTML or JS files connected to browser doesn't refresh browser tab"
@cldwalker @rundis

I'm QA-ing the latest *master* version on my Linux box and one item I'm testing isn't working as I'm interpreting it as written in [the QA checklist](https://github.com/LightTable/LightTable/wiki/QA-Checklist):

Is saving itself really supposed to be sufficient for the connected browser tab to refresh automatically? Or do I need to eval the files instead? Eval-ing works; saving

[2015-10-03 17:53] kenny-evitt opened #2001 ""Devtools: Verify js console and inspect element" for connected browser HTML and JS files?"
@cldwalker @rundis

This pertains to QA-ing the latest source version on Linux.

I'm not sure what the [QA checklist](https://github.com/LightTable/LightTable/wiki/QA-Checklist) item quoted in the title of this issue means. The only 'devtools' I can find is the standard LT-global Chromium Developer Tools window/frame. `console.log` calls in included JS files are being included in the LT console no

[2015-10-03 17:59] kenny-evitt commented on #2000
Huh; I see some errors logged in the console [I don't know if I just missed them before; that's very possible]:

[code]

[code]

[2015-10-03 18:06] kenny-evitt commented on #2000
Actually, saving a CSS files *does* cause the browser tab to 'refresh' – really the CSS is just being re-evaluated. I can tell it's not being refreshed, in the usual sense of what that would mean, because the browser tab isn't showing changes I made, and saved, for the HTML file.

[2015-10-03 18:13] kenny-evitt commented on #2000
This seems like it might be related to this:

 - [Error saving HTML connected to browser -> Invalid behavior: :lt.plugins.html/eval-on-save · Issue #1309 · LightTable/LightTable](https://github.com/LightTable/LightTable/issues/1309)

But I'm not getting those errors, the same ones I quoted above. I disconnected all of the connections. I closed the tabs for my HTML, CSS, and JS files. I re-opened t

[2015-10-03 18:15] kenny-evitt commented on #2000
Bear with me – I'm mixing up things I've observed. I'm going to start over and describe the exact steps I take and the resulting behavior.

[2015-10-03 18:31] kenny-evitt commented on #2000
I made [a separate repo with the example code I'm using to QA](https://github.com/kenny-evitt/LightTable-QA-examples).

[2015-10-03 18:48] kenny-evitt commented on #2000
1. I removed [the LT WebSocket JS script from my main HTML file](https://github.com/kenny-evitt/LightTable-QA-examples/blob/master/web.html#L11). [I'm guessing that was the cause of the second connection being made I mentioned above.]
 2. I closed and re-opened LT.
 3. I opened my main HTML file.
 4. I eval-ed the entire HTML file. A browser tab opened with the web page.
 5. I made a change to the

[2015-10-03 22:18] kenny-evitt opened #2002 "Problems with plugins with latest source version on Linux"
On my Linux box, running Ubuntu 14.04

I'm running the Vim plugin with no issues so I don't *think* there's any issues with plugins in general.

## Markdown

I attempted to installed the plugin from the plugin manager. After closing and re-opening LT, no commands were listed in the command pane.

In my plugin directory, there's a directory named *Markdown-tmp*, and the archive file *Markdown-temp.

[2015-10-04 06:20] Ghassan commented on #1088
Ah, ok, thank you so much for letting me know. I'll try that.

-Ghassan
[image: www.linkedin.com/in/ghassanayesh]
<http://www.linkedin.com/in/ghassanayesh>
http://ghassan-ayesh.blogspot.com/

On Fri, Oct 2, 2015 at 11:34 AM, kenny-evitt <notifications@github.com>
wrote:

[2015-10-04 14:12] kenny-evitt commented on #2000
I was able to reproduce the exact same behavior (as described in the previous comment) on my Mac OS X box.

[2015-10-04 15:28] cldwalker commented on #2002
You no longer need to do this now that #1990 has landed. You should have gotten an error message in when Markdown failed to install. If not, reproducible steps and a separate issue would be great

TernJS has been buggy so I wouldn't trust it as a good install test. The oudated version number is weird. We only get that information from plugin.{json,edn}. If you can find reproducible steps for it, p

[2015-10-04 15:37] cldwalker commented on #2001
@kenny-evitt Sorry for the vagueness and feel free to update the QA for clarity. That item is about using the `Dev: Open Developer Tools` command anywhere in LT. Once  Chromium Dev Tools is open, verify the [Elements tab](https://www.dropbox.com/s/j6m871342x3n73v/Screenshot%202015-10-04%2011.35.13.png?dl=0) and Console tab appear to be working. For Console tab verification, I'd recommend `document

[2015-10-04 15:43] cldwalker commented on #1936
It seems @kenny-evitt is doing linux. @rundis Go for osx. I'm fine picking up windows using virtualbox. I hope to get to it by next weekend.
Fyi, I've tagged the latest commit on master with an 0.8.0-alpha tag. We can always re-tag if we uncover any release blockers during QA

[2015-10-04 15:50] kenny-evitt commented on #1936
@cldwalker I'll do Windows too sometime this week; no harm in overlapping.

@cldwalker @rundis Except for a few issues I ran into (and a more-thorough testing of the Emacs plugin), Linux seems good to go; especially for an alpha release.

[2015-10-04 15:55] kenny-evitt commented on #2001
@cldwalker Ahh. I'll test the Console tab then but the Elements tab was definitely working.

[2015-10-04 15:57] kenny-evitt commented on #2002
@cldwalker I'll re-test then and open issues on the main repo at first. If appropriate, I'll open issues against each plugin.

[2015-10-04 20:15] rundis commented on #1936
Ok. I'll give the qa checklist on osx a go as soon as I can this week.

[2015-10-05 07:48] Wolfi opened #2003 "Umlaut 'ü' on enabled pair-keymap-diffs"
Related to #620

In version 0.7.2, if pair-keymap-diffs is enabled (`[:app :lt.objs.settings/pair-keymap-diffs]`) the `ü` key inserts `[` instead.

[2015-10-05 11:49] alilee commented on #1685
No issues now - thanks.

[2015-10-05 13:23] cldwalker commented on #1936
@kenny-evitt Ok. I'll probably do linux on VBox since we're overlapping
I deleted the 0.8.0-alpha tag just now as I forgot tags are used by our self-update system. For the record, 0.8.0-alpha is 683785fdf571d32e86aa9fd7e6e98204243207b3 and I'll add tagging to the checklist

[2015-10-05 14:02] kenny-evitt commented on #1936
@cldwalker I was just going to ping you about the tag. I left LT open on my Windows box at work and it helpfully informed me that "There's a newer version of Light Table!".

Maybe we could check GitHub releases instead of tags for the auto-update?

[2015-10-05 16:03] kenny-evitt commented on #2003
@Wolfi Please try to reproduce this with a build of the latest source version. #620 is tagged as being fixed on *master*.

[2015-10-05 16:05] kenny-evitt commented on #2003
I see now that the fixed-on-master tag for #620 should mean that this is fixed on 0.7.2 too. But this still should be reproduced on the current source version.

[2015-10-05 16:31] rundis commented on #1936
@cldwalker Yeah. Noticed an excited tweet about a new release of Light Table in my twitter stream.

[2015-10-05 16:45] cldwalker commented on #1936
@kenny-evitt Since that's more work and it's not a blocker, I'm inclined to leave it alone for now. We can reconsider later
@rundis Yep. I emailed the group to let em know about the false alarm

[2015-10-05 18:24] kenny-evitt commented on #1094
Closing due to no activity. #1984 covers implementing proxy support tho we still need someone with access to a proxy to test the changes.

[2015-10-05 18:24] #1094 closed

[2015-10-05 18:25] kenny-evitt commented on #1895
@EarthCitizen Any chance you could help test implementing or fixing proxy support? See #1984 for the latest issue covering this.

[2015-10-05 18:34] EarthCitizen commented on #1984
For anyone looking for temporary solution:

The issue I found was that it was not able to connect through NTLM authenticated proxies. The workaround for me was to install and use Cntlm. It is a local proxy that connects to your network's proxy on your behalf. So, a proxy to your proxy. You give it the credentials to your network's proxy then just point LightTable at localhost.

[2015-10-05 18:37] EarthCitizen commented on #1895
@kenny-evitt Yes, sure! I am behind an NTML proxy which is exactly what you need to test. I am more than happy to help.

[2015-10-05 18:37] EarthCitizen commented on #1895
Also see my comment in #1984

[2015-10-05 20:30] rundis commented on #1936
What should we do in terms of documenting breaking or potentially breaking changes from version 0.7.2 too 0.8.0 ? (Especially for plugin authors). Discovered that while testing node integration through one of my early plugins (instabuster) was broken due to removal of lt.objs.thread.node-exe. Easy fix, but would be nice if we were somehow able to document breaking changes in the api (whatever we m

[2015-10-05 21:06] rundis opened #2004 "Inline results not cleared when evaling same statement again"
Steps to reproduce

- Open a editor for clojurescript (say a plugin cljs file)
- connect to lt-ut
Enter and evaluate:
[code]
- then change change hello to hello world and voila to results, and so on.

<img width="498" alt="screen shot 2015-10-05 at 22 45 30" src="https://cloud.githubusercontent.com/assets/399197/10293075/ddf6af6c-6bb2-11e5-9d2f-91ceead83022.png">

Happens with both clojure and clo

[2015-10-05 21:16] kenny-evitt commented on #1936
How feasible is it for us to figure out what's changed in the 'public API' since 0.7.2?

[2015-10-05 21:17] kenny-evitt commented on #1936
Maybe the 'alpha' modifier for this release absolves us of any breaking changes and we make documenting any breaking changes (or unbreaking them) part of the stable release process.

[2015-10-05 21:25] kenny-evitt commented on #2004
I was able to reproduce this on Windows just now and I'm pretty sure I saw the same on Linux, both with the latest source.

I wasn't sure this was fixed before.

[2015-10-05 21:40] kenny-evitt commented on #2000
I was able to reproduce the exact same behavior on my Windows 7 computer.

[2015-10-05 21:42] kenny-evitt commented on #2001
I added some details to the item in the checklist.

[2015-10-05 21:42] #2001 closed

[2015-10-05 21:46] cldwalker commented on #1936
@kenny-evitt @rundis I can include a list of removed fns in a plugin authors section for the release email. I already have some other notes we'll need to mention to plugin authors. The release email will be rather long so at some point I'll put up a copy for review. I could start a wiki page for it if that helps

[2015-10-05 21:54] kenny-evitt opened #2005 "Maximized position (with two monitors) isn't exactly restored on Windows 7"
This pertains to [the QA checklist](https://github.com/LightTable/LightTable/wiki/QA-Checklist) item "Restore position works on re-boot".

I've observed this with recent source versions including a build of the latest source version just now.

When (re-)opening LT the window is roughly the size of one entire desktop. My desktop resolution is 1920 × 1200. The LT window seems to be 1936 × 1176 (base

[2015-10-05 22:00] kenny-evitt opened #2006 "Error selecting "Open recent workspace" from "File" menu or "Workspace" from "View menu on Windows 7"
The error:

![image](https://cloud.githubusercontent.com/assets/1461730/10294840/b1c64754-6b8a-11e5-92ef-8c4f501baf36.png)

Text of the error:

[code]

The "Open recent workspace" item in the context menu of the workspace tree works fine.

[2015-10-05 22:03] kenny-evitt commented on #1936
@cldwalker Wiki page or file in source for the release email would be great.

[2015-10-05 22:06] kenny-evitt commented on #1999
This seems to only apply to the case-insensitive searches. Using the same example text as above, all of the words are highlighted if I enter "LightTable" in the find bar.

[2015-10-05 22:23] kenny-evitt commented on #1936
@cldwalker @rundis QA for Windows is done. Except for minor issues, e.g. #2000, #2005, everything seems to be working.

I think #2002 (i.e. problems with some plugins) can be addressed after the alpha release.

[2015-10-06 01:02] kenny-evitt commented on #1895
@EarthCitizen Great!

[2015-10-06 05:16] rundis commented on #2004
I can also reproduce with javascript (:
![screen shot 2015-10-06 at 07 15 52](https://cloud.githubusercontent.com/assets/399197/10300686/20387fb2-6bfa-11e5-8726-0dbdd960a945.png)

[2015-10-06 08:11] rundis commented on #1936
I'm almost done with Mac OS X (maverick that is). I'll summarize my findings when done. Hopefully tnight.

[2015-10-06 08:15] rundis commented on #1936
Btw: Would be great if we could use this room (restricted to commiters) for discussions that might not be all that interesting to everyone or a particular issue: https://gitter.im/LightTable

[2015-10-06 17:49] rekrabm opened #2007 "On OS X with multiple displays LT consistently comes up off screen when reopened"
### Configuration
I have  a MacBook Pro with 2 additional displays attached - 3 displays in use.
OS X Yosemite 10.10.5
### Setup
Open, use, then quit LT on one display.

Open LT again.
#### Expected Results:
- LT opens with something similar to it's previous location on the same screen.

#### Actual results:
No window displays because the window coordinates are completely off the screen.

### Repr

[2015-10-06 20:41] rundis commented on #2004
Think this commit https://github.com/LightTable/LightTable/commit/2b0e9086927f5870966b9937efbf1c0e6ae47d95#diff-7bc0013fd8e35583a4681d44ccf83a91R313 is the culprit breaking inline results for "normal eval".

I can't see how this could possible work using ch, as soon as you change something on the line or newlines the lookup will be off ? I tried reverting the effects of this commit (or rather just

[2015-10-06 21:09] cldwalker commented on #2004
@rundis I had [similar concerns](https://github.com/LightTable/LightTable/pull/1811#issuecomment-69330596) but never heard back. After the alpha release, it may be worth seeing if changing to `[line type ch]` and making the ordering change in Clojure is doable

[2015-10-06 21:24] rundis commented on #1936
Ok. QA for OS/X pretty much done I think. Everything seems to be working pretty nicely, which isn't a huge surprise as I've been through a lot of the items on the checklist fairly regularily when using LT on OS/X from master on my previous project.

@kenny-evitt @cldwalker  If you can't fault this pull: #2008 , I think it's worth including in the alpha release as it's a regression and gives uncess

[2015-10-06 22:55] sstewartgallus commented on #1080
This is fixed.

[2015-10-07 01:18] kenny-evitt commented on #1080
@sstewartgallus Excellent

[2015-10-07 05:48] rwobben opened #2009 "virus in light table?"
Hello,

I have downloaded the last version from Windows.
I unpacked it without any problem.

But as soon as I run it and see the lightable editor AVG says there is a IDG.Ares virus in the .exe.

Roelof

[2015-10-07 11:36] tharibo opened #2010 "Plugin manager not working"
Using LightTable 0.7.2 on Windows 7 Pro.

# Steps:

<C-space>plugin   --> Plugins: Show plugin manager
"Updating plugin metadata" turns for some seconds, then
"plugin install failed: metadata"

Showing the console:
[code]

# Available plugins

No plugin is shown in the "available" tab.

# Proxy ?

I thought about some proxy issue, but i could report the issue by using Help/Report the issue, which

[2015-10-07 11:46] kenny-evitt commented on #2009
@rwobben The executable is actually node-webkit. For the pending release, and all future versions, the executable will be Electron. You could try running the latest source version instead.

I'll look into this today hopefully.

[2015-10-07 11:49] kenny-evitt commented on #2009
@rwobben I can't find any info about a virus named "IDG.Ares" virus. Please provide a link to more info.

[2015-10-07 13:00] rwobben commented on #2009
Sorry I made a typo , For more info : http://www.avgthreatlabs.com/ww-en/virus-and-malware-information/content/generic-virus/?name=IDP.ARES.Generic&utm_source=TDPU&utm_medium=IDP&PRTYPE=AVF

[2015-10-07 13:10] kenny-evitt commented on #2007
@rekrabm Would you confirm whether you can reproduce this with only one additional display (two total in use)?

Also, would you try to reproduce (both with two and three total displays) with the latest source version?

[2015-10-07 13:20] kenny-evitt commented on #2010
@tharibo I have no reason to believe this has been fixed but would you try reproducing this with the latest source version?

[2015-10-07 13:36] tharibo commented on #2010
@kenny-evitt Sincerely, I wouldn't mind trying a new beta version, but Cygwin isn't installed on my system and I don't plan to do it soon. Would you be so kind as to provide a compiled version I can test?
Or did I miss some nightly-builds somewhere?

[2015-10-07 14:14] kenny-evitt opened #2011 "Setup AppVeyor build for Windows"
Travis CI has support for OS X (and Linux) but not Windows.

[2015-10-07 14:21] kenny-evitt commented on #2010
The weird thing about the errors is that you seem to have LT installed under your Windows *Users* directory on your *D* drive but LT is looking for the plugin data in a path on your *C* drive.

Would you check the environment variable *APPDATA* and let me know what its value is?

[Here's a build of a very recent source version.](https://www.dropbox.com/s/82q1kbrq92iui3q/lighttable-0.8.0-alpha-wind

[2015-10-07 14:32] kenny-evitt commented on #2009
@rwobben Based on [my Google search results for "IDP ARES Generic"](https://www.google.com/search?q=IDP+ARES+Generic) [your results may vary], this looks like a false positive affecting several completely unrelated executable files on Windows. I think the odds that LT, Counterstrike (a game), and *memcached.exe* all being infected with the same virus is pretty low.

I just downloaded the ZIP file

[2015-10-07 14:32] #2009 closed

[2015-10-07 14:36] rwobben commented on #2009
Op 7-10-2015 om 16:33 schreef
      kenny-evitt:

      @rwobben Based on my
          Google search results for "IDP ARES Generic" [your results
        may vary], this looks like a false positive affecting several
        completely unrelated executable files on Windows. I think the
        odds that LT, Counterstrike (a game), and memcached.exe
        all being infected with the same virus is

[2015-10-07 14:51] tharibo commented on #2010
As a matter of fact, I really have a D:/users/tharibo directory AND a C:users/tharibo directory. The C one is the windows user directory, the D one is my DATA directory.
Since LightTable is provided as a ZIP and I prefer to keep my personal utilities programs, I have a D:users/tharibo/home/programs directory where I have portable versions of different utilities.

Anyway, I tested the case: copied

[2015-10-08 02:20] kenny-evitt commented on #2009
@rwobben There's no other executable.

[2015-10-08 13:13] hiredgunhouse commented on #1988
@kenny-evitt I did investigate the problem and it seems that some an old version of Atom (0.155.0) installed via Chocolatey somehow interfered with the download-electron task. Anyway I did some cleanups and LT is building fine again.
You can close this issue, sorry for the false alarm.

[2015-10-08 15:00] kenny-evitt commented on #1988
@hiredgunhouse No worries! Thanks for following up.

[2015-10-08 15:00] #1988 closed

[2015-10-08 19:43] catmeme opened #2012 "Window content is separate from window decoration, scales improperly on HiDPI"
My best guess about this issue is that it's related to HiDPI. I've attempted to use LightTable in a Linux Mint VM on a MacBook pro (Retina display) and the window content is detached from the window decoration.

* Moving the window decoration around the screen, the content scales/skews if moved past the 50% Y or 50% X axis
* Input is captured inside the window decoration (frame)
* The window conte

[2015-10-10 06:49] uripatish commented on #533
+1

[2015-10-10 19:49] cldwalker commented on #1936
@rundis I've added a comment to #2008. I'm inclined to hold off after alpha release unless you have more insight and we want to delay the alpha release.

@kenny-evitt @rundis I've put up [this release email gist](https://gist.github.com/cldwalker/3d67153fe1eade2ae3cf). Please fork/comment and I'll merge/update. I've also created a draft release under https://github.com/LightTable/LightTable/releas

[2015-10-10 22:21] aethawalka commented on #103
**laconbass**, thanks a lot

[2015-10-11 16:08] cldwalker commented on #2000
@kenny-evitt Thanks for looking into this. I confused save with eval for that item :disappointed:  and have updated the checklist. The save behavior is consistent with the behaviors in the plugin: [HTML save works once an eval client is set](https://github.com/LightTable/HTML/blob/1d1a736387732f3aef5fae8129be4028fb3f45af/src/lt/plugins/html.cljs#L26), [same for CSS](https://github.com/LightTable/C

[2015-10-11 18:58] rundis commented on #1936
@cldwalker Tried to sweeten it, but I don't have a much stronger case for #2008 than previously. Tldr; I'll leave it to your good judgement

The release log looks good. Thx for the great effort. I'll have a closer look and try to consult my memory if anything of importance is missing.

I'm fine with Monday or any other day this week, but do keep in mind the time difference so ensure I've done my p

[2015-10-11 21:01] rafpran opened #2013 "File encoded with win1250 opens as UTF-8 - cannot change"
Minimal: Need to change encoding from given to UTF-8.
Fancy: any encoding to any encoding.

[2015-10-11 21:17] cldwalker opened #2014 "Opening a file from commandline should optionally open in existing LightTable instance"
With <= 0.7.2  and node-webkit, opening a file from a commandline e.g. `light FILE` opened the file in an existing LightTable app if one existed. With 0.8.0, each commandline invocation opens a new LightTable app every time. It would be nice to have this functionality toggleable so a user can choose if they want to open a file in a new app or an existing one

I checked out before the electron clea

[2015-10-11 22:56] justintaft opened #2015 "No connection prompt for new cljs editors 0.8.0-alpha"
In Lighttable 0.8.0, i was able to:
* create a new file (not saving, just new file command)
* Set the syntax of the editor to clojurescript
* Use evaluate editor contents
This will then prompt for a connection, and allowed me to select Lighttable-ui

In Light table 0.8.0 alpha, instead of prompting for a connection, a browser tab is opened instead.

I am on osx 10.10.5

[2015-10-12 03:44] cldwalker commented on #2015
Hi Justin. This is behavior specific to the Clojure plugin 0.2.0. The only reason it differs for the above versions is because we point to the latest Clojure plugin with latest LT. To understand how cljs eval works now I'd recommend reading [this intro](https://github.com/LightTable/Clojure#clojurescript-workflows). If you'd like to revert to the old behavior of manually selecting, you can with [t

[2015-10-12 04:53] justintaft commented on #2015
Thanks

[2015-10-12 11:29] cldwalker commented on #2015
Closing since this is resolved

[2015-10-12 11:29] #2015 closed

[2015-10-12 22:20] kenny-evitt commented on #2013
@rafpran [All files seem to be being read as UTF-8.](https://github.com/LightTable/LightTable/blob/master/src/lt/objs/files.cljs#L171)

I'm not sure what we'd need to do to support this but I suspect it would be significant. Pull requests are welcome for any core changes that are required, but as-of now I think this would be best implemented as a plugin. I added this to [the feature wishlist](http

[2015-10-12 22:20] #2013 closed

[2015-10-13 03:40] MikeTheGreat opened #2016 "'Docs' panel empty when opened in offline LT"
Repro:
1. Turn off your networking (or, do like I did & ride the bus!)
2. Start LT.
3. In that nifty 'Welcome' tab there's a link with the text "If you're new, you might want to look at the Light Table's docs to get started"  Click on the link
4. The docs panel will appear but it contains nothing.  There's not even any feedback that the docs are unavailable because of network issues.

[2015-10-13 04:28] cldwalker opened #2017 "Opening and closing new windows from the menu leads to exception in linux"
On Ubuntu 14.04, I did the following:
- From the menu File > New window, open a new window.
- Close that window.
- Open another new window from the menu
- Get the following error popup: `A JavaScript error occurred in the main process` with stacktrace:

[code]

Doing the above steps does not cause an exception in OSX 10.10

[2015-10-13 06:13] cldwalker commented on #1936
I QAed linux and am fairly happy with it and only found #2017. I did notice on VirtualBox Ubuntu, LT would start up with a message that looked ominous "Running without the SUID sandbox" but Electron people say this is to be expected - https://github.com/atom/electron/issues/1482

I did notice that self-updates won't work for prereleases e.g. `(deploy/is-newer? "0.8.0-alpha" "0.8.0")`. This means t

[2015-10-13 15:10] kenny-evitt commented on #2000
@cldwalker What about needing two evals for the on-save to work for HTML? I'll create a separate issue in the HTML plugin repo for that if it's not the expected behavior.

[2015-10-13 16:04] cldwalker commented on #2000
@kenny-evitt I didn't need two evals for on-save to work on HTML on osx. I only needed one eval same as css. From the above links, I don't see a reason why it would differ from css. Perhaps a timing issue on Windows. Worth opening an issue on HTML repo if issue persists

[2015-10-13 18:47] macramole commented on #497
yep, getting the same problem using the locomotive library for nodejs

[code]

[2015-10-14 01:13] kenny-evitt commented on #2016
@MikeTheGreat Thanks for the report. Do you mind looking into this and at least the likely scope of the minimal changes that would resolve this?

[2015-10-15 05:44] cmasseraf opened #2018 "LightTable fails to find iPython 4.0 on Mac"
Hi,

I've been trying without success to get LightTable to find ipython on mac os. I'm currently running Anaconda.

Here are my observations:
- I've set [:app :lt.plugins.python/ipython-exe "/path/to/ipython"]
- I've set "export LT_IPYTHON_PATH=/path/to/ipython
- The python environment can find the IPython module

I've also tried debugging the Python plugin bug my lack of knowledge of Clojure didn

[2015-10-15 10:10] Verneri commented on #1196
I'm having this as well with OS X 10.10.4 and LT 0.7.2. To add also clicking save on the menu does not work when it happens. only copying everything, closing the file, reopening it, pasting everything and then saving helps.

[2015-10-15 14:50] kenny-evitt commented on #1196
@Verneri Would you try to reproduce this with a build of the latest source version?

[2015-10-15 14:51] kenny-evitt commented on #1196
@rundis Are you still observing this with the latest source version?

[2015-10-15 17:48] rundis commented on #1196
@kenny-evitt Haven't experienced this on atom/electron as far as I can remember.

[2015-10-15 19:02] VanAxe commented on #533
+1

[2015-10-15 19:57] kenny-evitt commented on #1963
I can't reproduce this on a more recent source version on Windows

[2015-10-15 19:57] #1963 closed

[2015-10-18 01:24] akshays04 opened #2020 "Saving unsaved content"
If the Machine turns off due to certain reasons, and the code inside light table is not saved, then that content is completely lost when we open the light table next time.

[2015-10-18 06:56] MikeTheGreat commented on #2016
@kenny-evitt Thank you for the response!
Thank you also for the invitation to participate but I noticed the bug while casually trying out Light Table and don't want to dig into the source (nor do I have the time, sadly).
Good luck with this!

[2015-10-18 14:14] kolya-ay commented on #2020
This is duplicate feature request. Join the discussion on #1700 or #1222. Could be implemented as plugin though

[2015-10-18 15:10] izarov commented on #1685
I upgraded from Mavericks to El Capitan and I am now having this problem even after building off the latest source. In particular autocomplete often freezes for several seconds.

I can see the following LightTable process suggesting it is using Electron underneath:
*lighttable-0.8.0-alpha-mac/LightTable.app/Contents/Frameworks/Electron Helper.app/Contents/MacOS/Electron Helper*

Is there something

[2015-10-19 21:33] kenny-evitt commented on #1339
@prestonviewer @remco138 @tkelman @shamanx Mind building the latest source and trying to reproduce this? The port to Atom Shell (now "Electron") was completed a little while ago.

[2015-10-19 21:34] kenny-evitt commented on #2018
@cmasseraf I'll try to reproduce this soonish. Thanks for reporting it!

[2015-10-19 21:46] kenny-evitt commented on #1977
@bmcgonag Let me know if this should be re-opened.

[2015-10-19 21:46] #1977 closed

[2015-10-19 21:49] kenny-evitt commented on #1685
@izarov If you're only experiencing slowness with auto-completion, you may be running into #1635. If you're experiencing slowness generally, please open a new issue as you're using a newer version of OS X than covered by this issue.

[2015-10-19 21:50] kenny-evitt commented on #1635
@corristo FYI, there's [an open PR that implements a behavior to limit the completions](https://github.com/LightTable/LightTable/pull/2019).

[2015-10-19 22:02] kenny-evitt commented on #2020
@akshays04 What @kolya-ay wrote :smiley:

But thanks for the report!

[2015-10-19 22:02] #2020 closed

[2015-10-19 22:15] kenny-evitt commented on #1635
@Mosho1 There's an open PR that fixes this if you want to test it. Confirmation of whether it resolves this would be appreciated.

[2015-10-20 21:54] izarov commented on #1685
Thanks @kenny-evitt, it's indeed #1635.
I deleted some long string literals that I had in the code and it is much better now.

[2015-10-20 22:54] izarov commented on #1635
PR #2019 fixes it for me.

[2015-10-20 23:03] kenny-evitt commented on #1635
@izarov Thanks. Did the default limit value work for you too? I was still able to reproduce the issue with a limit of 1,000 characters on my Windows 7 box.

[2015-10-20 23:13] kenny-evitt commented on #2011
@justintaft I changed the AppVeyor project settings to not build branches that don't have an *appveyor.yml* file.

[2015-10-21 20:22] izarov commented on #1635
Yes, seems to work fine with the default, just tried with 998 character strings.
This is on quite a beefy laptop running El Capitan.

[2015-10-21 23:23] christopherbalz commented on #687
Doesn't narrowing to the desired workspace (cntrol-o, open recent workspace), and then cntrol-o with the completion (type file name, work well for this already?

Improvements here could be arrow-key nav in the workspace pane, but one typically doesn't switch workspaces constantly.

[2015-10-22 06:27] cldwalker commented on #1936
Once #2008 is merged, I'll upload a linux version to the release draft. @kenny-evitt @rundis Can you each upload your respective OS's as well after #2008 is merged? If we get those all in, can we do a Friday/Saturday release? If it's too hard to coordinate a time, I'm happy to do the release (just a couple of steps). Also happy to hang out in gitter and we can chat through it

[2015-10-22 17:42] rundis commented on #2004
Fixed on master

[2015-10-22 17:42] #2004 closed

[2015-10-22 17:48] rundis commented on #1936
#2008 Merged. I'm off-line pretty much all of friday. I'll try and get the binary uploaded in the next few hours.

[2015-10-22 21:16] kenny-evitt commented on #1936
I'll upload a binary now for Windows.

[2015-10-23 00:20] kenny-evitt commented on #1936
@cldwalker Is "Core developers QA two environments" in the checklist redundant?

Binaries for all three platforms have been uploaded to the draft release.

[2015-10-23 04:59] cldwalker commented on #1936
@rundis Thanks. I imagine the bug reports won't start coming in until the weekend ;)
@kenny-evitt Thanks. I've re-uploaded linux as it's good if we each do one platform. Do you want to coordinate a time (12-1pm or after 5pm) on gitter or should I pull the trigger whenever I can tomorrow?

@rundis @kenny-evitt When you get the chance, could you state what OS version you built the binaries with? Wha

[2015-10-23 05:36] rundis commented on #1936
maybe "Core developers QA two environments", means downloading and trying the binaries you didn't upload yourself (smoke testing) in that context ? Not sure.

[2015-10-23 13:45] kenny-evitt commented on #1936
@cldwalker I have an open-ended obligation all day tomorrow, but I could still probably meet on Gitter sometime after 5p. I'll gladly help out with anything so let me know when you want me to meet you in Cyberspace.

The Windows package was built on a Windows 7 box. I built the Linux package also on a Ubuntu 14.04 (physical) box.

[2015-10-23 16:35] cldwalker commented on #1936
@kenny-evitt How about 5 or 5:30pm? I may need to be offline by 6pm

[2015-10-23 21:47] kenny-evitt commented on #1936
@cldwalker Either time works for me. I'll make sure I'm available by 5p.

[2015-10-24 15:06] cldwalker commented on #1998
Closing as I think we're done with this

[2015-10-24 15:06] #1998 closed

[2015-10-24 15:08] cldwalker commented on #2002
@kenny-evitt Can we close this?

[2015-10-24 16:49] cldwalker commented on #1847
Fixed and available with 0.8.0-alpha - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss

[2015-10-24 16:49] #1847 closed

[2015-10-24 16:51] cldwalker commented on #1950
@Pastafarianist 0.8.0-alpha is available - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss . Let us know if this is still an issue

[2015-10-24 16:51] cldwalker commented on #1825
Fixed and available with 0.8.0-alpha - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss

[2015-10-24 16:51] #1825 closed

[2015-10-24 16:52] cldwalker commented on #977
0.8.0-alpha is out and has scripts and [instructions on building](https://github.com/LightTable/LightTable/blob/master/doc/developer-install.md) - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss

[2015-10-24 16:52] #977 closed

[2015-10-24 16:53] cldwalker commented on #1196
This should be fixed with 0.8.0-alpha - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss

[2015-10-24 16:53] #1196 closed

[2015-10-24 16:57] cldwalker commented on #1549
Opening files to a line is available with 0.8.0-alpha - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss. Happy to take a PR for columns e.g. FILE:LINE:COL

[2015-10-24 16:57] #1549 closed

[2015-10-24 16:57] cldwalker commented on #1786
Fixed and available with 0.8.0-alpha - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss

[2015-10-24 16:57] #1786 closed

[2015-10-24 16:57] cldwalker commented on #1789
Fixed and available with 0.8.0-alpha - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss

[2015-10-24 16:57] #1789 closed

[2015-10-24 16:57] cldwalker commented on #1814
Fixed and available with 0.8.0-alpha - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss

[2015-10-24 16:57] #1814 closed

[2015-10-24 17:47] kenny-evitt commented on #586
I was just able to reproduce this using the latest source version of *master* (the same version as the latest alpha release).

[2015-10-24 17:56] kenny-evitt opened #2021 "'Connect a client' button has to be clicked multiple times (four) in 0.8.0-alpha on Mac OS X seemingly because the connect bar and other LT app elements don't fade-in immediately"
I'm running a local build of the latest source version (same version as the latest 0.8.0 alpha release) on a Mac OS X (10.9.5) box.

Steps to reproduce:

 1. Open a Node.js *app.js* file. [This file](https://github.com/kenny-evitt/LightTable-QA-examples/blob/master/node-harmony.js) is a very simple example.
 2. Run the 'Eval editor contents' command for the file. A "No client available" dialog is

[2015-10-24 18:06] kenny-evitt commented on #586
I *wasn't* able to reproduce this just now. [I wasn't connecting to the right *app.js* file!]

In the console I have a new error logged:

[code]

[2015-10-24 18:22] kenny-evitt commented on #586
The new error seems like good news. [Apparently Electron just doesn't support `prompt`](https://github.com/atom/electron/blob/master/atom/renderer/lib/override.coffee#L91-L93).

[2015-10-24 18:31] kenny-evitt commented on #586
If I replace `'prompt` with `alert` then it works – I can't however enter a name with the `alert` dialog box – but I can send messages and see them on the page in LT.

@dctr @zencodism If you would, please install the latest alpha 0.8.0 release and confirm whether this has been resolved.

[2015-10-24 19:04] #2016 closed

[2015-10-25 01:41] jbeja opened #2023 "(Windows, 0.8-alpha) Console show error message that can't connect to figwheel"
Starting a new Figwheel project and then pressing ``Ctr+Alt+Enter`` the console keep giving me this error, the editor seems to be connected but the messages keep appearing in a loop

[code]

[2015-10-25 08:19] wodin commented on #1984
I think the only way to reproduce being behind a proxy would be to be behind a proxy :)
Maybe running a simple proxy on localhost would be enough?
e.g. something like this:
http://stackoverflow.com/a/7271863/495319
or maybe this:
https://github.com/nodejitsu/node-http-proxy

[2015-10-25 09:16] muhuk commented on #1615
I've just tried d&d with 0.8.0-alpha-linux:

        $ ./LightTable
        [6144:1025/111143:ERROR:browser_main_loop.cc(185)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on.
        [6172:1025/111144:INFO:renderer_main.cc(200)] Renderer process started
        [6144:1025/111145:WARNIN

[2015-10-25 14:59] EarthCitizen commented on #1984
I think specifically it was failing behind NTLM proxies, correct?

On Sunday, October 25, 2015, Michael Wood <notifications@github.com> wrote:

--
"Simplicity is the ultimate sophistication."
 --  Leonardo da Vinci

[2015-10-26 16:04] crunch3 opened #2024 "NOTHING whatsoever working in 0.8.0-alpha-windows release on 64-bit Windows-10"
I have no prior experience with LightTable, so maybe this is the worst case of pilot error ever, but when I run the executable (on 64-bit Windows-10) in either user or administrator mode, I get a window with Light Table in large white letters on a gray background, but not even the window close box works.

[2015-10-26 16:29] qu0te opened #2025 "Double click on tab allows file rename"
or instead of rename, creates a new version. Maybe that'd be better.

[2015-10-26 18:31] rundis opened #2026 "ajax? related exception in log when starting LightTable 0.8-alpha on windows 7"
Downloaded zip, unpacked and started the exe. (in parallells on a mac)
LT starts but noticed an error message in the console:

[code]

[2015-10-26 19:24] rundis commented on #2026
not having much luck connecting to clojure projects on windows 7. maybe unrelated.

[2015-10-26 19:36] rundis opened #2027 "0.8-alpha: not able to connect to clojure projects on windows (7)"
Context: Windows 7, java 8, fresh install of lt 0.8 alpha

- created a simple project using lein new compojure hello-world
- tested with lein ring server-headless on commandline
- add project to workspace and try to eval handler.clj
- It reports it connecting, but after retrieving dependencies it silently drops out
- The javaprocesses are left running (the runner and the actuall nrepl'ed project)

[2015-10-27 21:07] kenny-evitt commented on #2025
@qu0te This is a feature request, right? The title seems like a bug report.

[2015-10-27 21:11] kenny-evitt commented on #2023
@jbeja Would you share an example project for which I could try to reproduce this?

[2015-10-27 21:17] #2002 closed

[2015-10-27 21:40] qu0te commented on #2025
Yes, definitely. Sorry for any confusion. :(

Am 27.10.2015 um 22:08 schrieb kenny-evitt:

[2015-10-27 23:38] jbeja commented on #2023
I am test it with a very new figwheel project, this is the output of the console:

[code]

Lightable is installed on my $Home folder

[2015-10-28 00:23] kenny-evitt commented on #1615
On my Ubuntu 14.04 box, I can't drag & drop a file from a *Files* window.

I also can't drag & drop a file while holding <kbd>Shift</kbd> if no tabs are open.

If a tab (well, for some kinds at least) is open, I *can* drag & drop a file if I hold <kbd>Shift</kbd>. Note tho that if I don't hold <kbd>Shift</kbd> long enough (at least a second or two) a tab for the file won't be opened.

If I only ha

[2015-10-28 00:29] kenny-evitt commented on #1615
Really weirdly, I've been noticing several file dragging animations playing out long after I tried the above scenarios.

[2015-10-28 04:21] cldwalker commented on #1978
We've release 0.8.0-alpha which is based on Electron - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss. Closing as this should be resolved. Ping us if it is still an issue

[2015-10-28 04:21] #1978 closed

[2015-10-28 04:22] cldwalker commented on #1339
We've release 0.8.0-alpha which is based on Electron - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss. Closing as this should be resolved. Ping us if it is still an issue

[2015-10-28 04:22] #1339 closed

[2015-10-28 04:22] cldwalker commented on #1729
We've release 0.8.0-alpha which is based on Electron - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss. Closing as this should be resolved. Ping us if it is still an issue

[2015-10-28 04:23] cldwalker commented on #1862
We've release 0.8.0-alpha which is based on Electron - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss. Closing as this should be resolved. Ping us if it is still an issue

[2015-10-28 04:23] #1862 closed

[2015-10-28 04:23] cldwalker commented on #1900
We've release 0.8.0-alpha which is based on Electron - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss. Closing as this should be resolved. Ping us if it is still an issue

[2015-10-28 04:23] #1900 closed

[2015-10-28 04:28] cldwalker commented on #1750
We've release 0.8.0-alpha which is based on Electron - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss. If this is still an issue, please [provide reproducible steps](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs)

@petermolnarnomicom If this still issue exists and it's specific to a Julia process, please open an issue with [the appropriate pl

[2015-10-28 04:30] cldwalker commented on #1424
We've released 0.8.0-alpha! - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss. Closing as this should be resolved. Ping us if it is still an issue

[2015-10-28 04:30] #1424 closed

[2015-10-28 04:30] cldwalker commented on #1493
We've released 0.8.0-alpha! - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss. Closing as this should be resolved. Ping us if it is still an issue

[2015-10-28 04:30] #1493 closed

[2015-10-28 04:31] cldwalker commented on #1950
Seeing that master did fix your issue, this should be fixed with the alpha release. Ping us if it's still an issue

[2015-10-28 04:31] #1950 closed

[2015-10-28 04:50] cldwalker commented on #1809
We've released 0.8.0-alpha! - https://groups.google.com/forum/#!topic/light-table-discussion/rkfHTplo4ss. Closing as this should be resolved. Make sure you're not launching LT from tmux or screen as [explained in the FAQ](https://github.com/LightTable/LightTable/wiki/FAQ#are-there-limitations-to-copy-and-paste).  Ping us if it is still an issue

[2015-10-28 04:50] #1809 closed

[2015-10-28 05:06] cldwalker commented on #2023
Is this `lein new figwheel PROJ`?

@jbeja Have you compiled your project's clojurescript? If not I'd recommend reading the Clojure plugin README, especially the [workflow section](https://github.com/LightTable/Clojure#clojurescript-workflows). As for the figwheel errors you're seeing, that's what I would expect if you just did an eval. LT's repl has no knowledge of figwheel and figwheel [instructs

[2015-10-28 05:11] cldwalker commented on #2024
That sounds like the correct startup screen. What specifically went wrong? Did you try opening a file? Does the menu work? If so, go to View > Commands and then  execute the `Console: Toggle console` command. This should open your console. Please copy the error output and paste it here

[2015-10-28 05:18] muhuk commented on #1615
Sorry, I forgot to mention. When no files are open, dropping a file crashes LT.

[2015-10-28 06:58] crunch3 commented on #2024
if it's a startup screen, that's all I'm getting - no menus, so no mechanism with which to open a file.  Also no menu means no View Commands to get a console up, so no output to share.

[2015-10-28 23:09] jbeja commented on #2023
I test it with a minimal clojurescript project ````lein new mies <project>```, I got the same errors.

[2015-10-29 00:06] cldwalker commented on #2023
Please read my last comment and the suggested readme

[2015-10-29 01:15] kenny-evitt commented on #1984
[Squid](http://www.squid-cache.org/) might be a good candidate for something that could be setup so that a contributor could reproduce the issue(s).

@EarthCitizen Care to figure out how to setup a proxy server and reproduce the problems you described in #1895?

[2015-10-29 03:20] EarthCitizen commented on #1984
Does Squid support NTLM authentication?

On Wednesday, October 28, 2015, kenny-evitt <notifications@github.com>
wrote:

--
"Simplicity is the ultimate sophistication."
 --  Leonardo da Vinci

[2015-10-29 03:54] kenny-evitt commented on #1984
@EarthCitizen yup

[2015-10-29 03:58] EarthCitizen commented on #1984
If there is a build ready, I can try it at work, which is where I had the
problem.

On Wednesday, October 28, 2015, kenny-evitt <notifications@github.com>
wrote:

--
"Simplicity is the ultimate sophistication."
 --  Leonardo da Vinci

[2015-10-29 11:49] kenny-evitt commented on #1984
@EarthCitizen A LT build? There's the recent 0.8.0-alpha release we just published but there haven't been any changes made for proxy support. There are binaries for Squid at the link in my previous comment but we don't need you to reproduce your issue. We need help figuring out how to setup a proxy so anyone else can reproduce it.

[2015-10-29 13:16] kenny-evitt opened #2028 ""hello world" and ":TEST" logged to console on Windows for 0.8.0-alpha"
I accidentally left a test ClojureScript file in the LT source when I built the release. The contents of the file:

[code]

My bad!

Maybe the next release for Windows can be built by AppVeyor.

[2015-10-29 13:16] #2028 closed

[2015-10-29 13:21] kenny-evitt commented on #2026
I had a little trouble connecting a Clojure project on one of my Windows 7 computers, but not on the Windows 7 computer I use most of the time.

[2015-10-29 13:21] kenny-evitt commented on #2026
I haven't seen this error on the Windows 7 computer I use most of the time.

[2015-10-29 13:27] kenny-evitt opened #2029 ""Unable to access jarfile \"...\lein-light-standalone.jar\"" on Windows 7 when running from path with a space in a directory name"
I am running the 0.8.0-alpha release version.

When I try to connect to my existing Clojure project I get a dialog box; its contents:

[code]

I renamed the directory and replaced the space – *LightTable 0.8.0-alpha* to *LightTable-0.8.0-alpha* – and I was then able to connect to the project.

I suspect the relevant path is not being escaped.

[2015-10-29 13:34] kenny-evitt opened #2030 "LightTable.exe file for 0.8.0-alpha doesn't show LT icon on Windows (7), and related issues"
The file shows the Electron icon instead.

I also noticed on my Windows 7 netbook that the window title, when it first opens after running the executable, shows "Electron". My primary Windows 7 computer is much faster so I didn't notice this until I looked for it just now.

I also noticed that the executable metadata includes GitHub as the publisher (?) when granting permission for network access

[2015-10-29 13:40] kenny-evitt commented on #2027
I just downloaded the 0.8.0-alpha release to my main Windows 7 computer and I had no trouble connecting to my existing Clojure/Compojure project.

I wasn't able to reproduce not-connecting with the same steps you took. I don't know what I can do to test that the project is *working* per-se but LT reports that it's connected to it, and no errors were reported.

I also had no problem connecting to o

[2015-10-29 18:05] kenny-evitt commented on #2006
I couldn't reproduce this just now. I'll re-open if I re-encounter.

[2015-10-29 18:05] #2006 closed

[2015-10-29 18:55] kenny-evitt commented on #1131
@cldwalker I'm actually interested in this, or something similar. But I don't think there's much use in keeping this issue open. We should probably move this to the wishlist. Or maybe I'm wrong – maybe there's significant utility in leaving issues like this open for the community to discuss until someone creates a separate repo for a plugin? @rundis Thoughts? Preferences?

What I'd like personally

[2015-10-29 19:02] kenny-evitt commented on #1661
This seems to be covered by the plugin [Link with editor](https://github.com/obarbeau/lt-link-with-editor).

[2015-10-29 19:02] #1661 closed

[2015-10-29 22:16] rundis commented on #2026
Maybe it's just my parallells/windows setup or somehow some old metadata lying around. I'll try to clean all traces of Light Table and give it another go.

[2015-10-30 01:59] fjarri commented on #1131
@kenny-evitt: Yes, for me it's still a critical feature (and pretty much the only the reason I still use ST). Also, as I mentioned in the comments above, LT workspaces are not quite what I mean by project files (unless something has changed in two years). In fact, if you have a project file, you can put the workspace file alongside it, eliminating any need for some artificial limit on the number o

[2015-10-30 14:26] kenny-evitt commented on #1131
@fjarri What if we added a command to open a workspace from a file, i.e. not just the workspace files LT manages now?

I think this would work great for what I was imagining too. I like to organize my ad-hoc scripts, code files, and notes by issue from my issue tracker. It would be nice if I could save a workspace for each issue that includes any folders specific to the issue as well as folders fo

[2015-10-31 17:22] wodin commented on #1984
Squid does indeed support ntlm in conjunction with Samba. I've never tried it, though.

Here's some old documentation about setting it up:

http://wiki.squid-cache.org/ConfigExamples/Authenticate/Ntlm

[2015-10-31 18:32] aligoren opened #2032 "Bash Installation Script for Light Table?"
A bash script can be used that I wrote for Light Table?

**lt_install.sh file:**

https://gist.github.com/aligoren/b8afe78936cacde835be

[code]

Light Table Download Link static for now.

Maybe I'm using ```latestTag=$(git describe --tags `git rev-list --tags --max-count=1`)``` method: (this method for git users)

https://github.com/LightTable/LightTable/releases/download/**$latestTag**/lighttable

[2015-10-31 19:24] cldwalker commented on #2032
Hi @aligoren. Thanks for the script but we don't support auto install of LightTable because most users have different package managers and preferences for installing applications. Your script may still be useful for other Linux users so I've added it to this [wiki page](https://github.com/LightTable/LightTable/wiki#os-distributions-package). Cheers

[2015-10-31 19:24] #2032 closed

[2015-11-02 18:06] divs1210 opened #2033 "Using LightTable as a headless browser"
Hey guys.

I was wondering if there is a plugin that would allow me to place my cursor over some symbol and press `Ctrl+E` to fetch and display all examples from [clojuredocs](https://clojuredocs.org/clojure.core/conj) inline.

ClojureDocs works on react so in order to parse it I need to run js and load the html using selenium or something. But LightTable is already a JS engine so is there any way

[2015-11-03 06:02] cldwalker commented on #2033
Hey. I maintain [Sancho](https://github.com/cldwalker/Sancho), which provides commands to access [grimoire docs (clojuredocs examples)](https://github.com/clojure-grimoire/grimoire) and crossclj usages for symbol under cursor. My plugin was actually out of date and just fixed it. Cheers

[2015-11-03 06:02] #2033 closed

[2015-11-03 10:45] cclaudiu81 commented on #1928
same behavior: win7 + light-table.

[2015-11-03 11:35] flavio20002 opened #2034 "Latest version is full of bugs and I was unable to find a compiled old version"
The title of the issue speaks for itself. If you release an alpha version, you must allow the user to download an old stable version.

[2015-11-03 14:17] cldwalker commented on #2034
Here are the [old versions](https://github.com/LightTable/lighttable.com/commit/cf390b35631ed3346e766032054061f61ffad668). I don't recommend using it as it probably has more bugs. When encountering bugs, we need [reproducible bug reports](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs)

[2015-11-03 14:17] #2034 closed

[2015-11-03 15:33] kenny-evitt commented on #1928
@cclaudiu81 Are you running the latest 0.8.0 (alpha) release? Can you consistently or always reproduce with the same steps in the original comment? What plugins, and what versions, do you have installed?

[2015-11-03 15:41] kenny-evitt commented on #2024
@crunch3 Can you try opening the command pane via <kbd>Ctrl</kbd>+<kbd>Space</kbd>?

[2015-11-03 17:31] flavio20002 commented on #2034
I'm preparing bug reports...on my computer the last version crashes very often and lag a lot when typing. I had to call a friend to make him send me the old version, because i had to work on a project. So I opened the issue.

[2015-11-03 19:01] Pastafarianist commented on #1950
@cldwalker `0.8.0-alpha` works fine for me. Thanks!

[2015-11-03 21:13] flavio20002 commented on #2029
Same here!

[2015-11-03 21:24] flavio20002 opened #2035 "Lag when typing on Light Table 0.8 alpha"
I was comparing performance between version 0.72 and version 0.8. When connected to a Clojure session, if you type a number like 150 or 450 in the code, it creates a 0.5 seconds lag.  The same lag doesn't appear in Light table 0.72. Maybe it's a problem of threading?

[2015-11-03 22:17] cclaudiu81 commented on #1928
hi @kenny-evitt
light-table vs 0.7.2 (maybe i need to upgrade)
on win7 it is always reproductible(at least on my station)
thanks for the quick feedback

[2015-11-04 06:00] fjarri commented on #1131
I'm not sure I fully understand: what is the difference between project workspaces and LT workspaces? Does the former contain the project metadata (included folders, ignore masks, possibly build commands etc) and the latter contain the editor state (open files, breakpoints, monitored variables etc)? Or is it something else?

[2015-11-05 11:59] kenny-evitt commented on #1131
In my comment, by 'project workspace', I just meant a workspace stored in a file in the root directory of a 'project' (whatever that is).

They would contain included directories but not (yet, anyways) any of the other info you mention. At first, they would contain exactly the same info as the existing workspaces.

I'm proposing an incremental change in the direction of what you seem to be request

[2015-11-05 12:54] kenny-evitt commented on #2029
@flavio20002 We've had issues with escaping paths before (but maybe just on Windows?) but it's easy enough to fix. A PR would be nice, if you have the time and inclination.

[2015-11-05 13:00] kenny-evitt commented on #2035
@flavio20002 Please provide all of the info mentioned in the ["Bugs" section of the contributing guidelines](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs) when submitting an issue.

By "Clojure session", I'm guessing you're referring to an InstaREPL tab; right?

It might also be helpful to know details about the CPU, RAM (and maybe available memory during testing), etc

[2015-11-05 13:02] kenny-evitt commented on #1928
@cclaudiu81 Try the new version and let me know if this is still an issue. There's no automatic upgrade tho (because of the transition to maintenance by the open source team).

[2015-11-05 13:16] flavio20002 commented on #2035
I mean an active Clojure connection on the current file. I give you an example: if I create a new clj file (without instarepl) i can type inside it without lag. If I evalueate something (CTRL+ENTER) LT creates a new Clojure connection. After the evaluation has finished, I observe the lags while type numbers. I will try to debug myself and create a PR.

[2015-11-05 22:38] kenny-evitt commented on #1774
[This commit](https://github.com/LightTable/Clojure/commit/819ae4ef791e2dc51e068e703556ebe62006af16) bumped the Leiningen version to 2.5.2 so this should be fixed in the latest version of the Clojure plugin, which is the default version of the latest (alpha) release of LT itself.

[2015-11-05 22:38] #1774 closed

[2015-11-05 22:38] kenny-evitt commented on #1774
@danjohansson Comment if this is still an issue and I'll re-open.

[2015-11-05 23:13] kenny-evitt commented on #1874
I was wrong about what's the relevant code. The code to which I linked in my previous comment is for the 'workspace' or 'project' search and replace features, i.e. the "Searcher".

[Here's the actual code used by the 'find' search and replace features](https://github.com/LightTable/LightTable/blob/c247b3369ece1d0a5f8c98edf8dd93c773187209/src/lt/objs/find.cljs#L117-L123):

[code]

The code above is

[2015-11-05 23:29] kenny-evitt commented on #1874
Below is a link to a diff between the CodeMirror search addon search module and the LT forked version. The file contains HTML but GitHub doesn't allow files with an HTML file extension to be attached.

[Difference between standard and forked CodeMirror search addon search module.txt](https://github.com/LightTable/LightTable/files/28509/Difference.between.standard.and.forked.CodeMirror.search.addon

[2015-11-06 00:17] Mouvedia commented on #1874
That means that something on our side is amiss.
Anyhow now that we have the relevant code we can test easily if necessary.

[2015-11-06 06:15] Brrrknee opened #2036 "windows 8.1pro 64b: context-menu/r-click "Open with" light table gens failed open"
I am only able to first open LT, then from the file menu open a file; when I attempt to open a file I'd associated with LT ( erlang *.erl in this case) by just double-click or r-click/open-with, LT never opens the file, but reflects these errors in the LT console:

[code]

This is just the normal double-click "open" in the windows domain.
Neither does the normal windows "drag and drop" of file(s)

[2015-11-06 07:13] cldwalker commented on #2029
[Connection code in Clojure plugin](https://github.com/LightTable/Clojure/blob/fefd3af8f1e72e464df32f7f89bf6b5c64491fed/src/lt/plugins/clojure.cljs#L822-L852) which should be escaped. There is code to escape windows but not sure why. Investigation and PR welcome until one of us get to it

[2015-11-06 07:16] cldwalker commented on #2030
@kenny-evitt I took the beginner label off this since the label is linked from CONTRIBUTING and should have links in the code and possible solutions to make the contributing approachable for a beginner

[2015-11-06 07:20] cldwalker commented on #2023
Without any explanation of what was done from the readme this isn't reproducible. Closing if we don't hear back in a few days

[2015-11-06 07:33] cldwalker commented on #2003
We were tracking adding support for this in #1807. I'll reiterate what I said there: having pair keybindings work on international keyboards would be great. Pull requests would be appreciated since none of the core team uses (or is too familiar with) international keyboards

[2015-11-06 07:35] cldwalker commented on #1917
Closing as this issue has been answered. We're tracking adding support for pair keybinding in international keyboards in #2003

[2015-11-06 07:35] #1917 closed

[2015-11-06 07:37] cldwalker commented on #2000
@kenny-evitt Closing as it's unclear there is still an issue. If there is, please open in the HTML repo with reproducible steps for Windows and two evals

[2015-11-06 07:37] #2000 closed

[2015-11-06 07:44] cldwalker commented on #2010
Can you try 0.8.0-alpha - available for download off the website.

Could you clarify what this means? Are you behind a proxy? If so that is why you're having trouble because we don't have proxy support yet - see #1984. If you aren't behind a proxy, there isn't enough information here to reproduce and fix this bug

[2015-11-06 07:55] cldwalker commented on #1682
Closing as we'll be tracking this in https://github.com/LightTable/Python/issues/35

[2015-11-06 07:55] #1682 closed

[2015-11-06 07:56] cldwalker commented on #2018
Thanks for the report. This has been an ongoing issue for sometime and will be tracked in https://github.com/LightTable/Python/issues/35

[2015-11-06 07:56] #2018 closed

[2015-11-06 07:57] cldwalker commented on #1878
Closing as we'll be tracking iPython support in https://github.com/LightTable/Python/issues/35

[2015-11-06 07:57] #1878 closed

[2015-11-06 07:58] cldwalker commented on #1761
Closing as iPython no longer works for more recent versions and support is being tracked in https://github.com/LightTable/Python/issues/35

[2015-11-06 07:58] #1761 closed

[2015-11-06 08:03] cldwalker commented on #1697
Closing as no one else has shown interest and this is functionality that should be made as a plugin. Feel free to add this to https://github.com/LightTable/LightTable/wiki/Feature-wishlist

[2015-11-06 08:03] #1697 closed

[2015-11-06 08:11] cldwalker commented on #1820
Since grooveshark isn't around anymore, is there another way to reproduce this? On 0.8.0-alpha, I don't see items being lost in http://todomvc.com/examples/backbone/ if I open and close multiple tabs

[2015-11-06 08:12] cldwalker commented on #1901
Closing as we haven't heard back. 0.8.0-alpha release may have resolved. Feel free to ping us if it's still an issue

[2015-11-06 08:12] #1901 closed

[2015-11-06 08:14] cldwalker commented on #1750
Closing as we haven't heard back on reproducible steps to address this. 0.8.0-alpha release may have resolved. Feel free to ping us if it's still an issue

[2015-11-06 08:14] #1750 closed

[2015-11-06 12:51] kenny-evitt commented on #2036
Drag & drop only seems to work, on Linux at least, if there's already a tab open. Does that work for you?

I don't have access to a Windows 8 computer but I'll try to reproduce this on one of my Windows 7 computers.

[2015-11-06 13:16] cclaudiu81 commented on #1928
hi @kenny-evitt
i had some time to update and migrate from 0.7.2 to 0.8.0 version on a win7 machine.
it seems that there are some plugins which generate this behavior, because after i applied the old plugins it seems that the problem came back to life.
"clojure.lang.ExceptionInfo: Unsupported escape character: \U :: {:column 88, :line 37, :type :reader-exception}"

the list of plugins i configured

[2015-11-06 14:54] kenny-evitt commented on #1928
@cclaudiu81 Fantastic news – thanks! The next step would be to uninstall the plugins one-by-one until the problem can't be reproduced. Or maybe start over with a new LT install and *install* the plugins one-by-one (as some definitely don't entirely cleanup all of their changes). Once you've identified the problematic plugin(s), we can investigate further and better determine the root cause.

[2015-11-06 15:10] Brrrknee commented on #2036
No, d&d doesn't work with a tab open either.
BB

Sent with AquaMail for Android
http://www.aqua-mail.com

On November 6, 2015 6:52:12 AM kenny-evitt <notifications@github.com> wrote:

[2015-11-06 23:12] cldwalker commented on #2030
@kenny-evitt Apologies if this wasn't obvious. Updated description [of beginner label](https://github.com/LightTable/LightTable/wiki/For-Contributors#issue-labels)

[2015-11-07 09:55] muhuk commented on #533
+1

Pretty please make this a standard feature.

-----

I have found [LT-Opener](https://github.com/eldargab/LT-Opener) and will give it a try now.

[2015-11-07 18:59] kenny-evitt commented on #533
@muhuk Please create [a new issue in the repo for the LT-Opener plugin](https://github.com/eldargab/LT-Opener/issues/new). I suspect its not working because its behaviors file isn't in [the new flat syntax](https://github.com/LightTable/LightTable/commit/ecc0fd49d744ad29369cf531a5f622405511507d).

Or, before creating an issue, first try converting it to the new format manually. Here's [the corresp

[2015-11-07 19:21] eldargab commented on #533
@muhuk Seems like you messed up with settings. `open(1)` is a standard utility on OS X, but not on linux. Anyway, js console in dev tools should give you enough information.

[2015-11-07 20:03] kenny-evitt commented on #533
@muhuk My bad – it's definitely not the behaviors file. The latest version continues to support the old format of those files.

[2015-11-07 20:06] kenny-evitt commented on #2030
@cldwalker No worries; thanks for clarifying.

[2015-11-07 20:11] kenny-evitt commented on #2036
@Brrrknee No errors or warnings logged to the LT console? Or in the logs [under the *LightTable/logs* user data sub-directory ]? There might also be messages written in a Command Prompt window if you run LT from it.

It might also be worth trying to do the same things with [the Atom editor](https://github.com/atom/atom/releases/tag/v1.1.0) so we can better determine if this is a problem on Windows

[2015-11-07 20:20] muhuk commented on #533
OSX is based on Linux.

    $ which open
    /bin/open
    $ open --help
    Usage: open [OPTIONS] -- command

    This utility help you to start a program on a new virtual terminal (VT).

    Options:
    -c, --console=NUM   use the given VT number;
    -e, --exec          execute the command, without forking;
    -f, --force         force opening a VT without checking;
    -l, --login         ma

[2015-11-07 21:08] eldargab commented on #533
@muhuk the `open(1)` command you refer to is a completely different thing. It has nothing to do with `open(1)` we have on OS X. Try to make sure that your command works as expected when entered directly, before attempting to configure the plugin.

[2015-11-08 02:10] Brrrknee commented on #2036
Thought I’d explained in original, double-clicking an erl file associated to LT, this is generated in a new LT window: (an existing open LT is not seen/used)

·       Invalid behavior: :lt.objs.cli/open-on-args

·       TypeError: Arguments to path.resolve must be strings

·           at Object.exports.resolve (path.js:116:15)

·           at lt.objs.files.resolve (file:///C:/Functional_Languages/

[2015-11-08 17:23] kenny-evitt commented on #1874
@cldwalker [Here's the forked version of the CodeMirror addon module *search.js*.](https://github.com/LightTable/LightTable/blob/master/deploy/core/node_modules/codemirror_addons/search.js)

[Here's the current CodeMirror version of the same addon module.](https://github.com/LightTable/LightTable/blob/master/deploy/core/node_modules/codemirror/addon/search/search.js)

[Here's the 'find' code that

[2015-11-08 18:00] cldwalker commented on #1874
@kenny-evitt To give some history on this, I didn't write any of search.js but rather moved it [when cleaning up our codemirror dependency](https://github.com/LightTable/LightTable/commit/f1d33890bda7fbdde7fab6b43b95a0cdd0e05706). As our goal is to get off of forked addons, I created #1778 to track this. This is an excellent chance for a contributor, @Mouvedia or anyone else, to step up and help u

[2015-11-08 21:37] geusebi opened #2038 "Tabset is merged to the left on resize"
A tabset is merged on the left whenever I try to resize it horizontally, *BUT* it's happening only on non-primary displays.

Behaviour first seen on:
Light Table version 0.8.0-alpha
Binary version 0.31.1

Wasn't happening on:
Light Table version 0.7.2
Binary version 0.8.6

Three-headed display with primary display located on the left
OS: Linux 4.2.0-1-amd64 SMP Debian stretch 4.2.5-1 (2015-10-27)

[2015-11-09 07:38] tharibo commented on #2010
Hi.

Yes I am behind a proxy. Seeing #1984 I thought I had nothing to do. When I ping a server using command line, it works no question asked. Our proxy uses our Windows credentials transparently.
I'll try the 0.8.0-alpha anyway.

[2015-11-10 00:04] jbeja commented on #2023
I try to connect using the add connection command and it worked, for some reason in the last version I just have  press ```alt+enter``` worked like charm. Anyways, I'm closing this.

[2015-11-10 00:08] jbeja opened #2039 "(Windows, 0.8-alpha, Spanish LatinAmerica keyboard layout) pressing quote (') write square brackets"
It only happen when I have ``` [:app :lt.objs.settings/pair-keymap-diffs]``` added on the user behaviors.

[2015-11-10 00:14] geusebi commented on #2038
If it can help I've noticed this (best explained with an animation):
![anim](https://cloud.githubusercontent.com/assets/1700752/11050598/cd677d92-8747-11e5-9547-2474509a8196.gif)

Apparently the distance between the left margin of the window and the left margin of display is erroneously added the the expected position; and on overflow the tabsets are merged.

[2015-11-10 01:09] kleinfelter commented on #1979
"Find the Clojure plugin and click upgrade"

This would be really cool, if there were an "upgrade" to click on.

When I open the plugin manager and I hover over Clojure 0.1.0, I get a little popup menu on the right, with the choices "uninstall" and "source".  I wonder where I might find an "upgrade" to click on.

[2015-11-10 02:46] #2023 closed

[2015-11-11 13:05] Trapets commented on #2038
Also on Win7 Pro (64 bit), LT v 0.7.2 (binary v 0.11.1-pre).

[2015-11-12 00:40] ajhutton opened #2040 "linux 32-bit download link contains 64-bit electron binary"
./LightTable
-bash: ./LightTable: cannot execute binary file: Exec format error
./light: line 37: /home/alex/Downloads/lighttable-0.8.0-alpha-linux/LightTable: cannot execute binary file: Exec format error

$ ld LightTable
ld: i386:x86-64 architecture of input file `LightTable' is incompatible with i386 output

File downloaded from 32-bit link: 05498a0a3ef67a2f83a3c7fde1a978ba6c559bc7fdebc183475ad

[2015-11-13 12:42] kolya-ay commented on #2039
This is well known [issue with international keyboard layouts](https://github.com/LightTable/LightTable/issues/620#issuecomment-59621776). At the time being you could ether have enabled parenthesis autocompletion or type `'` on Spanish keyboards. Support for the both is tracked in #1807.

[2015-11-13 13:13] cldwalker commented on #2039
We were tracking it in #1807 but it's now tracked in #2003. Current status in [this comment](https://github.com/LightTable/LightTable/issues/2003#issuecomment-154335278)

[2015-11-13 13:13] #2039 closed

[2015-11-13 13:37] cldwalker commented on #2040
Hi. This came up [recently on the mailing list](https://groups.google.com/forum/#!topic/light-table-discussion/8UmuwwZ-YlM). We didn't have a 32-bit machine so we mistakenly built it on a 64-bit. If we need to build on a 32bit machine to support 32bit linux the core team will have to decide if we want to support it going forward. Our [QA Checklist](https://github.com/LightTable/LightTable/wiki/QA-

[2015-11-14 16:43] kenny-evitt commented on #1979
@kleinfelter Please create a new issue for your problem.

[2015-11-15 15:32] KrisDM opened #2041 "LightTable 0.8.0-alpha crashes randomly on Windows"
I have had several crashes, seemingly at random moments, with the current version of LightTable for Windows (64-bit), using it with Julia. The editor window goes completely white and there is no more access to the opened files. I cannot save the opened files and have to open the Task monitor and kill the process. I have no idea what causes it: it has happened when I am not working in the window an

[2015-11-15 19:55] kenny-evitt commented on #2041
@KrisDM What version of Windows are you running? We've had several reports of problems with Windows 8 and Windows 10 but I only have access to Windows 7 computers so I haven't been able to investigate directly.

We've also had reports of problems – [here](https://github.com/LightTable/LightTable/issues/1750#issuecomment-143592252) and [here](https://github.com/LightTable/LightTable/issues/1088#iss

[2015-11-15 20:08] kenny-evitt commented on #1088
@valueof @geoffrys @mynomoto @michaelphines @afhammad @otmezger @GetContented @davidssmith @mrobbetts @AlBaker @marcusps @pnutus @hamoid @icorderi @jdf-id-au @JKGisMe @Ghassan If you would, please confirm whether you're still having this problem with the 0.8.0-alpha version. That version includes the migration from node-webkit to Electron (Atom Shell).

[2015-11-15 20:21] kenny-evitt commented on #2035
@flavio20002 Any luck troubleshooting this? I can't reproduce this on one of my Ubuntu 14.04 computers. What OS and version are you running on the computer for which you're having this problem?If you can, please share a minimal repo for which you can reproduce this.

Just off the top of my head, this might be an instance of #1635:

 - [Autocomplete is slow and may even hang editor up if there's hu

[2015-11-15 20:26] kenny-evitt commented on #1615
@muhuk Do you get any errors logged to the terminal (if you run LT from one) when you drag and drop with no files open (and LT crashes)?

[2015-11-15 20:31] kenny-evitt commented on #2036
@Brrrknee Sorry; I was responding to your report that drag & drop isn't working either.

With regard to opening a file of a type associated with LT, are you trying to open a file for which there's a space in its path? If so, would you try opening a file for which there isn't a space in the path?

[2015-11-15 20:45] muhuk commented on #1615
@kenny-evitt see https://github.com/LightTable/LightTable/issues/1615#issuecomment-150904442

[2015-11-15 21:22] kenny-evitt commented on #1615
@muhuk Thanks. We need to check Electron upstream for similar errors.

[2015-11-15 21:24] kenny-evitt commented on #2036
@Brrrknee I was able to open files of a type that I associated with LT from Windows Explorer on a Windows 7 computer; for files both with and without a space in their path.

The files however didn't open in an existing LT window. @cldwalker @rundis Is this a bug? Should opening a file associated with LT (on Windows) open the file in an existing LT window? Right now a new LT window is opened. Maybe

[2015-11-16 08:39] muhuk commented on #1615
FYI; this doesn't affect my productivity at all. Just wanted to let you know about it.

[2015-11-16 22:46] kenny-evitt commented on #1778
I can't tell what exactly we've added to *search.js* in terms of "string based regexs". The current CM version seems to also support 'string searches' if the query supplied can't be parsed as a regex – [here's the commit that added that](https://github.com/codemirror/CodeMirror/commit/f689a9e9d680a26f7680022c5f70a8d1197cd53b).

One potential problem with using the CM version of *search.js* is that

[2015-11-16 22:47] kenny-evitt commented on #1874
[Here's the history for *search.js* prior to the move/rename.](https://github.com/LightTable/LightTable/commits/d5953975cc7434e0e55a4b41265e5fab60ee5bf4/deploy/core/node_modules/codemirror/search.js) Unfortunately, there's not a lot of info in the history available. The only changes in the history are [adding the `replace` function](https://github.com/LightTable/LightTable/commit/17eb38c06fdc04972

[2015-11-16 22:48] kenny-evitt commented on #1778
See [this comment] in #1874 for some details about the history of the LT fork of *search.js* – in short, most of the history seems to have been lost or not otherwise retained when LT was first made available on GitHub.

[2015-11-16 22:50] kenny-evitt commented on #2010
@tharibo @cldwalker I'm closing this as this should be covered by #1984.

[2015-11-16 22:50] #2010 closed

[2015-11-16 23:38] kenny-evitt commented on #2038
I was able to reproduce this just now with a recent source build (more recent than 0.8.0-alpha) on a Windows 7 computer.

I was able to confirm, via `lt.objs.console.log` calls, that the `MouseEvent` object being passed to the reaction function for [the behavior `::set-width-final!`](https://github.com/LightTable/LightTable/blob/master/src/lt/objs/tabs.cljs#L429-L461) in *src/lt/objs/tabs.cljs* ha

[2015-11-17 03:28] Tanami commented on #2040
Well, looks like I'm going back to Geany! :(

[2015-11-17 07:25] Armaklan opened #2043 "Plugin Manager - False "Last version""
There is a sort of problem in the version numbers. Sometimes the proposed version is not the latest version.

Exemple with TernJs.

Last version in LightTable : 0.1.9
Real last version : 0.1.10

Metadata repository is correct.

[2015-11-17 14:16] thisredone commented on #2035
I've got the same issue and PR #2019 does not solve it.
This happens on Ubuntu 14.04, with the most current build. Basically it looks like it's synchronously fetches the auto-complete list and also does the current computation.
Steps to reproduce:
1. Open Light Table
2. Ctrl+Space, Open a clojure instrarepl and wait for it to connect
3. type (range 10) ENTER a couple of times

In my case it freeze

[2015-11-17 18:58] just3ws commented on #737
Just stumbled on this issue after trying to setup line numbers in LT. FWIW, the first thing I tried was to change the word `hide` to `show`. Not sure if that helps with what a new LT user might reasonably expect the API to respond to.

[2015-11-17 21:58] ZapAnton opened #2044 "Black blocks instead of context menu"
On ubuntu 14.04 LTS, while using 0.8.0-alpha vesion of LT, i'm getting folowing black blocks instead of context menu, when I right-click in any area of LT :

![lt_bug1](https://cloud.githubusercontent.com/assets/8658767/11225406/01a092c6-8d8b-11e5-8280-4a9be93d601c.png)

![lt_bug2](https://cloud.githubusercontent.com/assets/8658767/11225417/135adfbc-8d8b-11e5-8031-61b6ac44abd5.png)

I made no chan

[2015-11-18 00:35] codeliger opened #2045 "How do I reference a file in a file so it uses autocomplete?"
I am trying to evaluate a basic javascript file but I use jquery inside of the file so it results in an error.

For example Microsoft VS Code uses this `/// <reference path="../folder/filename.js"/>`

[2015-11-18 15:02] kenny-evitt commented on #2045
There's nothing in the core Light Table app to do this. You'll need to find a plugin that does this. [The TernJS plugin](https://github.com/mortalapeman/LT-TernJS) is the best candidate of which I'm aware.

[2015-11-18 15:02] #2045 closed

[2015-11-18 19:15] kenny-evitt commented on #2044
Can you try another driver? Maybe the proprietary one for your graphics card?

Would you also mind trying [Atom](https://atom.io/) and confirming whether you have the same or similar problems with it?

[2015-11-18 19:40] kenny-evitt commented on #2040
@ajhutton @Tanami Building from source is pretty easy. If one – or both – of you would be willing to QA release builds we could 'officially' support the 32-bit version too. As-is, I could QA the 32-bit builds but I wouldn't be really using it so 'officially' supporting it would be a little more than I feel comfortable promising.

[2015-11-18 21:01] kenny-evitt commented on #2043
@Armaklan Thanks for the report. This should be fixed by my PR. Hopefully it will be included in the next release.

[2015-11-18 23:44] cldwalker commented on #2040
@ajhutton We decided to not support 32-bit as a download as we don't actively develop on it and don't have the bandwidth to support it. Fwiw, Atom has a much larger core team and [they don't provide an official download for this platform](https://github.com/atom/atom/releases). In the meantime, we're happy to ensure the build script still works for 32-bit. We'll be taking down the download link so

[2015-11-18 23:50] cldwalker commented on #2041
I'm sorry to hear this. Without reproducible steps as @kenny-evitt has asked for there isn't much that we can do. I would recommend not having the Julia plugin installed first and see if that is the issue

[2015-11-18 23:53] cldwalker commented on #2024
Closing as we have not heard back on this. Happy to reopen if you respond or we get more details

[2015-11-18 23:53] #2024 closed

[2015-11-19 01:58] #2043 closed

[2015-11-19 01:58] kenny-evitt commented on #2043
@Armaklan This should be fixed on *master*.

[2015-11-19 04:24] kenny-evitt commented on #2035
I captured a CPU Profile in the Developer Tools while performing the steps to reproduce this. @flavio20002 @thisredone You can access it with the command *Dev: Open Developer Tools* in LT. I'd appreciate it if you'd also record a profile. Once you do, check the top functions, by "Total", in the "Tree (Top Down)" view.

The top function tree for me, at 47.91%, is:

[code]

@cldwalker @rundis Any id

[2015-11-19 09:22] petterip commented on #2041
I'm struggling with the same issue: LightTable crashes with white window background randomly after 2-3 hours of use. I don't have Julia plugin installed. The crashes seem to happen just before LightTable is about to show a drop down list of code hints (code completion feature). I'm running LightTable on Windows 10 (64-bit) with Java 1.8.0.65.

[2015-11-19 09:24] thisredone commented on #2035
[code]

[2015-11-19 10:34] flavio20002 commented on #2035
Hi! I'm not able to record the cpu profile. If i push "start" and I begin to write "(range 10)", LT crashes and I have to kill the process in the windows task manager.

[2015-11-19 14:43] kenny-evitt commented on #2035
@thisredone Thanks. It's unfortunate that your results are very different from mine. Would you capture a few more profiles and let me know how similar they are to the first?

@flavio20002 Yikes! Would you comment with details about your computer? E.g. CPU, RAM, graphics card, etc.. You used your Windows 7 computer again, right? Is there anything in the LT log file? Check under your LT user data di

[2015-11-19 15:40] kenny-evitt commented on #2041
@petterip Is there anything in the LT log file? Check under your LT user data directory, e.g. *C:\Users\kevitt\AppData\Roaming\LightTable\logs*.

You could also try running the *LightTable.exe* from a Windows Command Prompt – maybe something will be output there when LT crashes.

It would also be helpful if you ran [Process Explorer](https://technet.microsoft.com/en-us/sysinternals/processexplorer

[2015-11-19 15:55] thisredone commented on #2035
I get similar results all the time. The chart paints an interesting picture
![image](https://cloud.githubusercontent.com/assets/1191844/11275333/7e59e33c-8edd-11e5-913e-6a7251b563d9.png)

I've attached breakpoints to where the decode function is being called and it seems that on some keys it gets fired multiple times and goes pretty much the same route every time
![image](https://cloud.githubuserc

[2015-11-19 16:44] flavio20002 commented on #2035
There is no useful log in that folder. Here are my hardware and software specs:

Name SO	Microsoft Windows 7 Enterprise
Version	6.1.7601 Service Pack 1 Build 7601
Productor SO	Microsoft Corporation
Processore	AMD A8-5550M APU with Radeon(tm) HD Graphics, 2100 Mhz, 4 core, 4 logic processors
Phisical memory installed (RAM)	8,00 GB
Phisical memory installed available	7,20 GB
Paging file	7,20 GB

[2015-11-19 23:18] kenny-evitt commented on #2035
@flavio20002 Would you try capturing a CPU profile again but run LT from Command Prompt? I'm curious if anything will be output when LT crashes.

[2015-11-19 23:35] kenny-evitt commented on #533
For anyone familiar with [Butterfly](http://paradoxxxzero.github.io/2014/02/28/butterfly.html) – can't it be used as-is by accessing it from a browser tab in LT?

[2015-11-20 07:01] justintaft commented on #533
@kenny-evitt I  made a butterfly plugin a while back,  I can open up a branch.  There some bugs but I can't remember what they were

[2015-11-20 09:38] johanhaleby opened #2047 "Cannot start LightTable due to an invalid identifier"
When I try to start LightTable immediately run into this error:

[code]

And I cannot seem to do anything in the IDE (for example opening an instarepl etc).

[2015-11-20 12:31] kenny-evitt commented on #533
@justintaft What does your plugin do? Start Butterfly and open a browser tab in LT?

[2015-11-20 14:06] cldwalker commented on #2047
Seeing node-webkit paths in your stacktrace, you're running an older version of LightTable. Please download the latest 0.8.0-alpha and see if there are any issues. If so, please provide [reproducible steps](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs) e.g. a Dockerfile

[2015-11-20 14:40] joanis opened #2048 "doc search result not ordered by best match"
Searching "for" in the doc search (ctrl-shift-d aka C-D) will yield the "for" function as 11th result. As it's a perfect match, I believe it should come first. Noticed this behaviour during multiple searches. Other example: if I search for "let", I get "wrap-complete" first (which looks totally unrelated to me).
- OS version: Ubuntu 14.04 LTS
- LT version: 0.8.0-alpha (vanilla)

[2015-11-20 16:11] johanhaleby commented on #2047
I've upgraded to 0.8.0-alpha but it has the same problem.

**Steps to reproduce the bug**:

Mac OSX El Capitan (10.11.1), Light Table 0.8.0-alpha, no plugins

user.keymap:
[code]

user.behavior:

[code]

[code]

Note that this error is a bit different from the one I presented earlier. The reason is that I upgraded `docker-compose` to 1.5.1 and it seems that it has a newer bash completion file that

[2015-11-20 16:20] kenny-evitt commented on #2047
@johanhaleby I think this going to be tricky to resolve because I suspect the problem is that Node is a lot more strict about shell commands – commands with dashes in their name are considered invalid by Node, because (maybe?) they are invalid (technically?), but most actual shells accept them anyways. Others have had problems with 'bash-it' before for the same reason.

[2015-11-20 16:27] johanhaleby commented on #2047
Ok that's really unfortunate :/ But I find it really strange that it doesn't complain for `docker-compose` anymore. There still many functions using underscore in `/usr/local/etc/bash_completion.d/docker-compose`. For example:

[code]

[2015-11-20 21:09] kenny-evitt commented on #2047
@johanhaleby I think the problem isn't dashes anywhere but in names specifically. I think underscores are fine generally, hence why the version of the function you reference in the newer *docker-compose* doesn't also cause an error – it was renamed to use underscores instead. The most recent error was complaining about the identifier `__docker-machine-ps1`.

[2015-11-20 22:47] yogthos opened #2049 "Create parinfer plugin for Clojure and ClojureScript"
https://github.com/shaunlebron/parinfer#using-as-a-library

[2015-11-21 01:08] kenny-evitt commented on #2049
[Oh yeah!](https://github.com/shaunlebron/parinfer/issues/35)

[2015-11-21 03:11] babinc commented on #533
+1 for shell in a tab!

[2015-11-21 10:45] rundis commented on #2049
I almost jumped on this just a day or two after it was announced. However I managed to hold back. It would be great if someone else from the community stepped up. I'd be happy to help out anyone willing to give it a go :-)

[2015-11-21 13:42] johanhaleby commented on #2047
Thanks. Why is node taking this approach when it is indeed a valid identifier in bash? Is light table still using node webkit it version 0.8.0? (I'm thinking of filing a bug at docker-machine).

[2015-11-21 13:47] edison23 commented on #2040
So why do you have 32bit linux build download link on the webpage when you know it doesnt work? (and yes, it doesnt)

[2015-11-21 13:50] johanhaleby commented on #2047
It actually seems like `docker-machine` has already <a href="https://github.com/docker/machine/commit/5707b38a9ef35a21f55b1390f4ac476c3d4b84e1">fixed</a> this (but it's not yet released). If I manually changed from `-` to `_` in the `docker-machine` bash completion files I can start light table without any problems. So I'm going to close this issue. Thanks for your support.

[2015-11-21 13:50] #2047 closed

[2015-11-21 13:59] kenny-evitt commented on #2040
@edison23 Because we haven't removed the link yet. Feel free to create a pull request; the website repo is also on GitHub.

[2015-11-21 14:59] kenny-evitt commented on #533
So I confirmed that you can in fact just use [Butterfly](http://paradoxxxzero.github.io/2014/02/28/butterfly.html) as-is – start it, open a browser tab in LT, and change the address of the browser tab to point to the Butterfly server. I'm not sure what value a plugin would add.

[2015-11-21 14:59] kenny-evitt commented on #533
So I confirmed that you can in fact just use [Butterfly](http://paradoxxxzero.github.io/2014/02/28/butterfly.html) as-is – start it, open a browser tab in LT, and change the address of the browser tab to point to the Butterfly server. I'm not sure what value a plugin would add.

[2015-11-21 15:16] edison23 commented on #2040
yea, i dont even know exactly how to do that, TBH :) so i'll leave that to you guys

[2015-11-21 16:05] cldwalker commented on #2049
Bad news is a LightTable plugin can't rely on the published library because it uses .cljc and we are running such an old version of Clojurescript - #1973. Good news is that 0.1.0 doesn't use any reader conditionals so we could just use a forked version that renames .cljc to .clj/cljs. We could suggest upstream that they use .clj but I'm assuming they will eventually want to take advantage of .cljc

[2015-11-21 18:26] muhuk commented on #533
@kenny-evitt it would reduce work from:

* start it
* open a browser tab in LT
* and change the address of the browser tab to point to the Butterfly server

to:

* open a shell tab in LT (with a bonus of recognizing project dir or file dir)

[2015-11-21 18:41] kenny-evitt commented on #2040
@edison23 Please be more careful in the future making pointed comments. Everyone involved in this project is a volunteer and we've all had to figure out how to contribute. If you're not willing to help yourself, the least you can do is comment politely.

As to how to contribute changes to any of the Light Table projects, the README for each project repo usually indicates what you need to do. [For

[2015-11-21 19:39] kenny-evitt commented on #533
@muhuk Yeah; I can see the value in that. And it can do other cools things too – see [the help info](https://github.com/paradoxxxzero/butterfly/blob/856aac2bcb5ffe0685f9a6905b66cd3a2fb7a349/butterfly/bin/help.py). [Something in particular that might be really handy](https://github.com/paradoxxxzero/butterfly/blob/856aac2bcb5ffe0685f9a6905b66cd3a2fb7a349/butterfly/bin/help.py#L33):

[code]

[2015-11-21 22:06] kenny-evitt commented on #2047
@johanhaleby The latest LT release is running Electron not node-webkit but I'm not really sure why Node is more strict about identifiers than actual shells. I'm glad you found a workaround, and an upstream fix; thanks!

[2015-11-23 14:19] rwobben commented on #1928
I see the same error on a clean install of light table 0.8.0-alpha on a Windows 7 machine. I did not install any plugin.  Just did lein new app test and load it into Light table with file > open folder

[2015-11-24 11:31] edison23 commented on #2040
@kenny-evitt ok, I'm sorry, it wasnt meant to be pointed (I fail to see it that way even now, but that doesnt matter). As for the contributing, I'll think about it after I tried the software ;)

[2015-11-24 15:22] babinc commented on #621
I really like Light Table. Every code editor i have ever used for the past 10 years has had Code Folding. I have become accustomed to using it day to day as I write code. I really need code folding in Light Table in order for it to be complete.

[2015-11-24 15:48] babinc commented on #621
IT WORKS

I see that it is being implemented. IF my cursor is on a line of code that ends in a curly brace (javascript) and I hit "ctrl-+" it will fold the code. That is good enough to hold me over :+1:

[2015-11-24 18:11] tvanden commented on #2044
Hey, been a few days on this. I was having this same issue. I did the troubleshooting you suggested. I first tried Atom, and there were no similar problems. All the menus work.
I checked my driver, and I was running on xorg driver, so I changed to proprietary nvidea driver, and the menus are all now working.
Hope that helps at all.

[2015-11-24 18:40] tvanden commented on #2038
I am also currently affected by this. Exact issue. Only on my secondary monitor.
Ubuntu 14.04
Light Table 0.8.0-alpha
Binary Version 0.31.1

[2015-11-24 20:14] shaunlebron commented on #2049
Let me know if I can help out with this.  I've written more step-by-step docs on how to get this working:
https://github.com/shaunlebron/parinfer/tree/master/lib

[2015-11-25 09:09] crquan commented on #1729
this is still an issue on HiDPI monitor on Linux when I am trying lighttable-0.8.0-alpha today, the window / font size are 1/2 size of a regular window

[code]

[2015-11-25 15:35] rwobben opened #2050 "LT alpha gives the wrong output"
Hello,

Im doing the clojure koans with LT and Im stuck here

(def giants
  (with-meta 'Giants
    {:league "National League"}))

"Or more succinctly with a reader macro"
  (= {:division "West"} (meta '^{:division "West"} 'Giants))

When I evulate this  LT says false
where i open a lein repl and put in the same message the outcome is true

Roelof

[2015-11-25 15:48] kenny-evitt commented on #2049
@shaunlebron I think any help would be greatly appreciated. But I think we're going to need to fork your code because we're still stuck on a (very) old version of ClojureScript.

[2015-11-25 15:51] kenny-evitt commented on #2038
@tvanden Only on your secondary monitor? That's surprising. What's the monitor/display configuration you're using? If the screen coordinates aren't even consistent between or among multiple monitors, I'm not sure how we can fix this.

[2015-11-25 15:54] kenny-evitt commented on #2044
@tvanden Thanks! That seems to point to something having been fixed upstream in Electron, which both LT and Atom use.

[2015-11-25 15:56] kenny-evitt commented on #2040
@edison23 Thanks

[2015-11-25 15:58] kenny-evitt commented on #2040
The 32-bit download for Linux has been removed from the LT home page. We can add it back when someone commits to providing minimal support (e.g. QA-ing release builds) for that platform.

[2015-11-25 15:58] #2040 closed

[2015-11-25 16:06] kenny-evitt commented on #1729
@crquan Would you try the Atom editor too? There seem to have been some fixes for graphics issues in versions of Electron, which both LT and Atom use, that are more recent than what LT is running.

[2015-11-25 19:51] rundis commented on #2050
Hi !

I find it hard to believe that lein repl returns true here. (Especially since I tried it to be sure).
Of course it could be something with clojure versions or perhaps tools.reader, but I'm very doubtful that LT has anything to do with it.

If faced with something like this, try to break it down and see what each individual function returns.
When I eval `{:division "West", :line 1, :column 8}

[2015-11-25 19:51] #2050 closed

[2015-11-25 20:28] rwobben commented on #2050
Correct, LT puts also this sort of things in it.
Here the output of lein repl :

user=> (meta '^{:division "West"} 'Giants)
{:division "West", :line 1, :column 8}

(= {:division "West"} (meta '^{:division "West"} Giants))
true

[2015-11-25 21:27] crquan commented on #1729
yes I did, atom editor doesn't have this issue.

[2015-11-25 21:47] rundis commented on #2050
heh intersting.
I tried `(= {:division "West"} (meta '^{:division "West"} 'Giants))` (note the ' which was in you original comment),  In lein repl which produces false, however removing the quote as you show in your second statement does indeed yield true, but not so in LT.

`(meta '^{:division "West"} Giants)` in LT gives `{:line 3, :column 28, :end-line 3, :end-column 34, :division "West"}` Line

[2015-12-01 06:31] cldwalker opened #2053 "Opening a file from window manager fails on osx"
Open file from window manager when LightTable isn't open

Expected: Light Table to open with given file
Actual: LightTable opens with weird modified `-psn_0_*` file. This weird file [may be a reference to an Apple Event](http://stackoverflow.com/questions/3664124/macosx-open-file-with-an-application-where-does-it-go-to)

On OSX 10.10.4 with LT 0.8.0-alpha

[2015-12-02 01:19] cldwalker commented on #2048
This seems reasonable and happy to take a contribution that puts an exact match ahead of other results. Since this is a Clojure plugin, a PR should be done against that repository. Here is [sorting for clojure docs](https://github.com/LightTable/Clojure/blob/fefd3af8f1e72e464df32f7f89bf6b5c64491fed/lein-light-nrepl/src/lighttable/nrepl/doc.clj#L38) and [for clojurescript docs](https://github.com/L

[2015-12-02 01:33] cldwalker commented on #2044
There is [at least one known issue](https://github.com/atom/electron/issues/1277#issuecomment-84480408) with chromium and the nouveau driver. There isn't anything we can do for this if the underlying issue is Chromium via electron. If the next electron upgrade #2052  doesn't resolve this, I'm inclined to close this unless @tvanden is going to dig deeper into this

[2015-12-02 01:33] cldwalker commented on #2044
There is [at least one known issue](https://github.com/atom/electron/issues/1277#issuecomment-84480408) with chromium and the nouveau driver. There isn't anything we can do for this if the underlying issue is Chromium via electron. If the next electron upgrade #2052  doesn't resolve this, I'm inclined to close this unless @tvanden is going to dig deeper into this

[2015-12-02 05:19] cldwalker commented on #1914
Closing as no else has been able to reproduce this, myself included on a ubuntu VM. @gsscoder Happy to reopen if you try this on the latest 0.8.0-alpha and  provide reproducible steps

[2015-12-02 05:19] #1914 closed

[2015-12-02 07:10] cldwalker commented on #2036
@Brrrknee This is happening because the file you're trying to open does not [match this regex](https://github.com/LightTable/LightTable/blob/6cbc2d6c813ca36013f819e2383fa98f0faeb8ba/src/lt/objs/cli.cljs#L64). Without the specific file you're unable to open this is not reproducible and we'll have to close this.

[2015-12-02 19:46] tvanden commented on #2044
I'd like to help with this. I'm not sure what I can do to further troubleshoot. Got some tips on what I can try? @kenny-evitt @cldwalker

[2015-12-02 20:12] jared83 opened #2054 "Can't def atom in instarepl <- clojure.lang.Compiler$CompilerException"
This (an example atom from clojure / clojurescript koans):

[code]

works fine on http://www.tryclj.com/

but in instarepl produces this error:

[code]

[2015-12-02 22:15] rekrabm commented on #2007
Sorry for the delay.  I thought I'd responded to this already.  Must've lost the browser session with an interruption.

This happens with even a single additional display and it still happens with build below:
Light Table version
0.8.0-alpha
Binary version
0.31.1
Please let me know what testing you would like me to do and what information you'd need collected.  I'll do so if I can.

[2015-12-02 23:01] cldwalker commented on #2044
@tvanden Great! It'd probably help to [inspect the html](https://github.com/LightTable/LightTable/wiki/FAQ#how-do-i-inspect-any-html-element-in-light-table) of the black blocks to determine what part of LightTable is black. Since you're seeing this in the workspace menu, the relevant html is probably in the [workspace namespace](https://github.com/LightTable/LightTable/blob/c99c0b77240a2cfb740e518

[2015-12-03 06:00] cldwalker commented on #1983
This was actually specific to my setup

[2015-12-03 06:00] #1983 closed

[2015-12-03 06:31] cldwalker commented on #1732
Apologies for getting back to this thread late. Too many issues and too small of a core team. As you all have discovered jump to source targeted Java 8. The Clojure plugin will no longer support Java 7 as Oracle [hasn't supported it since April of this year](http://www.oracle.com/technetwork/java/javase/downloads/eol-135779.html). I've updated the Clojure plugin to reflect this - https://github.co

[2015-12-03 06:31] #1732 closed

[2015-12-03 06:36] cldwalker commented on #2054
Hi. I'm not able to reproduce this. On osx 10.10.4, I don't run into this issue when starting a repl with `Open a clojure instarepl`. Could you provide [more specific steps](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs) i.e. os, light table version, command to start instarepl?

[2015-12-03 22:28] kenny-evitt opened #2056 "Beginner's guide to LT code"
This would be nice to have tho it's very much *not* a priority.

[I replied to someone asking for help on getting started understanding the LT source code](https://gitter.im/LightTable/LightTable?at=564f2ebf051b93d13c8d4e10) in [the LT Gitter room](https://github.com/LightTable/LightTable) with a basic outline:

[2015-12-03 22:37] kenny-evitt commented on #1928
@rwobben Would you mind commenting with all the info listed in [the Bugs section of the contributing doc](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs)?

Also, are you using a non-English keyboard or entering non-ASCII characters in files that are open in LT, or even just in folders to which you've added to a workspace in LT?

[2015-12-03 22:51] kenny-evitt commented on #1729
@crquan That's probably good news actually; it means that upgrading to a newer version of Electron should fix this. You can build the source with the changes in PR #2052 and test it yourself now – that would be *really* helpful.

[2015-12-04 04:39] cldwalker commented on #2056
A doc to encourage people to understand LT would be great! We do have [this doc](https://github.com/LightTable/LightTable/wiki/First-Contribution) for encouraging people to develop on LT so it may help to assume they've read that doc

[2015-12-04 22:37] #2053 closed

[2015-12-05 14:50] cldwalker commented on #2027
@rundis Is this still an issue?

[2015-12-05 14:54] cldwalker commented on #1610
Closing as interest in this has stalled. Happy to reopen if someone wants to pick it up

[2015-12-05 14:54] #1610 closed

[2015-12-05 14:55] cldwalker commented on #1611
Closing as interest in this has stalled. Happy to reopen if someone wants to pick it up

[2015-12-05 14:55] #1611 closed

[2015-12-05 14:55] cldwalker commented on #1612
Closing as interest in this has stalled. Happy to reopen and discuss if someone wants to pick it up

[2015-12-05 14:55] #1612 closed

[2015-12-05 15:01] cldwalker commented on #1652
Closing as interest in this has stalled. Happy to reopen if someone wants to pick it up

[2015-12-05 15:01] #1652 closed

[2015-12-05 15:04] cldwalker commented on #1609
Closing as interest in this has stalled. Happy to reopen if someone wants to pick it up

[2015-12-05 15:04] #1609 closed

[2015-12-05 15:08] cldwalker commented on #1738
I'm not seeing this issue with the current CM on LightTable 0.8.0-alpha. Fwiw, CM has a more accurate mode demo for coffeescript [here](http://codemirror.net/mode/coffeescript/index.html)

[2015-12-05 15:08] #1738 closed

[2015-12-05 15:21] cldwalker commented on #1659
Closing as opening files with spaces is fixed on 0.8.0-alpha. As for desktop behavior, this is an install and Ubuntu specific concern that LightTable can't address because it is agnostic to installation paths and Exe requires a location path. There are [multiple](https://gist.github.com/aligoren/b8afe78936cacde835be#file-lt_install-sh-L65-L72) [scripts](https://github.com/LightTable/LightTable/pul

[2015-12-05 15:21] #1659 closed

[2015-12-05 17:14] cldwalker commented on #1668
I've documented that :exts works with filenames [in this FAQ](https://github.com/LightTable/LightTable/wiki/FAQ#how-do-i-define-a-custom-file-type). No reason to add :filenames until we have a motivating use case. Shebang support could be added as a plugin, was discussed in #1079 and is on [the wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist#general)

[2015-12-05 17:14] #1668 closed

[2015-12-05 17:28] cldwalker commented on #1250
On a Ubuntu 64bit on virtual box running LT 0.8.0-alpha, I'm also not seeing this issue.
Given there is a solution for this, disable 3D rendering, and no one who is effected has helped with a more general solution, I'm closing this. Feel free to add this to [the wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist#general). Happy to reopen if someone is working on a general sol

[2015-12-05 17:28] #1250 closed

[2015-12-05 17:37] cldwalker commented on #460
Closing as this functionality can be implemented as a plugin as demonstrated in @joshuafcole links above. If anyone is interested in making it a plugin, happy to help them with it. Added to [the wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist#general) in the meantime

[2015-12-05 17:37] #460 closed

[2015-12-05 17:43] cldwalker commented on #1820
Closing as this isn't reproducible. Happy to reopen if we get reproducible steps

[2015-12-05 17:43] #1820 closed

[2015-12-06 20:33] cldwalker opened #2060 "Add docstrings to editor and files namespaces"
As a followup to #2059, there are public fns that still need to be documented for these 2 namespaces. To see fns to be documented, look [at API docs](http://lighttable.github.io/LightTable/api/) and look for "TODO: Add docstring" in namespaces. For editor fns, a lot of them are a direct mirror of CodeMirror fns. It's an open question to decide how we want to document those fns