[2014-10-13 18:42] clojens opened #1675 "REPL injections"
I'll take this to discussion forum instead ;)

[2014-10-13 18:46] #1670 closed, assigned to nobody

[2014-10-13 18:49] #1675 closed, assigned to nobody

[2014-10-13 20:33] #1633 closed, assigned to nobody

[2014-10-14 12:31] clojens opened #1677 "Semantic versioning and plugin submission"
I also submitted a pull request which fixes this in the lt-plugin repo but the way the current (semantic) versioning is done is, in a bunch of cases, wrong. Read the FAQ at http://semver.org and check out other tools/editors that work with versioning. Quite a few get it right, not everyone. Although not required per se, semver encourages the use of a `0.1.0` as first release (which can be patched

[2014-10-15 03:04] #673 closed, assigned to nobody

[2014-10-15 05:49] martinchooooooo opened #1678 "Chaining commands in behaviours should complete in sequence"
I have a keymap set up under :editor for `"pmeta-shift-enter" [:eval-editor :clear-inline-results]` though when I press the key combination, the results eval but don't clear.

As discussed in  https://groups.google.com/forum/#!topic/light-table-discussion/OONy8VtSUmY there may be an issue where commands aren't waiting for the previous to complete.

As @joshuafcole  pointed out, it "I think it woul

[2014-10-15 23:47] #399 closed, assigned to nobody

[2014-10-16 05:53] #716 closed, assigned to nobody

[2014-10-16 06:01] #870 closed, assigned to nobody

[2014-10-17 01:59] #531 closed, assigned to nobody

[2014-10-17 02:15] #458 closed, assigned to nobody

[2014-10-17 02:21] #376 closed, assigned to nobody

[2014-10-17 03:55] #336 closed, assigned to nobody

[2014-10-17 04:20] #288 closed, assigned to nobody

[2014-10-17 04:43] #432 closed, assigned to nobody

[2014-10-17 04:49] #482 closed, assigned to nobody

[2014-10-17 05:14] #493 closed, assigned to nobody

[2014-10-17 05:51] #401 closed, assigned to nobody

[2014-10-17 06:09] #483 closed, assigned to nobody

[2014-10-17 10:58] d9k opened #1680 "Can't get documentation for functions added from packages with `use`"
Light Table 0.6.7, binary v. 0.8.4

project.clj:

  . . . . .
  :dependencies [
  . . . . .
    [org.clojure/math.numeric-tower "0.0.4"]
  . . . . .
   ]
  . . . . .

test.clj:

  (use 'clojure.math.numeric-tower)

  ; shows abs documentation on ctrl+D
  (clojure.math.numeric-tower/abs 4)
  ; DOESN'T SHOW abs documentation on ctrl+D (Docs: Toggle documentation at cursor)
  (abs 4)

[2014-10-17 11:05] #1680 closed, assigned to nobody

[2014-10-17 12:44] choct155 opened #1681 "Add Fortran Capability"
Hopefully I am not the only one who wants this.  The project is awesome, and I would love to be able to throw everything under one roof.  You already capture Python, Julia, R, and Markdown.  Fortran completes the stack.

[2014-10-17 13:56] #1681 closed, assigned to nobody

[2014-10-18 13:26] #884 closed, assigned to nobody

[2014-10-18 15:16] #1348 closed, assigned to nobody

[2014-10-18 15:23] #841 closed, assigned to nobody

[2014-10-18 17:15] choct155 opened #1682 "IPython connects but never evals *in existing files*"
The issue I am having is almost identical to this issue:  https://github.com/LightTable/LightTable/issues/576

The difference is that, as long as I am writing a new file in this LightTable instance *that did not previously exist in my workspace*, I actually can eval.  Thus, my rather clunky workaround is just to copy my old script into a new unused file, and just overwrite the old one.  This happe

[2014-10-19 14:48] #960 closed, assigned to nobody

[2014-10-19 16:30] #1648 closed, assigned to nobody

[2014-10-19 16:39] #677 closed, assigned to nobody

[2014-10-19 16:39] #1130 closed, assigned to nobody

[2014-10-19 16:41] #994 closed, assigned to nobody

[2014-10-19 16:51] #999 closed, assigned to nobody

[2014-10-19 17:03] #1020 closed, assigned to nobody

[2014-10-19 19:07] prcastro opened #1683 "Open file at specified line"
I haven't found any way to open a file at a specified line. For example, on Atom we do:

`$ atom test.txt:2`

To open `test.txt` on line 2. Is there a way to do this with Light Table? If so, where is it documented?

[2014-10-19 19:41] #998 closed, assigned to nobody

[2014-10-19 20:09] #1683 closed, assigned to nobody

[2014-10-20 00:42] #1470 closed, assigned to nobody

[2014-10-21 08:36] avstudio opened #1685 "LT very slow on Yosemite"
Hi,
After Yosemite  installation LT become very slow. It's freezes very often on autocomplete. In one word it becomes useless. On Maverics everything was perfect.

Any idea why?

LT 0.6.7
Macbook Pro 2011

[2014-10-21 18:18] #546 closed, assigned to nobody

[2014-10-21 19:45] #617 closed, assigned to nobody

[2014-10-21 21:11] AlstonA opened #1686 "Middle-mouse click on tab disables hotkeys and mouse click"
Out of habit, I normally try to close the tabs with the middle- mouse button. This causes the scroll direction arrow to appear and when I try to click away, I am denied the option to do so. I don't know what's going on, but I've managed to replicate this error.  I've provided a video url (YouTube)
video displaying the issue:

https://www.youtube.com/watch?v=0wbNxCa_B4s&feature=youtu.be

[2014-10-22 06:35] #1639 closed, assigned to joshuafcole

[2014-10-22 16:27] Taiiwo opened #1687 "Terminal Emulator Tab"
This would be a really useful feature IMO. Esspecially for those that don't have tiling window managers.

[2014-10-22 16:48] #1687 closed, assigned to nobody

[2014-10-22 22:27] #1206 closed, assigned to nobody

[2014-10-22 22:35] #1255 closed, assigned to nobody

[2014-10-23 09:30] mkalam-alami opened #1688 "Can't open files through command-line args on Linux"
Ubuntu user here, trying to configure Light Table to open when double-clicking files on my desktop.

There seems to be an issue with the Linux scripts (arguments being ignored in certain cases), as reported and [patched on the mailing-list](https://groups.google.com/d/msg/light-table-discussion/IhebCaPwou8/Hb-3s8stFpgJ). The patch was acknowledged by @ibdknox in the thread but it seems it has been

[2014-10-23 16:40] #1688 closed, assigned to nobody

[2014-10-25 15:05] #1588 closed, assigned to nobody

[2014-10-25 15:05] #775 closed, assigned to nobody

[2014-10-25 18:11] #1607 closed, assigned to nobody

[2014-10-25 18:13] #1589 closed, assigned to nobody

[2014-10-25 18:16] #1587 closed, assigned to nobody

[2014-10-25 18:38] #1571 closed, assigned to nobody

[2014-10-28 12:21] #1027 closed, assigned to nobody

[2014-10-28 12:22] #1028 closed, assigned to nobody

[2014-10-28 12:38] #1324 closed, assigned to nobody

[2014-10-28 16:30] #1598 closed, assigned to nobody

[2014-10-28 20:50] kenny-evitt opened #1691 ""TypeError: embedded NUL character" evaluating Python file with a path containing spaces on Windows"
[This was copied mostly as-is from [a comment](https://github.com/LightTable/LightTable/issues/1640#issuecomment-58422479) I made on issue #1640.]

I downloaded Python 3.4.1 and ran the following code in a Python file in Light Table:

[code]

I can see `1640 [stdout]: Hello world!` in the Light Table console (where `1640` is the folder in which the Python file is located).

I do however get except

[2014-10-28 21:45] #1638 closed, assigned to nobody

[2014-10-28 21:46] #1563 closed, assigned to nobody

[2014-10-28 21:46] #1557 closed, assigned to nobody

[2014-10-29 01:53] systemhalted opened #1692 "Plugin Install Failed for: <plugin>"
I am running LightTable 0.6.7 (Windows OS). I am trying to install few plugins and update the already existing plugins. However, I am getting the following error:

Plugin Install Failed for: <plugin>.
I tried to install Markdown, TernJS. It is all same.
The stack trace for TernJS is:

Error: ENOENT, no such file or directory 'C:\Users\xyz\AppData\Local\LightTable\plugins\TernJS-tmp'
    at Object.

[2014-10-29 11:07] #1692 closed, assigned to nobody

[2014-10-29 11:18] #915 closed, assigned to nobody

[2014-10-29 12:04] #871 closed, assigned to nobody

[2014-10-29 16:50] jmarca opened #1693 "New user issue: default font is tiny on HiDPI (retina) display, linux"
Couple of minor issues I ran across when firing up the latest LightTable.

The default font is tiny on my retina display macbook pro running Linux.  Would be more convenient if one could set a global DPI to use (for example, https://wiki.archlinux.org/index.php/HiDPI)

When I searched the help for how to change the font, the first record that comes up in the "how do I"
says "Change settings (fonts

[2014-10-29 17:33] #801 closed, assigned to nobody

[2014-10-30 05:59] Ragyi opened #1695 "events.js[95]: Error: spawn EACCES false"
Im very new to julia.

I cant seem to integrate Julia into Light Table... i keep getting this error message.
At first Light Table could not find the path to Julia, but now im getting this message.

[2014-10-30 08:47] pierre-haessig opened #1696 "non-integer line height is not working in the live refresh of User behaviors"
This is a follow-up of the question I asked on Stackoverflow http://stackoverflow.com/questions/26485798/

I noticed that when setting a **non-integer line height** in the User  behaviors like:

[code]
the live refresh of the User Interface is working erratically (like sometimes it sticks at an integer value, or some other value).

However, notice that the setting is correctly applied  *after rest

[2014-10-30 20:34] #631 closed, assigned to nobody

[2014-10-31 05:10] #551 closed, assigned to nobody

[2014-10-31 13:58] #1459 closed, assigned to nobody

[2014-10-31 15:54] #1693 closed, assigned to nobody

[2014-10-31 16:16] #1677 closed, assigned to nobody

[2014-10-31 16:49] #1678 closed, assigned to nobody

[2014-10-31 17:57] #1617 closed, assigned to nobody

[2014-11-01 14:54] caminante99 opened #1697 "lighttable matplotlib python"
Each time I call plot , a new chart is drawn. What I really want is for the plot to be in one chart - as happens in iPython.

[2014-11-01 18:43] #1296 closed, assigned to nobody

[2014-11-02 19:26] #1669 closed, assigned to nobody

[2014-11-02 19:46] #997 closed, assigned to nobody

[2014-11-03 23:57] #1005 closed, assigned to nobody

[2014-11-04 01:09] #1164 closed, assigned to nobody

[2014-11-04 03:21] #982 closed, assigned to nobody

[2014-11-04 04:39] #973 closed, assigned to nobody

[2014-11-04 05:16] #1614 closed, assigned to nobody

[2014-11-04 05:53] #965 closed, assigned to nobody

[2014-11-04 05:55] #1001 closed, assigned to nobody

[2014-11-04 05:59] #948 closed, assigned to nobody

[2014-11-04 06:06] #916 closed, assigned to nobody

[2014-11-04 06:16] #453 closed, assigned to nobody

[2014-11-04 06:24] #878 closed, assigned to nobody

[2014-11-04 06:46] #727 closed, assigned to nobody

[2014-11-04 06:54] #945 closed, assigned to nobody

[2014-11-05 04:02] cldwalker opened #1699 "Deprecate, replace or remove old functions"
This is _not_ a high priority task but publicly tracking so contributors are aware of this. This was brought up in #1698. Please don't work on this until we've scheduled it for a release. We will want to deprecate and/or remove the following unused functions/behaviors (keeping list up to date):
- [x] `lt.util.cljs/js->clj` ships with clojurescript
- [x] `lt.objs.titlebar/add-titlebar` - looks bad

[2014-11-05 17:52] ibdknox opened #1700 "Atomic saves"
Light Table does not currently do atomic saves (e.g. saving to a temp file first and then overwriting the original file with the temp). This is necessary for safety in the face of potential crashes and such.

[2014-11-05 22:43] #634 closed, assigned to nobody

[2014-11-05 22:53] cldwalker opened #1701 "Upgrade node-webkit"
I believed this is blocked by css variables. I'm hoping we'll upgrade to a non-forked version of node-webkit so our scripts can eventually build without dependencies on privately-held tarballs - see #1666. If there's a script for building that tarball, it would be great to put it in the repo.

[2014-11-06 00:24] #1640 closed, assigned to nobody

[2014-11-06 17:52] one-more-minute opened #1702 "Plugin naming convention"
At the moment the language plugins are simply called `Python`, `Clojure` etc.. That's fine under `LightTable/Clojure` but potentially causes conflicts and confusion for people who work on both the language and the plugin. So I suggest having an LT plugin naming convention, something like `Python-LT`, `Emacs-LT` etc. (which is what I've been using for Juno/Julia).

It wouldn't be that necessary for

[2014-11-07 11:21] boustanihani opened #1704 "Question: Meteor Support ?"
Any plans to support: https://www.meteor.com/ ??

[2014-11-07 15:19] #1704 closed, assigned to nobody

[2014-11-07 20:35] cldwalker opened #1705 "Last warning and fetch"
After having knocked out most warnings e.g. #1698, we should at some point resolve the last warning:

[code]

We could fix it in the clojar or just pull in [fetch.core](https://github.com/ibdknox/fetch/blob/master/src/fetch/core.cljs) to lt.util.fetch. I'm inclined to do the latter since fetch hasn't had a release in a while and would be an additional clojar to give core team access to. @ibdknox T

[2014-11-07 22:44] #1623 closed, assigned to nobody

[2014-11-10 16:02] dhazel opened #1708 "Regex search in the Find bar does not work"
In the workspace searcher (`Searcher: Show`), regex searches work fine.

But in the in-file finder (`Find: In current editor`), regex searches do not work.

This _should_ be a known issue. I found reference to it on the google group (https://groups.google.com/forum/#!topic/light-table-discussion/vLidncoo5Yo); but in googling, I've not found mention of the issue here in the github issues, so here i

[2014-11-10 16:06] vladh opened #1709 "Go to definition (<C-.>) does not work"
I started a new Clojure project:

[code]

Wrote a simple function, eval'd it to confirm it worked (it did), then tried the "Go to definition" command.

![](http://i.imgur.com/uTJxAYE.png)

As you can see, it fails.

I'm on LightTable 0.6.7 and Mac OS 10.10.

Thanks for the help.

[2014-11-10 16:08] vladh opened #1710 "Function view / code bubbles — is this implemented?"
The main reason I wanted to use LightTable is the following example:

![](http://www.chris-granger.com/images/lightable/light-full.png)

Is this functionality, or anything similar that separates code into functions as opposed to files, implemented? I can't seem to find it in the documentation, let alone in the app.

Thank you.

[2014-11-10 17:17] #1710 closed, assigned to nobody

[2014-11-10 17:26] #1709 closed, assigned to nobody

[2014-11-10 22:28] #1530 closed, assigned to nobody

[2014-11-10 23:03] #1084 closed, assigned to nobody

[2014-11-11 00:07] #1560 closed, assigned to nobody

[2014-11-11 00:19] #1577 closed, assigned to nobody

[2014-11-11 02:42] #1594 closed, assigned to nobody

[2014-11-11 04:28] ohAitch opened #1711 "Auto-paren behaviour and multi-cursors"
I've run into various issues with default `:editor.open-pair` and `:editor.close-pair` behaviour, the two I can currently recall are:
- With multiple cusors, the entire selection is replicated: after opening up a file and Alt-dragging(Mac) a rectangular selection, the expected behaviour on paren would be to surround the selected section on each line(which may be empty), or possibly the block a a w

[2014-11-11 06:38] #1637 closed, assigned to nobody

[2014-11-11 15:28] Gitward opened #1712 "The Clojure instarepl is not closed when closing an istarepl-tab"
Steps to reproduce:
- Open an instarepl tab
- Add `(defn sqx [x] (* x x))`
- Close tab + click "discard changes"
- Open another Clojure instrarepl-tab
- Type: `(sqx 4)`
- The defined function `sqx` is still available

The only way to start over again is to restart LightTable or to manually disconnect from the nREPL.

Im using:
Light Table version
0.6.7
Binary version
0.8.4

OS: Ubuntu Linux 14.10

[2014-11-14 17:43] cldwalker opened #1715 "Add docstrings for namespaces and common fns"
Sometimes this weekend, I plan on adding docstrings for namespaces and common developer fns in preparation for next week's unsession:
* [ ] cmd/command
* [ ] behavior
* [ ] object/{raise,create,update-in,assoc-in}
* [ ] pool/{last-active,*path}
* [ ] files/*
* [ ] platform/open
* [ ] notifos/*

These are just off the top of my head and may think of more while doing this

[2014-11-15 00:32] nsfan opened #1717 "Instarepl clojure does not connect"
Hello!

LightTable 0.6.7
JDK 1.7.72 x64
Win7 64bit

I am newbie with clojure. I tried instarepl, but it went a never ending cycle.
It wrote on console : "connecting" and then "retrieving deps" but the loading never finished.

I see that (in taskmanager) it starts to java process:
1. java -classpath lighttable\plugins\clojure\runner\resources and its sub directories
it takes 400MB memory (taskmanag

[2014-11-15 19:41] #1656 closed, assigned to ibdknox

[2014-11-15 22:44] #1705 closed, assigned to nobody

[2014-11-16 18:16] #1653 closed, assigned to cldwalker

[2014-11-16 18:21] cobexer opened #1719 "running a js file in a node process breaks if es6-map is used"
[code]

LightTable console:

LightTable version 0.6.7
es6-map version 0.1.1

[2014-11-16 23:14] can3p opened #1720 "Modal dialogs overlap each other"
This report summarize a bunch of tasks connected with prompt dialogs behavior, e.g. #709, #1061, #937 that are closed, but the issue still exists. The main thing is that there is nothing prevents LT from opening new popups over and over again on top of each other, that leads to some ui and logic issues.

Example cases:
1) Open a file in LT and modify it slightly.
2) Open the same file in other edi

[2014-11-17 13:59] timur-han opened #1721 "Out of box XSD support"
An out of box support for XSD types would be a nice feature.

[2014-11-17 17:39] #1721 closed, assigned to nobody

[2014-11-17 17:45] #1712 closed, assigned to nobody

[2014-11-18 09:35] Gitward opened #1722 "The German Umlaut "ü" is replaced by []"
It is not possible to type the small Umlaut `ü` within LightTable.
An `ü` is automatically replaced by `[]`.
When trying to type `äöüÄÖÜ` this will result in `äö[ÄÖÜ]`.
When trying to type `äöüüöä` this will result in `äö[[öä]]`.

[2014-11-18 13:59] #1722 closed, assigned to nobody

[2014-11-19 20:58] #1663 closed, assigned to nobody

[2014-11-19 20:59] #1228 closed, assigned to nobody

[2014-11-19 22:24] seancorfield opened #1724 "Global find/replace bar has poor contrast when highlighting text"
See this screenshot: https://www.dropbox.com/s/lceoem8jmpq7vyg/Screenshot%202014-11-19%2014.23.03.png?dl=0

The text is highlighted (select all) but you can hardly tell. The background grey in the find/replace bar needs to be darker (or the highlight brighter).

[2014-11-19 22:29] MikeInnes opened #1725 "Compiling a plugin crashes LT"
0.7.0 with the new binaries freezes up completely when trying to compile a plugin (not every time, but it's 50/50). This is after clearing the settings folder.

Is anyone else seeing this? ~~I'll test this on Windows (I'm on OS X) and do some git bisecting to see if I can narrow down the bug. Any help with this is appreciated since it's going to make fixing the now-broken Julia plugin very painful

[2014-11-19 22:34] seancorfield opened #1726 "Open the console in a tab - no longer works in 0.7.0"
In 0.6.7 and earlier, I had `:console-tab` in `run-on-init` but this command no longer seems to work. Running the command explicitly from the Commands panel also has no effect.

I no longer seem to be able to get the console to display at all now - which is a major impact to getting work done :(

[2014-11-19 23:12] one-more-minute opened #1727 "Strange behaviour loading error: Invalid behaviors file"
[code]

I see this, and variants that seem to be looking for `appnw`, when installing plugins.

[2014-11-20 00:05] ibdknox opened #1728 "Investigate using the atom-shell instead of node-webkit"
We've had a lot of issues with nw lately and it might be worth looking into using the wrapper that atom uses for chromium.

[2014-11-20 00:42] Mocuto opened #1729 "Issues with HiDPI Scaling on Windows 8.1"
Right now Light Tables does not support HiDPI scaling. If you look at the screenshot, you can see how the text looks blurry compared to Sublime Text 3:
![image](https://cloud.githubusercontent.com/assets/5456121/5117573/3bc02a64-7024-11e4-9f13-89c83a8b02f1.png)

[2014-11-20 00:52] Mocuto opened #1730 "Menu Bar not appearing on Windows 8.1"
As the title states, the main menu bar is not visible. Running Windows 8.1 on the Surface Pro 3.

![image](https://cloud.githubusercontent.com/assets/5456121/5117651/7c0a30b4-7025-11e4-984d-33859ff2bd07.png)

[2014-11-20 01:38] #1724 closed, assigned to nobody

[2014-11-20 01:51] #620 closed, assigned to nobody

[2014-11-20 01:52] #1708 closed, assigned to nobody

[2014-11-20 01:53] #556 closed, assigned to nobody

[2014-11-20 01:53] #1632 closed, assigned to nobody

[2014-11-20 01:54] #1599 closed, assigned to nobody

[2014-11-20 01:54] #1538 closed, assigned to nobody

[2014-11-20 01:54] #1358 closed, assigned to nobody

[2014-11-20 01:54] #734 closed, assigned to nobody

[2014-11-20 02:25] #1726 closed, assigned to nobody

[2014-11-20 04:02] ohAitch opened #1731 "cm-link and cm-quote elements unstyled"
And consequently revert to dark codemirror.css colors. I'm a bit intimidated by git pull flow, but here's the relevant new lines for default.css:

[code]

Relevant snippets, shell and markdown respectively:

[code]

[code]

[2014-11-20 05:00] #1672 closed, assigned to nobody

[2014-11-20 05:59] joshuafcole opened #1732 "Show docs breaks instarepl on windows"
I was recently walking a friend through generating music algorithmically in overtone. On introducing him to LT's instarepl for him to start writing some code, we found that the show docs function was generating 40 lines of error stack trace. This seems related to a previous issue involving temp file creation that I can't seem to find right now. The instarepl works fine normally before show docs is

[2014-11-20 09:34] integricho opened #1733 "Refresh tab when trailing whitespaces are removed"
The behavior `:lt.objs.editor.file/remove-trailing-whitespace` does not refresh the tab where it was executed on save. So even though it removed the trailing whitespaces, the file has to be closed/reopened in order to see that those changes actually happened. Actually, the same goes for `:lt.objs.editor.file/last-char-newline` as well.

[2014-11-20 09:43] lufeihaidao opened #1734 "it seems lt only applies the system python"
Hi,

I use pyenv to manage my python, and I found that it seems different between my terminal python and lt python.

lt use /bin/python, is it right? Could I customize the python path?

[2014-11-20 13:07] rmunn opened #1735 "If you cancel an upgrade, LT thinks it's been upgraded anyway"
If you click the "cancel" button when LightTable offers to upgrade to a new version, you won't be able to upgrade until you quit and restart LightTable. Here are two different scenarios:

1) Start LightTable 0.6.7. Wait for it to check for updates and say "There's a newer version of LightTable!", and click the Cancel button instead of the "Download and install" button. Now click on the `changelog`

[2014-11-20 14:47] #1392 closed, assigned to nobody

[2014-11-20 16:39] capitancook opened #1736 "menù disappeared after upgrading to 0.7.1"
AFter the latest upgrade to 0.7.1 I wasn't able to use LT anymore.
I'm on Windows 7 64 bits.
Thanks for your help

[2014-11-20 17:00] one-more-minute opened #1737 "Overriding LTs built in file types"
It seems like the order of behaviours has been changed somewhere, because now [this definition](https://github.com/LightTable/LightTable/blob/db2d804e5de1d763d481f9fbd5d6c7f4c13ef874/deploy/settings/default/default.behaviors#L287) is overriding the one in my plugin.

Is there some way to either negate that definition or make sure it's overridden properly? If not I'd settle for removing it from `de

[2014-11-20 18:50] #1736 closed, assigned to nobody

[2014-11-20 19:47] alun opened #1738 "Problems with cursor placing on coffeescript and javascript files"
[code]

The worse thing is that when I put the second line in right place by hand, third line going back to the incorrect place under opening square bracket.

It does appear to work as expected in plane CM demo:

http://codemirror.net/demo/changemode.html
[code]

[2014-11-20 19:57] igorhub opened #1739 "Update ClojureScript dependency"
User plugins can't use many modern libraries since Light Table depends on ClojureScript 0.0-2138, which is 10 month old.

[2014-11-20 21:56] michael-okeefe opened #1740 "Highlight Current Line Seems to be Using Non-Pleasing Colors After Upgrade to 0.7.1"
Using the theme ibdknox, the current line is near or total white on light font (whereas it used to be dark grey over light font). This makes the theme hard to use.

This issue was previously reported and fixed:

https://github.com/LightTable/LightTable/issues/1496

[2014-11-21 09:38] pixelmager opened #1741 "ctrl + plus not working"
ctrl + minus works to decrease the font-size, ctrl+plus does not work to increase it again (numpad). For these cases, or for those who do not know the magical keys to change font-sizes, it would be helpful to add to the menu somewhere.

(on windows, v0.7.2)

[2014-11-21 12:18] kiquetal opened #1742 "Issue matching curly brackets when exists symbols in comments"
![lighttable2](https://cloud.githubusercontent.com/assets/5652772/5142245/ee07cc64-715e-11e4-8977-bd380842b301.png)

OS:openSusSE 64 bits.
LT:0.7.2

[2014-11-21 15:57] shamrin opened #1744 "JavaScript string with #! in it fails to evaluate"
Evaluating the following JavaScript (either with Cmd-Enter or Cmd-Shift-Enter):

[code]

fails:

[code]

[2014-11-21 16:26] #1730 closed, assigned to nobody

[2014-11-21 19:59] thomasgauthier opened #1745 "Pressing enter while navigating filter-list just makes a new line"
It's impossible to select an element in the filter list with enter.
The keymap seems to be good:       [:filter-list.input "enter" :filter-list.input.select!].

I'm having this issue since I updated to 0.7.

[2014-11-21 22:02] #1745 closed, assigned to nobody

[2014-11-21 22:09] #1735 closed, assigned to nobody

[2014-11-21 22:47] jhnstn opened #1746 "console.log broken on NodeJs connection"
This is on 0.7.2

With a nodejs connection, `console.log('foo')` is raising :

[code]

[2014-11-22 06:27] simara001 opened #1747 "Not closing parenthesis"
I am using LightTable 0.7.2, I created a python file "test.py", I defined the syntax as python, (I did the same for javascript) and every time I put a parenthesis it doesn't autocomplete the closing one, how this is not a behavior by default?

[2014-11-22 07:26] #1747 closed, assigned to nobody

[2014-11-22 15:10] clojens opened #1748 "Dollar plus variable identifier UTF-8 (Opal)"
As I'm trying to overcome more and more of the obstacles learning CLJS in LT context, while being stuck and wanting to backtrack in orginal JavaScript (Node.js) document evaluation, I encountered an error of which I believe the proper solution might be in quoting things on our side. Hence this issue, as usual I've included a screenshot as it provides a better picture (but since they usually a larg

[2014-11-23 02:11] #1717 closed, assigned to nobody

[2014-11-24 03:29] rmunn opened #1749 "Upgrade fails when installed in Program Files under Windows 7"
When LightTable is installed in Program Files under Windows 7 (which protects anything in Program Files from being modified by non-admin users), its upgrade fails, with the following errors in the console:

[code]

The `tmp` folder should probably be placed in `%APPDATA%` rather than in LightTable's installation folder. There may still be problems with admin permissions later — I haven't looked in

[2014-11-25 08:29] wondernet opened #1750 "Energy Impact is too big on OS X"
I have a django project opened in LightTable and I observed a big impact on Energy: in few days Average Energy Impact for LightTable is 59.25% and Safari has an impact of 7.27%.

[2014-11-27 06:57] #1746 closed, assigned to nobody

[2014-11-27 16:56] tlightsky opened #1751 "After i generate a new file to workspace,i can't find it through ctrl+o"
i use laravel tool,

[code]

to generate a seeder file,
but i can't find it in the ctrl+o

after i restart lighttable,i can find the seeder file in ctrl+o

[2014-11-27 22:31] #1751 closed, assigned to nobody

[2014-11-28 19:09] shamrin opened #1753 "Too easy to lose data with workspace-wide replace"
I've clicked `all` button in workspace-wide searcher thinking it's a drop-down menu:

![light table 2014-11-28 21-53-24 2014-11-28 21-53-30](https://cloud.githubusercontent.com/assets/510678/5231438/75c1dbfa-7749-11e4-8cef-5970eb089ee1.jpg)

I thought it's a drop-down menu because in documentation searcher the similar UI element gives a menu:

![light table 2014-11-28 21-59-41 2014-11-28 21-59-42]

[2014-11-28 20:26] peterk87 opened #1754 "Opening brackets, parens, curly braces not triggering closing brackets, parens, curly braces"
After updating from LT 0.6.0 to LT 0.7.2, opening brackets/parens/curly braces is not triggering closing brackets/ parens/curly braces. It seems like this behaviour has been removed from the `default.keymap` file.

In order to return this behaviour, I needed to add the following to the `user.keymap` file:

[code]

It's quite frustrating to have this kind of functionality suddenly removed after an

[2014-11-28 20:33] #1754 closed, assigned to nobody

[2014-11-29 15:21] #1658 closed, assigned to nobody

[2014-11-29 15:39] #1662 closed, assigned to nobody

[2014-11-29 15:41] #1650 closed, assigned to nobody

[2014-11-29 15:45] #1636 closed, assigned to nobody

[2014-11-29 15:46] #1630 closed, assigned to nobody

[2014-11-29 15:55] #1645 closed, assigned to nobody

[2014-11-29 15:57] #1628 closed, assigned to nobody

[2014-11-29 16:00] #1592 closed, assigned to nobody

[2014-11-29 16:09] #1572 closed, assigned to nobody

[2014-11-29 16:42] #1070 closed, assigned to nobody

[2014-11-29 19:18] #1398 closed, assigned to nobody

[2014-11-29 19:26] #1271 closed, assigned to nobody

[2014-11-30 01:03] Reilithion opened #1755 "Dot in folder name breaks workspace new file"
If a folder in your workspace contains a period character (as is often the case with hidden directories), and there is a file in that directory with no file extension, attempting to create a new file under that folder will fail with an error message.

Steps to reproduce:
1. Create a directory called .test
2. Add .test to your workspace
3. Create a file called foo in .test
4. Use Workspace -> New F

[2014-11-30 17:11] #1554 closed, assigned to nobody

[2014-11-30 20:36] davenportw15 opened #1757 "Menu option to hide docs says "Show docs""
Steps to reproduce issue
- Open a Clojure file
- Right click on a function
- Click "Show docs"
- Right click on docs window
- Click on "Show docs"

Light Table version: 0.7.2
Binary version: 0.8.4
Mac OS X Yosemite 10.10.1

[2014-12-01 02:25] thefonso opened #1758 "letter g not working"
shift "g" will work to create a large "G" but no joy for simply typing the letter "g" .. version 0.7.2

[2014-12-01 08:39] m00nlight opened #1759 "Seems the auto_paren does not work for the latest development version"
There is no auto parentheses in clojure code. Is it disabled by default or for some other reasons?

[2014-12-01 08:39] m00nlight opened #1760 "Seems the auto_paren does not work for the latest development version"
There is no auto parentheses in clojure code. Is it disabled by default or for some other reasons?

[2014-12-01 14:16] #1759 closed, assigned to nobody

[2014-12-01 14:16] #1760 closed, assigned to nobody

[2014-12-01 22:19] #1757 closed, assigned to nobody

[2014-12-01 22:24] #1744 closed, assigned to nobody

[2014-12-02 02:30] cjermain opened #1761 "Openning IPython Notebook with Light Table"
I'm really excited to see that I can open the IPython Notebook (version 2.3) in Light Table by using a Browser in Connections. However, I've noticed that when clicking on a link to the actual notebook, it opens up the notebook in a different window instead of as a tab. What is more peculiar is that if I type in the address for the notebook, which has displayed fine in the seperate window, the page

[2014-12-03 09:49] Lucas-C opened #1762 "Cannot open files from desktop on gnome"
Spotted in http://stackoverflow.com/questions/26161805/open-plain-text-files-with-lighttable-by-default-when-double-clicking-them-in-u

There are 2 issues here:
- currently the deployed Bash script doesn't pass any arguments to LightTable if it's not invoked from a terminal, but this is needed e.g. to make a gnome desktop shortcut and make LightTable the default text editor. This issue can also be

[2014-12-04 01:26] neupsh opened #1764 "Add documentation and examples as comment at the top of users.behaviors, users.keymap and other files alike"
These files lack documentations and examples in them. When beginners like myself want to change something in these files, it would help a lot if we could see some description on the top showing us what we can achieve modifying these files and how to modify them.

[2014-12-04 06:18] statler opened #1765 "Advanced find (x-workspace) causes ongoing fauls"
using the ctrl+shft+f find across the workspace finds expected results, but then the function does not complete.

After doing a search, actions on some editor activities produce errors in the console such as below, but still seem to work

[code]

[2014-12-05 14:23] schnoberts1 opened #1766 "Python: Raises SyntaxError on module docstrings"
I can confirm this issue still exists in Lighttable 0.7.2 (binary version 0.8.4) installed in a Mac from the official DMG.

Code:

[code]

![untitled](https://cloud.githubusercontent.com/assets/10029362/5316979/f98d22ce-7c89-11e4-85cc-62ef75e8b0d1.jpg)

See: https://github.com/LightTable/LightTable/issues/1503

[2014-12-05 14:23] #1766 closed, assigned to nobody

[2014-12-06 11:09] mokasin opened #1768 "LightTable does not work under PAX/grsecurity"
On Arch Linux with official grsecurity kernel _3.17.4.201412040017-1-grsec_, PAX, and _without_ RBAC enabled.

When I run LightTable in console, this is the output

[code]

That's all that happens. The reason seems to be the following,

[code]

which can be found in the dmesg or journald output. I'm not sure, what exactly is the problem. But since it is the only app that is not working, this might

[2014-12-06 12:34] Ziv-Barber opened #1769 "LightTable nodejs: Improve default folder to connect to"
When trying to bind a js file via the node.js connect then the working folder of the running node.js process is the lightTable folder instead of the node.js process folder.
The best way will be an option to select the working folder.
Also I need a "console connect" to be able to execute a shell command (I want to connect it to a grunt task).

[2014-12-06 15:11] rtwitchell opened #1770 ""Modified" state of open file not showing in other views."
Using multiple views of a file, via the "File: Open another view of current file" command, tabs only show a "*" in their title when the contents of their own editor is changed; if a file is changed in one view, other tabs still show the file is unmodified.  Editor / file contents seems to sync ok.

Using 0.7.2 on Linux.

[2014-12-08 00:57] rickedanielson opened #1773 "Python connection without output values (rehash)"
This issue follows directly from #495, so I will update some version numbers here and add the juno is installed and working (just not python): I'm running LightTable 0.7.2 on Ubuntu Kernel 3.13.0-40-generic (12.04) 64-bit. I have python 2.7.3, IPython 1.0.0, and python-zmq installed.

When I try to start a python connection, the spinning boxes start up and the status line reads "Connecting" before

[2014-12-08 11:12] #1768 closed, assigned to nobody

[2014-12-08 13:48] #1764 closed, assigned to nobody

[2014-12-08 17:08] #1755 closed, assigned to nobody

[2014-12-09 07:34] danjohansson opened #1774 "file.encoding"
When I start a clojure project in lighttable with file.encoding=UTF-8 set in leiningen project.clj file on windows and check the jvm arguments of the process via visualvm it has two file.encoding arguments one is UTF-8 but the other is cp1252 and
cp1252 is being used as default.

When starting the same project using leiningen repl it still has two file.encoding arguments but both are UTF-8 and UTF

[2014-12-09 18:26] carlosloslas opened #1775 "Pugins not installed"
Hello,

I'm trying to install the Julia plugins into LightTable(Julia, June, Juniper, Juno) .
I install them from the plugin manager.
I got the error:
Invalid behaviors file: /Applications/LightTable.app/Contents/Resources/app.nw. Behaviors must be either a vector or a map.
The plugins seem to be installed by looking at the LightTable window, but there is no record of them in the Contents/Resource

[2014-12-10 01:22] #1775 closed, assigned to nobody

[2014-12-10 07:02] #1719 closed, assigned to nobody

[2014-12-10 14:36] #1728 closed, assigned to nobody

[2014-12-10 14:37] #1725 closed, assigned to nobody

[2014-12-10 17:46] #1753 closed, assigned to nobody

[2014-12-10 17:49] #1758 closed, assigned to nobody

[2014-12-10 17:49] #1748 closed, assigned to nobody

[2014-12-10 21:56] #1620 closed, assigned to nobody

[2014-12-11 01:11] #1740 closed, assigned to nobody

[2014-12-11 01:12] #1655 closed, assigned to joshuafcole

[2014-12-11 01:27] Morgawr opened #1776 "Horizontally scroll tab bar with middle wheel vertical scroll"
If I open too many tabs (especially in a split tabset) the extra tabs go "under" the other tabset (or past the screen) and disappear, I can't use them until I close some previous tabs or enlarge the window/tabset. There should be horizontal scrolling or a fold to contain the extra tabs, in my opinion, or at least give me a way to retrieve the lost tabs.

[2014-12-11 01:41] cldwalker opened #1777 "Vanilla CodeMirror themes"
In the same spirit as #1655, we should switch to using CM's themes and add any customizations we have to them in separate files. This will fix known issues with outdated themes including .CodeMirror-activeline-background for solarized and other dark themes .[According to Chris](https://github.com/LightTable/LightTable/pull/1772#issuecomment-65953977), customizations were mostly for tab colors. For

[2014-12-11 16:27] #886 closed, assigned to nobody

[2014-12-12 21:10] #1731 closed, assigned to nobody

[2014-12-12 21:26] cldwalker opened #1778 "Send remaining codemirror addon changes upstream"
After finishing #1772, we have just [3 forks of CM addons](https://github.com/LightTable/LightTable/tree/master/deploy/core/node_modules/codemirror_addons). This issue tracks sending pull requests upstream or investigating why we can't:
- [ ] `overlay.js` - This is low hanging fruit. Just one commit that we've added that makes us different from 4.7.0 version of this addon - 12aa9ee7cf9a91c1b409043

[2014-12-13 19:55] #1654 closed, assigned to nobody

[2014-12-13 20:01] zehcnas34 opened #1780 "Awkward selections"
I've been experiencing awkward text selections.
![selection_005](https://cloud.githubusercontent.com/assets/1127553/5425098/c044beac-82d6-11e4-95f4-8f3f29856e2a.png)

any tips for dealing with this? I've tried different fonts, and different line spacing. It _self corrects_ after i start editing, but goes back to the wrong location when I switch tabs. I've tried recreating this error in the bracket

[2014-12-14 11:00] bbatsov opened #1782 "Indentation changes for Clojure code"
I've noticed that Clojure code gets indented in LT the same way it's indented (or was) by Emacs's clojure-mode. Unfortunately some of the indentation stuff you copied were actually bugs in clojure-mode (that were recently fixed in version 4.0) - like the indentation of `cond` (which should use 2 spaces) and threading forms, which should be indented like:

[code]

instead of:

[code]

[2014-12-14 11:15] #1461 closed, assigned to nobody

[2014-12-14 21:27] #1780 closed, assigned to nobody

[2014-12-16 11:23] benjyz opened #1783 "Mac and Meta-Keys"
I've run into this issue with Mac and haven't been able to fix it myself (Mac OS 10.8, German keyboard). Alt is not interpreted as a meta-key. For emacs I can set the preference "use option as meta key" for a terminal - not sure how to do this globally for Lighttable.

[2014-12-17 08:11] spacelatte opened #1784 "Tabs of tabs..."
I think we might use 'tabs of tabs' which can be expanded as tab of current workspace or tab of current tabsets eg:
- tab1:
  - tabset1:
    - tab
    - tab
  - tabset2:
    - tab
- tab2:
  - tabset1:
    - tab
  - tabset2:
    - tab
  - tabset3:
    - tab
    - tab
- tab 3
  - ...

something like open projects in tabs...

[2014-12-22 14:43] clojens opened #1785 "Save as... bug not saving earlier saved file at different location at new location"
As title suggests, I am unable to take a new file, then save it somewhere, change things and then to `Save as ...` on another location. There simply won't be a file. I posted about this earlier but perhaps either someone thought it resolved, or the earlier cleanup had it moved, either way this bug is still active  it seems and I couldn't find it in any other issues here so I'll post this one.

Rep

[2014-12-22 15:01] Binero opened #1786 "Rust syntax highlighting outdated"
Light Table seems to have an outdated parses for the Rust language. It would be much appreciated if this could be sorted. I have also noticed similar errors parsing the Rust language in other editors, namely gedit.

[2014-12-22 18:04] clojens opened #1787 "Minor aesthetic and slightly pedantic perhaps ... a drag icon"
But persistent enough to keep bugging me and my hack attempts of the styles involved in LT given CSS were unable to resolve this issue:

When I **drag a panel** (e.g. console, tabset), in Linux, I get this godawful **new-document kind of icon** instead of a "proper hand icon of some sort".

Now I know I'm a minority using Linux but I guess not if you are frequent user of LT I'd assume, I was wonde

[2014-12-23 20:12] Binero opened #1788 "Make F11 work for Fullscreen"
F11 is the standard key for an application to go fullscreen, and it would be much appreciated if Light Table would conform to this standard.

[2014-12-25 00:53] jasonzoladz opened #1789 ""incorrect header check" error installing plugins"
Here's the error message.
--------------------------------------------------------------------------------------------
Error: incorrect header check at Zlib._binding.onerror (zlib.js:295:17)
--------------------------------------------------------------------------------------------

(Is this a git issue?)

[2014-12-26 18:01] lylemoffitt opened #1790 "Errors on first run after clean install"
I was getting a bunch of errors every time I opened LT, so I decided to start fresh. After removing all related files and installing the newest version, I still get all of the same errors. This started the first time I opened LT, with no extra plugins or modifications.
### Steps to reproduce:
1.   Install LT
2.   Open LT
### Error description:

Console contains the following errors:

[code]

---

[2014-12-27 02:10] ryancole opened #1791 ""File > Open Folder" does nothing on Windows"
"File > Open Folder" does nothing on Windows. No open folder dialog appears or anything. The open single file option brings up an open file dialog.

[2014-12-27 03:48] #1791 closed, assigned to nobody

[2014-12-27 14:47] ghost opened #1792 "eve"
excuse me for spamming but i was wondering if Eve will also be developed on github. Its looks amazing !

[2014-12-27 15:56] #1792 closed, assigned to nobody

[2014-12-28 21:31] brabadu opened #1793 "Autocomplete token leaks to layout"
I have a clojure file with compojure routes.

[code]

When I was changing code in some other place, I typed / and got autocomplete box with tag h1 applied to text.

![light_table](https://cloud.githubusercontent.com/assets/177366/5565034/9497fa7a-8ee9-11e4-8f7d-34d47d0b5042.png)

[2014-12-30 03:23] clojens opened #1794 "Console output encoding"
Anyone know if this is relatively easy to add, or if I'm doing something wrong? (the ANSI codes that is, not the error I'm talking about)

![image](https://cloud.githubusercontent.com/assets/3727933/5575414/85764f9a-8fdb-11e4-87a8-954b3fa44e8e.png)

Do we even want to? Or is it much easier to just send it hiccup forms and have marked up content lol. It could be non-compatible? Thing is, pretty pri

[2014-12-30 14:29] #1784 closed, assigned to nobody

[2014-12-30 22:38] #1794 closed, assigned to nobody

[2014-12-30 23:10] #1787 closed, assigned to nobody

[2014-12-31 01:42] cneira opened #1795 "Gherkin syntax is not working"
It fails with the following error

[code]

[2015-01-01 18:02] cldwalker commented on #1795
@cneira No need to create your own plugin. Latest LightTable comes with gherkin mode but we haven't defined the file type yet. Add this to your user.behaviors:

[code]

I'll add this definition on master so the next release doesn't have this issue

[2015-01-01 18:18] #1795 closed

[2015-01-01 18:47] cldwalker opened #1796 "Define file types for codemirror modes"
We should provide syntax highlighting for all the [codemirror modes](https://github.com/LightTable/LightTable/tree/master/deploy/core/node_modules/codemirror/mode) we load at startup time. This would prevent issues like #1795. In order to do this, we need to add file-typed declarations for each mode. Steps to do this:

1. For each mode [in this directory](https://github.com/LightTable/LightTable/t

[2015-01-02 21:21] priyatam commented on #1685
@cldwalker I still cannot install atom-shell on a brand new mac and none of my co-workers can get it working either. Further, the latest branch of atom-shell doesn't have 'osx_deps.sh'. Given that there are close [1500 views](https://groups.google.com/forum/#!searchin/light-table-discussion/atom$20shell$20yosemite) on this issue, would you be open to building a binary that _works_ for 0.80?

[2015-01-02 22:05] justintaft opened #1797 "Update codemirror to latest e.g. 5.x"
http://codemirror.net/doc/releases.html
Bunch of stuff added since 4.7 (new language support,new vim functionality, etc.)
I'm particularly interested in the new api function getLineTokens.

[2015-01-02 22:17] cldwalker commented on #1797
This would be nice. In #1772 I looked into upgrading into 4.8 but ran into some errors at startup. I didn't look into them much but I suspect they are due to [key changes](http://codemirror.net/doc/manual.html#normalizeKeyMap). Once this is resolved, we'll need to make sure that the Vim plugin works with a 4.10 codemirror.js and isn't blocked by LightTable/Vim#45. Discussion and pull requests that

[2015-01-02 22:30] justintaft commented on #1797
Ah, that explains the funky codemirror directory setup. I'll re-checkout master and take a shot at it.

[2015-01-02 22:39] cldwalker commented on #1797
Cool. Just `npm install codemirror@4.10` from deploy/core to get started. To be clear, I'm only looking for a dicussion/pull request that can resolve the above issues. If this ends up being difficult, feel free to try #1796 which is an easier codemirror-related issue that would benefit LightTable nicely

[2015-01-03 00:30] one-more-minute commented on #1685
I think it probably goes without saying that we'll want to release a binary that works.

While the atom-shell branch is far from complete, there does seem to be a lot of interest and we could perhaps release some betas. I may have time to give this a go in the next week.

[2015-01-03 00:38] priyatam commented on #1685
Thanks, @one-more-minute. A weekly beta (binary) off `atom-shell` would be great.

[2015-01-03 15:54] mengzyou opened #1799 "Editor tab setting dose not work"
I set below in the *user.behaviors*:

But it dose not work for me, in editing, the tab is still 4 spaces.
And when I use "Smart indent line(s)", it use 4 spaces as indent length.

The version is __0.7.2__.

[2015-01-03 18:16] justintaft commented on #1797
Not done yet, but I got Light Table running with 4.10. Able to open up files and change contents and use insta-repl.

https://github.com/justintaft/LightTable/commit/080d36e2acc4bc317bdb6707e2c983268c124bed

Few files failing to load. Should be simple fix.
LightTableMain/deploy/core/node_modules/codemirror/show-hint.js
LightTableMain/deploy/core/node_modules/codemirror/matchbracket.js
LightTableMa

[2015-01-03 19:13] justintaft opened #1800 "Multiple lighttable instances run on ./deploy/light"
The "open -a LightTable" in deploy/light is causing the issue i think...

https://github.com/LightTable/LightTable/blame/b50bacadbe969bf13b07b7795a3e06f5da459284/platform/mac/light#L35

I have a development copy and a stable copy installed on osx 10.8

Running ./deploy/light in my development folder then both copies are launched. (I have the LT_HOME env. var set too).

If I run /home/justin/progra

[2015-01-03 19:19] cldwalker commented on #1800
I've seen this behavior as well on the atom-shell branch and it is fixed on that branch. For now, I'd recommend commenting out that line locally. I'll close this once atom-shell lands on master

[2015-01-03 19:32] justintaft commented on #1796
Quick and dirty way to solve the issue:
- wget http://codemirror.net/mode/  & follow all the mode links
- for each page, sed  & grep  the necessary parts , print parts out to a file formatted as clojure data structure

[2015-01-03 21:10] rljohnsn opened #1801 "Plugin install error message"
I get the below error messages for any plugin I install.

![image](https://cloud.githubusercontent.com/assets/830382/5603718/3714dffe-9348-11e4-934d-99b9fc0b31f0.png)

Windows 8.1 (64bit)
Light Table Version: 0.7.2
Binary Version: 0.8.6

Plugins attempted:
RuboCop
Ruby
Ruby Instarepl
JSHint
Markdown

Plugins also do not appear to be installed
![image](https://cloud.githubusercontent.com/assets/830

[2015-01-03 23:41] cldwalker commented on #1801
This is a duplicate of #1727. Do the plugins appear in the plugin manager?

[2015-01-03 23:41] #1801 closed

[2015-01-04 16:07] muhuk commented on #1745
It took me a while to figure this out myself so I'm adding this:

**You can use TAB to select an item from the autocomplete list, ENTER will make a new line by default**.

[2015-01-04 16:51] kemenaran commented on #1230
I also have the same issue.

[2015-01-05 07:37] Magos opened #1804 "Clojure instarepl doesn't remove all intermediate results"
Possibly related to #1324. When my lets involve multiple values, such as a for, map and so on, every evaluation creates more intermediate results. These do not go away with Editor:Clear inline results.
![image](https://cloud.githubusercontent.com/assets/1004386/5610339/fcb11016-94b5-11e4-8341-ffa627b78dc8.png)
Running LT 0.7.2 on Windows 7.

[2015-01-05 13:44] cldwalker commented on #1804
Thanks for the screenshot. This is a duplicate of #1230

[2015-01-05 13:44] #1804 closed

[2015-01-05 15:33] subunit commented on #928
I am still having this issue in the current version of LT (0.7.2) as well as the "developer" version, since it seems to include the same version of node-webkit (v0.8.4). The [LT node-webkit repo](https://github.com/LightTable/node-webkit) includes [the fix](https://github.com/LightTable/node-webkit/commit/50c298c5aaa6bc831ac0d9fee1600b31e237c467), however, so I think LT just needs to be rebuilt to

[2015-01-05 16:15] rljohnsn commented on #1727
Answering https://github.com/LightTable/LightTable/issues/1801#issuecomment-68614256 Yes the pluggins do appear in plugin manager even though they are not on disk.

[2015-01-05 19:16] Jinyi77 commented on #892
+1

[2015-01-05 19:34] dcz-switcher commented on #1064
totally agree, autocomplete for comments is unnecessary

[2015-01-05 19:39] dcz-switcher opened #1805 "shortcut for duplicate line don't work in html files"
In my user.keymap, I set this line to shortcut "duplicate line" :
[:editor "shift-pmeta-d" :editor.sublime.duplicateLine]

it works great for JS files, but not in html files ?!?
instead the shortcup select all lines

note : I use macbook pro laptop (french keyboard)

[2015-01-05 19:45] dcz-switcher opened #1806 "open folder (in workspace) with drag and drop"
It will be cool if we can open (and add it in workspace) a folder just by drag&drop it from the finder/explorer

[2015-01-05 19:54] dcz-switcher opened #1807 "autocomplete pair keybindings for international keyboards"
I know the autocomplete option was disabled by default to prevent issues but, if light table really want to be the future IDE, I don't think this function can't work

I use many others IDE like Brackets, Atom, Sublime ... and all of them autocomplete parenthesis, brackets on my laptop mac with french keyboard so it's possible.

Actually, if I activate this option, only parenthesis are self closed

[2015-01-05 19:59] dcz-switcher opened #1808 "autocomplete files names in project when include them (src, href ...)"
One of greats features found in another editor is the capacity to autocomplete files when include them.

For example, if you want to add image in html file, when type
`<img src="`
autocomplete show you images files in the root of the project, then show files in sub folders etc.

[2015-01-05 23:16] cldwalker commented on #1805
It's working fine for me in .html files. Could you drop in your user.keymaps, user.behaviors and list of plugins you've installed? Perhaps this is specific to french keyboards. Can you change your keyboard to U.S. and see if the issue persists?

[2015-01-05 23:27] cldwalker commented on #1807
Having pair keybindings work on international keyboards (including french) would be great. Pull requests would be appreciated since none of the core team uses (or is too familiar with) international keyboards.

[2015-01-05 23:36] cldwalker commented on #1806
This is currently possible. Open your workspace with `Toggle workspace tree` command then drag your folder into the workspace

[2015-01-05 23:36] #1806 closed

[2015-01-05 23:38] cldwalker commented on #1808
This would be a nice enhancement. Happy to take a pull request for autocompleting relative paths in html files. The pull request should be done in the HTML plugin.

[2015-01-06 18:47] dcz-switcher commented on #1805
thanks to reply so fast, here is my settings
keymap
'[
    [:editor "alt-shift-w" :editor.watch.unwatch]
    [:editor "alt-w" :editor.watch.watch-selection]
 ;; emmet est appelé par pmeta-e et ne bloque plus le tab natif de LT
    [:editor.keys.normal.emmet "-tab" :editor.codemirror.command "emmet.expand_abbreviation_with_tab"]

 ;; comment - uncomment selection
    [:editor "pmeta-shift-/" :toggl

[2015-01-07 22:29] kenny-evitt commented on #1774
@danjohansson  I'm unclear whether you were able to reproduce your issue yourself in the empty project. Here's what I did:

I created a new Leiningen project via `lein new light-table-issue-1774`.

I added the following to *project.clj*:

[code]

I changed *core.clj* to the following:

[code]

When I run the project via `lein run` and check the process command line setting in Process Explorer I se

[2015-01-07 23:50] joshuafcole commented on #1787
Just to add to this, I was unable to reproduce the issue on Ubuntu + KDE, so I think this may be GTK specific.

[2015-01-07 23:56] joshuafcole commented on #1783
While you can't swap keycodes -> keysyms in LT, you can rebind hotkeys in your keymaps. LT Does have global preferences in the form of your user plugin, which has a user.keymap (for keybinding alterations) and user.behaviors (for other preferences and wiring). I know it can be frustrating to remap hotkeys manually though. I'm unsure about OSX, but I know that KDE in Ubuntu has a rich system for re

[2015-01-08 00:03] jagledy commented on #453
I am having this same problem. Light Table worked fine for me the first time I downloaded it. I enabled vim key bindings and it crashed on me. I have tried everything suggested in this thread, as well as building the latest git build. Still not working for me.

[2015-01-08 00:09] joshuafcole commented on #1799
Hey mengzyou, what is the syntax of the file you're editing? LT has overrides for various behaviors, including tab-settings, on a language-by-language basis. LT uses the most specific behavior possible in the event of a collision. E.g. if you're having an issue with html, try:

[code]

Cheers

[2015-01-08 03:07] kernelp4nic opened #1809 "Copy&Paste from Console/Modals"
Copy from Console with Cmd+C doesn't work (workaround -> right click/copy)
And from a modal (Browser External) doesn't work at all.

This are well-known behaviours? Couldn't find a similar issue.

Mac OSX 10.10.1
Lighttable 0.7.2
Without plugins

[2015-01-08 18:32] dcz-switcher opened #1810 "add command : toggle word wrap"
I use LT in production for web dev (front end) and it's great, I think there is not much to add to have the next editor for devs

A feature which may be cool is the ability to toggle word wrap from the command panel

[2015-01-08 18:53] joshuafcole commented on #1810
This seems reasonable to me. I'll tag it as a beginner issue so anyone who wants to contribute can tackle it. It should be as simple as dynamically adding/removing the `:lt.objs.editor/wrap` behavior from the active editor.

[2015-01-08 22:08] joshuafcole commented on #1230
Pull the latest and you should be good to go!

[2015-01-08 22:08] #1230 closed

[2015-01-09 20:10] kemenaran commented on #1230
Indeed, I just build the latest version and it works like a charm. Thanks for the fix!

[2015-01-09 22:09] kenny-evitt commented on #1561
@godlikemouse I can't reproduce this after following the steps you described. I tried a Clojure file, a Markdown file, a Javascript file, and a CSS file.

What kind of file are you editing?

Do you have any non-standard plugins installed?

[2015-01-10 16:50] #1788 closed

[2015-01-11 02:55] clojens commented on #1787
cldwalker: yea I would say so too... next time I'm hacking the CSS I'll take another round at it, most of it wanted to see if anyone else had this or if it was mostly me/limited.

joshuafcole: ok, thanks for the feedback. I'll refine my searches aimed more towards that, as I'm fairly sure I should be able to override this on platform and not in webkit/css.

Cheers.

[2015-01-11 02:55] clojens commented on #1794
@cldwalker Thanks. I'll refrain to using that then.

[2015-01-12 08:05] danjohansson commented on #1774
When I run in the lighttable repl and the lein repl I get the following:
Lighttable:
process explorer:
[code]
repl:
[code]

lein
process explorer:
[code]
repl:
[code]

This information differs from what I wrote in the original issue description. That is because I ran lein in minGW and forgot about that.

Seems to me this issue has to do with the order of the file.encoding definitions.

[2015-01-12 09:56] mydoghasworms opened #1814 "LightTable does not seem to remember fullscreen"
When starting LightTable, the window is always restored. It does not remember whether it was previously maximized of full screen.
Not sure if this is a bug or feature request.

[2015-01-12 18:34] cldwalker commented on #1814
I noticed this bug and fixed it in the atom-shell branch with b4af0dcbf1b184c2dc49684359c97a97c33b7f7b. I'll mark this as fixed-on-master since that branch will go out with the next release.

[2015-01-12 22:02] kenny-evitt commented on #1774
@danjohansson what's the desired behavior?

[2015-01-13 06:56] peacememories opened #1816 "Closing Tab via middle-click on XServer pastes clipboard"
On the X windowing system, the middle mouse button defaults to a paste function for the X clipboard. If i close a tab in LightTable with the middle mouse button, the tab gets closed correctly but then the contents of my clipboard get inserted into the next tab.

[2015-01-13 08:21] danjohansson commented on #1774
It is desired that the encoding specified in the project.clj file is used.
The behaviour of leiningen in the example above is correct.

The last definition of file.encoding on the commandline has precedence so fixing this issue is a matter of making sure that the file.encoding from the project.clj file is specified after the other.
Though Im not sure where the other comes from.

[2015-01-13 12:23] MrDetonia opened #1817 "Splash Screen displays incorrectly"
On application startup, the LightTable splash image appears in the upper left corner of the window. The rest of the frame is white and empty.

Image:
![lighttable startup](https://cloud.githubusercontent.com/assets/9915250/5720609/68337860-9b1e-11e4-8e19-d787277ac048.png)

LightTable Version: 0.72

Operating System: Debian Linux
Output of uname -a: 'Linux Zac-Linux-PC 3.2.0-4-686-pae #1 SMP Debian

[2015-01-13 12:25] MrDetonia commented on #1817
Should note: I have other problems with this GPU + driver, so this may be the cause of the problem.
I'm switching to an NVidea card in a few weeks, so I'll see if the problem is the same with that setup.

[2015-01-14 00:34] TeffenEllis opened #1818 "Unable to map pmeta-up / pmeta-down"
Hello,

I'm migrating from Sublime Text and want to map `:editor.sublime.swapLineUp` and `:editor.sublime.swapLineDown` to `command+up` and `command+down`.

The following does not work:

[code]
https://gist.github.com/TeffenEllis/6288990ba6cf7c23e3ca#file-user-keymap-L40-L41

I'm using OSX 10.10.1 and LightTable 0.7.2.

Thank you.

[2015-01-14 02:21] mjgpy3 commented on #1810
Unless I'm misunderstanding something, it looks like this already exists here:
https://github.com/LightTable/LightTable/blob/master/src/lt/objs/editor/pool.cljs#L579-L585

[2015-01-14 03:28] cldwalker commented on #1818
Those work for me on osx 10.9.4. Does "pmeta-something-else" or "shift-up" work? Does "cmd-up" or trying the above on a new file work? You shouldn't need to do the last question in order for it to work but perhaps this is a strange edge case. If none of those work, check the keymaps of your plugins for potential conflicts e.g. [vim's keymap](https://github.com/LightTable/Vim/blob/master/vim.keymap

[2015-01-14 04:13] TeffenEllis commented on #1818
I'm able to map "pmeta" and an letter to activate the command. Strangely, I'm able to make the mapping with "alt-down" and "alt-up". The limitation seems to be limited to the command key and an arrow..

I've reinstalled LightTable with the default plugins and the issue persists.

Thank you for your support.

![screen shot 2015-01-13 at 8 12 30 pm](https://cloud.githubusercontent.com/assets/592134/

[2015-01-14 15:11] kolya-ay commented on #1816
Confirm [the same](https://github.com/LightTable/LightTable/issues/1554#issuecomment-64996304) on my Linux box. In browser codemirror instance seem not have this issue. Something with stopPropagation chain?

[2015-01-14 17:11] kenny-evitt commented on #1502
@joshuafcole this is another issue that warrants the windows label.

[2015-01-14 17:13] kenny-evitt commented on #1565
@joshuafcole based on the last comment by @Cheshire453 this is a Windows issue.

@Cheshire453 would you check whether the code you're trying to run is Python 2 or 3 and also check, in Light Table, what version Light Table is using. See issue #1640 for details.

[2015-01-14 22:12] kenny-evitt commented on #1502
@prathamesh96 @bhadra @Pansell @ipstone would you add a comment with specific example code you're trying to run? And please upgrade to the latest version of Light Table first, so we can rule out anything that might have already been fixed.

[2015-01-14 22:21] cneira opened #1820 "Closing Browser tap causes other browsers tabs to refresh their content and lost work"
When having multiple browser tabs, closing one causes the other to refresh and lost current input done on them.

OS : Windows 7 x64
Lightable:  0.7.2
Binary Version : 0.8.4

How to reproduce:

Just open multiple browser tabs for example, create one tab and load grooveshark select a couple of tracks, then start closing the rest of the browser tabs, then your current  groover session will be lost.

[2015-01-15 11:08] lylemoffitt commented on #1790
1.  I always open the application, never from the CLI. Trying the latter produces the same results.
2.  Commenting out line 27 of `.zshrc` removes only the associated error. The rest is the same beginning with..

[code]
3.   The above error (specifically regarding line 37) can be silenced by removing the related `source [...]` command.
4.   The last error (referring to line 81) is silenced by chan

[2015-01-15 21:17] RatanRSur opened #1821 "Vim Normal mode cursor not shown when broken html tags are highlighted"
The cursor is underneath the pink highlight right now but it can't be seen.

![screen shot 2015-01-15 at 4 16 06 pm](https://cloud.githubusercontent.com/assets/4733314/5766745/e034b284-9cd1-11e4-9164-1fcfce568c8d.png)

[2015-01-16 06:16] Trapets commented on #1817
Also in Win7.

[2015-01-17 07:36] rogergl opened #1822 "Installing lighttable-atom-shell gives Fatal error: certificate not trusted"
Just downloaded the latest  zip from github. Now I get the following error message when I run build.sh:
npm WARN package.json download-atom-shell@0.1.0 No description
npm WARN package.json download-atom-shell@0.1.0 No repository field.
npm WARN package.json download-atom-shell@0.1.0 No README data
Running "download-atom-shell" task
Fatal error: certificate not trusted
I'm on MAc OS X 10.10

[2015-01-18 03:45] naikus opened #1823 "Java interop 'new' issue in instarepl"
Java's new keyword or its equivalent reader syntax the '.' operator is not working.  Whereas the same is working in the on clojure's repl (lein repl). I'm using clojure 1.6.0 for lein repl
Light Table version
0.7.2
Binary version
0.8.4
Clojure Plugin 0.1.1 (Kodowa)

Below is the screenshot

![image](https://cloud.githubusercontent.com/assets/422158/5791302/1d6e6222-9ef2-11e4-835a-74e440e65a4c.png)

[2015-01-18 17:25] godlikemouse commented on #1561
Any type of file that is long enough to have scrollbars on it.  For instance a zend application.ini configuration file.  When I scroll down to the bottom of the page, make change, click Ctrl S (for save), then move the cursor again I'm magically at the top of the page.  Sometimes however I notice there is a delay before it moves the cursor to the top of the screen.  I've also noticed this seems to

[2015-01-20 00:11] mattmorten opened #1824 "Instarepl doesn't respect assertions / preconditions"
The following code snippet, when evaluated manually using CMD-Enter (Mac), will throw an AssertionError:

[code]

If I then choose "Make current editor an instarepl", Light table will evaluate the above code snippet to `5`.

Version 0.7.2 OS X Yosemite.

[2015-01-20 04:12] apriendeau commented on #892
@cldwalker how come lighttable cant use the codemirror's addon? http://codemirror.net/doc/manual.html#addon_rulers

[2015-01-20 04:46] cldwalker commented on #1824
This is a duplicate of #163. Any interest in looking into this is welcome

[2015-01-20 04:46] #1824 closed

[2015-01-20 14:15] kenny-evitt commented on #1561
@godlikemouse I suspect the "non-local" aspect is probably the key!

What are you using for SSHFS on Windows? I'll see if i can reproduce it myself.

[2015-01-20 23:06] godlikemouse commented on #1561
I'm using win-sshfs (https://code.google.com/p/win-sshfs/).  Thank you.

[2015-01-21 05:37] JohnPostlethwait opened #1825 "OSX Yosemite: File > Open Folder: Button in finder browser says "Upload""
I realize this relates to "workspaces" but it doesn't make a lot of contextual (contextual to the menu action) sense:
![screen shot 2015-01-20 at 11 24 43 pm](https://cloud.githubusercontent.com/assets/39127/5832523/8ab7e712-a0fb-11e4-8b54-0dfd359fc0dd.png)

And then you get:
![screen shot 2015-01-20 at 9 35 12 pm](https://cloud.githubusercontent.com/assets/39127/5831703/75251546-a0ec-11e4-829f-cf

[2015-01-21 07:39] JohnPostlethwait opened #1826 "OSX Yosemite: Command-Q (quit) doesn't quit Light Table, it only closes the current workspace."
Quit should quit the application. I know of no other OSX app that quits only the open window, but all other ones have to be quit independently.

[2015-01-21 07:52] JohnPostlethwait opened #1827 "OSX Yosemite: "Open folder" opens workspace tree before dialog instead of after dialog"
* Have a workspace open in LightTable that is a single directory
* Quit LightTable
* Open LightTable again from the Applications folder - you will see the Welcome screen
* command-w to close the welcome screen, LightTable is now totally empty
* Go to File > Open folder

When I do this, it auto-opens my last folder I had into my current workspace, for no apparent reason, I have not selected a folde

[2015-01-21 14:40] cldwalker commented on #1825
Marking as fixed on master since once we merge atom-shell this button says "Open"

[2015-01-22 14:50] matevarga opened #1828 "Redefining most clojure.core fns e.g. defn or defmacro doesn't work in Instarepl"
This ```(defmacro defn [name & body] `(clojure.core/defn ~name ~@body))```
works fine in the Clojure repl, but results in ```clojure.lang.Compiler$CompilerException: java.lang.RuntimeException: Can't create defs outside of current ns, compiling:(null:6:1)``` in LightTable Instarepl.

[2015-01-23 08:56] JohnPostlethwait opened #1829 "Clojure REPL throwing error, even the same function works in "lein repl""
This function call comes back with an error: https://github.com/swannodette/lt-cljs-tutorial/blob/master/lt-cljs-tutorial.cljs#L619

[code]
![screen shot 2015-01-23 at 12 56 37 am](https://cloud.githubusercontent.com/assets/39127/5872000/b9cd9060-a29a-11e4-9d83-87eeb36e2a8e.png)

Even though this same function is working in `lein repl`:

[code]

[2015-01-23 09:07] JohnPostlethwait opened #1830 "OSX Yosemite: shell script doesn't work on directories"
This happens regardless of if it is a single file, or a directory.
[code]

With directories, it opens the Light Table app, but never opens the directory, with files, the file is seemingly opened fine, but still has those messages.

[2015-01-23 12:57] cldwalker commented on #1829
Hi. It seems you haven't evaled `defaults` yet. After you eval the defn, your (defaults) evals should work

[2015-01-23 12:57] #1829 closed

[2015-01-23 13:38] cldwalker commented on #1830
Opening a directory on osx 10.9 correctly adds the directory to my workspace. What do you see in your workspace sidebar? Have you tried opening different directories? The node-webkit error messages are irrelevant, especially since we'll be switching to atom-shell soon. Can't reproduce this as described.

[2015-01-23 19:01] JohnPostlethwait commented on #1830
It happens with any directory:

[code]
![screen shot 2015-01-23 at 10 59 51 am](https://cloud.githubusercontent.com/assets/39127/5880659/12cf9f24-a2ef-11e4-8839-14b0c2035f51.png)

Is there any way I can get a log/trace for you?

[2015-01-23 19:01] JohnPostlethwait commented on #1830
Another detail: I already have Ligth Table opened, this seems to open a whole new (blank) window.

[2015-01-23 19:02] ibdknox commented on #1830
If you open the workspace tree is your folder in it?

On Fri Jan 23 2015 at 11:01:11 AM John Postlethwait <
notifications@github.com> wrote:

[2015-01-23 19:03] JohnPostlethwait commented on #1830
HA! Yes... I didn't notice it was closed...

I DO think it should open the workspace when opening a dir?

[2015-01-23 19:08] JohnPostlethwait commented on #1829
That was it.

Perhaps this should remain open to have a clearer error? Looking at the trace, it was all through LightTable javascript files, and isn't very clear that the issue was on my end.

For instance, when I run code without evaluating the namespace first, I get a reasonable message:

[code]

[2015-01-23 19:09] ibdknox commented on #1830
Yep, but that's a different issue :)

On Fri Jan 23 2015 at 11:03:51 AM John Postlethwait <
notifications@github.com> wrote:

[2015-01-23 19:10] JohnPostlethwait commented on #1830
Sure, but it is the heart of this ticket. Is thee another ticket open already to make that happen?

[2015-01-23 19:12] kristofer commented on #533
nope, we REALLY need a tab with a shell in it. closing this issue and the referencing #1687 and closing that one referencing this one, well...

+1 for a shell tab

[2015-01-23 19:14] kristofer commented on #765
#533 has been closed
#765 has been closed
#1687 has been closed

and still no shell tab?

[2015-01-23 19:37] cldwalker commented on #1829
I agree that ClojureScript errors can be hard to parse. However that should be solved with the language, not by capturing and rethrowing them for a one-off case. If you'd like to start a wiki page that explains common ClojureScript errors that would be helpful for newcomers to the language.

[2015-01-23 21:06] joshuafcole commented on #1810
So it does! Thanks for pointing that out mjgpy3, I'll mark this issue closed.

[2015-01-23 21:06] #1810 closed

[2015-01-23 21:08] joshuafcole commented on #1818
Is it possible that you have apps running with global shortcuts such as
moom or spectacle that might be stealing the keypress? Any global hotkey
will get snatched before LT sees it.

On Tue, Jan 13, 2015 at 8:13 PM, Teffen Ellis (Eric) <
notifications@github.com> wrote:

--
Screw the environment. Please print this email immediately. And then burn
it.

[2015-01-23 21:09] JohnPostlethwait commented on #1829
@cldwalker Gotcha, thanks. I wasn't sure if this was something in the core ClojureScript stack, or something being recast by LightTable. (If the "ReferenceError : lt_cljs_tutorial" was any indication, I am new to this.) :tongue:

Thanks for all the help!

[2015-01-24 00:39] joshuafcole commented on #1561
I believe Kenny is right. If your sshfs program is in some way touching the
file such that LT marks it dirty, it'll reopen the file (consequently
scrolling you to the top). Perhaps investigate why it's modifying the file
after your saves?

On Tue, Jan 20, 2015 at 3:06 PM, Jason Graves <notifications@github.com>
wrote:

--
Screw the environment. Please print this email immediately. And then burn
it

[2015-01-24 00:57] joshuafcole commented on #765
Hey Kristofer, adding a shell is a plugin request, which doesn't belong in the issue tracker for the core editor itself. We provide all necessary hooks to make the plugin. We do have a plugin request wiki page, which I believe @cldwalker has already linked to. As time permits, someone with the know-how will give it a go. If it's very important to you, you might consider trying to implement it your

[2015-01-24 01:58] godlikemouse commented on #1561
Verified.  I switched to Dokan SSHFS and the problem does not occur.  Thank you and sorry for the bother.  I should have tried that first before reporting.

[2015-01-24 01:58] #1561 closed

[2015-01-24 02:10] snufkon commented on #1810
I didn't know `:editor.force.wrap` command to read this issue. After I read this issue, I tried to use this command and I find following unexpected behavior.

- When I open command pane, line wrapping state change to "Wrapping on".

I think this is a bug and if so, I will send a pull request.

[2015-01-24 02:40] bjarthur commented on #662
+1   i'm surprised this isn't possible already.  such a common and useful feature

[2015-01-24 16:52] cldwalker commented on #892
@apriendeau Good idea. Addressed with #1831

[2015-01-24 18:43] blaggacao commented on #813
:+1: it's kind of a good thing to enforce code style across the team.. So it's not so much about supporting editorconfig, but about supporting teams. That's the really important aspect of it. However editorconfig might be best of breed.

[2015-01-25 14:56] cldwalker commented on #1818
I've tried the keybindings on a fresh install on the same osx version and am not seeing a mapping issue. Like Josh mentioned, there is most likely some global keybindings that are interfering. Closing soon unless there is more information to make this reproducible.

[2015-01-25 17:56] #892 closed

[2015-01-26 02:12] TeffenEllis commented on #1818
I apologize for any confusion. I had Karabiner remapping command+arrow to alt+arrow.

Thank you for your assistance.

[2015-01-26 02:12] #1818 closed

[2015-01-26 03:11] justintaft opened #1832 "Can't eval due to missing standalone jar"
Lighttable needs lein-light-standalone.jar in order to eval.
`lein uberjar` creates the file
`lein install` does not, but also removes the standalone jar.

lighttable/clojure.sh runs `lein uberjar` then `lein install`.
https://github.com/LightTable/Clojure/blob/master/build.sh

I am using the master branch (node).

For people who are running into  the below message while evaling (will show under c

[2015-01-26 03:35] justintaft commented on #1832
https://github.com/LightTable/Clojure/blob/f49cf54420106b1c7cd43c8667f420b58830e7d7/src/lt/plugins/clojure.cljs#L855
function `deploy/deploy` doesn't exist. Was this supposed to fetch the standalone jar?

[2015-01-26 11:21] clojens opened #1833 "Deleting/Adding plugin outside LightTable automatically gets recognized when LightTable starts"
I've found, when deleting a plugin the 'crude' way of `rm -rf ~/.config/LightTable/plugins`, when LT picks up, it is supposed to be removed after 2 consecutive tries unsuccesfully, however it does not always seem to 'kick in' because many times I could click "Install missing" and close/fire-up LT and it would persist nonetheless.

One of the points here probably is that, although to a certain degr

[2015-01-26 18:12] cneira opened #1834 "screen does not follow cursor"
When editing text in any mode, when moving down one page the cursor get lost and the screen does not follow the current cursor position

[2015-01-26 21:17] cldwalker commented on #1832
@justintaft Good catch on deploy/deploy. It used to refer to [this](https://github.com/LightTable/LightTable/blob/296dedb97d3e06a709854284bdf2f59b4b03dac1/src/lt/objs/deploy.cljs#L117-L126) but was removed [some time ago](https://github.com/LightTable/LightTable/commit/9c283d003d00fdb2d74e8ca5117e6ecfcd559144#diff-a27d831e5730304bc2b99611ccb6b7bb)
@ibdknox Thoughts on what do about an old referenc

[2015-01-26 22:29] matt-della commented on #1762
I can confirm that the bug is also affecting me on the latest version for Linux. Dragging the file into LT works, adding the file as a command line argument works, but double-clicking the file does not. Adjusting the lighttable.desktop did enable me to show the program in my "open with..." menu, but I am still persented with a welcom screen instead of the file I wanted to open.

[2015-01-27 15:16] ath opened #1835 "Enforce specific size for internal browser window"
When writing HTML for wide screens with Bootstrap or Foundation it can be difficult to see the full page when the internal browser is opened in a separate tabset. Because in this case the browser window’s width is roughly just half of the screen, and thus columns begin to stack.

It would be great to have (additionally to the existing behaviour) a way to define a fixed size, such as 1920x1080, for

[2015-01-27 16:17] ath commented on #662
+1

[2015-01-27 16:26] ath opened #1836 "Stacktrace"
Using Light Table version 0.7.2 (Binary version 0.8.6) on Windows 7.
Maybe not really useful bug report, but here it comes anyway: I was playing around with tabsets, but can’t say what exactly produced the error. I noticed a red `2` in the lower right corner, and when I clicked it this message on red background popped up:

[code]

[2015-01-28 02:45] seancorfield opened #1838 "build.sh shows syntax error on OS X"
This code in `build.sh` fails on OS X (Yosemite):

    if [ "$(expr substr $(uname -s) 1 9)" == "CYGWIN_NT" ]; then
      sed -i 's/:source-map/;;:source-map/' project.clj
    fi

This yield: `expr: syntax error` although the script continues to run just fine.

[2015-01-28 03:23] cldwalker commented on #1838
Didn't have an effect but thanks for noticing

[2015-01-28 03:23] #1838 closed

[2015-01-28 07:18] theblacklion commented on #1457
+1

[2015-01-28 16:54] lilinjn commented on #662
+1

[2015-01-29 03:10] cldwalker commented on #1836
Thanks for the stacktrace but we do need bugs to [be reproducible](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs). Judging from the stacktrace it seems a theme was being removed and there was no active tab. If you can get us some reproducible steps that would be great. If not I'll close in a few days

[2015-01-29 03:20] cldwalker commented on #1834
I'm not seeing this for osx and when paging up and down with vim keybindings. How are you moving up and down a page? What OS?

[2015-01-29 03:41] cldwalker commented on #1833
This happens because we now track dependencies in the User plugin's plugin.edn and that only gets saved when a user uses the plugin manager - which is the expected workflow. If you'd like to add support for deleting outside the plugin manager, you'll need to define an app behavior that triggers on :post-init and calls [this plugin-manager behavior](https://github.com/LightTable/LightTable/blob/21f

[2015-01-29 05:58] hjbaek opened #1839 "The Light Table mades same connection when i evaluate the code on Instarepl."
I builded latest version of Light table to run and to explore and i got this.

<img src="http://dl.dropbox.com/u/11372945/Screen%20Shot%202015-01-29%20at%202.54.45%20PM.png"/>

I don't know why.. Plz help me.

* Environment
ProductName:	Mac OS X
ProductVersion:	10.10.1
BuildVersion:	14B23

* Lein Version and Java Version
Leiningen 2.5.0 on Java 1.6.0_65 Java HotSpot(TM) 64-Bit Server VM

* The fol

[2015-01-29 08:16] ohAitch opened #1841 "Undo history wiped on split-view edit"
- Codemirror behavior: unified undo history between two linked views
- LT behavior: editing a split view clobbers undo history on the other split side

@joshuafcole

[2015-01-29 09:28] ionuthulub opened #1842 "Can't run on CentOS 6.5"
LightHouse won't run:

/lib64/libc.so.6: version `GLIBC_2.15' not found
/usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.15' not found

[2015-01-29 11:42] skrat commented on #431
I've had similar issue, when running LT, it just spit

    [32666:0413/173753:INFO:gpu_info_collector_linux.cc(78)] NVCtrl extension does not exist.

and returned 0, giving me the finger essentially. So I moved `~/.config/LightTable` to `~/.config/LightTable.bak`, re-run, and it was up, but of course I don't want to trash my config and everything. I moved it back, and inside `~/.config/LightTable`

[2015-01-30 02:00] RIAEvangelist commented on #457
multiline shift tab would be great.

meaning you highlight a block of code then hit shift tab and it all outdents

[2015-01-30 03:29] alwgm commented on #662
+1 (golden layout looks great, too)

[2015-01-30 16:57] cldwalker commented on #1841
If you want shared history between tabs, add to your user.behaviors:

  [:document :lt.objs.document/set-linked-doc-options {:shared-history true}]

When history is not shared, I only see undo history get clobbered if the linked tab edits in a line adjacent to the recent edits in the first tab, which I believe is CM's behavior. If you're seeing undo getting clobbered for cases that only happen in

[2015-01-30 17:05] cldwalker commented on #1839
Hi. Does this behavior also happen when you use the latest binary from lighttable.com? That might indicate if this is a build issue or a connection issue. If you're getting errors from the latest binary, run the command `Toggle console` and please paste  any errors you see. Without more information, this is not yet reproducible.

[2015-01-30 17:25] cldwalker commented on #1828
This seems to be an issue with redefining most clojure.core fns. If I point the defmacro to a non-reserved name, I don't see the issue e.g. `(defmacro defn [name & body] `(clojure.core/defn ~name ~@body))`. While I'm open to a fix for this, I wouldn't encourage users to do this

[2015-01-30 17:27] cldwalker commented on #1826
I agree Command-Q/Quit Light Table cmd should close all workspaces. We should address this after atom-shell has landed since it touches that code.

[2015-01-30 17:31] matevarga commented on #1828
Sure, this is not something that's appropriate in most situations and I am not sure that it's really crucial to fix. I was essentially trying to wrap built in-functions to do some tricks with the REPL -- I just wanted to leave some trace here in case somebody runs into it.

[2015-01-30 19:29] cldwalker commented on #1827
Thanks for the reproducible steps. This boils down to if we prefer opening the workspace tree before or after selecting a folder. I don't have a strong opinion. @LightTable/committers Thoughts on if this behavior should be changed?

[2015-01-30 19:38] cldwalker commented on #1822
I can't reproduce this, especially since build.sh has changed a fair amount. Can you use the latest atom-shell branch and provide the exact console output again?

[2015-01-30 19:41] cldwalker commented on #1789
Closing since I can't reproduce this without more information

[2015-01-30 19:43] cldwalker commented on #1742
Closing since I can't reproduce this without more information

[2015-01-30 19:43] #1742 closed

[2015-01-30 19:45] cldwalker commented on #1701
Closing since this is no longer relevant

[2015-01-30 19:45] #1701 closed

[2015-01-30 19:46] cldwalker commented on #1695
Closing as there has been no answer and this is julia specific

[2015-01-30 19:46] #1695 closed

[2015-01-30 20:01] cldwalker commented on #1809
On osx I can select any part of the console and copy with Cmd+C. Are you selecting a piece of text? By Browser External are you referring to one of the client buttons? It's a button so it's not expected to be copy-able.

[2015-01-30 20:49] rogergl commented on #1822
It works now. BTW: the problem may have been caused by io.js. But I’m not sure if i removed io.js before or after I tried to recompile LightTable.

[2015-01-30 21:02] cldwalker commented on #1822
Cool

[2015-01-30 21:02] #1822 closed

[2015-01-30 21:23] cldwalker commented on #1830
Agreed we should open workspace tree and added on the atom-shell branch. This will go out on the next release

[2015-01-30 21:23] #1830 closed

[2015-01-30 22:09] cldwalker commented on #1835
If you run the "add browser tab" command, your browser can open in a separate tab (not tabset) and is mostly full screen. If you need fullscreen you can run the "Toggle fullscreen" command. As for the fixed browser size, that could be useful but I don't think it belongs in LT. You can resize windows to specific sizes [example here](https://github.com/LightTable/LightTable/blob/bb6885a5849fca0c0261

[2015-01-31 11:14] ThomasDeutsch opened #1845 "Unable to eval clojurescript projects that depend on recent cljs features e.g. upstream deps and cljsjs/react"
When i run a script that requires a cljsjs dependency, i get this error:

[code]

lein cljsjsbuild 0.0.2740 will compile the code without errors, but i have to refresh the browser manually and this error message will pop up every time.

[2015-01-31 11:20] bassmake commented on #916
I have this problem with html in 7.2.
setting [:editor :lt.objs.editor/tab-settings false 2 2] in User behaviors didn't help. I had to change {LightTable}/plugins/html/html.behaviours.

Seems like html.behaviors override User and Default behaviors.

[2015-01-31 11:45] rundis commented on #1754
Not sure if its this issue or a new repeat issue of a previous classic. But for international keyboards (norwegian, german etc). The 0.7.0 "fix" hasn't solved anything when you actually want matching (:

[2015-01-31 17:23] thewhitetulip opened #1847 "left code folding indicator"
the ctrl-= folds the code, but apart from the double sided arrow at the end of a function it doesn't show any indicator at the left border of the editor, it can show a small + icon, additionally the left border can hold a debugging point as a reminder not for doing program based debugging but to while checking the code manually

also a default implementation of closing all kinds of brackets like {

[2015-01-31 23:02] jdivock commented on #711
The solution listed didn't work for me, even with

[code]

Keys do not repeat for me.

[2015-02-01 22:56] ArturSkowronski opened #1848 "Cannot connect to any clojure project: java.lang.ClassNotFoundException: lighttable.nrepl.core"
I cannot connect to any Clojure project from LightTable. I only have stacktrace which not say much. (I'm new for clojure and it look like really generic one)

[code]
If I try to do anything from the Lein, everything is ok.

OS: OSX Yosemite
REPL-y 0.3.5, nREPL 0.2.6
Clojure 1.6.0
Leiningen 2.5.0 on Java 1.8.0_25 Java HotSpot(TM) 64-Bit Server VM

[2015-02-02 00:29] kernelp4nic commented on #1809
Sorry for the lack of detail,

Inside the console, If I tried the following:

* `CMD+A` + `CMD+C` -> doesn't work
* `MOUSE SELECT` +  `CMD+C` -> doesn't work
* `Right click` + `COPY` -> works
![light table](https://cloud.githubusercontent.com/assets/519481/5994596/7a244408-aa61-11e4-9527-83b8def76bd3.png)

By "Browser External" I mean: `Connect - Add connection` / `Browser "External"`:
![light tab

[2015-02-02 04:36] justintaft commented on #1848
Not sure if related, #1832  might help...

[2015-02-02 06:14] ArturSkowronski commented on #1848
Thanks for a hint. I created and installed uberjar right now and it succeded. Unfortunatelly, I still have the same problem with connection.

[2015-02-02 07:38] narma commented on #1845
It also happens on linux and seems it related to latest changes in clojurescript.

[2015-02-02 07:43] narma commented on #1845
As I see here https://groups.google.com/d/msg/clojurescript/rB5sj6vp3UU/qvlgHg_Yq0kJ needed to update clojurescript deps and repl code at lighttable for fix that issue.

[2015-02-02 08:22] narma commented on #1845
Also discussion from weasel tomjakubowski/weasel#37 with related problem

[2015-02-02 08:32] ArturSkowronski commented on #1848
The same problem is with InstaREPL:
[code]

[2015-02-02 18:06] yasirs commented on #1734
Yes, and LT needs to fix this.

[2015-02-03 14:28] kenny-evitt commented on #1774
@danjohansson sorry for taking so long to follow-up. I tried to find any obvious culprits in the Light Table source code, but I'm almost completely unfamiliar with it.

@cldwalker would you point me in the direction of the relevant Light Table source code so I can try to first understand where Light Table is picking up the encoding options?

[2015-02-03 18:46] Eevets opened #1849 "Unable to edit file directly from FTP client"
Hi,
I am on Mac, I've configure my FTP client to open file with Light Table, but I got the following error if I open the file. seems similar with the older ticket about drag and drop file to Light Table. Thanks.

TypeError: Arguments to path.resolve must be strings
    at Object.exports.resolve (path.js:313:15)
    at lt.objs.files.resolve (file:///Applications/LightTable.app/Contents/Resources/ap

[2015-02-04 03:30] Eevets commented on #1849
btw, I am using Light Table 0.7.2

[2015-02-04 05:25] hjbaek commented on #1839
Okay, i'll try again.

[2015-02-04 09:22] aglie commented on #1845
It also happens on Mac.

[2015-02-04 09:52] narma commented on #1845
Get LT repl works with this commit
https://github.com/narma/Clojure/commit/56afe890c0569e4a4e3015dddf72b2555028f97a
but it's not yet done solution, have tons of warnings in the console.

[2015-02-04 10:02] aglie commented on #1845
Thank you, I will try it the next days.

2015-02-04 10:52 GMT+01:00 Sergey Rublev <notifications@github.com>:

[2015-02-05 04:27] kxxoling opened #1851 "Shortcut conflict"
Default shortcuts for control pane is `ctrl+space` and `cmd+space`(on Mac) which are both used for IME switch system wide. Could this be changed or at least add a menu for control pane?

[2015-02-05 15:54] yin commented on #655
Same error happens to me, when trying to fire up instarepl. Absolutelly unusable, until fixed. Please fix it finally!

[2015-02-06 12:46] matthiaslange opened #1852 "Zooming in or out sometimes results in "Uncaught Error: Unable to convert 'args' passed to CallObjectMethodSync""
Full error:
[code]
This seems to happen whenever I change direction from zooming in to zooming out or vice versa.

I mean if i zoom out a couple of times, I'll get the error only for the first time, and if i then switch to zooming in and do it a couple of times, the error also only comes for the first time.

Both zooming in and zooming out work fine, though. Even when the error comes.

[2015-02-06 21:24] cldwalker commented on #1851
If you'd like to map the command bar to a different key in your user.keymap:

[code]

The command bar is available in the menu under `View > Commands`

[2015-02-06 21:24] #1851 closed

[2015-02-06 21:28] cldwalker commented on #1852
Thanks for the report. This is an error specific to node-webkit. We don't have this issue on the atom-shell branch. Marking as fixed since we'll be merging and using atom-shell on the next release

[2015-02-06 21:51] cldwalker commented on #1835
Closing but if you have questions on how write that command feel free to reach out to the [mailing list](https://groups.google.com/forum/#!forum/light-table-discussion)

[2015-02-06 21:51] #1835 closed

[2015-02-06 22:00] cldwalker commented on #1847
LT was missing some fold css and this has been fixed on master with #1772.

See [this FAQ](https://github.com/LightTable/LightTable/wiki/FAQ#how-do-i-add-pair-keybindings) for closing pair keybindings

[2015-02-06 22:12] cldwalker commented on #1809
I'm not able to reproduce the copy issue with the "Browser External" modal. Are you using a binary of LightTable or are you running from a dev build e.g. master branch?

[2015-02-06 22:34] cldwalker commented on #1849
This seems to be an issue because the ftp client is passing multiple files which our node-webkit event handlers don't seem to handle. On our atom-shell this has been improved and I can open ftp files with cyberduck. Marking as fixed since atom-shell will go out on the next release

[2015-02-06 23:00] cldwalker commented on #1807
Are you using a French Azerty keyboard? If so, can you confirm if [this solution](https://groups.google.com/d/msg/light-table-discussion/xv81Mn7Z7j4/1KJQYmEy_lwJ) works for you in your user.keymap:

[code]

[2015-02-07 02:20] kernelp4nic commented on #1809
uhm thats weird, I'm running the binary version updated through the app itself.

[2015-02-07 06:50] kxxoling commented on #1851
@cldwalker  Thanks, I got it!

[2015-02-07 16:07] Eevets commented on #1849
Ok. Thank you so much.

anyway, for your info. I was using Transmit.

[2015-02-07 16:07] #1849 closed

[2015-02-07 19:39] dmbennett opened #1853 "html.erb and gemfile are not recognized"
Hello!

Just wanted to let you know that LT 0.7.2 is not recognizing html.erb files as HTML and Gemfile as Ruby.

[2015-02-09 04:04] joonro commented on #856
I'm getting this error as well - as @foobarbecue asked, could you please clarify this?

[2015-02-09 09:46] aglie commented on #1845
I applied the update to LightTable/plugins/clojure/lien-light-nrepl but I still get the same error.

Is there a way to check which version of clojuresscript does the lein-light-nrepl use? Because when checking the *clojurescript-version* constant, I get the one which was used while compiling the project.

[2015-02-09 10:16] JasterTDC opened #1854 "Line number"
How can I see line number, in the editor. I tried all menu options, and I didn't find it. Thanks for the help, and sorry for the incovenience.

[2015-02-09 14:27] foobarbecue commented on #856
@joonro I think it's pretty clear he just got his right and left mixed up.

[2015-02-09 18:20] ibdknox commented on #856
Yeah, my apologies for the confusion, you can't assign to a function so you can't watch something on the left-hand side of an assignment. The right is fair game.

[2015-02-09 19:01] dmbennett opened #1855 "How do I recover from a typo that was saved to User.Behaviors?"
I was editing my user.behaviors as per the ruby instarepl github page. I inputed: [(:lt.objs.langs.ruby/use-rbenv)]

Now lighttable gets stuck on loading.

Is there a way to manually remove that command from the user.behaviors file?

[2015-02-09 19:02] dmbennett commented on #1854
edit the default behaviors and change the line that contains "hide-line-numbers" to "line-numbers"

[2015-02-09 19:15] ibdknox commented on #1854
You don't want to modify default behaviors as that will get overwritten.
From the command pane type "user behaviors" and add this line to the file:

[code]

On Mon Feb 09 2015 at 11:02:10 AM Dave Bennett <notifications@github.com>
wrote:

[2015-02-09 19:18] ibdknox commented on #1855
Depending on the OS, that file lives in:

OSX: ~/Library/Application Support/LightTable/User/user.behaviors
Linux: ~/.config/LightTable/User/user.behaviors
Windos: %APPDATA%\LightTable\User\user.behaviors

[2015-02-10 09:28] Faldrian commented on #1250
LightTable also has a problem with virtual desktops on linux ... when you switch desktops, the window will stay on screen. If I switch applications, the window will stay on screen. Almost as if the content-window (which lags a bit behind when dragging the window) has a "show me top first always! On this physical window!" property, ignoring everything the window manager is telling the application.

[2015-02-10 21:43] sventech commented on #794
I'm seeing the same error in `core.memoize` 0.5.7 (but not in 0.5.6) and the above solution fixed it.

[2015-02-11 04:58] blaggacao opened #1856 "EOL conversion CR LF CRLF"
I've searched goolge up and down, I've tried to figure out user behaviours, looked through all `Editor:` commands to no avail.

I want to transform all my files to LF line ending. I want this reasonably because I'm on windows, but rsync to a remote linux, which has a way faster internet, so playing around with large files (docker images) is not hart-attack prone due to grab-a-coffe-meanwhile-cause

[2015-02-11 05:14] blaggacao commented on #1856
I've just found the line in `default.behaviours`:

    [:editor.file-backed :lt.objs.editor.file/preserve-line-endings]

to undo in `user.behaviours`

    [:editor.file-backed :-lt.objs.editor.file/preserve-line-endings]

This is kind of hacky and it's one-way: You need to open the file, and without any changes hit `CTRL + S` to remove the CR of CRLF

[2015-02-12 15:24] blaggacao opened #1857 "^M - Bug"
#### On Windows:
in lighttable everything looks normal.
#### On Linux:
After a rync (trasnparent operation) to the linux server, we get:
[code]
The `^M` is the pad part, causing annoying errors every so.

#### default.behaviours (for confenience):
[code]
#### user.behaviour:
[code]

[2015-02-12 17:31] clojens commented on #476
better yet: `user.behaviors` and limit to python (new syntax):
`[:editor.python :lt.objs.editor/tab-settings false 4 4]`

[2015-02-12 17:51] clojens opened #1858 "Python autoindent on all forms (ctrl+a, shift-tab) messes up code returning after 2 level deep form"
Having found the solution to the python indent problem I experienced, I added to `user.behavior` then line `[:editor.python :lt.objs.editor/tab-settings false 4 4]` to correct indent (this can/should be added to default behaviors I guess).

However doing so I noticed another unexpected result while indenting a whole file and I'm not sure there is an easy solution without checking for an empty line

[2015-02-13 09:36] ufechner7 commented on #1200
Could some add the label "Python"? This would make it more visible.

[2015-02-13 09:43] sueswe commented on #1857
We'va got the same problems: working under windows, but scripting for UN*X. Would be nice, when there would be at least a info about file type and style.

[2015-02-15 15:19] cldwalker commented on #1854
Closing as this has been answered

[2015-02-15 15:19] #1854 closed

[2015-02-16 13:41] 23min commented on #1845
So is this a weasel issue? I logged a bug here too: https://github.com/adzerk/boot-cljs-repl/issues/7
Using clojurescript 2850

[2015-02-16 13:56] narma commented on #1845
@23min No, it's just a new API in clojurescript which are not supported by some repls, for example in Lighttable. Weasel maybe already works btw.

[2015-02-16 13:58] 23min commented on #1845
boot-cljs-repl uses Weasel under the hood, so I suspect it's the culprit.

[2015-02-16 22:58] ELLIOTTCABLE opened #1859 "LightTable doesn't maintain fullscreen on OS X"
LightTable is definitely the kind of IDE that makes more sense in fullscreen. However, on OS X, the expected behaviour is for an app to *remain* fullscreen, once you set it up that way.

LightTable, when quit, re-sets to being a windowed application, no matter how many times you fullscreen it while working. While only mildly annoying, this is behaviour that could be improved for Mac users. :P

[2015-02-16 23:07] ELLIOTTCABLE opened #1860 "Obscure error on first run"
I'm getting a red ‘1’ in the bottom-left (which, by the way, has non-obvious meaning to a new user like myself). Clicking it, it becomes clear that I'm getting the following error when I boot up LightTable:

[code]

[2015-02-16 23:07] ELLIOTTCABLE opened #1861 "Ability to temporarily disable plugins"
When writing #1860, I had to uninstall plugins I'd installed to ensure that the problem didn't lie within one of them. Ideally, a user would be able to *disable* a plugin, to unload it, but still have it load as normal upon the next launch.

[2015-02-18 22:09] sentientnebula opened #1862 "Allows you to open network drives under KDE, but they don't actually work."
I have some server folders mapped in KDE's Dolphin file manager (via sftp) to operate just like local drives.  As a backup route for non-kde aware programs, I also map these drives via gvfs.  Atom, Brackets, and Sublime Text all opt for the gvfs, and show me a gnome/gtk style file picker.

I was happy when I first saw LIghttable bring up the native (KDE Dolphin) file picker.  It allowed me to choo

[2015-02-18 22:15] sentientnebula commented on #1862
Console message is:

Couldn't read dir /<DirectoryName>

[2015-02-19 09:10] Kindpire opened #1863 "No available plugins for Yosemite"
Hi,
I'm using Yosemite 10.10.2, when I opened plugin managers, there is nothing in the available plugins, and after a while, it showed some errors:

[code]

Any idea?

[2015-02-20 10:28] mwil commented on #1785
I ran into the same problem on OSX 10.9. Tried to save a copy to a different location and continued working with the original file, but the backup was never created. Seems like a quite critical bug to me.

[2015-02-20 14:59] cldwalker commented on #1853
Hi!
LightTable doesn't come with Ruby support beyond what CodeMirror does e.g. syntax highlight .rb files, etc. We leave this up to language plugins. To search for ruby plugins open up your plugin manager. I know of at least [Ruby Instarepl](https://github.com/existentialmutt/lt-ruby). If ruby plugins don't provide it, you can add a file-type [with a one-liner to your user.behaviors](https://githu

[2015-02-20 14:59] #1853 closed

[2015-02-20 15:04] kenny-evitt commented on #1774
@danjohansson I'm stilling looking into this.

[2015-02-20 15:07] cldwalker commented on #1862
When we switch to atom-shell (which Atom uses), this may be resolved. Will ping this ticket when atom-shell lands

[2015-02-20 15:15] cldwalker commented on #1861
This could be useful though if I disabled a plugin I'd find it surprising to have it re-enabled on a subsequent launch, without explicitly re-enabling it. We don't have the bandwidth to dev on this but you should be able to create this functionality as a plugin. Will leave this open for a while to see if other users would like this enhancement

[2015-02-20 15:41] cldwalker commented on #1860
Hi. Thanks for the bug report but this is not reproducible for a standard install. To narrow down if this is an issue specific to the LT cask, install LT from its homepage. If it's still an issue, please [provide reproducible steps](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs) e.g. run from the commandline or from Finder, what args, what plugins do you have installed,

[2015-02-20 16:02] cldwalker commented on #1855
Closing as this seems answered. Fwiw, if the typo was caused by a mismatched paren or bracket, you can enable [pair keybindings](https://github.com/LightTable/LightTable/wiki/FAQ#how-do-i-add-pair-keybindings) for English keyboards

[2015-02-20 16:02] #1855 closed

[2015-02-20 16:07] cldwalker commented on #1859
This is a duplicate of #1814

[2015-02-20 16:07] #1859 closed

[2015-02-20 16:29] cldwalker commented on #1858
Surprised the python plugin doesn't come configured with 4 spaces (given that's a community standard). Happy to take a pull request in Python plugin for that. :)

shift-tab for Python issue has also been observed in #1627. Since we get all language behaviors from CodeMirror, have you tried this case [against the Python demo](http://codemirror.net/mode/python/index.html)? If it's buggy there, then

[2015-02-20 16:49] ELLIOTTCABLE commented on #1860
I'll take a look at this soon! Thanks for the replies (on this, and other issues), @cldwalker. <3

[2015-02-20 16:50] #1860 closed

[2015-02-21 21:24] stephenmuss commented on #1848
I'm also experiencing this.

[2015-02-22 04:05] mikebelanger commented on #1789
Same error when I try and install Gist ([https://github.com/harsha-mudi/lt-gist/issues/new]).  I used fresh install settings by removing everything in ~/Library/Application Support/Lighttable.  I'm on OS X Yosamite 10.10.2, using Lighttable build 0.7.2.

So start with a new install of Lighttable (from command-line) and simply try and install the Gist plugin from the plugin manager.  I get this err

[2015-02-22 09:23] kolya-ay commented on #1789
[The same]((https://github.com/otijhuis/paredit-plus/issues/5) with paredit-plus with a new install.

[2015-02-22 15:52] Mouvedia commented on #1847
@cldwalker I added ` [:editor :lt.objs.editor/show-fold-gutter]` to my user behaviors. It doesn't show a + next to foldable code. How do you enable it?

[2015-02-22 18:43] damacisaac commented on #1848
same problem here

[2015-02-24 17:56] diamondjozu opened #1865 "Program does not exectue in console"
Hi,

For a while now i've had various problems with lighttable ( i used to have to in super user to launch it).

However now whenever i try execute a program in the console tab the system simply just does not respond, furthermore everytime i launch lighttable i am presented with this error below in the console which I do not understand.

Invalid behavior: :lt.objs.workspace/reconstitute-last-works

[2015-02-25 19:56] danjohansson commented on #1774
@kenny-evitt Thanks for looking at this. I noticed that the clojure plugin depends on an old version of leiningen so tried to upgrade it to 2.5.1 and the problem is gone!

[2015-02-26 14:11] kenny-evitt commented on #1774
@danjohansson you updated the version of Leiningen referenced by the Clojure plugin?

[2015-02-26 15:27] danjohansson commented on #1774
Yes
Den 26 feb 2015 15:11 skrev "kenny-evitt" <notifications@github.com>:

[2015-02-27 11:24] danjohansson commented on #1845
Upgrading the clojurescript dep in the clojure plugin
and using this patch on cljs.clj worked for me.
[code]

[2015-02-27 16:52] #1796 closed

[2015-02-27 17:59] cldwalker commented on #1865
Hi. The console is a read-only tab so there isn't a way to execute a program in it. That error comes from LightTable trying to read an invalid cache file on startup. I'm guessing the invalid cache was created by permissions issues from running as a superuser. I would recommend deleting your cache workspace directory. On osx this would be `~/Library/Application\ Support/LightTable/ltcache`. I'm gue

[2015-02-27 17:59] #1865 closed

[2015-02-28 00:07] Kerkil opened #1867 "Launching multiple processes for parallel computing from LightTable editor for Julia"
Is it possible to make an effect of "julia -p N" when executing a script from LightTable for Julia?

[2015-03-01 06:47] podviaznikov commented on #1848
have the same problem

[2015-03-02 16:40] codesplicer commented on #1848
I'm experiencing the same problem too

LightTable v0.7.2
OS: OSX Yosemite 10.10.2
Leiningen 2.5.0 on Java 1.7.0_17

[2015-03-03 23:08] Announcement commented on #1863
Plugins aren't available yet anywhere :(

[2015-03-04 02:49] Kindpire commented on #1863
But it works when I ran it on Windows 7.

[2015-03-04 14:48] aglie commented on #1845
Now with the new versions it magically worked for me. Thanks a lot!

[2015-03-04 19:09] Mouvedia commented on #1422
+1 (atom version)

@one-more-minute this is still relevant, please reopen.

[2015-03-04 19:11] one-more-minute commented on #1422
Will do, thanks

[2015-03-04 22:39] danbst opened #1869 "Warnings when running with XMonad in NixOS"
[code]

Errors in Console:

[code]

Any ways to debug?

[2015-03-06 15:16] kenny-evitt commented on #1094
@brandondrew sorry for not replying sooner; the error you message you mentioned is, I believe, due to a change in the format of the behaviors file. Were you able to resolve that? Are you still having problems with your proxy?

[2015-03-06 15:18] kenny-evitt commented on #1339
@prestonviewer @remco138 @tkelman are you still experiencing this issue with the latest version of Light Table?

[2015-03-06 15:20] kenny-evitt commented on #1502
@prathamesh96 @bhadra @Pansell @ipstone any update on this after upgrading to the latest version of Light Table?

[2015-03-06 15:22] kenny-evitt commented on #1565
@Cheshire453 @gbgg were you able to resolve this issue?

[2015-03-06 16:04] cldwalker commented on #537
I've [learned that OSX's clipboard does not work for processes](https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard#mac-os-x-pasteboard-access-under-tmux-and-screen) under tmux and screen. You can verify this by trying to use pbpaste and pbcopy. Once I invoked LT master without a tmux-based shell my clipboard issue was resolved. Closing since using LT from tmux is not an LT issue. If someone is

[2015-03-06 16:04] #537 closed

[2015-03-06 16:51] cldwalker commented on #1422
This is something I've wanted as well.
@LightTable/committers I'll add this later today unless there's an objection

[2015-03-06 17:48] #1836 closed

[2015-03-06 17:49] cldwalker commented on #1834
Closing. Feel free to provide reproducible steps and we can reopen

[2015-03-06 17:49] #1834 closed

[2015-03-06 17:49] cldwalker commented on #1836
Closing. Feel free to provide reproducible steps and we can reopen

[2015-03-06 17:51] cldwalker commented on #1839
Closing as I haven't heard back on the above questions. Feel free to provide reproducible steps and we can reopen

[2015-03-06 17:51] #1839 closed

[2015-03-06 17:56] cldwalker commented on #1841
Closing as I haven't heard back. Feel free to provide reproducible steps and we can dig in more

[2015-03-06 17:56] #1841 closed

[2015-03-06 18:15] ohAitch commented on #1841
Sorry, I did turn on shared history and that is providing expected
behavior, thank you.

On Friday, March 6, 2015, Gabriel Horner <notifications@github.com> wrote:

[2015-03-06 19:39] tkelman commented on #1339
With "Light Table version 0.7.2, Binary version 0.8.6," I still see the same problem.

[2015-03-06 21:37] #1422 closed

[2015-03-07 04:19] Mouvedia opened #1870 "[search bar] add checkmark to switch case sensitivity"
read title

[2015-03-07 05:38] Mouvedia commented on #1542
This is still relevant.
It seems to be case insensitive if you are not using uppercase and switch to sensitive if you do.

[2015-03-07 09:03] Mouvedia opened #1871 "small UI improvements"
- [ ] add a close button to the console on mouseover
- [ ] when the search input is currently focused and you type its key binding, select the line in the input
- [ ] when a tabset has no tabs, show a close button for the tabset (if you add one or more tabs to the tabset hide its button)

[2015-03-07 18:22] Mouvedia commented on #215
I vote for this to be integrated in core. One thing to have in mind is that there are intricacies related to non file tabs. For example reopening the plugin list tab if it was opened.

Concerning (his comment)[https://github.com/LightTable/LightTable/issues/215#issuecomment-20048012] up there, you should edit the ticket's title to reflect that decision.

[2015-03-10 10:43] tsiegleauq commented on #1464
I just compiled the latest git-version and there is still no way to open a file with lighttable from a filemanager in linux. This is an essential function.

There is also no way to "drag and drop" files into lighttable.

[2015-03-11 16:52] Biserkov opened #1872 "Multiple leading/trailing spaces are collapsed to a single one in Instarepl"
Windows 8.1 x64
LightTable 0.7.2
Clojure plugin 0.1.1

[code]

[code]

[2015-03-11 17:40] kenny-evitt commented on #1872
I'm just guessing, but I think this might be due to Light Table using an embedded browser for its GUI, i.e. multiple whitespace characters are being collapsed or consolidated because that's how HTML is intended to be rendered. Try a string like `"<pre>          </pre>"` to check my hypothesis.

[2015-03-11 19:53] cldwalker commented on #1872
Thanks for the report. Closing this as it is a duplicate of LightTable/Clojure#16

[2015-03-11 19:53] #1872 closed

[2015-03-12 00:28] chetanns opened #1873 "Clojure Instarepl loops endlessly"
While loading the instarepl first time. The instarepl is not getting connected. In the bottom status the connecting sign keeps showing for endless amount of time. No errors whatsoever is shown.

I am facing issue in the windows environment. Due to this, i am not able to run ,my clojure code in light table.

[2015-03-12 02:05] Mouvedia opened #1874 "regex bug for replace"
When I use `/\S+(?=[	])/` as the regex and `"$0"` as the replacement nothing happens.

[2015-03-12 13:51] rundis commented on #1363
will this be fixed in version 0.8 ?

[2015-03-12 14:19] kenny-evitt commented on #1874
I think you need to use `"$1" as the replacement. From the Java doc page [Matcher (Java Platform SE 7 )](http://docs.oracle.com/javase/7/docs/api/java/util/regex/Matcher.html#group(int)) for the `public String group(int group)` method [emphasis mine]:

[2015-03-12 17:04] cldwalker commented on #1363
Unlikely. Upgrading clojurescript breaks key functionality and requires more investigation - see 8e73f59891c45f73a1b985fed69795d1061a8ecf

[2015-03-12 19:37] Mouvedia commented on #1874
@kenny-evitt Did you try it? It's not working either.
I checked with another IDE before posting an issue.

[2015-03-12 21:47] rundis commented on #1363
Weirdness:
- When I required clojure.zip in a namespace in a plugin, it wouldn't evaluate usage of it through LT-ui (but looking at the compiled js it contained the functions for clojure zip )
- I saved my namespace
- Restarted LT
- Then managed to evaluate clojure.zip methods !

[2015-03-13 09:08] salmazov opened #1875 "Command + Space doesn't work in Yosemite"
Command + Space in OSX Yosemite shows this:
![screen shot 2015-03-13 at 12 06 31](https://cloud.githubusercontent.com/assets/1635615/6635655/71afc32e-c979-11e4-9a0e-bec4a7144029.png)

instead of this:
![screen shot 2015-03-13 at 12 07 13](https://cloud.githubusercontent.com/assets/1635615/6635662/83273524-c979-11e4-962a-b90e2176b1d5.png)

How can I change command map in LT to use Commands panel?

[2015-03-13 10:40] rundis commented on #1875
ctrl+space is your friend.

[2015-03-13 12:55] cldwalker commented on #1875
Command-space is a global OSX keybinding. Until you unbind that keybinding (if it's possible), Light Table or any other app won't be able to bind to it.

[2015-03-13 12:55] #1875 closed

[2015-03-13 18:39] carlosloslas commented on #1775
Hi Joshua,
Many apologies, I haven't been on git for a long time and going through my emails I discovered your comment.
It turns out that LightTable installs the plugins to the ~/Library/Application Support/LightTable/plugins directory.So after discarding the plugin option, I revisited the julia path in my .bash_profile I discovered a typo. After correcting it everything works fine.

Apologies aga

[2015-03-13 20:07] cldwalker commented on #1845
Confirmed this is an issue when relying on cljsjs dependencies since our outdated clojurescript version is unable to pull in upstream deps. To reproduce, try evaling https://github.com/tonsky/rum/blob/gh-pages/examples/examples.cljs with an external browser.

@ibdknox Confirmed that https://github.com/narma/Clojure/commit/56afe890c0569e4a4e3015dddf72b2555028f97 fixes the upstream deps issue but us

[2015-03-14 04:51] alphaho opened #1876 "Adding folder in Workspace can not work with forward slash path"
When I use `Add folder` in Workspace, if I use a forward slash path, LightTable does not open the correct folder.
For example, it works fine with `C:\path\to\folder` but not with `C:/path/to/folder`.

I'm using LightTable 0.7.2 with binary version 0.8.6 on Windows 7 64 bit.

[2015-03-17 10:18] tomak-git opened #1877 "Find does not give context"
When searching for a pattern (ctrl-f), the match is always displayed either on the first or the last line of the screen (depending if it was found before or after the current screen). As a result, half of the context is not visible. Ideally, the matches could be centered in the middle of the screen, providing as much context as possible. But I guess that showing the matches at least few lines away

[2015-03-17 11:43] mgab opened #1878 "LT starting IPython process but not running the code on it"
I'm running a fresh download (no extra pluggins) of LT 0.7.2 on Debian 8 Jessie. I have a python 2.7.8 interpreter in the system dir `/usr/bin/` and some extra modules including IPython 3.0.0 in `/home/username/.local/lib/python2.7/site-packages/` and the IPython executable in `/home/username/.local/bin/`.
Also, I have the `$PATH` variable updated both in the `.bashrc` and in the `.profile` files

[2015-03-18 08:58] 602884291 opened #1879 "I can't install all of plugins and connect to clojure is slow"
I'm chinese and i'm in beijing. my company's network can't connect to pluginsServer. when i connect clojure, is slow.

[2015-03-19 09:37] tianhao commented on #1173
This issue is still on the latest verstion 0.7.2 for mac

then  LT  connect  success

then  LT connect fail, like this issue

then connect success

[2015-03-19 09:45] tianhao opened #1880 "REPL fails to connect after lein ring uberjar is run from the console like issue #1173"
This issue is still on the latest verstion 0.7.2 for mac os

[2015-03-19 19:03] rundis commented on #1867
I would think this is best solved in the julia plugin. Maybe raise an issue with https://github.com/one-more-minute/Julia-LT.

Closing as I don't think this is likely to get any attention any time soon.

[2015-03-19 19:03] #1867 closed

[2015-03-19 19:29] Announcement commented on #1867
Tell us what processes are slow.
Be very specific on the tasks and we can see about parallelization and
optimizing the tasks at hand. Its not like we can duplicate the entire IDE
though.
On Mar 19, 2015 2:03 PM, "Magnus Rundberget" <notifications@github.com>
wrote:

[2015-03-19 20:31] rundis commented on #1867
@Announcement out of curiosity... When you say us, who are you referring to ?

[2015-03-19 20:48] Announcement commented on #1867
Me and whoever else sees this that is willing to contribute. Personally I
love the thrill of optimizing things :)
On Mar 19, 2015 3:31 PM, "Magnus Rundberget" <notifications@github.com>
wrote:

[2015-03-19 20:52] Announcement commented on #1867
Actually sorry, mg bad I replied via email and I was mistaken on what we were actually talking about. I thought op wanted LightTable to scale better across cores or something with an extension.

[2015-03-20 07:34] peterk87 opened #1881 "CLJS external browser REPL issues with org.clojure/clojurescript 0.0-3126 and reagent 0.5.0"
Hello,

I'm a really big fan of the REPL within LightTable. It's so powerful and easy to get up and running - an absolute pleasure to develop with!

However, when I tried to update some dependencies in a Clojurescript project of mine, I encountered some issues with trying to get the LightTable external browser REPL up and running (the REPL with the HTML script tag).

With the latest version of Clo

[2015-03-20 13:12] cldwalker commented on #1881
Thanks for the detailed report. This is a duplicate issue of #1845 and there is a WIP fix being investigated to address the exception

[2015-03-20 13:12] #1881 closed

[2015-03-20 13:30] kenny-evitt commented on #1873
@chetanns are you able to load a Leiningen REPL for a new project on your computer?

[2015-03-20 13:44] kenny-evitt commented on #1874
I didn't try it. I'm playing with your regex now in various online testers, but I'm not sure what you're trying to accomplish. If you use `"$0"` as the replacement, then nothing should change. If you use `"$1"`, as I suggested, nothing should happen either – or maybe an error should be shown! – because `(?=[ ])` isn't a capturing group as I initially interpreted.

Would you provide an example of t

[2015-03-20 15:11] Mouvedia commented on #1874
@kenny-evitt The double quotes are part of the code so I am just surrounding the selections with them.

[2015-03-20 19:08] dxlr8r commented on #1732
@jdwaterson thank you :+1:

[2015-03-20 22:06] chetanns commented on #1873
Yes, from outside the Lighttable. I am able to run the Leiningen REPL for a new project.

[2015-03-22 23:02] ojotoxy opened #1882 "Zoom-In out keyboard shortcuts could be more elegant"
This is on a Mac version.

To zoom out, it's Command - Minus
To zoom in, its Command - Plus (must press the shift key)

Most other apps use command minus and command plus, too, however, they don't require using the shift key for plus, which is easier to use.

[2015-03-23 14:30] kenny-evitt commented on #1874
One problem might be that Light Table seems to convert tabs to spaces automatically, tho I'm pretty sure that's configurable, so it may not be doing so for you.

Regardless, I added the following to a file open in Light Table:

[code]

`thisIsSelected` is highlighted when I enter `/\S+(?=[ ]{2})/` in the find field. When I enter `"$0"` in the replace field I get two errors logged to the console:

[2015-03-23 22:57] rafaeldias commented on #533
+1

[2015-03-24 11:01] acron0 commented on #1848
Same problem here

LightTable v0.7.2
OS: Windows 8.1
Leiningen 2.5.1 on Java 1.8.0_31 Java HotSpot(TM) Client VM

[2015-03-25 13:22] kenny-evitt commented on #1873
Would you share a minimal project for which you can reproduce this issue? I'll try to reproduce it myself.

What versions of Windows and Light Table are you running?

[2015-03-25 13:47] acron0 commented on #1873
Could it be related to https://github.com/LightTable/LightTable/issues/1848?

[2015-03-26 02:53] frankcash commented on #494
If this issue is still open I'd be happy to attempt to solve it

[2015-03-26 07:28] stephenbrady commented on #1845
I saw the same above issues using Clojurescript 0.0-3126, which is the most recent now.  Applying the previously mentioned narma/Clojure@56afe89 cured the cljsjs error for me, but it exposed another issue.

When eval'ing cljs code via the LT nrepl, I was hitting the precondition assert in `with-core-cljs` in Clojurescript.  The fn signature to `with-core-cljs` changed back in September: https://gi

[2015-03-26 13:43] kenny-evitt commented on #1873
@acron0 this is definitely different; @chetanns reported "no errors". It's possibly the same, or a similar, underlying issue.

[2015-03-26 13:50] acron0 commented on #1873
I only say that because I experience both these issues, but sometimes I get an error and sometimes I don't... :+1:

[2015-03-27 01:00] chetanns commented on #1873
Hi
I have attached the screenshot of the lighttable screen, where i am trying to load the instarepl.

Kindly note the following thing in the screenshot

1> The red block showing the status icon. This does not change and stays that way forever.
2> When i opened the task manager, I noticed that 3 instance of lighttable are running along with 2 instance of java. Is this the expected behaviour.

As re

[2015-03-27 02:03] penntaylor commented on #831
For future searchers who come across this issue, here's how to do it with the new user behaviors format. You still have to restart LT for this to take effect.

    [:app :-lt.objs.menu/create-menu]
    [:app :-lt.objs.menu/set-menu]
    [:window :-lt.objs.menu/set-menu]

[2015-03-27 14:13] kenny-evitt commented on #1873
@chetanns if you close Light Table, how many Light Table processes are still listed in Task Manager?

I just opened Light Table on my computer, opened a new Clojure InstaREPL, and Task Manager only lists two "Light Table" processes.

Try closing Light Table and then killing any remaining "Light Table" processes listed in Task Manager.

[2015-03-27 15:07] kpfell commented on #655
FWIW, I'm building a language plugin in my spare time, and I'm getting this error when I fire up the instarepl _I_ implemented.

It's a pretty obtuse error message, and there don't seem to be any obvious explanations posted anywhere, so it'd be really useful if you wrote about the approach you took! \o/

[2015-03-27 17:01] rundis commented on #655
Well something somewhere is trying to deref an atom which is nil. It's not completely unlikely that your error isn't the same as the op reported, or is your stactktrace exactly the same ? A gist with the complete stacktrace might be be helpful

would be sweet if LT had a ClojureScript version upgrade and made proper use of the now fairly advanced sourcemapping support.

Well in the meantime we'll

[2015-03-27 18:31] cldwalker commented on #1882
Thanks for the suggestion. Closing as this is a duplicate of #1741. Happy to take a pull request for it

[2015-03-27 18:31] #1882 closed

[2015-03-27 18:41] cldwalker commented on #1879
It sounds like you're behind a proxy. Set your proxy information with [these variables](https://github.com/LightTable/LightTable/wiki/FAQ#how-can-i-configure-my-proxy). Closing but can reopen if you're still having trouble and provide [reproducible steps](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs)

[2015-03-27 18:41] #1879 closed

[2015-03-27 19:19] rundis commented on #1880
Can reproduce the issue with the project and description above.
This project: https://github.com/rundis/acme-buddy/tree/master/acme-auth works fine with regardless of uberjaring or not (tried with and with aot  as well).

[2015-03-27 19:52] rundis commented on #1880
Right... so it's a classpath problem with tools.reader.
Modifying the project.clj for the testconnect project generated above to something like:
[code]
and voila connection works as expected. Upping the compojure dependency to say version 1.2.1 helps as well  (since that has a transitive dep to a tools.reader version.

I guess the root problem is classloader isolation when implementing nrepl middl

[2015-03-27 21:41] cldwalker commented on #1877
Thanks for the idea but at this time we don't have bandwidth to modify [codemirror's search addon](https://github.com/LightTable/LightTable/blob/20681a35258a95632e4c099d003399b98f5cb4ea/deploy/core/node_modules/codemirror_addons/search.js#L147) for new behaviors like this. I'd recommend adding this to the [wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist)

[2015-03-27 21:41] #1877 closed

[2015-03-27 22:13] cldwalker commented on #1876
We rely on nodejs for file operations and [its libraries use backslashes](https://nodejs.org/api/path.html#path_path_normalize_p) so this behavior is expected

[2015-03-27 22:13] #1876 closed

[2015-03-27 22:22] cldwalker commented on #1871
Thanks for the suggested improvements but these are rather specific and would be better implemented in a plugin. Feel free to add your suggestion to the [wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist) if you won't be attempting these

[2015-03-28 09:48] Mouvedia commented on #1871
@cldwalker
I don't really see how these would be plugin material. Id understand a pull request though.
1 and 3 are for mouse users so I guess it's not really up the alley of LT.
For 2 Ill come up with something on my own.

[2015-03-29 10:02] mariusa opened #1883 "HTML code formatting broken by <% .. %>"
Sample code
[code]

Select this code in LightTable, press Shift+Tab to auto-format.
Expected
[code]

Result
[code]

[2015-03-29 12:37] muhammedabuali commented on #662
any plans for this feature

[2015-03-29 13:09] Announcement commented on #662
Have you tries using a  wmfs and vim combo?
On Mar 29, 2015 7:37 AM, "muhammedabuali" <notifications@github.com> wrote:

[2015-03-29 14:41] muhammedabuali commented on #662
what do you mean by wmfs and vim combo ?

[2015-03-29 14:46] Announcement commented on #662
Sorry it was a stale joke I suppose. Wmfs is a tiling window manager that
let's you split your screen however you want throw Visual IMproved (text)
editor. Idunno maybe would have been realistic in the Unix days
On Mar 29, 2015 9:41 AM, "muhammedabuali" <notifications@github.com> wrote:

[2015-03-29 18:27] chetanns commented on #1873
If i close the LightTable, I do not see any LightTable processes in the TaskManager.

[2015-03-30 13:54] kenny-evitt commented on #1873
@chetanns have you tried entering some code in the InstaREPL tab? I vaguely remember the 'spinner' animation never stopping for me before but I was still able to run code.

[2015-03-31 01:33] chetanns commented on #1873
Yes, I tried running the code in the InstaRepl tab. Still no response and the spinner animation never stops.

[2015-03-31 07:12] jzthree commented on #1682
I am having the problem exactly as described here. Light Table 0.7.2.  Python 2.7.5 . IPython 1.1.0. Windows Server 2012.

[2015-03-31 16:27] talvdav commented on #1858
Hi,

if you press shift+enter the cursor will go to the root level again. But if you press enter again it will go to the last indent level.

Just testet it.
Hope this helps

o/

[2015-03-31 19:13] martin-svk commented on #1457
+1

[2015-04-01 20:05] choct155 commented on #1682
I am also, to confirm, still having this issue.

On Tue, Mar 31, 2015 at 3:12 AM, Jian Zhou <notifications@github.com> wrote:

--
Marvin Ward Jr.
Associate Analyst
Tax Analysis Division
*Congressional Budget Office <http://www.cbo.gov>*
Email:  Marvin.Ward@cbo.gov <Marvin.Ward@dc.gov>
Phone:  (202) 226-2688

[2015-04-01 20:17] herbert-mutterwhooze commented on #1457
+1

[2015-04-01 20:23] kenny-evitt commented on #1682
@choct155 are you also running on Windows?

[2015-04-02 14:07] kenny-evitt commented on #1774
@danjohansson would you submit a PR to the Clojure plugin repo for this?

[2015-04-03 01:12] jzthree opened #1884 ""cancel evaluation" isn't enough to break a python eval"
This seems to be an old issue (#532). I can reproduce this issue with most recent Lighttable (0.7.2) and python plugin (0.0.7) release on both Ubuntu 14.04 and Windows server 2012.

Below is what I pasted from the issue #532 (which was closed in a previous clean-up)

For example, an infinite loop like so just goes on and on without being broken:
[code]

[2015-04-03 02:08] kservik commented on #1457
+1

[2015-04-05 00:52] clojens commented on #1858
Cheers. I haven't been using it much lately but I'll take you word for it and check next time.

[2015-04-05 01:03] clojens commented on #655
Right. Doesn't hurt to check `~/.config/LightTable/log/window0.log` every now and then either. 1/2 of the times I'm able to track (my own) mistakes somewhere down the line (cat) - or perhaps up the line (tac). I haven't been seeing this particular kind of errors around too much. Although every now and then, a few key(bindings) break and drop a trace, usually its solved easily enough by a save and

[2015-04-05 23:16] SwaginWagon101 commented on #1457
+1

[2015-04-06 04:19] noaxtogrind commented on #1807
That solution worked fined in my qwerty Portuguese (PT) keyboard. The keybindings I added to my user.keymap were this:

 [:editor "(" (:editor.open-pair "(")]
 [:editor ")" (:editor.close-pair ")")]
 [:editor "ctrl-alt-7" (:editor.open-pair "{")]
 [:editor "ctrl-alt-8" (:editor.open-pair "[")]
 [:editor "ctrl-alt-0" (:editor.close-pair "}")]
 [:editor "ctrl-alt-9" (:editor.close-pair "]")]

[2015-04-06 09:00] noaxtogrind commented on #1807
Beautiful editor, by the way! Thanks for the great work!

[2015-04-06 11:01] dcz-switcher commented on #1807
Great day for me, I finally be able to have auto close everythings : (, [, {

here is how I do it on MacBook Pro with French keyboard
//user.keymap
[:editor "(" (:editor.open-pair "(")]
[:editor ")" (:editor.close-pair ")")]
[:editor "alt-[" (:editor.open-pair "{")]
[:editor "alt-]" (:editor.close-pair "}")]
[:editor "alt-shift-[" (:editor.open-pair "[")]
[:editor "alt-shift-]" (:editor.close-pair

[2015-04-06 11:01] #1807 closed

[2015-04-06 13:45] kenny-evitt commented on #1873
@chetanns would you paste the contents of your *project.clj* file for the simple Leiningen project you created to reproduce this? I didn't think of it before, but you could create a public repo in GitHub for the sample project as a way to share it. But I think the *project.clj* file contents should be enough.

Also, what version of Clojure do you have installed? [Run `(clojure-version)` from a Lei

[2015-04-06 23:18] ibdknox commented on #1880
@rundis I know very little about the JVM's classloader stuff unfortunately and I was never able to figure out a way to have LT's stuff sectioned off from the project's process. :(

[2015-04-07 20:00] kenny-evitt commented on #1873
@chetanns would you also, while Light Table is running, and after you've opened a new Clojure InstaREPL tab, check the file *C:\Users\...\AppData\Local\LightTable\plugins\Clojure\window0.log*? It may contain useful info pertaining to whatever is wrong with the LT REPL.

[2015-04-08 00:59] chetanns commented on #1873
In the C:\Users...\AppData\Local\LightTable\plugins\, I did not find any clojure  folder.

[2015-04-08 01:01] chetanns commented on #1873
And below is the contents of my project.clj file

(defproject command-line-args "0.1.0-SNAPSHOT"
  :description "FIXME: write description"
  :url "http://example.com/FIXME"
  :license {:name "Eclipse Public License"
            :url "http://www.eclipse.org/legal/epl-v10.html"}
  :dependencies [[org.clojure/clojure "1.6.0"]]
  :profiles {:dev {:plugins [[cider/cider-nrepl "0.7.0"]]}})

[2015-04-08 07:37] acron0 commented on #1873
I don't have a Clojure folder in plugins either

[2015-04-08 07:43] acron0 commented on #1873
I found the file in /logs rather than /plugins

    STARTING CLIENT: java -jar D:\Applications\LightTable\plugins\clojure\runner\target\lein-light-standalone.jar LightTable-REPL[stdout]: final project:  {:compile-path D:\Applications\LightTable\plugins\clojure\runner\resources\target\classes, :group local-client, :global-vars {}, :checkout-deps-shares [:source-paths :test-paths :resource-paths :co

[2015-04-08 20:50] andriytyurnikov opened #1885 "OS X Yosemite + bash it"
I have no idea how https://github.com/Bash-it/bash-it can possibly affect LightTable, but it looks like it does
Here the error message:
[code]

and here is first 80 lines of file mentoned `cat /Users/andriytyurnikov/.bash_it/lib/helpers.bash`
(I think it is somehow about line#32)
:
[code]

[2015-04-09 14:15] kenny-evitt commented on #1873
@acron0 thanks! Based on the log, you definitely seem to having the same issue as described in #1848. Would you share your *project.clj* file contents? Or create a public GitHub repo for a minimal project for which you can reproduce this?

[2015-04-09 14:25] kenny-evitt commented on #1873
@chetanns I can't reproduce this with a new project with the same contents as the *project.clj* you posted. I thought maybe the CIDER nREPL plugin might have been causing the problem, but it doesn't seem to be doing so for me at least.

I mis-typed previously – would you check the *C:\Users...\AppData\Local\LightTable\logs* directory and add the contents of the *window0.log* file in it as a commen

[2015-04-09 15:26] sarvex opened #1886 "Trying to install Plugin crashes LightTable with no information"
The issue is present with many plugin, otherwise I would have raised the issue with the plugin developer. Haskell Plugin, Typed Closure Plugin and Go Plugin; all these are causing LightTable to crash. Kindly let me know if additional information is required.

Light Table version: 0.7.2
Binary version: 0.8.4
OS: osx 10.10.2

[2015-04-09 15:50] kenny-evitt commented on #1885
@andriytyurnikov please add steps to reproduce this.

[2015-04-09 16:12] andriytyurnikov commented on #1885
@kenny-evitt it is right there after LightTable start:
OS X Yosemite, with bash as a shell and bash-it installed
(screenshot)[http://cl.ly/image/2V28182e3t0i]

Launching LightTable executable from SpotLight

[2015-04-09 16:29] kenny-evitt commented on #1885
@andriytyurnikov ahhh – interesting. This seems to be the same issue as #1277. Based on [this comment](https://github.com/LightTable/LightTable/issues/1277#issuecomment-36441727) on that issue, this is a problem with Node not ignoring what are technically invalid bash identifiers, e.g. `bash-it` (because of the hyphen).

[2015-04-09 18:09] kenny-evitt commented on #1277
@ndr-qef any reason to keep this issue open?

[2015-04-09 21:55] prestonviewer commented on #1339
Ya, same thing.

[2015-04-10 01:13] chetanns commented on #1873
The below are the contents of the log file mentioned in the location.

STARTING CLIENT: java -jar E:\Development\Editor\LightTable\plugins\clojure\runner\target\lein-light-standalone.jar LightTable-REPL[stdout]: final project:  {:compile-path E:\Development\Editor\LightTable\plugins\clojure\runner\resources\target\classes, :group local-client, :global-vars {}, :checkout-deps-shares [:source-paths

[2015-04-10 07:12] acron0 commented on #1848
My project.clj:

    (defproject tbserver "0.0.1-SNAPSHOT"
      :description "TBServer"
      :dependencies [[org.clojure/clojure "1.6.0"]
  	                 [org.clojure/data.json "0.2.6"]
  				     [com.taoensso/timbre "3.4.0"]
                     [io.netty/netty "3.6.3.Final"]
                     [ring/ring-jetty-adapter "1.3.2"]
                     [compojure "1.3.2"]

[2015-04-10 13:56] jmatsushita commented on #1845
Ran into this problem as well with chestnut and the atom-shell LightTable build. I've updated the ClojureScript versions in the Clojure plugin and LightTable and applied the 2 suggested fixes above but the compiler doesn't seem to be able to resolve dependencies and I get messages such as:
[code]

If I eval each dependency manually in the proper order then it works. Apologies if I'm missing someth

[2015-04-10 14:05] kenny-evitt commented on #1339
@tkelman @prestonviewer thanks. Unfortunately, it doesn't seem like upgrading node-webkit is feasible. There's work being done now to port Light Table to Atom Shell. I don't know when that will be released, but you could try building Light Table from that branch. [Here's a thread](https://groups.google.com/d/msg/light-table-discussion/PfQ6kCKrj84/hMNG7flMoZkJ) in the Light Table Discussion Google

[2015-04-10 17:11] Varanas commented on #1339
Or you could just try @one-more-minute 's [Juno-Binaries](http://julialang.org/downloads/) - those are built with Atom Shell too.

[2015-04-11 14:49] uranio-235 opened #1887 "plugin manager do not work"
hi there, I has downloaded LT 0.7.2, after press cmd+space and write "plugin", never become the plugin manager...

[2015-04-11 16:50] rundis commented on #1887
ctrl+space surely
Should be found under Plugins: Show plugin manager

Do you get an empty list when you press ctrl+space ? Find it hard to believe the command for the plugin manager should have disappeared.

[2015-04-12 15:35] AdamSimpson commented on #1457
+1

[2015-04-13 14:12] uranio-235 commented on #1887
does you need a screen shoot? It show EVERYTHING except plugins manager

[2015-04-13 15:38] mbernat commented on #974
I'm still hitting this on 0.7.2. Can't install a single plugin.

[2015-04-13 15:38] mbernat commented on #1789
Still happens on 0.7.2.

[2015-04-13 23:19] mkcmkc opened #1888 "Map destructuring of rest arguments not compiling in Instarepl"
Putting the following code in an Instarepl
[code]
generates
[code]
However, if I put it in `lein repl` it works without a problem.

I am running OS X 10.10.3 with LightTable 0.7.2 (binary version 0.8.4).

[2015-04-14 09:16] carocad opened #1889 "Python module evaluation crashes with multiline docstring"
When evaluating a module which contains a multiline docstring and a global function call, Lighttable prints the following error:
    """
      ^
SyntaxError: EOF while scanning triple-quoted string literal

I tested my code on a python interpreter on the terminal and it runs without any problem. Furthermore, this error doesn't stop Lighttable from executing the code, as I can see the result on the

[2015-04-14 12:49] acron0 commented on #1873
@kenny-evitt I shared my project.clj in https://github.com/LightTable/LightTable/issues/1848

[2015-04-14 13:30] cldwalker commented on #1888
Thanks for the report. This is a duplicate of #1626

[2015-04-14 13:30] #1888 closed

[2015-04-16 04:54] rhlvora commented on #1717
If it helps, I just installed jdk8-u45 64 bit on windows 7 and it is working.

[2015-04-16 05:30] rundis commented on #1609
@joshuafcole Is there any chance of progressing this work after the atom-shell release. If you don't have any capacity to carry on with this, would it be possible to create some kind of summary to make it possible for us to put this on the roadmap for others to pick up at some point ?

[2015-04-16 13:55] kenny-evitt commented on #1873
@chetanns, @acron0 thanks for the additional info. I was still unable to either reproduce this, or to find any likely candidates for what might be causing it.

However, I did come across [another issue](https://github.com/LightTable/LightTable/issues/1717) that seems very similar (if not exactly the same) to this one.

Would you both check what version of Java or the JDK you have installed?

[2015-04-16 13:56] kenny-evitt commented on #1717
@rhlvora thanks!

[2015-04-16 14:11] acron0 commented on #1873
λ java -version
    java version "1.8.0_31"
    Java(TM) SE Runtime Environment (build 1.8.0_31-b13)
    Java HotSpot(TM) Client VM (build 25.31-b07, mixed mode, sharing)

[2015-04-16 14:18] kenny-evitt commented on #1873
@acron0 thanks. I can't tell if your version is earlier or later [than what was reported in that other issue as resolving that issue](https://github.com/LightTable/LightTable/issues/1717#issuecomment-93640958), but, if you can, please upgrade Java to try to resolve this.

[2015-04-16 14:18] kenny-evitt commented on #1873
@acron0 are you running the 32-bit or 64-bit version of Java? I can't tell from the version info you posted.

[2015-04-16 14:30] acron0 commented on #1873
I tried upgrading to Java 8/45 64-bit

    λ java -version
    java version "1.8.0_45"
    Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
    Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)

Still the same error message...

[2015-04-16 15:35] johnnzz commented on #1250
I'm having this problem as well although, interestingly, it was working fine previously.

It isn't clear if the problem was triggered by an update, additional sw, or just whatever.  Basically, I was working, closed LT, then restarted it and presto-no-menus.

If I move the LT window with the menu selected, you can see the outline of the window, so like has been suggested, it seems like the menu is

[2015-04-16 15:45] johnnzz commented on #1250
So just the process of posting made me think... hmm.. rendering issue... 3d accel enabled... hmm.  So I shut down, de-selected 3d rendering acceleration in my virt, booted, and presto-menu-workie.

So, it's a sample size of one time, but it feels likely that this is the general area of the issue.

-john

[2015-04-16 18:57] kenny-evitt commented on #1873
@acron0 bummer. I'm not sure what to try next. If I could reproduce it myself, I'd start adding debugging statements to the code to narrow it down to specific code. If you can build the Light Table Clojure/ClojureScript code on your computer, for both Light Table and the Clojure language plugin, you might be able to do that. I'm not really familiar with the Light Table code, but I'm glad to help y

[2015-04-16 19:03] robjens commented on #497
I can confirm that LT is still affected (esp. on the mongoose part). First project breaks, I had it fail on `bcrypt` bindings (node-gyp) pilwon/ultimate-seed#54 this exception message. However it also contains mongoose.

Next I tried **clean slate** (`mkdir foo; cd $-; npm init; npm i coffee-script; echo "var coffee = require('coffee-script');" > index.js; node index.js;`) then tried LT everything

[2015-04-16 19:18] robjens commented on #497
P.s. I can share some of the code of the original project failing, it highlights where it goes wrong anyway, if it is of any use (I hope):

[code]
The bindings directory (`node_modules/bindings` inside `bcrypt`) does not have a `build/` directory. The file it looks for is actually inside the `build/` directory from bcrypt, not bindings. However, from the cli, the project just runs fine as it is.

[2015-04-16 19:24] lambdahands commented on #1848
Hi, after some digging in Google Groups, I found the solution to this problem.

It turns out the [Ultra leiningen plugin](https://github.com/venantius/ultra) was interfering with the LightTable REPL. If you open your `~/.lein/profiles.clj` and upgrade Ultra to the latest version (as of now it's `0.3.3`), this problem will go away.

[Related issue on the Ultra project](https://github.com/venantius/

[2015-04-16 22:18] nwork commented on #1237
Received this error today
[4188:0416/171703:ERROR:browser_main_loop.cc(226)] Gdk: gdk_window_set_icon_list: icons too large
ATTENTION: default value of option force_s3tc_enable overridden by environment.
[4224:0416/171706:ERROR:sandbox_linux.cc(142)] InitializeSandbox() called with multiple threads in process gpu-process
I downloaded LightTable a couple days ago, looked at it for a little bit and

[2015-04-17 08:09] acron0 commented on #1848
@lambdahands Thank you! Can confirm, this fixed it for me!

[2015-04-17 08:11] acron0 commented on #1873
@kenny-evitt The suggested fix in https://github.com/LightTable/LightTable/issues/1848 worked for me. Thanks for your assistance :)

[2015-04-17 08:31] ArturSkowronski commented on #1848
Perfect! Thank You!

— Artur Skowroński

On Fri, Apr 17, 2015 at 10:09 AM, Antony <notifications@github.com> wrote:

[2015-04-17 09:30] stephenmuss commented on #1848
Works for me now too. Thank you!

[2015-04-17 09:55] codesplicer commented on #1848
Fixed for me too! Thanks!

[2015-04-17 13:34] kenny-evitt commented on #1873
@acron0 awesome!

[2015-04-17 13:53] DavidJFelix commented on #1457
+1

[2015-04-17 13:57] sbrl opened #1890 "Portable Edition"
It would be awesome if there was a (windows) portable version of Light Table. Then I could use it from my Flash Drive anywhere I like :D

[2015-04-18 08:45] rundis commented on #1848
Great stuff. Tx @lambdahands.
I take it this can be closed then

[2015-04-18 08:45] #1848 closed

[2015-04-18 09:14] rundis commented on #1880
One possible solution for classloader isolation here: https://github.com/LightTable/Clojure/issues/44

[2015-04-21 09:29] mariusa opened #1891 "scrolling open files list with mouse wheel not working"
Issue #1776 mentions "If your mouse is over the tab marker (top part of a tab), you can horizontally scroll."
This doesn't work (Linux, 0.7.2).
Tooltip with complete file name does appear.
Vertically scrolling all files in workspace does work.

Also, not sure if related, there's no horizontal scroll bar either in Linux (used to be around v 0.5)

[2015-04-23 08:32] bilderbuchi commented on #1889
I think this is a duplicate of #1503

[2015-04-23 11:59] rickedanielson commented on #1237
Reinstallation of ubuntu 14.04 on a new disk gave some similar errors:

[8230:0423/131333:INFO:gpu_info_collector_x11.cc(80)] NVCtrl extension does not exist.
[8230:0423/131333:ERROR:browser_main_loop.cc(226)] Gdk: gdk_window_set_icon_list: icons too large

This doesn't stop one from running from the command line (and one would think that the (icon) launcher would also start by adding ">&/dev/null

[2015-04-23 17:21] martinchooooooo commented on #1887
Hey @uranio-235

A screenshot would be great. Also what OS are you using?

Cheers

[2015-04-23 17:56] martinchooooooo commented on #1873
Hey guys,

Going through issues and it seems like this one is resolved. If it is, could someone please close it?

Cheers!

[2015-04-23 20:07] rickedanielson commented on #215
Some of the issues that link to this one are addressed by https://github.com/one-more-minute/Reminisce

[2015-04-23 20:15] rickedanielson commented on #215
Some of the issues that link here certainly seem to be addressed (in part) by https://github.com/joshuafcole/recall and https://github.com/one-more-minute/Reminisce ... (just to emphasize comments above)

[2015-04-23 21:02] carocad commented on #1503
I can confirm that this bug happens on a Lighttable version 0.7.2 (binary v0.8.6) on Ubuntu 14.04.
Steps to reproduce:
1 - Make a multiline docstring:
"""
bug
"""
2 -  add a global function evaluation
"""
bug
"""
print('test')

3 - Evaluate the whole file (Ctrl-Shift-Enter)

Note: If only the function is evaluated, everything is ok, bug a complete file evaluation "crashes". Weird enough, in my Lig

[2015-04-24 05:24] martinchooooooo commented on #1732
Can confirm that I was having the same issue and I had tried (before reading this issue) the same approach of upgrading from JDK 7 to JDK 8 and it seemed to have fixed my issue,

[2015-04-24 18:34] Jaballadares opened #1893 "Having Issues Downloading Any Plugins"
Please forgive me if I post too much of the error message. I'm new the world of programming and fear omitting something useful.

Failed to load resource: the server responded with a status of 403 (Forbidden): https://api.github.com/repos/LightTable/plugin-metadata/commits
Uncaught TypeError: Cannot read property 'sha' of undefined
bootstrap.js [29185]	anonymous
bootstrap.js [23098]	anonymous
boots

[2015-04-25 02:08] bdsatish commented on #1457
Me too

[2015-04-26 18:11] nethopper commented on #114
For anyone trying this with the new flat format, the `(:eval.custom "code" {:result-type :statusbar})` should not be in an array. The above key binding entry would therefore look like this:

     [:editor.clj "pmeta-r" (:eval-custom
                             "(clojure.test/run-all-tests
                                (re-pattern
                                  (str \"^\" *ns* \".*\")))"

[2015-04-27 10:39] sherpc commented on #1727
0.7.2 Windows 8 fresh install error persists. Maybe exists some workaround?

[2015-04-27 14:27] martinvlk opened #1894 "Linux 64bit version doesn't run on Debian Jessie"
It is complaining of a missing library:
LightTable/ltbin: error while loading shared libraries: libudev.so.0: cannot open shared object file: No such file or directory

I do have libudevin /lib/x86_64-linux-gnu/libudev.so.1, but it is not found by ltbin.
It tries the following:

open("/lib/x86_64-linux-gnu/tls/x86_64/libudev.so.0", O_RDONLY|O_CLOEXEC) = -1 ENOENT (No such file or directory)
stat("

[2015-04-27 14:30] birdspider commented on #1894
Just a workaround: same as the arch package https://aur.archlinux.org/packages/lighttable/
symlink `libudev.so.0` to `libudev.so`

[2015-04-28 04:42] exitface commented on #1250
@johnnzz This fixed it for me as well - thanks

[2015-04-28 07:34] martinvlk commented on #1894
Workaround successful.. thanks!
M.

[2015-04-28 11:37] birdspider commented on #1894
just to be clear, this is AFAIK a workaround because you cheat the executable to use a potentially newer libudev.so while it was linked (and tested) against an older one, so eventually this may stop working.

(not an expert), I think the correct solution would be:
whatever in lighttable depends on libudev.so.0 - upgrade it, if possible.

[2015-04-29 15:47] EarthCitizen opened #1895 "0.7.2 Cannot Connect from Behind Proxy Windows 7"
I am behind a corporate proxy, and I have specified the http_proxy and https_proxy environemt variables, but LightTable gives this error:

[code]

Here is what I have set up in my bat file:

[code]

[2015-04-29 17:18] martinvlk commented on #1894
Yes, that is why I didn't close the ticket.

Thanks
M.

[2015-04-29 19:32] talusbb opened #1896 "Closing last window on OS X should not quit the app"
Currently, when closing the last document/workspace window, Light Table quits.

Mac users usually expect to be able to close one document and then use the menubar to open another, which doesn't work if the app quits in the middle. Usually, quitting is expected when the app consists of a "main window," which you could argue the initial Light Table window is. But since multiple windows can be opened

[2015-04-29 23:14] kmsquire commented on #916
Just ran into this as well.  I found that just using
[code]
did not override anything, but if I specify
[code]
it works fine.

[2015-04-30 14:27] #1889 closed

[2015-04-30 14:27] kenny-evitt commented on #1889
@carocad re-open this if this isn't a duplicate of #1503.

[2015-04-30 14:48] kenny-evitt commented on #1732
@joshuafcole @cldwalker could either or both of you confirm whether this is resolved by upgrading the JDK to version 8?

[2015-04-30 14:51] kenny-evitt commented on #1893
@Jaballadares Interestingly, your comment in GitHub only seems to show the last block of the error messages that I saw in my email notification for this issue. Did you edit your original comment?

Also, would you please post the steps you can follow to reproduce this and divulge more info about your environment, e.g. OS, LightTable version, Java JRE and JDK versions, Leiningen plugins installed, e

[2015-04-30 14:55] kenny-evitt commented on #1250
@vagra @richardrasu @Sh4rK @standfest @Faldrian does the workaround mentioned by @johnnzz – disabling "3D rendering acceleration" – resolve this for any of you?

[2015-04-30 14:58] Faldrian commented on #1250
@kenny-evitt Sorry, I switched to another editor in the meantime.

[2015-04-30 15:22] richardrasu commented on #1250
@kenny-evitt Hi, not sure - have updated OS in the meantime.. Will give it a go (hopefully even soon), and reply when I can. Thanks,

[2015-05-01 13:59] zarybnicky opened #1897 "Ctrl-Space doesn't open command tab in a non-scrollable area"
Same as #674, #551.
On Windows 8.1, I've just downloaded a fresh LightTable 0.7.2 to try it out - in the 'Getting started' tutorial, I found that the first keybinding you write about doesn't work.

Same as in the previous issues, the tutorial is probably a browser tab under the hood.

[2015-05-02 10:56] BlueT commented on #1457
+1

[2015-05-02 12:23] MFAshby opened #1900 "Javascript Promises browser implementation issue"
Javascript Promises do not appear to be implemented correctly in the LightTable browser.

Replication:
Save http://pastebin.com/SPiRiLJc as a HTML file.
Open in LightTable browser.
You'll get the Failure alert.

Open in other browsers (e.g. chrome(ium), firefox) and you'll get the sucess alert.
I'm using version ##0.7.2 on Ubuntu 14.04

[2015-05-02 20:38] MartinBurian opened #1901 "Underscores not rendered"
Underscores are rendered into the line below the one they actually occupy. When typing, they resemble spaces ("hello_world" looks like "hello world"). Only once the line below is redrawn (just moving the cursor to it does the job), the underscore appears. When preceded by space, they are surprisingly OK right away.

To reproduce, type (into a blank file):

    hello_world

Looks like:

    hello w

[2015-05-03 09:43] MFAshby commented on #1900
Spotted it's using a different implementation of promises to these browsers,
The function passed to the Promise constructor has a single argument, a PromiseResolver, instead of two arguments (resolve and reject functions)

It looks light LightTable is using an API like this: https://developer.mozilla.org/en/docs/Web/API/PromiseResolver#Browser_compatibility
Wheras Chrome et. al use a Promise API a

[2015-05-04 01:28] dbrowne opened #1902 "LightTable 0.7.2 unresponsive in mac os X 10.7"
1) Keyboard bindings do not work.
2) Cannot quit application from Menu

[2015-05-05 13:22] kenny-evitt commented on #1897
@snawster would you link to the "Getting started" tutorial you mention? Or tell me how you got to it? I'd like to reproduce this if I can. Also, if you could provide me with detailed steps with which *you* can reliably reproduce this issue, I'll see if I can too following the same steps.

[2015-05-05 13:25] kenny-evitt commented on #1901
@MartinBurian what window manager are you using?

[2015-05-05 13:30] kenny-evitt commented on #1900
@MFAshby the current released version of Light Table uses [node-webkit](https://github.com/nwjs/nw.js/) (now named NW.js apparently), which uses Chromium. Several contributors are working on migrating Light Table to use [atom shell](https://github.com/atom/electron) (now named Electron!), which is also based on Chromium. I suspect tho that when the migration is complete, Light Table will be effect

[2015-05-05 13:33] MartinBurian commented on #1901
i3wm version 4.9.1

[2015-05-05 13:35] drakulavich commented on #1457
Hi there!

I have not enough experience with packaging. But I have created deb package like sublime-text-installer by Alin Andrei from webupd8. Internal scripts download tarball, extract it to /opt/LightTable, create .desktop file and /usr/bin/ltable symlink.

I would appreciate any feedback and advice.

[https://dl.dropboxusercontent.com/u/734560/lighttable_0.7.2_all.deb](https://dl.dropboxuserco

[2015-05-05 13:36] kenny-evitt commented on #1902
@dbrowne is the OS X version in this issue title correct? I ask because I can't run Light Table on my MacBook running OS X 10.6. [Light Table requires OS X 10.7 or newer.](http://docs.lighttable.com/#other)

[2015-05-05 14:44] dbrowne commented on #1902
Sorry. Typo on my part is is 10.7

[2015-05-05 15:37] kenny-evitt commented on #1901
@MartinBurian thanks. I don't have a Linux workstation currently but maybe someone else can reproduce this. The core contributors are working on migrating from node-webkit to atom-shell. Hopefully this will be resolved when the changes for that migration are released.

[2015-05-05 15:40] MartinBurian commented on #1901
Thank you, I'll be looking forward to the update.

[2015-05-05 15:41] kenny-evitt commented on #1902
@dbrowne thanks. Is LT always unresponsive after opening? If you would detail the steps you take when you observe this issue I will try to reproduce it.

[2015-05-05 15:47] dbrowne commented on #1902
Start either from command line or via icon.
Startup window appears. No options appear with any permutation of ctontrol keys and other keys
Menu quit does not quit application can only kill via pid or taskbar.

[2015-05-05 22:14] MFAshby commented on #1900
Great, thanks for the info. I'll keep an eye on the atom-shell branch.

[2015-05-07 23:11] Dadie opened #1903 "LT 0.7.2 - Workspace doesn't display directory if name contains the string ".git""
Example directory names:
- foo.git
- foo.git.bar
- foo.github.io
- .git.bar
- .git

Interestingly, if you create those directories via the workspace contextmenu they actually show up but wont appear on later starts. If created externally they never show up.

reproduces on x86_64 Arch Linux.

[2015-05-11 08:05] hkjels opened #1904 "Atom-shell has been renamed"
Atom shell is now [electron](http://electron.atom.io); since atom-shell is still referenced in build-scripts, this branch is actually broken atm.

[2015-05-11 12:56] kenny-evitt commented on #1904
@hkjels thanks; there's already two pull requests for this:

 * [Electron name change: update for Linux references by miraleung · Pull Request #1899 · LightTable/LightTable](https://github.com/LightTable/LightTable/pull/1899)
 * [Update build scripts for atom-shell name change to electron by martinchooooooo · Pull Request #1892 · LightTable/LightTable](https://github.com/LightTable/LightTable/pull

[2015-05-12 13:25] gavocanov commented on #494
+1, it's a must have IMHO
BTW, the alias workaround does not work here on OSX 10.10.3

[2015-05-13 00:00] schodge opened #1905 "app.kodowa.com blocked as Phishing"
I've opened a ticket with my company's InfoSec, but nothing can load from app.kodowa.com because our security filters think it's malware.  Thought someone might want to look into what caused this.

 	Date: 	Tue, 12 May 2015 23:57:11 GMT
	Time: 	1431475031.486
	Client IP address: 	<removed>
	Request URL: 	http://app.kodowa.com/
	User-Agent: 	Mozilla/5.0 (Windows NT 6.1; WOW64; rv:37.0) Gecko/201001

[2015-05-14 14:36] kenny-evitt opened #1906 "Add full build steps (for 'master' branch) for all platforms to 'developer install' document"
Recently, progress has slowed down on the *atom-shell* branch. The build output isn't functional for me (on Windows) using the latest version of that branch (and including two recent pull requests – [1892](https://github.com/LightTable/LightTable/pull/1892) and [1899](https://github.com/LightTable/LightTable/pull/1899)).

I'd like to be able to build the *master* branch – from scratch (e.g. includ

[2015-05-15 22:42] flyboarder commented on #1896
+1

[2015-05-15 22:48] flyboarder opened #1907 "Feature Request: Search All Files"
It would be awesome if lighttable had an option to use the search on all the open files in a window, just saying...

[2015-05-19 08:30] jdf-id-au commented on #1088
Is the nw problem [fixed now](https://github.com/nwjs/nw.js/issues/2723#issuecomment-103095335)? (Does LT use CSS3 animations?)

[2015-05-19 14:15] MalteFabian opened #1908 "Angular2 Error: UncoatedModuleInstantiator.getUncoatedModule"
Hi,

playing with Angular2 a bit I've (immediately) stumbled upon a weird error. The whole arrangement works perfectly in Firefox (immediately).

More details can be found here:

<a href="http://stackoverflow.com/questions/30328032/angular2-testapp-not-working-in-lighttable-error-uncoatedmoduleinstantiator-g">SO question</a>

[2015-05-19 17:25] carocad opened #1909 "unable to edit an rst file with Lighttable"
I was trying to edit a README.rst file in Lighttable and found out that it makes it crash.
I get the following error on the console:
[code]
This behavior can be easily replicated by simply creating an empty file test.rst file and try to edit it using Light Table.
After this error, any file that I open on Light table appears to be empty even though they aren't.
My environment is:
* Ubuntu 14.04
* L

[2015-05-20 09:06] TorHou commented on #1887
I can confirm that the plugin manager doesn't seem to work on this version (LT version 0.7.2, binary version 0.8.4).

It seems to be the plugin server is down. I get the message:
`Failed to load resource: the server responded with a status of 502 (Bad Gateway): http://plugins.lighttable.com`

[2015-05-20 13:25] Robsteranium commented on #1907
Did you know that you can search the workspace with `CTRL`+ `SHIFT`+`F`?

If you manage your workspaces properly then this should give you what you need.

[2015-05-20 15:21] #1873 closed

[2015-05-22 16:18] martinchooooooo commented on #1887
Going through the release history, the plugin server was deprecated in favour for using Github as of [0.7.0](http://lighttable.com/2014/11/19/light-table-070) here     3f900b4266809ae142f4b34d62b86170b97674b8

So that's why plugins.lighttable.com returns a 502.

@TorHou Not sure what the issue might be, though it might be your build of Lighttable. Did you download it from lighttable.com or build f

[2015-05-23 01:59] ghassanpl commented on #1727
Oh wow, this problem is still there? Huh.

[2015-05-24 20:49] hkjels commented on #1904
Why are none of these being pulled?

[2015-05-24 21:28] kenny-evitt commented on #1904
@hkjels the core contributors have been otherwise occupied (e.g. with their paying gigs). I'm working with them to get up to speed so I can help out. I'm hoping to make some progress on this soon. I've had to merge these PRs to get a build on my computer to work so I expect them to be merged. I just wanted to have one of the core contributors review them first.

[2015-05-25 06:34] hkjels commented on #1904
OK, great!

[2015-05-26 12:44] TorHou commented on #1887
@martinchooooooo
I just downloaded it via Download button ("LightTableLinux64.tar.gz"). I am very confused now, because I tested it again and it works. I don't know what changed but it seems the error was on my end.

[2015-05-26 13:21] kenny-evitt commented on #1887
@TorHou re-open this if you run into this problem again.

@martinchooooooo thanks for your help!

[2015-05-26 13:21] #1887 closed

[2015-05-28 03:23] Armaklan opened #1911 "[Atom-Shell] Use dev tool"
After build atom-shell application, i can open dev tools but not use it.

Click on dev-tools button make no action.

[2015-05-28 08:08] jyounus commented on #1746
I'm new to LightTable and I have the same issue. I just downloaded the latest version from the website but I still get the same error. How do I update the Javascript plugin?

[2015-05-28 13:16] kenny-evitt commented on #1746
@jyounus type "plugin manager" in the command box – the full command is *Plugins: Show plugin manager*. When you hover over the JavaScript plugin in the list there should be three buttons on the right – *uninstall*, *source*, and *update*. Click *update*.

[2015-05-28 13:24] kenny-evitt commented on #1911
@Armaklan please provide some more details.

I notice you figured out that Atom changed its name to Electron so I'm assuming you made the same changes as in #1899. Did you also make the same changes as in #1892 ? I'm waiting for another contributor to sign-off on both, but I merged both the last time I built from source – [unfortunately I still had issues](https://github.com/LightTable/LightTable/

[2015-05-28 13:54] Armaklan commented on #1911
Sorry for the poor initial comment :/ ( bad idea to open a ticket early in the morning ).

I run in linux. I do #1899 modification. I run directly the executable.

Yes, i open dev tools from command bar. The dev tools open correctly. I view the pane in the right of editor.

But when i want to use them (view error, use console, inspect element, ...), dev tools dont make anything. No reaction. My cl

[2015-05-28 14:55] kenny-evitt commented on #1911
@Armaklan – thanks for the extra info.

What Linux distro, and version, are you running?

[2015-05-28 15:13] jyounus commented on #1746
There was no update button for Javascript. I had to uninstall and reinstall the plugin. It was on version 0.0.6 before. Now I'm on 0.1.2 and I'm not getting the error anymore. Thanks for your help kenny-evitt! :)

[2015-05-28 15:55] kenny-evitt commented on #1746
@jyounus – glad it's working for you now.

[2015-05-28 18:56] Armaklan commented on #1911
Sorry...

I try once again and it seems to be a local problem (a corner of my desktop causes some trouble). I close the issue...

[2015-05-28 18:56] #1911 closed

[2015-05-28 20:08] xuv commented on #493
@jaredly Sorry for bumping up a closed issue. But did you have some time to work on that lesscss preprocessor: I'm guessing it should be pretty easy to cook it from the Sass one. But before digging in that, I'd like to know if you did anything already.

[2015-05-29 00:59] jaredly commented on #493
Nope, I never did end up working on it
On Thu, May 28, 2015 at 1:08 PM Julien Deswaef <notifications@github.com>
wrote:

[2015-06-01 16:35] claudionebbia commented on #1897
I see that, on Windows 7, ctrl-space only work when you have a code tab on focus, if you have the console or the Docs tab on focus then it do nothing.

[2015-06-01 16:41] claudionebbia opened #1912 "Watch selection dont work in JS"
In Windows 7, LightTable ##0.7.2, when I hit alt-w (Editor: Watch selection) whith a variable name selected, the console shows:

[code]

[2015-06-02 07:50] robjens opened #1913 "Windows: Cut not working"
Is any other windows user experiencing a broken cut (`ctrl-x`) key combo? I cant get it to work natively, nor with cut, _nor with menu_ or with `:editor.kill-line`.

I did swap around `CapsLock` for `Ctrl` (using `SharpKeys` tool) but in every single application, anywhere and everywhere in windows, as well as any third party software - really *all* - it works fine.

This makes me think this partic

[2015-06-02 07:56] robjens commented on #1913
Btw, nor `ctrl-shift-0` is working (I guess I could understand that) but for example `ctrl-shift-k` is not possible to rebind I just found out. Luckily, this is and remains the `cut-line` functionality. At least I now have a way to cut ^^

[2015-06-02 09:12] gsscoder opened #1914 "Unresponsive after resuming from suspended system"
I've installed it from binaries quoted **LINUX 64-BIT** supplied by **lighttable.com** (not cloning from *github.com*) and added `LightTable` startup script to my `$PATH`.
LightTable version: **0.7.2**
Binary version: **0.8.6**
Plugins directory: `/home/giacomo/.config/LightTable/plugins`

It follows some other info:
[code]
I start the program from **Konsole** terminal with command `LightTable &`

[2015-06-02 16:20] troydm commented on #1789
+1 happens when I try to install Zenburn theme plugin on 0.7.2 running on Ubuntu 14.04 64-bit Linux

[2015-06-02 19:26] bitmonk commented on #1842
I have a similar problem, even when I try a developer build it seems to be downloading ELF binaries.  The instructions suggest this has to do with avoiding building node-webkit from source, but it would be nice if LT had instructions for performing a full build.

Obviously, i could run a newer Linux, but this workstation matches our production environment.  I've really enjoyed using LT on Mac and

[2015-06-03 10:10] flavio20002 opened #1915 "Beginning of the line character in regex find"
Hi,
the beginning of line character ^ doesn't seem to be recognized  when using regex find in current editor. It instead works in Searcher.

![immagine](https://cloud.githubusercontent.com/assets/10809301/7957582/bff2b6e0-09e8-11e5-936e-19c38ce24e01.png)

I'm using version 0.7.2 of Light Table

[2015-06-08 14:47] kenny-evitt commented on #1897
@claudionebbia I can't reproduce the behavior you describe – <kbd>Ctrl</kbd>+<kbd>space</kbd> always opens the command bar for me, regardless of what has focus.

[2015-06-08 14:48] kenny-evitt commented on #1897
@snawster please feel free to re-open this if you're still having the problem you described.

[2015-06-08 15:08] kenny-evitt commented on #1913
@robjens <kbd>Ctrl</kbd>+<kbd>x</kbd> works fine for me. Would you confirm whether it works if you disable or kill SharpKeys?

Interestingly, [the SharpKeys project description on CodePlex](https://sharpkeys.codeplex.com/) states:

From [the Light Table User FAQ](https://github.com/LightTable/LightTable/wiki/FAQ#what-are-the-names-for-keys-in-the-keymap-files):

I'm not sure why Light Table alone

[2015-06-08 15:15] kenny-evitt commented on #1789
@jasonzoladz @mikebelanger @kolya-ay @mbernat @troydm can you consistently reproduce this error? Do you get it when installing *any* plugin or is it specific to specific plugins?

[2015-06-08 15:23] gsscoder commented on #1914
I've made a mistake in configuring the Go/Lang plugin, anyway solving this didn't solved the problem...

[2015-06-08 15:25] snawster commented on #1897
I've tried again with the latest official (stable) release and I'm still having the problem.
On any in-app docs page or any in-app browser page, Ctrl-Space has the same effect as Space or PgDown.
If I click on Help->Documentation (topbar), Ctrl-Space opens Command bar as advertised. However, if I click anywhere into the docs pagepage

[2015-06-08 15:27] kenny-evitt commented on #1842
@bitmonk there may never be published instructions for a full build that includes node-webkit. We're still working on migrating to Atom (Electron). Try building from that branch (*atom-shell*). You will probably need to manually merge PR #1892 and #1899 to account for Atom being renamed to Electron.

@ionuthulub please feel free to re-open this if you're still having trouble running Light Table. I

[2015-06-08 15:27] #1842 closed

[2015-06-08 15:43] kenny-evitt commented on #1915
@flavio20002 I suspect this is because the regex is being evaluated against the buffer contents as a whole. Internally, Light Table uses [CodeMirror](https://github.com/codemirror/CodeMirror) for searching and [its code](https://github.com/codemirror/CodeMirror/blob/master/addon/search/search.js)<sup>1</sup> isn't specifying the multiline flag for regexes so the `^` isn't being matched to the begi

[2015-06-08 15:49] flavio20002 commented on #1915
With "Searcher" I mean the tool of light table to search in multiple files, the one targeted by ctrl-shift-f.

[2015-06-08 16:06] troydm commented on #1789
@kenny-evitt I haven't tried installing any other plugin but I constantly get this error when I try to install this Zenburn theme plugin so it's reproducible

[2015-06-08 16:06] kenny-evitt commented on #1915
@flavio20002 thanks

[2015-06-08 17:05] kenny-evitt commented on #1789
@troydm thanks

[2015-06-09 20:22] anandtrex commented on #1392
Just a quick note for people trying to subtract out the enter keybinding. In Julia 0.3.9, I had to add the `[:editor.keys.hinting.active "-enter" :passthrough]` line in user.keymap instead of user.behaviors to get it to work.

[2015-06-10 10:36] zongwan opened #1916 "there is an copy/paste bug on OSX"
## install light table with julia , juno ##

# cmd
[code]
### four tools
1.light table
2.sublime text
3.chrome  html page
4.terminal

# copy test result
[code]

I think it is a bug of OSX .
could you have any ideas ?
bug with REPL ? remote clipboard ?

have restarted those tools many times,still with bug
how to avoid this bug ?

[2015-06-10 13:36] robjens commented on #1913
@kenny-evitt Hey thanks for the reply, I'll go and see. The thing is that it doesn't run constantly, it makes one-off (registry I guess) changes,... so the best I can do is uninstall it completely.

I've never heard about mousetrap before, ima check it out. Thanks for the leads anyway and I'll report back soon enough...

[2015-06-10 13:57] #1913 closed

[2015-06-10 13:57] kenny-evitt commented on #1916
@zongwan, would you explain the info in your "copy test result" section? I don't understand your notation, e.g. what does `copy/paste in "light table" <==> copy/paste in sublime text` mean (in regular grammatical English)?

[2015-06-11 02:33] zongwan commented on #1916
@kenny-evitt
[code]
means
copy text in "light table",then we can paste it in "sublime text", also in turn.
like
they are using same clipboard

[2015-06-11 05:01] coda opened #1917 "Can't type kha in Russian"
When i am typing text in Russian layout under Gnome 3.16 and pressing "kha" button, which is assigned to the same button as "[" i am getting brackets "[]" instead of kha letter.

Light Table version
0.7.2
Binary version
0.8.6

[2015-06-11 12:00] kolya-ay commented on #1789
Confirm I can't still install paredit-plus through plugin manager. However I can install e.g. Subpar plugin. It seems that [the culprit](https://github.com/LightTable/LightTable/blob/master/src/lt/objs/deploy.cljs#L24) is the [obsoleted npm-dependency](https://github.com/LightTable/LightTable/tree/master/deploy/core/node_modules/tar). I use LT form the `atom-shell` branch.

[2015-06-11 12:42] kolya-ay commented on #1917
This is well known [issue with international layouts](https://github.com/LightTable/LightTable/issues/620#issuecomment-59621776) which was workarounded by [this commit](https://github.com/LightTable/LightTable/commit/72408f6182638ddeb2f31be29affaccef46255a1). Do you use the [pair keybindings](https://github.com/LightTable/LightTable/wiki/FAQ#how-do-i-add-pair-keybindings), right?

The issue bother

[2015-06-11 15:50] argand-lamp commented on #1901
Can't reproduce on arch 64bit.
Either on DWM 6.0 or xfce 4.12 using the same version of LT (0.7.2)

[2015-06-11 19:37] ThomasChilinski commented on #161
The Binary distribution of Juno. ships with it's own statically linked libudev.so. It's "basically" Light Table with the Juno plugin installed.

[2015-06-11 22:13] olivervejen commented on #1727
Anyone got some new info on this?

[2015-06-12 10:46] Knotschi commented on #1039
I think it is still relevant (or I just could not find out how to do that)
I would love to have that option

[2015-06-12 14:50] sebigavril commented on #227
@ibdknox The issue is present in 0.7.2

[2015-06-12 15:43] kenny-evitt commented on #1916
@zongwan ahh; thanks for the clarification. This is indeed interesting. What version of OS X are you running?

[2015-06-12 15:45] kenny-evitt commented on #1916
@zongwan I'd be interested to know what info about this you could generate by installing an OS X 'clipboard (history)' app and checking what they show when copying and pasting between Light Table and the other apps you mention.

[2015-06-12 15:47] kenny-evitt commented on #1789
@kolya-ay thanks

What's different about the plugins that can be installed from those that can't that's causing the node tar module to break?

[2015-06-12 15:52] kenny-evitt commented on #1917
@kolya-ay thanks

@coda Do you have [the 'auto-pair keybindings'](https://github.com/LightTable/LightTable/wiki/FAQ#how-do-i-add-pair-keybindings) enabled in your user behaviors? If you do, try disabling that behavior and then pressing the <kbd>kha</kbd> key.

[2015-06-12 16:39] kenny-evitt commented on #1039
@Knotschi This isn't currently possible.

[2015-06-12 17:52] zongwan commented on #1916
[code]

still bug with terminal and my QQBrower (yeah,that's a strange brower)

safari,chrome,light table,sublime text are all fine.
![img](http://i.imgur.com/CZviofY.png)

[2015-06-12 18:05] zongwan commented on #1916
...
restart OSX then everything goes fine.
copy && paste works fine now...

Maybe it is just OSX's bug, so sorry to bother

[2015-06-12 18:05] #1916 closed

[2015-06-14 20:25] kenny-evitt opened #1918 ""mkdir: cannot create directory" error running "atom-shell" branch build on Windows 7"
## Issue

This was the lane line of the output of running `script/build.sh` from a Cygwin Terminal window:

[code]

I checked the Windows security on the *builds/lighttable-0.8.0-windows/resources* directory and it had an explicit "Deny" ACL entry; so did all of its contents, recursively.

Apparently `cp` in Cygwin doesn't handle Windows permissions:

 - [How to use cp.exe from Cygwin and preserve

[2015-06-14 20:39] #1918 closed

[2015-06-14 20:46] kenny-evitt commented on #1904
I just merged both PRs.

[2015-06-14 20:46] #1904 closed

[2015-06-15 20:11] bitmonk commented on #1842
!kenny-evitt FWIW, I think we're both trying to build the source, so while I'm happy to explore further experimental builds, the versions of libc that are supposedly missing are not available.  A source build shouldn't depend on a specific version of libc.

[2015-06-16 13:39] eatsalog opened #1920 "Haskell plugin wasn't listed in installed plugins until after Haskell was installed"
I cannot install successfully the Haskell plugin. It says it extracts the plugin, then it says that the behaviors are loaded, but I never actually see it in my installed plugins. I installed the language and 2 seconds later I saw in my installed plugins, so there is clearly some error with it.

[2015-06-16 16:02] kenny-evitt commented on #1920
This could be friendlier. Pull requests welcome!

[2015-06-16 16:28] kenny-evitt commented on #1842
Atom/Electron requires the specific version of libc. And it just doesn't seem to work on CentOS versions prior to 7; one issue among several:

 - [atom-shell not available on CentOS? · Issue #1172 · atom/electron](https://github.com/atom/electron/issues/1172)

There seem to be lots of people struggling to build it on CentOS 6.*x*, to no obvious avail.

I don't think I, or anyone else, will be able

[2015-06-16 17:11] bitmonk commented on #1842
Thanks for the info.

[2015-06-17 03:55] Joshfindit commented on #429
For future generations, this one way to accomplish pressing pmeta (command on OSX) + / while text is highlighted in order to toggle highlighting.

    [:editor.active "pmeta-/" :toggle-comment-selection]

(add this line through Light Table by pressing ctrl+space, then choosing "Settings: User keymap")

Is this possibly too much hand-holding for developers; for sure. But I would have appreciated th

[2015-06-17 06:02] rundis commented on #1912
Couldn't reproduce (on mac). Does this happen all the time ? Connected to internal or external browser ?

[2015-06-17 06:05] rundis commented on #1909
not able to reproduce (on Mac), anybody else with Ubuntu that has this problem ?

[2015-06-17 06:22] rundis commented on #1908
I tried to replicate your example, but got the same error in firefox and chrome standalone. Could you provide an example project which works as expected regardless of Light Table ?

So far I haven't seen anything that indicates that this is a Light Table problem, but I'm not ruling out that there might be some compatibilty issues with the inbuild chromium browser that ships with the node webkit ve

[2015-06-17 06:26] rundis commented on #1903
LT is default setup to ignore certain file patterns. You can override this in your user behaviours if you so wish.

[:app :lt.objs.files/file.ignore-pattern "(^\\..*)|\\.class$|target/|svn|cvs|\\.git|\\.pyc|~|\\.swp|\\.jar|.DS_Store|\\.nrepl-port"]

[2015-06-17 06:26] #1903 closed

[2015-06-17 06:32] rundis commented on #1870
Pull requsts are welcome.
You can have a look at:
https://github.com/LightTable/LightTable/blob/20681a35258a95632e4c099d003399b98f5cb4ea/src/lt/objs/search.cljs

[2015-06-17 06:33] MalteFabian commented on #1908
Thanks a lot for looking into this. I will create a small github project for this. Hopefully very soon, but I'm not sure when this will be finished.

[2015-06-17 08:20] MalteFabian commented on #1908
Alright, here is the [link to the repo](https://github.com/MalteFabian/learning-angular2). Some informations can be found in the README.md.

[2015-06-17 09:12] Dadie commented on #1903
So the LT default setup is so that every file or directory that contains the substring ".git" is ignored? Is this really on purpose? I see no reason to ignore every file or directory that contains the substring ".git", so what was the reason for this decision?

I only see two possibilities. The first is that it is on purpose, so why is it on purpose? And the second, that it isn't on purpose and wa

[2015-06-17 13:44] kenny-evitt commented on #1912
@claudionebbia Please post a minimal example of code that exhibits this issue so we can try to reproduce it.

[2015-06-17 13:52] kenny-evitt commented on #1909
I was able to reproduce this on Windows. Weird!

[2015-06-17 14:00] kenny-evitt commented on #1903
@Dadie It's probably a bug. Pull requests welcome!

[2015-06-17 16:00] rundis commented on #1908
Cheers !

Indeed. It must be an issue with node-webkit/chromium shipping with Light Table. I tried running the example with the atom-shell branch of Light Table and it worked fine there.
So I guess you'll have to wait for LT 0.8 to be released, or you could try building LT from the atom-shell branch yourself

[2015-06-18 09:06] MalteFabian commented on #1908
Alright, thanks!

[2015-06-18 18:01] Joshfindit opened #1922 "Markdown syntax highlighting doesn't support 'fenced' code blocks"
When typing in Markdown, the following are valid:
[code]
[code]
[code]

Currently, Light Table will highlight and format all code blocks as plain Markdown.

[2015-06-18 18:18] Joshfindit commented on #1222
If this is an unhelpful observation, feel free to delete or dismiss:

Sublime is hooking in a feature of OSX 10.7+, which manages the "Saved Application State" folder.
The functionality can not be hooked by Light Table as it relies on the OS, but it can be replicated (and seemingly has been with Reminisce / Recall)

[2015-06-18 18:46] kenny-evitt commented on #1922
Light Table uses [CodeMirror](http://codemirror.net/) for this. We're using version 4.7.0; the newest version is 5.3.0. [But even the newest version doesn't seem to support highlighting code blocks.](http://codemirror.net/mode/markdown/)

For regular Markdown you need to indent every line of the code block 4 spaces; this works:

        This is a code block and it's formatted as such in Light Tabl

[2015-06-19 02:03] Joshfindit commented on #1922
Since you're stumped, maybe brainstorming will help.
Granted I'm very much an monkey poking at an interesting thing with a stick, so these suggestions may not even be feasible:

Is it possible to send just the code block to CodeMirror, then fold the result back in to the editor window?

Failing that, would Mixed Mode highlighting be an option?

[2015-06-19 13:19] kenny-evitt commented on #1922
CodeMirror already 'has' the block – it's used for every editor tab in Light Table.

It doesn't seem like CodeMirror has 'mixed mode' highlighting.

[2015-06-19 14:35] #818 closed

[2015-06-19 15:49] Joshfindit opened #1923 "[OS X] Editor window is not properly resized If Light Table is in Full screen, and opens a new window"
Tested on:
OS X 10.10.3
Light Table version 0.7.2
Binary version 0.8.4

Steps to reproduce:
1. Open Light Table
2. Click the OSX Full screen button (green button in the top-left) or use Window > Fullscreen
3. From this fullscreen window, open a new window
4. The new window will be in fullscreen also, but the editor will not have changed size

See screenshot for example
![screenshot 2015-06-19 12 4

[2015-06-20 02:29] kenny-evitt commented on #1038
I'm going to close this, not because it's not a good idea (or two good ideas) – it is (they are) – but because it's not really useful as an open issue.

I'm willing to accept PRs on the *atom-shell* branch for adding comments or other source code documentation.

I'd like to add tests – I just tried to add [clojurescript.test](https://github.com/cemerick/clojurescript.test) – see [this comment](htt

[2015-06-20 02:29] #1038 closed

[2015-06-20 03:00] kenny-evitt commented on #645
Re-open this if this is still unresolved. If you can, please try building and running the *atom-shell* branch and confirm if this issue persists for that code.

[2015-06-20 03:00] #645 closed

[2015-06-20 03:03] kenny-evitt commented on #992
Re-open if this is still unresolved.

[2015-06-20 03:03] #992 closed

[2015-06-20 03:20] kenny-evitt commented on #1068
I'm not having this issue. @derekchiang re-open if you are still.

[2015-06-20 03:20] #1068 closed

[2015-06-20 14:40] kenny-evitt commented on #1729
@Mocuto Can you try building and running the *atom-shell* branch? I'm curious if this is still an issue with Atom/Electron (which replaces node-webkit/NW.js).

[2015-06-20 14:42] kenny-evitt commented on #1750
@wondernet Have you tried building and running the *atom-shell* branch? I'm curious whether this is resolved with that version.

[2015-06-20 14:48] kenny-evitt commented on #1902
@dbrowne For the next release (whenever that is), Light Table will be using Atom/Electron instead of node-webkit/NW.js. Unfortunately, Electron requires version 10.8+ of Mac OS X. I'm going to close this as it doesn't seem feasible to resolve.

[2015-06-20 14:48] #1902 closed

[2015-06-20 14:50] kenny-evitt commented on #1906
I got the *atom-shell* branch build to work for me on Windows and Mac OS X.

[2015-06-20 14:50] #1906 closed

[2015-06-20 19:31] kenny-evitt commented on #263
Re-open if you're still having this issue on the latest version.

[2015-06-20 19:31] #263 closed

[2015-06-20 19:55] kenny-evitt commented on #1826
This seems to be fixed in the *atom-shell* branch.

[2015-06-21 19:30] JKGisMe commented on #1088
I downloaded & installed LT for the first time 2 days ago. Opened a file in it and got distracted. Never did anything else in LT. Today I am working in another app and suddenly my laptop fans start going like crazy. Turns out to be this node-webkit helper. I close light table and it takes about 3 minutes for the process to go away.

I don't think I had any plugins unless there are any that run by

[2015-06-21 19:46] kenny-evitt commented on #1088
@jdf-id-au @JKGisMe If you could, try building and running the *atom-shell* branch version.

[2015-06-22 02:37] kenny-evitt commented on #494
[I think I've got this working.](https://github.com/kenny-evitt/Javascript/tree/add-node-js-parameters)

I've only been running it against a local build of the latest *atom-shell* branch (on a Mac).

To use, add an entry like this to your *user.behaviors* file:

[code]

I used the *hello-world* example from the Koa example apps:

 - [koajs/examples](https://github.com/koajs/examples)

and connecte

[2015-06-22 08:01] wondernet commented on #1750
@kenny-evitt  I didn't tried that.

[2015-06-22 13:15] kenny-evitt commented on #1750
@wondernet If you didn't try that, please do. If you did, please confirm that this issue still applies.

[2015-06-22 22:08] Mocuto commented on #1729
Will do, will edit this comment with update in 2 days.

[2015-06-23 02:30] kenny-evitt commented on #31
Relevant paper describing "RainbowScheme":

 - [Visualizing Evaluation in Scheme](http://www.mis.yuntech.edu.tw/~tungsh/lasc.pdf)

[2015-06-23 15:02] kenny-evitt commented on #31
I added this to the [Feature wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist) wiki page.

[2015-06-23 15:02] #31 closed

[2015-06-23 18:49] kenny-evitt commented on #350
I can't reproduce this running the *atom-shell* branch version on Windows 7.

@rundis Can you reproduce this on Mac OS X?

[2015-06-23 18:51] dosmoc opened #1924 "atom-shell cygwin build breaks when git setting core.autocrlf = false"
Following the directions in doc/developer-install.md for build in atom-shell (assuming lein, node, and npm are working) in cygwin breaks when git config --global core.autocrlf is set to the default. Should this setting the value to true be in the build documents or is it generally understood when building with cygwin that it should be so?

Showing how the build fails:
[code]

This appears to be be

[2015-06-23 19:24] kenny-evitt commented on #1924
Without changing your global `core.autocrlf` setting (or after changing it back to the original setting), would you mind testing whether the *.gitattributes* file I added in #1925 resolves this?

[2015-06-23 20:29] kenny-evitt commented on #497
@robjens I'm willing to look into this further if you can share a minimal project with which you can reproduce it.

Also, if you would, please build and run the *atom-shell* branch version and test connecting to your projects with it.

[2015-06-23 21:35] dosmoc commented on #1924
The addition of the .gitattributes file seems to has resolved the problem. The build completes without any intervention.

[2015-06-24 05:18] dosmoc opened #1926 "atom-shell Linux (Arch) build depends on libgconf-2.so.4"
After a successful build of the atom-shell branch on Arch Linux, attempting to run the LightTable binary results in an error message:

[code]

According to, atom/electron/#1518, libgconf-2.so.4 is a requirement for running on Linux. Was able to run the binary successfully after installing gconf, but it might be nice to mention this somewhere in the docs for the atom-shell branch.

[2015-06-24 05:23] rundis commented on #350
Could not reproduce. Tried both on 0.7.2 and the atom-shell branch using the steps josh outline above.
The major difference between the two was that adding a folder in the atom-shell branch was way faster (0.7.2 freezes LT for up to 10 seconds when I have 10-15 projects in my workspace, atom-shell was responsive almost immediately !)

[2015-06-24 05:59] rundis commented on #1908
Fixed in atom-shell branch.

[2015-06-24 05:59] #1908 closed

[2015-06-24 13:16] kenny-evitt commented on #1924
@dosmoc Thanks!

[2015-06-24 13:16] #1924 closed

[2015-06-24 13:27] kenny-evitt commented on #1926
Done – thanks again!

[2015-06-24 13:27] #1926 closed

[2015-06-24 13:28] kenny-evitt commented on #350
Anyone – re-open this if this is still an issue on the *atom-shell* branch (or any branch once that branch has been merged into *master*).

[2015-06-24 13:28] #350 closed

[2015-06-24 16:08] dosmoc commented on #1909
I can't reproduce this in the atom-shell branch on Arch Linux, nor Windows 7.

[2015-06-24 19:26] kenny-evitt commented on #1909
I couldn't reproduce this just now running the *atom-shell* branch on Windows 7. I think I must have been running the 0.7.2 version before.

[2015-06-24 19:47] dosmoc commented on #1901
Failed to reproduce using *atom-shell* branch on Arch 64bit, using i3-wm 4.10.2-1 or xmonad 01.11.1.

[2015-06-25 01:21] sashton commented on #1901
Failed to reproduce. atom-shell branch, Ubuntu 64bit

[2015-06-25 01:29] sashton commented on #1914
I've been unable to reproduce this on my machine. Although I am using the latest from the atom-shell branch.

[code]

[2015-06-25 01:31] sashton commented on #1909
Can't reproduce:
- Ubuntu 64 bit 13.10
- atom-shell branch

[2015-06-25 02:53] sashton commented on #1856
Do you have posix tools installed? If so you can use dos2unix to do a one-time line-ending swap:
[code]

[2015-06-25 03:17] sashton commented on #1823
Confirmed defect on atom-shell branch.

From my experimentation, it appears to be an issue when destructuring in the function arguments, but it works fine in a let destructuring:
[code]

[2015-06-25 04:06] dosmoc commented on #1884
Was able to cancel evaluation using latest build of the *atom-shell* branch on Arch Linux using both python 2.7.10 and python 3.4.3. Not sure if this is expected when canceling a python eval, but the following exception shows:

[code]

Testing python 3 requires a slight change to the example given, due to print being a function instead of syntax:

[code]

[2015-06-25 13:24] kenny-evitt commented on #1901
@argand-lamp @dosmoc @sashton – thanks!

@MartinBurian – Would you attempt to reproduce this using the *atom-shell* branch?

[2015-06-25 13:26] kenny-evitt commented on #1914
@gsscoder Would you try to reproduce this using the *atom-shell* branch?

[2015-06-25 13:27] kenny-evitt commented on #1909
@carocad This seems like it might be resolved in the *atom-shell* branch version; would you try to reproduce this with that version?

[2015-06-25 13:29] kenny-evitt commented on #1856
@blaggacao I'm not sure what the issue is exactly. Are you asking for a feature in Light Table to convert all of the line endings of (some) files in a directory (or workspace)?

[2015-06-25 13:31] tjg opened #1928 "On Windows & Clojure: "ExceptionInfo: Unsupported escape character: \U""
Hi!

On Windows, somehow I get the system into a state where it keeps showing the same error, whenever you try to type anything: `clojure.lang.ExceptionInfo: Unsupported escape character: \U`

I'm pretty sure it has to do with `[:app :lt.objs.settings/pair-keymap-diffs]`.

**Light Table version:**
- 0.7.2 (Binary version: 0.8.6)

**Platforms:**
- Windows 7. (Can't reproduce on Mac.)

**Config:**
-

[2015-06-25 13:51] kenny-evitt commented on #1856
Some notes:

 - LT will respect the existing line endings in files; I'm unsure how it handles files with mixed EOL characters tho
 - The LT search/find and replace can't (currently) be used to replace EOL characters but this would be ideal.

[2015-06-25 13:54] kenny-evitt commented on #1884
@jzthree Would you try to reproduce this on the *atom-shell* branch?

[2015-06-25 14:02] kenny-evitt commented on #1823
@sashton Thanks for isolating this.

I was also able to reproduce this in *atom-shell* on Windows 7.

[2015-06-25 14:04] gsscoder commented on #1914
@sashton, I think there's no problem in doing it. :+1:

I'll post back here, when done.

[2015-06-25 14:10] kenny-evitt commented on #1928
I can't reproduce this on Windows 7 running either your same version or the *atom-shell* branch version.

[2015-06-25 14:25] tjg commented on #1928
@kenny-evitt Ok, will try to do a clean install. I've seen this on 3 different computers. (Two of which aren't mine, but a learner's.)

[2015-06-26 02:01] sashton commented on #1823
I think I've tracked it down to lein-light-nrepl.

With the following form evaluated in Instarepl:
[code]
The `lighttable.nrepl.sonar/defn++`  macro generates the following:
[code]
I'm guessing the call to `(restructure '[date date new java.util.Date] [date date new java.util.Date])` is the source of the problem. It doesn't look like it handles destructuring correctly.

I'm not sure what the fix i

[2015-06-26 03:27] dosmoc commented on #1883
Reproduced in the *atom-shell* branch, which intended for the 8.0 release. This is probably a problem related specifically to CodeMirror, which LightTable uses for a lot of its editor functionality. I get similar (but not the same) results in this demo:

http://codemirror.net/2/demo/formatting.html

Are the <% %> template tags? CodeMirror does appear to support mixed mode formatting, but it probab

[2015-06-26 06:13] learner010 commented on #453
I have installed libudev1, even tried linking at x86_64-linux-gnu but still not working

[2015-06-26 10:53] MartinBurian commented on #1901
I'll try to. I'm unfortunatelly leaving for two weeks, so I'll try to in
two weeks or so.

čt 25. 6. 2015 v 15:24 odesílatel kenny-evitt <notifications@github.com>
napsal:

[2015-06-26 13:15] kenny-evitt commented on #1823
@sashton Thanks for looking into this.

[2015-06-26 13:22] kenny-evitt commented on #453
@jagledy @learner010 Are you seeing the exact same error message as the creator of this issue? Would you both trying building and running the *atom-shell* branch and confirming whether this is still an issue for that version?

[2015-06-26 14:14] BenjaminVanRyseghem opened #1929 "[atom-shell] `script/light.sh` doest not work if there is a space in the path on OSX"
I bump into this today.

Here is a bit of context:

[code]

[code]

[2015-06-26 15:18] dosmoc commented on #1165
I ran across this issue using the *atom-shell* branch on Windows 7; behaves as described in the original ticket. It can be reproduced with only one new file:

1. Open LightTable
2. ctrl-n to open a new file
3. Move the new file to a second tabset
4. Move the new file to a third tabset

At this point you get two tabsets 1/3 of the screen width, with an empty gray space:
![tabset_bug](https://cloud.

[2015-06-26 15:25] dosmoc commented on #1165
Interesting. There are two empty tabsets where the gray area is. If you move a file into the empty tabset, you can run the Remove active tabset command to remove it, and the tabsets return to what you might expect to see in terms of space. I think it behaves as intended, except there isn't any real visual indication that you have an open tabset so it can be a little confusing. Maybe a visual indic

[2015-06-26 15:31] dosmoc commented on #1165
After re-reading the original comment, it seems it's about about open tabsets not recovering space after tabsets are closed. If that's correct, I've actually failed to reproduce the problem, but at least I've finally watched the video about tabsets.

[2015-06-26 17:09] timmc commented on #1504
Dup of #972, which has more info.

[2015-06-26 18:39] kenny-evitt commented on #1929
@BenjaminVanRyseghem – thanks!

[2015-06-26 18:39] #1929 closed