[2015-12-06 20:36] cldwalker opened #2061 "Expanding public API and documentation to plugin authors"
Currently, 7 namespaces are documented but there are 50+ namespaces. We should consider what other fns and namespaces to expose to plugin authors. @rundis Could you look into this? No rush but you are the expert plugin author :)

[2015-12-06 20:39] cldwalker opened #2062 "Improve styling of API docs"
@rundis [pointed out that codeina](https://github.com/LightTable/LightTable/pull/2059#issuecomment-162336445) has nicer styling. We should lean towards making a PR to codox with styling changes from codeina as we agree codox is the longer term library for cljs docs. Someone from core team should do this

[2015-12-06 21:35] kenny-evitt opened #2064 "Release 0.8.0"
- [x] Version updates
    - [x] Update deploy/core/package.json, deploy/core/version.json and project.clj to 0.X.X
    - [x] Make sure electron version is up to date in version.json
    - [x] Make sure plugin versions in script/build-app.sh are latest versions
 - [x] Add changelog for release to CHANGELOG.md
 - [x] Each core developer should QA at least one OS using the [QA checklist](https://gith

[2015-12-06 22:28] kenny-evitt commented on #533
One thing I noticed about Butterfly, tho I didn't spend any real amount of time investigating it, is that the browser tab in LT pointing at Butterfly seemed to refresh automatically and lose my history. I'm not sure if there's a quick-fix for that or that's part of why the shell-in-a-tab feature needs to be more tightly bound to LT.

[2015-12-06 22:53] kenny-evitt commented on #1106
I keep wishing for this, but it's pretty low on the priority totem pole now, so I added it to [the feature wishlist wiki page](https://github.com/LightTable/LightTable/wiki/Feature-wishlist).

[2015-12-06 23:15] kenny-evitt commented on #548
I created LightTable/Python#36 to track this in the repo for the Python plugin.

Please note that none of the current members of the core team, nor any frequent contributors, are using Python and we *really* need someone to step up and support Python features for them to remain (or become) viable for lots of users.

[2015-12-06 23:15] #548 closed

[2015-12-06 23:31] kenny-evitt commented on #566
I created LightTable/Vim#63 for this under the repo for the Vim plugin.

[2015-12-06 23:31] #566 closed

[2015-12-06 23:31] kenny-evitt commented on #586
Anyone – comment if this is still a problem.

[2015-12-06 23:31] #586 closed

[2015-12-06 23:35] kenny-evitt commented on #666
Anyone – comment if you're still interested in this; especially if you're willing to work on it.

[2015-12-06 23:35] #666 closed

[2015-12-06 23:41] kenny-evitt commented on #712
I created LightTable/Python#37 for this in the repo for the Python plugin.

Note that we *really* need someone to commit to maintaining the Python plugin as none of the current members of the core team, nor any frequent contributors, are using Python.

[2015-12-06 23:41] #712 closed

[2015-12-06 23:44] kenny-evitt commented on #744
@cldwalker Should this be moved to the Clojure plugin or the Paredit plugin? Or somewhere else? The feature wishlist?

[2015-12-06 23:55] kenny-evitt commented on #760
I created LightTable/Python#38 for this in the Python plugin repo.

Note that we really need someone to step up and handle Python support as neither none of the members of the core team or any frequent contributors use Python.

[2015-12-06 23:55] #760 closed

[2015-12-07 00:24] cldwalker commented on #744
@kenny-evitt Clojure plugin would be good. Thanks!

[2015-12-07 00:27] kenny-evitt commented on #764
I wasn't able to reproduce this just now on a Windows 7 computer running a earlier-today source version.

[2015-12-07 00:29] kenny-evitt commented on #790
Someone – please download the most recent version of LT and try to reproduce this.

[2015-12-07 00:32] kenny-evitt commented on #813
This is already in [the Feature wishlist wiki page](https://github.com/LightTable/LightTable/wiki/Feature-wishlist). If someone is interested in working on this, create a separate repo for the code – which should be an LT plugin.

[2015-12-07 00:32] #813 closed

[2015-12-07 00:55] kenny-evitt commented on #744
I created LightTable/Clojure#60 for this in the Clojure plugin repo.

[2015-12-07 14:40] kenny-evitt commented on #744
@chrisfjones [Magnus's plugin Parembrace](https://github.com/rundis/parembrace) does this; see [*Misc commands* in the plugin's README](https://github.com/rundis/parembrace#56-misc-commands).

[2015-12-07 15:16] muhuk opened #2065 "GitHub responded with a status of 403"
I see this error in my console:

    Failed to load resource: the server responded with a status of 403 (Forbidden): https://api.github.com/repos/LightTable/LightTable/tags

There is also a javascript stacktrace and it is repeating itself.

Lighttable version 0.8.0-alpha, Binary version 0.31.1.

[2015-12-07 16:42] raoulmillais commented on #1729
I've just built #2052 on Linux

[code]
This build of Lighttable looks great on my HiDPI monitor.

![screenshot from 2015-12-07 16-37-17](https://cloud.githubusercontent.com/assets/302663/11633039/60c9fc6c-9d01-11e5-9101-f82162f8fa5f.png)

[2015-12-07 18:18] kenny-evitt commented on #2007
@rekrabm The latest source version might resolve this. I should be able to reproduce this – potentially at least – but it sure seems like a likely problem with Electron, the app framework we're using, and thus trickier to troubleshoot.

You should be able to build the latest source – just clone the repo and run *script/build.sh* from a *Terminal* window.

[2015-12-07 18:19] kenny-evitt commented on #2007
@cldwalker @rundis Can either of you reproduce this?

[2015-12-07 18:23] kenny-evitt commented on #2044
@tvanden You can also try just running a build of the latest source version. We just upgraded the version of Electron and, given that you commented earlier that you weren't having this problem with Atom (which also uses Electron), this might be resolved now.

[2015-12-07 18:52] kenny-evitt commented on #1729
@raoulmillais Thanks for the update!

@crquan I suspect this should be fixed for you in the latest source version. We're going to be releasing 0.8.0 (sans alpha designation) soon and it will include the changes in the current source version.

[2015-12-07 19:29] crquan commented on #1729
great! will have a test; while is 0.8.0-alpha already release? I'd usually download a `-linux.tar.gz` version
https://github.com/LightTable/LightTable/releases

[2015-12-07 19:59] rundis opened #2066 "Ubuntu: View workspace from menu gives exception after opening and closing a second window on"
* Open a new window
* Close the window again
* select menu item view->workspace

[code]

[2015-12-07 20:00] rundis commented on #2066
applies to other menu items like navigator etc too.

[2015-12-07 20:37] kenny-evitt commented on #1729
@crquan The 0.8.0-alpha release doesn't have the new changes I'd like you to test.

Clone the repo onto your computer and run *script/build.sh*. Then run *builds/lighttable-0.8.0-linux/lighttable*.

[2015-12-07 20:39] rundis commented on #2007
@kenny-evitt Nope. I only have one additional display to play with at work. But it works pretty much as I'd expect as far as I can remember.

[2015-12-07 21:08] rundis commented on #2066
duplicate of #2017

[2015-12-07 21:08] #2066 closed

[2015-12-07 22:17] kenny-evitt commented on #2065
@muhuk Would you do some digging and check whether you might have exceeded [the GitHub API rate limits](https://developer.github.com/v3/#rate-limiting)? You should be able to run `curl -i https://api.github.com/repos/LightTable/LightTable/tags` and see rate limit info in special headers.

[2015-12-07 22:44] kenny-evitt opened #2067 "Opening a file from Windows Explorer, for a type associated with LT, opens a new LT window"
I observed this just now on a Windows 7 computer running the latest source version.

This is contrary to [the current QA checklist](https://github.com/LightTable/LightTable/wiki/QA-Checklist) item "Open file from window manager when LightTable is already open should open in existing LightTable".

[2015-12-07 22:47] kenny-evitt commented on #2064
Besides the Emacs plugin, the latest source version looks good on Windows 7.

[2015-12-08 00:03] cldwalker commented on #2064
@kenny-evitt Could you elaborate what's wrong with Emacs on Windows? Anything that's blocking?

[2015-12-08 02:06] kenny-evitt commented on #2064
@cldwalker Sorry for not being clear. Nothing's wrong with Emacs on Windows, AFAIK – I just didn't test it.

[2015-12-08 02:07] kenny-evitt commented on #2064
@cldwalker @rundis #2067 is the only issue I ran into QA-ing on Windows. I don't think it should hold up the release.

[2015-12-08 05:22] cldwalker commented on #2064
QA passed fine for osx. Unlike the last release, we will need to add a changelog to this release before the freeze on master as the user can see the changelog from `Light Table version` command. Adding a PR for it soon

[2015-12-08 06:18] cldwalker commented on #2064
I've created a new draft with the changelog filled in. Once the changelog #2068 PR is in, we can each upload our OS build to it.

Do we want to plan on meeting up wednesday or thursday evening EST? I can get off work 5pm EST which would be 11pm @rundis time. Should take 30m. @rundis if it's too late for you I'm open to other times but it may be hard to coordinate with 9am-5pm EST filled up with wo

[2015-12-08 06:41] cldwalker commented on #2062
@rundis I reached out to codox and codeina maintainers, https://github.com/weavejester/codox/issues/109 and https://github.com/funcool/codeina/issues/5. codox doesn't want it in their repository but would promote the theme in the README if we made it a clojar. I don't think codeina is interested in being a codox theme as they have configuration functionality we don't care about e.g. :src-uri-prefi

[2015-12-08 07:10] muhuk commented on #2065
@kenny-evitt that's what I've seen when I visited the URL yesterday. Now I can see a list of tags.

    wget -S https://api.github.com/repos/LightTable/LightTable/tags
      ....
      X-RateLimit-Limit: 60
      X-RateLimit-Remaining: 57
      X-RateLimit-Reset: 1449561436

I only had LT open and wasn't using `api.github.com`. Does it check tags every minute?

[2015-12-08 13:46] kenny-evitt commented on #2064
Either Wednesday or Thursday is fine. But if 5p EDT is too late for you @rundis, maybe @cldwalker can take some time during lunch, say 1p EDT – so 7p your time.

[2015-12-08 14:31] rundis commented on #2064
@cldwalker @kenny-evitt  5pm EST wednesday or thursday is fine by me.

[2015-12-08 14:41] wbridewell commented on #1402
This bug is still visible in Light Table 0.8.0 running on Mac OS X. You see the same error message for

(clojure.core/make-array Double/TYPE 3)

for any type and for any dimensions.

[2015-12-08 18:11] cldwalker commented on #2064
I'm leaning toward 5pm EST Thursday. @kenny-evitt Work for you?

[2015-12-09 01:43] kenny-evitt commented on #2064
5p EST on Thursday works for me.

[2015-12-09 07:35] rundis commented on #2026
I'm getting a very similar exception quite often on my mac. I think I've tracked it down to LT eagerly checking for a new version. And when doing a xhr request to the lighttable github repo it fails for some reason (missing/sketchy connection might be one).

I think some error handling around here would be in order:
https://github.com/LightTable/LightTable/blob/master/src/lt/objs/deploy.cljs#L134

[2015-12-09 12:43] salmazov commented on #2064
Why have you choose Electron instead of NW.js?

[2015-12-09 15:43] kenny-evitt commented on #2026
That's similar to (or the same as?) the errors I still get accessing some of the GitHub-hosted LT subdomains on my (Windows 7) computer at work – the DNS lookup fails for some reason I couldn't figure out. I don't think anyone else had the same problem so I gave up looking into it.

[2015-12-09 15:48] kenny-evitt commented on #2064
@salmazov [I answered your question the first time you asked it.](https://github.com/LightTable/LightTable/pull/2068#issuecomment-162858250)

[2015-12-10 18:18] dkharlan commented on #1965
I have the same issue with a clean install (downloaded via lighttable.com, looks like the current version is lighttable-0.8.0-alpha-mac) on Mac OS X El Capitan:

[code]

[2015-12-10 19:44] tvanden commented on #2044
@kenny-evitt Hey, I tried to install from source. Everything went smoothly, no errors. Other than a couple missing dependencies I had to get. However, it won't start. When I launch it, it opens up the window, shows the Light Table logo, and thats it. It never loads past there. There is no menu that loads, and it freezes. Can't close it. Any idea? Would I have to uninstall the packaged version befo

[2015-12-10 19:49] kenny-evitt commented on #2044
@tvanden If you would, add a comment with the missing dependencies so we can update the developer guide.

As for the source build, how are you running it? I'd suggest just running the executable directly. It should be under *builds/lighttable-0.8.0-linux* and named *LightTable*.

[2015-12-10 20:03] tvanden commented on #2044
@kenny-evitt I meant for dependencies npm. You already have listed. I was just being dumb and tried to install it first.

That is how I was trying to run the source build.

[2015-12-10 20:19] rundis commented on #1965
@dkharlan  Would you mind trying to remove (mv to a bck folder) the Light Table settings folder
should be in ~/Library/Application\ Support/LightTable. Maybe there is something in your settings/behaviors/plugins etc that is causing the problem.

[2015-12-10 23:13] cldwalker commented on #2064
Creating a github version of this screenshot so we don't have to rely on dropbox: <img width="413" alt="screenshot 2015-10-10 11 23 21" src="https://cloud.githubusercontent.com/assets/11994/11731454/85181e90-9f69-11e5-9c65-f6aa4228005c.png">

[2015-12-10 23:58] cldwalker commented on #2064
Done! :tada:

[2015-12-10 23:58] #2064 closed

[2015-12-11 00:01] rundis commented on #2064
:+1:

[2015-12-11 00:23] cldwalker commented on #1635
Fix available with 0.8.0 release

[2015-12-11 00:23] #1635 closed

[2015-12-11 00:23] cldwalker commented on #1936
Done! :tada:

[2015-12-11 00:23] #1936 closed

[2015-12-11 00:31] kenny-evitt commented on #2064
Yay :fireworks:

[2015-12-11 14:35] dkharlan commented on #1965
I tried that and still get the same error.

[2015-12-11 16:51] kenny-evitt commented on #2044
@tvanden Okay. But after you build source, how (exactly) are you running the source-build Light Table executable?

[2015-12-11 20:56] tvanden commented on #2044
I've tried both opening the builds folder in nautilus and double clicking
the LightTable Executable. also, In terminal, cd builds. cd
lighttable-0.8.0 then ./LightTable

On Fri, Dec 11, 2015 at 9:52 AM kenny-evitt <notifications@github.com>
wrote:

[2015-12-12 01:27] kenny-evitt commented on #2044
@tvanden If you run it in a Terminal window do you see anything logged or output there when you run LT?

Are you running Ubuntu 14.04 too?

[2015-12-12 04:05] tvanden commented on #2044
No there is zero output. I am running Ubuntu 14.04 yes

[2015-12-12 21:53] mikebelanger commented on #662
+1 to this.  For reference, Atom does this via the "Split Down"/"Split Up" functions.  Personally, I think Lighttable could just have one "Split Horizontal" command.

[2015-12-13 05:04] kenny-evitt commented on #1994
I just installed Windows 10 on a new computer and LT doesn't open slowly.

@akash-vartak We just release 0.8.0. If you're still interested in fixing this, please download the new version and confirm whether you're still having this problem with that version.

[2015-12-13 05:07] kenny-evitt commented on #2041
I'm closing this because we haven't been able to reproduce it. We will re-open if anyone can provide more info.

[2015-12-13 05:07] #2041 closed

[2015-12-13 14:15] akash-vartak commented on #1994
Sure, I'll try that,
<h1>Thanks a ton!!</h1>

[2015-12-13 14:16] akash-vartak commented on #1994
I'll close the thread once I try out the new version :)

[2015-12-13 15:21] kenny-evitt commented on #2065
[It looks like it's running every five minutes](https://github.com/LightTable/LightTable/blob/683785fdf571d32e86aa9fd7e6e98204243207b3/src/lt/objs/deploy.cljs#L188-L198):

[code]

The `every` function accepts a timeout in milliseconds [and](https://github.com/LightTable/LightTable/blob/683785fdf571d32e86aa9fd7e6e98204243207b3/src/lt/objs/deploy.cljs#L50):

[code]

Even tho that should only result

[2015-12-13 15:37] rundis commented on #2065
@kenny-evitt Until we start releasing way more regularly, I think the frequency can be decreased significantly, maybe every hour... or even less frequent /configurable whether you want it at all.
You still have the "check for updates" button on the about page.

[2015-12-13 16:14] cldwalker commented on #2065
@kenny-evitt @rundis Decreasing the check to every hour sounds reasonable. Disabling the update behavior should be achievable by subtracting `:check-version`

[2015-12-13 18:14] NoWayHoze opened #2074 "Recal plugin does not work with lt 0.8 worked wiht 0.7"
not happy here.

[2015-12-13 18:50] muhuk commented on #2065
I'm the only one on this IP. But if it checks every hour and I still have this sort of problem that would definitely mean something else is using the API too. (I am not running anything that would though.)

Should we close this now?

[2015-12-13 18:50] cldwalker commented on #2074
This plugin isn't a part of LT. Please open your issue with the [Recall plugin](https://github.com/joshuafcole/recall/issues). Giving specifics to the author would be helpful. I use [Reminisce](https://github.com/JuliaIDE/Reminisce) which is known to work with 0.8.0

[2015-12-13 18:50] #2074 closed

[2015-12-13 21:01] mikebelanger commented on #1164
@mrcslws @cldwalker Thanks, was stumped on that -- I should read the readme next time.

[2015-12-13 23:31] kenny-evitt commented on #2065
@muhuk Yeah; close this for now. You can disable the new-version check for now. Or you can build from source now and it should only check once an hour. If anyone else has this problem, we can consider other workarounds or fixes.

[2015-12-14 07:08] #2065 closed

[2015-12-14 07:08] muhuk commented on #2065
Thanks for the fix!

[2015-12-14 15:13] dkharlan commented on #1965
Apologies, this might have been user error -- when I try "Instrarepl: Open a clojure instarepl" it works fine.  The issue is when I try "Instarepl: Make current edtior an instarepl"

[2015-12-14 19:08] rundis commented on #2062
Given this some though. The easy route to me would be to make one/a few pull requests to codeina.
However that wouldn't help codox much, so given that is what we agreed your suggestions sounds like a practical solution without to much hazzle. Was't even aware of the writer plugin-point for codox... cool.

[2015-12-14 19:57] rundis commented on #2061
I'll keep this a running/open comment... it's going to take some time.
I've decided to start off with grouping by topic. There will be duplicates across topics !

### Language plugins
When writing a language plugin, these namespaces are probably very useful to document.
**Pri 1**
- lt.objs.clients
- lt.objs.clients.tcp
- lt.objs.proc
- lt.objs.sidebar.clients
- lt.objs.eval

**Pri 2**
- lt.objs.po

[2015-12-15 00:05] kenny-evitt commented on #2044
@tvanden Would you post a screenshot?

[2015-12-15 18:28] robjens opened #2077 "Running Node.js app ES6"
Using local node `4.2.2`, file over sshfs (mounted directory).
At behaviors, mostly, I've tried combinations of:

[code]

Without it, it complains about a `let foo = 1, bar = 2` Block declaration not being allowed outside `strict mode`, however, I have it defined at top of the file, and also tried wrapping it in a IIFE (`(() => { ...} ())`) with its own `use strict` but won't work either. When I u

[2015-12-15 21:42] tvanden commented on #2044
![ltscreenshot](https://cloud.githubusercontent.com/assets/7208221/11824992/ed963186-a339-11e5-8d00-dc1fe92ed401.png)

@kenny-evitt
Here is a Screenshot of when I try to run it. It never gets beyond that point. Never shows any output or anything.

[2015-12-15 21:57] shumtravi opened #2078 "Different and strange font style on osx"
In hyperlinks of LightTable welcome screen and plugin manager have strange font style.

![2015-12-16 0 53 06](https://cloud.githubusercontent.com/assets/7275025/11825401/dc45d610-a38f-11e5-8e9e-cd5cfe0a584e.png)

![2015-12-16 0 47 48](https://cloud.githubusercontent.com/assets/7275025/11825244/fcd5a9e2-a38e-11e5-8d00-02eb73f2111d.png)

[2015-12-16 00:57] kenny-evitt commented on #2077
@robjens Nothing seems obviously wrong but I don't use Node.js for any projects currently anyways.

What version of LT are you running? What OS and version is your computer running? What steps can I take to reproduce? Would you share code I can use to reproduce this?

[2015-12-16 01:23] kenny-evitt commented on #2078
I noticed the same thing.

[2015-12-16 06:43] shumtravi commented on #2078
I think it's Electron bug on osx. On Windows version fonts looks great, but in osx version of LT fonts in interface affected in some places and in editor too. Also editor font family changes from default monotype LT font to *Courier* or *Courier New* with very small size. And i need redefine that settings in *user-behavior*.

[2015-12-16 14:12] kenny-evitt commented on #2005
This seems to be fixed now in 0.8.0 (the non-alpha 0.8.0).

[2015-12-16 14:12] #2005 closed

[2015-12-16 20:11] tvanden commented on #2044
@kenny-evitt
I think this may be fixed?
I had to do a fresh install of ubuntu on an older laptop today, and I installed lighttable on it. And there was no issues with the right click menu. Looks like binary version 0.34.5 may have fixed this issue? I tested it out on my desktop as well, and sure enough on Nouveau driver version 0.31.1 I got the black blocks, but as soon as I downloaded the new fil

[2015-12-16 20:21] tvanden commented on #2038
@kenny-evitt
Not sure what monitor/display configuration it is? Or how to check that. it is a default ubuntu 14.04 install. Just using the display manager they provide.

[2015-12-17 16:21] cldwalker commented on #2044
@tvanden Glad to hear the Electron upgrade fixed your Nouveau driver issues. Closing since there's nothing else to be done but use lighttable 0.8.0

[2015-12-17 16:21] #2044 closed

[2015-12-17 19:18] carocad commented on #2038
Hello,
I can confirm that I'm also having this issue. My configuration is exactly that of of @tvanden:
Ubuntu 14.04
Lighttable 0.8.0-alpha
Binary version: 0.31.1

And as he mentioned it also happens only if I plug-in a secondary screen. If there is only one screen then the resizing happens without a problem. Also this behavior is new, as with the 0.7.x version that I had before this was never an i

[2015-12-18 09:58] Trapets commented on #2038
Windows 7 Pro 64bit, LightTable v 0.8.0, single monitor. LightTable starts fullscreen mode (workspace tree open), opening 2 or more tabsets. After going to windowed-resized mode and by changing the size of the tabset the tabset-border jumps always to left or the tabsets are merged together.
Same behavior on Manjaro linux KDE, LightTable 0.8.0-alpha, single monitor.

[2015-12-18 10:36] MadPitman commented on #1568
The bug is reproduced.

[code]

Light Table version
0.8.0
Binary version
0.34.5

[2015-12-18 14:14] kenny-evitt commented on #1568
@MadPitman It's not just the InstaREPL – see #2029, where this is being tracked.

[2015-12-19 16:17] justintaft opened #2079 "Light table stuck on logo"
When booting up, "Light Table" was displayed,  and then got stuck.

After opening the developer tools, an error saying bootstrap.js was not found. I had to run "lein clsjbuild" to get this file to build manually.

Running script/build.sh did not fix this...

[2015-12-19 16:26] cldwalker opened #2080 "Remove metrics endpoint or replace metrics endpoint with GA trackers"
As Chris mentioned, the [metrics endpoint](https://github.com/LightTable/LightTable/blob/3f1b10669af7a97785e358637e27c2aab64d07fd/src/lt/objs/metrics.cljs#L12) is no longer working. We should decide if we want to keep it and if so how we can use an existing service like GA to track individual metrics we are tracking: [keyboard](https://github.com/LightTable/LightTable/blob/3f1b10669af7a97785e35863

[2015-12-19 21:24] muhuk opened #2081 "0.8.0-alpha doesn't update to 0.8.0"
I have `0.8.0-alpha` installed and it didn't update to `0.8.0`. Automated checking is not disable in `user.behaviors` and when I click "Check for updates` button on a `Version` tab, it says:

    At latest version: 0.8.0-alpha

It should upgrade automatically, right? Do I need to download and unpack it again?

I am running Debian Stretch 64 bit.

[2015-12-20 21:48] robjens commented on #2077
@kenny-evitt

Should be quite simple to reproduce. I'm using ArchLinux (stock kernel 4.2.5-1), LT is latest 0.8. I cleared the Javascript plugin in `~/.config/Lighttable/plugins/Javascript` and git cloned the latest of that too. LT is pretty much pristine, as last time update didn't really work for me, I did a manual download from the website. I cleared my `~/.config/LightTable/Cache` to be sure i

[2015-12-20 22:18] robjens commented on #2077
Oh now that's odd. I completely removed LT to try a development build, everything is fine but running lighttable (either command line executable or as desktop app) fails to get beyond the splash screen. None of the keys work nor do I see the top menu bar so I can't open a dev-tools window (F12 doesn't work anymore). I have to use a SIGINT to kill the process. I need to correct one thing, not `4.2.

[2015-12-20 22:25] robjens commented on #2077
ok so the prebuilt download at least surpasses the splash window, running that as normal user I get
`ln: failed to create symbolic link ‘/opt/LightTable/libudev.so.0’: Permission denied` which is ok, so I escalated  `sudo /opt/LightTable/light` and no warning. Now I close it, and then try to run it again as normal user `ln: cannot remove ‘/opt/LightTable/libudev.so.0’: Permission denied`

This is

[2015-12-20 23:01] robjens commented on #2077
I see the 'stuck on logo' has a ticket already. Using the newly downloaded, prebuilt LT I can at least run Javascript files again. Node itself is borked though (first hit)

![image](https://cloud.githubusercontent.com/assets/11848802/11920648/5032b878-a76d-11e5-8540-775d8e2c6418.png)

The second one, I actually evalled earlier, which tells me although node 4.2.3 accepts `let` the way it is, the sc

[2015-12-20 23:01] #2077 closed

[2015-12-21 13:39] TeachMeFly commented on #2003
Hi everyone. This problem can be solved by using codemirror addon, that allready exist in lighttable package, just add this to user.behaviors to apply this addon:

     ;; Normal breackets autoclose
     [:app :lt.objs.editor/load-addon ["edit/closebrackets.js"]]
     [:editor :lt.objs.editor/set-codemirror-flags {:autoCloseBrackets true}]

And you may disable lighttable autoclose plugin
      [:e

[2015-12-21 14:47] jipen opened #2082 "seesaw and language docs"
Hello,

My OS is : Windows 7 32 bits.
I use:
- Clojure 1.7.0
- [Seesaw 1.4.5](https://github.com/daveray/seesaw)
- Leiningen 2.5.3
- Java JDK 1.8.0_66

I can't find the doc for Seesaw keywords when I simply connect to my Clojure project (connect Clojure client and choosing the project.clj file):
When I try for instance to find "invoke-later" in the Language doc window, I obtain:
"Found 0 doc resul

[2015-12-21 16:04] jipen commented on #2082
Just to add a precision:
I'm able to find docs for Clojure keyword (such as "sort") in both cases: connect clojure client via project.clj or connection by evaluating the core.clj.

[2015-12-21 16:33] kenny-evitt commented on #2003
@TeachMeFly – interesting! That would be great if this is a fully general solution.

[2015-12-21 21:58] Armaklan commented on #2003
Work fine on linux and windows with Azerty keyboard (french).
Thx ! :)

[2015-12-22 03:41] kenny-evitt commented on #2079
Were you running a source build? If so, I think there was a recent change that made the `lein cljsbuild` necessary.

[2015-12-22 03:46] kenny-evitt commented on #2038
Everyone, please download the (non-alpha) 0.8.0 release version and confirm whether you can reproduce this with that version. We upgraded the main framework LT uses – Electron – and the new version fixed other graphics issues.

[2015-12-22 07:12] tvanden commented on #2038
@kenny-evitt
Hey, sorry to disappoint. on version 0.8.0 binary 0.34.5 I am still having this issue. On my primary screen (farthest left, if anyone else is noticing that)  everything seems to be working fine. My two other monitors to the right of it still collapse on resize.

[2015-12-22 10:11] Jelliee opened #2083 "Browse commands by categories"
Hi when I open the commands it seems to open all of them in a big list. I can type words in to search for commands, but I would like to brose the command based on category like you would in a normal program's drop down menu.

[2015-12-22 14:23] kenny-evitt commented on #2038
@tvanden Thanks for testing.

[2015-12-22 21:49] kenny-evitt commented on #2083
@Jelliee This is a neat idea. I added it to [the feature wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist#general).

[2015-12-22 21:49] #2083 closed

[2015-12-23 02:20] carocad commented on #2038
I can also confirm that the bug is still present on the 0.8.0 version.

[2015-12-23 05:48] strangeattr opened #2084 "XFCE TopMenu doesn't work with LightTable"
TopMenu is an XFCE extension that offers functionality equivalent to Ubuntu Unity and Mac OS X displaying the active application menu bar at the top (or any else actually, this is configurable) edge of the screen rather than at the top edge of the application window. All (all I have seen) modern applications built with up-to-date versions of the GTK+ toolkit seem to be compatible with it OOTB, som

[2015-12-23 12:57] saulshanabrook commented on #2026
I have the same problem. Just downloaded Light Table and opened it in El Capitan.

[2015-12-23 12:58] saulshanabrook commented on #2026
I realized this only happened when I used the `table` CLI command to open the app. If I open it normally, it works fine.

[2015-12-24 04:54] justintaft commented on #2079
Ah, this still occurs.

https://github.com/LightTable/LightTable/blob/master/script/build.sh#L34

If file doesn't exist, rm error code is ```1``` so lein cljsbuild will never run

[2015-12-26 21:14] clojens commented on #1671
Ok so this hasn't really happened at all anymore, and I've been using LT quite intensively lately. Since no one else confirmed this symptom and since I no longer experience it either, I'm going to close this.

[2015-12-26 21:14] #1671 closed

[2015-12-26 21:28] kenny-evitt commented on #1671
@clojens Thanks!

[2015-12-26 21:31] robjens opened #2085 "Remote nrepl hijacks the instant evaluation"
Since I couldn't find anything about it in any tickets, and found out myself rather 'late' (I've been using LT ever since 0.3 or so I think, quite frequently - that is hours per day for the past year and more) probably since I initially didn't use nrepl so much, but anyway. You do realize that using nrepl basically limits the editor to 1 single project use at that time, when it concerns instant ev

[2015-12-28 15:38] huiwang commented on #1984
I'm behind a proxy and i confirm that it doesn't work neither with the latest version 0.8.0.

You can mark me as the tester.

[2015-12-29 06:50] ayzakh opened #2087 "eval-on-save"
LT version: `0.8.0`
binary version: `0.34.5`

**"ctrl" + "enter"**
---

live-reload works but returns :point_down:
[code]

[2015-12-29 08:49] smotti commented on #226
Issue still exists with 0.8.0 for solarized-light.

[2015-12-29 19:31] snopboy commented on #57
PHP +1

[2015-12-29 20:34] rundis commented on #57
rather than +1'ing this issue with php... how about contributing to this plugin instead ?
https://github.com/thierrymarianne/LightTable-PHP

[2015-12-29 21:38] snopboy commented on #57
@rundis I wish I could. The only language I know (beside markup/cascading) is PHP and even in that I'm a beginner, can't really see how I could contribute considering my 'skill set' and experience in programming.

I came across Light Table by accident and really thought it will be useful to have PHP support, without it I personally wont be able to use it because PHP is the only language I know, al

[2015-12-29 21:57] rundis commented on #57
@snopboy Fair enough. The plugin I mentioned provides a little php support (eval of simple statements).
The Light Table distribution will likely never ship with any php support (bar syntax highlighting). So php support will have to come from the community through a plugin(s). I would suggest you raise issues with the plugin I linked to in my last reply if you have feature requests, ideas in terms

[2015-12-30 00:37] ludbek opened #2088 "Cannot toggle commands panel with 'Ctrl+space' in linux"
I cannot toggle commands panel with 'Ctrl+space' in linux. I am using Mint.

[2015-12-30 08:08] rundis commented on #2088
Not working as in nothing happening I suppose ?

Have you checked that it is Light Table who's to blame ? Perhaps this shortcut is already bound at "os" level (like in this case http://stackoverflow.com/questions/32393497/how-to-fix-ctrl-space-shortcut-for-my-ide-using-linux-mint).

[2015-12-30 19:38] 39bit opened #2089 "Allow changing character encoding"
Similar to how other editors such as Notepad++, Light Table should allow changing the encoding of the file open at the moment, and conversion between them. If possible, the default encoding could also be set for all files or per-extension (or even per-language).

Some good encodings to support would be at least UTF-8 (this is probably the current global encoding), UTF-8 + BOM, ASCII, WIndows-1252,

[2015-12-31 01:54] kenny-evitt commented on #2089
We're open to accepting pull requests with any core changes required, but this would be best implemented as a plugin.

This is already on [the feature wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist). See #2013 for an earlier issue for the same request too.

[2015-12-31 01:54] #2089 closed

[2015-12-31 20:59] cldwalker commented on #2084
Hi. LightTable doesn't have any opinions baked into supporting programs like XCFE or TopMenu. For any menu functionality we rely on [electron](https://github.com/atom/electron). I'd recommend learning about electron and investigating if they support XCFE TopMenu. If they don't, this is isn't something we provide by default

[2015-12-31 20:59] #2084 closed

[2015-12-31 21:05] cldwalker commented on #2087
Hi. I'm not sure what is meant by a live-reload. Were you doing a ctrl-space eval or saving this file when the error occurred? Could you provide the file that this error occurred on? Without reproducible steps we can't fix this

[2015-12-31 21:18] cldwalker commented on #2081
Sorry for the delay. Correctly detecting x.x.x is an update from x.x.x-alpha is a known issue. It's not a high priority since it doesn't happen often but something we'll probably want to fix for 0.9.0-alpha to 0.9.0.

As for 0.8.0 upgrade, you will need to unpack it again because there is a new Electron binary. If there isn't a new Electron version then unpacking it isn't necessary.

[2015-12-31 21:20] cldwalker commented on #2079
This has been fixed with https://github.com/LightTable/LightTable/commit/b3b7797c1a4c000993574b577c76361092f6f549

[2015-12-31 21:20] #2079 closed

[2015-12-31 21:29] cldwalker commented on #1956
It seems we'll need to preserve the bencode.js tweak, https://github.com/LightTable/LightTable/commit/d951744c5832e444d782f777f001d8377a07cab0?diff=split#diff-8c4ea801ee96367cd1663a7d20843875. Without it, if I kick off a plugin clojurescript rebuild by saving nrepl.cljs, LightTable freezes

[2016-01-01 00:09] cldwalker commented on #163
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/1 as the instarepl is its own plugin

[2016-01-01 00:09] #163 closed

[2016-01-01 00:11] cldwalker commented on #282
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/2 as the instarepl is its own plugin

[2016-01-01 00:11] #282 closed

[2016-01-01 00:13] cldwalker commented on #894
Closing as https://github.com/LightTable/ClojureInstarepl/issues/2 covers this issue

[2016-01-01 00:13] #894 closed

[2016-01-01 00:17] cldwalker commented on #1060
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/3 as the instarepl is its own plugin

[2016-01-01 00:17] #1060 closed

[2016-01-01 00:19] cldwalker commented on #1231
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/4 as the instarepl is now its own plugin

[2016-01-01 00:19] #1231 closed

[2016-01-01 00:20] cldwalker commented on #1402
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/5 as the instarepl is now its own plugin

[2016-01-01 00:20] #1402 closed

[2016-01-01 00:21] cldwalker commented on #1828
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/6 as the instarepl is now its own plugin

[2016-01-01 00:21] #1828 closed

[2016-01-01 00:22] cldwalker commented on #1665
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/7 as the instarepl is now its own plugin

[2016-01-01 00:22] #1665 closed

[2016-01-01 00:23] cldwalker commented on #1626
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/8 as the instarepl is now its own plugin

[2016-01-01 00:23] #1626 closed

[2016-01-01 00:24] cldwalker commented on #1586
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/9 as the instarepl is now its own plugin

[2016-01-01 00:24] #1586 closed

[2016-01-01 00:26] cldwalker commented on #934
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/10 as the instarepl is now its own plugin

[2016-01-01 00:26] #934 closed

[2016-01-01 00:27] cldwalker commented on #246
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/11 as the instarepl is now its own plugin

[2016-01-01 00:27] #246 closed

[2016-01-01 00:28] cldwalker commented on #1015
Closing as the build script has been rewritten for 0.8.0

[2016-01-01 00:28] #1015 closed

[2016-01-01 00:29] cldwalker commented on #1039
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/12 as the instarepl is now its own plugin

[2016-01-01 00:29] #1039 closed

[2016-01-01 00:33] cldwalker commented on #1502
Closing as no one has responded to this and there isn't information to reproduce the connection bug here. If you are having connection issues please provide reproducible steps and open an issue [on the plugin](https://github.com/LightTable/Python/issues)

[2016-01-01 00:33] #1502 closed

[2016-01-01 00:36] cldwalker commented on #1622
Closing as we weren't able to reproduce this. If interested, please trying the latest LightTable and install the ClojureInstarepl plugin

[2016-01-01 00:36] #1622 closed

[2016-01-01 00:37] cldwalker commented on #1823
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/13 as the instarepl is now its own plugin

[2016-01-01 00:37] #1823 closed

[2016-01-01 00:40] cldwalker commented on #1664
Closing as no one has shown interest in this. Feel free to add to https://github.com/LightTable/LightTable/wiki/Feature-wishlist. Note that the functionality discussed here could be implemented as commands or linter by anyone as a plugin

[2016-01-01 00:40] #1664 closed

[2016-01-01 00:42] cldwalker commented on #1965
Closing as we never got a response from the original author. @dkharlan if you're still having problems with LightTable 0.8.0 and the ClojureInstarepl plugin, feel free to report it at https://github.com/LightTable/ClojureInstarepl/issues

[2016-01-01 00:42] #1965 closed

[2016-01-01 00:43] cldwalker commented on #1997
This issue has moved to https://github.com/LightTable/ClojureInstarepl/issues/14 as the instarepl is now its own plugin

[2016-01-01 00:43] #1997 closed

[2016-01-01 00:44] cldwalker commented on #2054
Closing as we can't fix without reproducible steps. Feel free to install the ClojureInstarepl plugin and report an issue to https://github.com/LightTable/ClojureInstarepl/issues

[2016-01-01 00:44] #2054 closed

[2016-01-01 00:50] cldwalker commented on #1088
We've had 0.8.0 out for a month and haven't heard back. Closing until we have reproducible steps that can lead to a fix

[2016-01-01 00:50] #1088 closed

[2016-01-01 02:01] GetContented commented on #1088
Not sure about others, or even if you want to know this, but I gave up using light table ages ago.

[2016-01-01 03:36] davidssmith commented on #1088
@GetContented Me too.

[2016-01-01 10:08] muhuk commented on #2081
Thanks @cldwalker. I have unpacked 0.8.0 & updated my shortcut. Everything seems to work fine.

[2016-01-02 10:45] TeachMeFly commented on #2003
@kenny-evitt Why LightTable have it own autoclose-brackets code instead using Codemirror addon in the first place?

[2016-01-02 11:35] heyarne opened #2092 "Evaluating `@whatever-atom`"
When writing clojure and trying to evaluate an expression like `@foo` at the highest level, nothing (visible) happens. To clarify, here is a screenshot:

![screenshot](https://cloud.githubusercontent.com/assets/525780/12074329/dcb48e82-b14c-11e5-9838-3bff8b264c1c.png)

Each line has been evaluated in order using `cmd-enter`. I would have expected `@foo` to have the same effect as `(deref foo)`, am

[2016-01-02 13:00] heyarne commented on #2092
I have just noted that the same goes for evaluating a string, a long, a boolean or a keyword, which suggests to me that this is intended behavior. May I ask why? This comes to me as a surprise as this is quite different from how a classic repl would behave.

[2016-01-02 15:45] #2026 closed

[2016-01-04 16:56] kenny-evitt commented on #2085
@robjens I'm not sure exactly what the issue is. Would you mind providing explicit (and minimal) steps to reproduce it?

[2016-01-04 17:05] robjens commented on #2035
Unfortunately, I've not been able to capture a CPU profile yet. But I too have been periodically been plagued by decreased responsiveness through the auto-completion mechanism. I am however, running a ArchLinux (`4.2.5-1` stock Arch kernel) box and not Windows (like OP). This usually results in a few typed characters being missed e.g. typing `(let [x (something` would get `let[` and then just miss

[2016-01-04 17:22] robjens commented on #2035
What is a bit more worrisome is that the document is lost in its entirety although I'm not blaming (since I use instaREPL, I should really save my stuff. I don't think I could have copy/pasted the content though. I just did a `ag` (silver searcher) and couldn't find any by guaranteed unique search word in either `~/.config/LightTable` or `/tmp` or `/opt/LightTable` (unlikely anyway but just in cas

[2016-01-04 19:22] robjens commented on #2035
I've been 'fortunate' enough to have it occur pretty predictable now. It doesn't always do this, but every now and then it freezes for maybe 5 whole seconds but now it frees up again and still performs those keyboard actions I had planned.

![image](https://cloud.githubusercontent.com/assets/11848802/12098006/25b99728-b317-11e5-82b7-559bc4cb179a.png)

Left is normal time it takes, right is the lag

[2016-01-04 19:34] robjens commented on #2035
Second run, this time no evaluation just plain old arrow keys cursor movements. Same lag. I didn't try to open until the beginning since it would take forever

![image](https://cloud.githubusercontent.com/assets/11848802/12098435/3a160870-b31a-11e5-9413-82f7d064c808.png)

[2016-01-04 19:57] robjens commented on #2035
Ok so the lag is not related to autocomplete per se. It just happens to become most visible then since the popup stays open but it is the same lag. This should really be reproducible by anyone, can someone else confirm? I'll go and try out a pristine LT (precompiled) as this is the development version I compiled myself and see if it has the same behavior in that one as well.

[2016-01-04 20:39] robjens commented on #2035
![image](https://cloud.githubusercontent.com/assets/11848802/12099759/6280c3d8-b322-11e5-97e2-1334bdea0afb.png)

This is a fresh LT download. Note that the lag starts when I evaluate the editor contents. Before that it runs fine. Once evaluated, the same culprit of bencode/asciislice/slowToString of decode.next shows up.

Also I ran a second test, now moved my `~/.config/LightTable` folder to some

[2016-01-04 21:53] rundis commented on #2035
Hi !

Tried a bit on ubuntu with a clean install. Couldn't really produce any significant delays, but I got one or two which lasted a couple of hundred millis after some manic typing. The decode stuff did show up in the profile.

Then I tried replacing the bundled node_module bencode (0.4.3) with the latest version which is 0.7.0.
After that I couldn't get the decode stuff to show up in the profil

[2016-01-05 00:02] robjens opened #2095 "Instant evaluation is confused about execution context and breaks save option"
I've had this problem a few times before, I thought I might had opened a ticket for it earlier but seems like I haven't, nor has someone else, that I can see at least.

The problem is that at instant evaluation of a file, light table seems to think the file below needs to run as CLJS. I have no idea how but this should be reproducible as I have a pristine stock LT (precompiled binary) and pristine

[2016-01-05 00:08] robjens commented on #2095
Note that this may be a result from the fact that there isn't a project.clj file present with this file. At least I recall instances where this was the case in the past, I'm not really sure how this currently stands but I'm correct to presume a `.clj` file would make any assumption the editor had about the type of file, exclude it from being run in the first place. E.g. a file with `.py` extension

[2016-01-05 00:30] robjens commented on #2095
And now I'm getting confused. Is this the Clojure plugin 0.3.0 release at work here? Since InstaREPL is completely gone now, all that is left is "Evaluate editor contents".

![image](https://cloud.githubusercontent.com/assets/11848802/12104446/5a56cf38-b343-11e5-95b3-7a6e867836fb.png)

![image](https://cloud.githubusercontent.com/assets/11848802/12104453/6e0e0d52-b343-11e5-9596-050353f44ed4.png)

[2016-01-05 00:31] cldwalker commented on #2095
Hi. In case you haven't [seen the announcement](https://groups.google.com/forum/#!topic/light-table-discussion/jN40ZB0g3tc), the instarepl is its own plugin and is seeking a maintainer as none of the core team uses it for work. As explained in the plugin's [readme](https://github.com/LightTable/ClojureInstarepl#description), it's not recommended to use the instarepl except for trivial cases. If yo

[2016-01-05 00:31] #2095 closed

[2016-01-05 00:35] robjens commented on #2095
Ah, sorry for the trouble. Would have guessed it would boil down to this at some point. Thanks.

[2016-01-05 00:46] robjens commented on #2035
@rundis Thanks, I'll give it a try the next time I find I can reliably reproduce as I haven't had the behavior for a bit now, when I do its the first thing I'll try. See if the behavior persists with the latest updates I ran (Clj plugin, instarepl its own plugin etc).

[2016-01-05 01:29] kenny-evitt commented on #57
@snopboy You should be able to install the plugin that @rundis linked-to from the plugin manager in Light Table.

[2016-01-05 05:01] kenny-evitt commented on #1956
Should we request the Bencode change be merged upstream? Or is there something we can do to obviate the need for that change? GitHub code search definitely misses some results but even with Google only the Clojure plugin *nrepl.cljs* file seems to use the Bencode `decode` function.

[2016-01-05 05:54] cldwalker commented on #1956
I wouldn't recommend any upstream merge until we understand why it's needed. It's also possible that upgrading to the latest 0.7.0 bencode fixes that issue

[2016-01-05 06:07] cldwalker commented on #1702
Closing as this hasn't been an issue for the core team or any plugin authors

[2016-01-05 06:07] #1702 closed

[2016-01-05 06:16] cldwalker commented on #1773
Closing as I believe this issue is covered by https://github.com/LightTable/Python/issues/35. If I'm incorrect, feel free to try the latest LT and python plugin and reopen an issue on https://github.com/LightTable/Python/issues with the python project that is hanging

[2016-01-05 06:16] #1773 closed

[2016-01-05 06:20] cldwalker commented on #1869
Sorry for the delayed response. There isn't enough information to reproduce your issue. Feel free to try the latest LT, describe what you're doing and provide a full stacktrace

[2016-01-05 06:28] cldwalker commented on #2012
Sorry for the delayed response. We use Electron for all desktop and window functionality. I'd recommend opening [an issue with them](https://github.com/atom/electron/issues) to see if they support your use case and your graphics driver. We've been bitten by incompatible graphics driver in the past - see #2044. If they don't support your use case there isn't anything

[2016-01-05 09:28] rundis commented on #1956
tried latest from master with bencode 0.7.0 and couldn't get clojure projects or plugins to connect.
Pretty sure I got bencode 0.7.0 to work with the 0.8.0 release though. I'll give it a try again and see if that works (ie clojure plugin 0.2.0)

[2016-01-05 09:38] rundis commented on #1956
nah. must have done something weird last night. Not working with bencode 0.7.0. Nrepl is fired up, but it never completes the connection handshake.

[2016-01-05 14:28] kenny-evitt commented on #1956
@rundis Can you set a breakpoint for that line in the code and check the relevant values? It looks like it's handling null/empty/invalid values but, if so, it's mysterious to me that that's not already covered.

[2016-01-05 22:36] kenny-evitt commented on #2003
@TeachMeFly Answering that would require some archaeology of the code history. I'm just guessing, but it could have been because that CodeMirror addon didn't exist when the LT code was added.

[2016-01-05 22:38] kenny-evitt commented on #1807
Another solution that someone confirmed worked for them with a French keyboard from [this comment](https://github.com/LightTable/LightTable/issues/2003#issuecomment-166308023):

[2016-01-05 22:39] kenny-evitt commented on #2003
@TeachMeFly Mind submitting a PR to remove the LT code/plugin and add your behavior setting to the default behavior file?

[2016-01-05 22:46] kenny-evitt commented on #2092
@heyarne As-of now, there's no 'reason' why the InstaREPL (or the regular inline eval) fails to print primitive values – it just doesn't. I agree that, being surprising, it should probably be changed to match the unsurprising and standard behavior of other REPLs.

However, none of the core team use the InstaREPL and this isn't particularly useful for inline eval either (as you already know what th

[2016-01-05 22:50] kenny-evitt commented on #2003
@TeachMeFly Nevermind – just got to the email notification for #2093!

[2016-01-05 23:22] #1891 closed

[2016-01-06 03:51] christopherbalz commented on #1915
I queried about this in the CodeMirror discussion: https://discuss.codemirror.net/t/is-regex-multiline-supported/600

[2016-01-06 06:01] cldwalker commented on #1733
Sorry for the delay. Agree this is a bug. Fix coming shortly

[2016-01-06 13:57] jarcane commented on #2092
I've just discovered this as well while doing @swannodette's Light Table CLJS tutorial, which uses the @ deref syntax in the section on atoms: https://github.com/swannodette/lt-cljs-tutorial/blob/master/lt-cljs-tutorial.cljs#L997

[2016-01-06 13:59] #942 closed

[2016-01-06 16:08] kenny-evitt commented on #2092
@jarcane Pull requests welcome!

[2016-01-06 17:44] kenny-evitt commented on #521
I'm closing this just 'cause it's old. And it may have been fixed by #2008 – I noticed that the 'checkmark' result is duplicated too in the screenshot included in the original comment. I'll re-open if anyone confirms that this is still an open issue.

[2016-01-06 17:44] #521 closed

[2016-01-06 17:49] kenny-evitt commented on #1200
I created LightTable/Python#40 to replace this.

[2016-01-06 17:49] #1200 closed

[2016-01-06 17:52] kenny-evitt commented on #1503
We're moving all of the Python-specific issues to LightTable/Python, the repo for the Python plugin but this seems to be a duplicate of #1200 and LightTable/Python#40 is the issue I created in the plugin repo to replace it.

Let me know in a comment on this issue if this isn't a duplicate of #1200.

[2016-01-06 17:52] #1503 closed

[2016-01-06 17:56] kenny-evitt commented on #1627
I created LightTable/Python#41 to move this to the Python plugin repo.

[2016-01-06 17:56] #1627 closed

[2016-01-06 17:58] kenny-evitt commented on #1641
I created LightTable/Python#42 to migrate this to the Python plugin repo.

[2016-01-06 17:58] #1641 closed

[2016-01-06 18:04] kenny-evitt commented on #1673
I created LightTable/Python#43 for issue [1].

[2016-01-06 18:05] kenny-evitt commented on #1673
I created LightTable/Python#44 for issue [2].

[2016-01-06 18:08] kenny-evitt commented on #1673
@bbsdkjdx I'm not sure what [3] is referring to exactly as there's no Python theme (included in the core Light Table package). I'm pretty sure syntax highlighting is provided by CodeMirror but whatever Light Table theme you're using is providing the specific colors that you're seeing. What theme are you using/ The default theme?

[2016-01-06 18:09] kenny-evitt commented on #1673
I'm closing this as all of the Python-specific issues have been moved to [the Python plugin repo](https://github.com/LightTable/Python).

[2016-01-06 18:09] #1673 closed

[2016-01-06 19:49] kenny-evitt commented on #1691
I created LightTable/Python#45 for this.

[2016-01-06 19:49] #1691 closed

[2016-01-06 19:59] kenny-evitt commented on #1858
I'm closing this as it seems to be a duplicate of LightTable/Python#41 (which replaces #1627).

[2016-01-06 19:59] #1858 closed

[2016-01-06 20:01] kenny-evitt commented on #1884
Add a comment if this is still unresolved for the latest version of Light Table and I'll re-open (and move the issue to [the Python plugin repo](https://github.com/LightTable/Python)).

[2016-01-06 20:01] #1884 closed

[2016-01-06 20:03] kenny-evitt commented on #1962
Add a comment with steps on reproducing this problem (including how to setup the necessary environment) and I'll re-open (create a new issue in [the Python plugin repo](https://github.com/LightTable/Python)).

[2016-01-06 20:03] #1962 closed

[2016-01-06 20:07] kenny-evitt commented on #1404
I'm closing this just 'cause it's old. Add a comment if this is still unresolved and I'll re-open.

[2016-01-06 20:07] #1404 closed

[2016-01-06 20:11] kenny-evitt commented on #1734
I created LightTable/Python#46 to replace this issue.

[2016-01-06 20:11] #1734 closed

[2016-01-06 22:12] GuacheSuede opened #2098 "Java Autocomplete"
Is Java Autocomplete supported ? Can't seem to get any and Google is of no help.

[2016-01-06 22:47] cldwalker commented on #942
On master invasive and buggy popups for modified and deleted files have been removed. This should resolve most git issues. Will go out on next release. If u have other git workflow issues let us know

[2016-01-06 22:49] cldwalker commented on #1720
Closing as master no longer has these dialogs for modified or deleted files

[2016-01-06 22:49] #1720 closed

[2016-01-07 00:36] cldwalker commented on #2098
I don't see a Java plugin in the [plugin repository](https://github.com/LightTable/plugin-metadata). Feel free to ask or search [the mailing list](https://groups.google.com/forum/#!forum/light-table-discussion) to see if anyone has an unpublished one

[2016-01-07 00:36] #2098 closed

[2016-01-07 00:52] cldwalker commented on #790
Closing as we haven't heard back

[2016-01-07 00:52] #790 closed

[2016-01-07 00:56] cldwalker commented on #1920
After a plugin is installed, the Available tab is blank and a user has to navigate to the Installed tab to see that it's installed. Any suggestions on what would be friendly here? We could throw a popup when the install is complete or we could switch to the installed tab

[2016-01-07 00:58] cldwalker commented on #1546
Closing as we track desired language plugins at https://github.com/LightTable/LightTable/wiki/Feature-wishlist#language-plugins

[2016-01-07 00:58] #1546 closed

[2016-01-07 01:01] cldwalker commented on #215
We're tracking auto-saving in https://github.com/LightTable/LightTable/issues/1700. As others have mentioned, Reminisce offers relaunch LT in a saved state including modified files

[2016-01-07 01:01] #215 closed

[2016-01-07 01:11] cldwalker commented on #1131
Closing as LT auto-saves workspaces and allows you to restore them. To create a workspace, run the `Create new workspace` command. To restore a workspace, run the `Open recent workspace` and pick the one to restore. Workspaces can have multiple files and folders. No one else has shown interest in restoring through .sublime* style files. Feel free to add that to the wishlist - https://github.com/Li

[2016-01-07 01:11] #1131 closed

[2016-01-07 01:33] cldwalker commented on #1222
We'll be tracking handling unsaved state for cases like crashes in #1700. Restoring LT from restart is handled by the Reminisce plugin

[2016-01-07 01:33] #1222 closed

[2016-01-07 03:46] kenny-evitt commented on #1920
I think a good – and easy – quick win would be to show a status bar message that the plugin was installed. Switching to the installed tab might be nice, but then maybe the user wants to install several plugins so staying on the available tab would be preferred – neither seems obviously better.

[2016-01-07 04:23] kenny-evitt commented on #1131
@fjarri I'm still interested in this but I don't have the bandwidth to work on this for a while. We can re-open this issue if you or anyone else is interested in working on it.

One thing that just occurred to me that's a little tricky is how LT finds "project workspace files" given that LT only 'knows' about files and folders because they're in one of its workspaces.

[2016-01-07 04:33] fjarri commented on #1131
@kenny-evitt I'm afraid I won't be able to dedicate much time to it myself. I created this issue in hope to estimate the amount of people who would like to have this feature, but it seems I'm an outlier. For me it is something very convenient given my workflow (several projects kept on cloud drives and computational clusters, so keeping the project metadata along with the project files is importan

[2016-01-07 04:34] #1733 closed

[2016-01-07 04:39] cldwalker commented on #1555
All this functionality has been reworked with the move to electron. Closing but feel free to ping us if this is still an issue with the latest

[2016-01-07 04:39] #1555 closed

[2016-01-07 05:01] cldwalker commented on #1516
Looking through old unanswered issues and found this. We get our syntax highlighting from CodeMirror. I don't have an issue with the following:

[code]

First I'd recommend trying [the CodeMirror demo](http://codemirror.net/mode/clojure/index.html) and trying your use case. Since the demo doesn't have your indentation config, you'll need to modify it in your js console:
[code]
If it doesn't work t

[2016-01-07 05:04] cldwalker commented on #1558
Closing as this seems done

[2016-01-07 05:04] #1558 closed

[2016-01-07 05:08] cldwalker commented on #872
Closing as the discussion for this has moved to https://github.com/LightTable/CSS/issues/1 and https://github.com/LightTable/CSS/issues/3

[2016-01-07 05:08] #872 closed

[2016-01-07 05:19] cldwalker commented on #1268
This specific case has been fixed since 0.7.2 when we moved the search into the plugin. [Relevant search code](https://github.com/LightTable/LightTable/blob/f4d680e28cc00e520ce18a292d3ca1b87c3736f5/src/lt/objs/plugins.cljs#L261-L267)

[2016-01-07 05:19] #1268 closed

[2016-01-07 06:13] cldwalker commented on #1920
@kenny-evitt Good idea

[2016-01-07 06:40] cldwalker commented on #2085
Hi @robjens. Closing as there isn't a reproducible issue here. Can reopen if given a specific set of steps to reproduce a concrete issue

 I'll answer some questions below. For future reference, I'd recommended [asking questions in the mailing list](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#help)

Each tab/file can associate with one connection by design. Multiple tabs/f

[2016-01-07 06:40] #2085 closed

[2016-01-07 06:41] cldwalker commented on #2088
Closing as this appears to be an OS issue. If not, I can reopen once you've verified you can trigger ctrl-space for another application

[2016-01-07 06:41] #2088 closed

[2016-01-07 06:45] cldwalker commented on #2007
Closing as we haven't heard back. You can disable restoring position with the following in user.behaviors `[:app :lt.objs.app/restore-position-on-init]`

[2016-01-07 06:45] #2007 closed

[2016-01-07 06:46] cldwalker commented on #2036
Closing because we can't fix this without the information requested.

[2016-01-07 06:46] #2036 closed

[2016-01-07 06:48] cldwalker commented on #2087
Closing as I haven't heard back. Can reopen if given more info as asked

[2016-01-07 06:48] #2087 closed

[2016-01-07 15:49] kenny-evitt commented on #1131
@fjarri Feel free to continue commenting on this issue if you think of anything about this, or if you ever decide to work on it.

And, regardless of how much time you can dedicate to it, we can still make stead (if very slow) progress. Let's think in terms of the minimal sequence of changes that we'd like to see, particularly changes that are useful in-and-of-themselves.

If we just use the existi

[2016-01-08 00:12] #1920 closed

[2016-01-08 00:26] cldwalker commented on #244
Moved to https://github.com/LightTable/Clojure/issues/64

[2016-01-08 00:26] #244 closed

[2016-01-08 00:48] cldwalker commented on #1052
Closing as we haven't found a reproducible test case for this as discussed on https://github.com/LightTable/Clojure/pull/48. If you're still having this issue, please submit a reproducible project [here](https://github.com/LightTable/Clojure/issues)

[2016-01-08 00:48] #1052 closed

[2016-01-08 00:54] cldwalker commented on #1090
Going through old issues and found this. @henrik242 How did you see your "envBlock"? Did this just show up when using `ps`?

[2016-01-08 00:55] cldwalker commented on #1316
Moved to https://github.com/LightTable/Clojure/issues/65

[2016-01-08 00:55] #1316 closed

[2016-01-08 00:58] zachstone opened #2100 "`span.cm-variable` not setting color on OSX"
This line in particular `.cm-s-kudamono span.cm-variable {color: #6796DB;}` from the Kudamono Theme doesn't change the color in my Light Table on OSX. I have tried other themes, but they seem to suffer the same issue. Wondering if others are experiencing this.

I am running Light Table 0.8.0 on both machines.

Kudamono Theme on Windows 10
![colored](https://cloud.githubusercontent.com/assets/51372

[2016-01-08 00:59] cldwalker commented on #1621
Closing as no one else has shown interest in this and this potentially requires a fair amount of work

[2016-01-08 00:59] #1621 closed

[2016-01-08 01:06] cldwalker commented on #1667
Moved to https://github.com/LightTable/Clojure/issues/66

[2016-01-08 01:06] #1667 closed

[2016-01-08 01:08] cldwalker commented on #1782
Moved to https://github.com/LightTable/Clojure/issues/67

[2016-01-08 01:08] #1782 closed

[2016-01-08 01:11] cldwalker commented on #2027
@rundis Closing as @kenny-evitt can't reproduce. If you have more to add to  this, we can reopen in Clojure plugin

[2016-01-08 01:11] #2027 closed

[2016-01-08 04:19] palfrey commented on #1516
Just re-tested with 0.8.0 and this appears fixed now.

[2016-01-08 04:19] #1516 closed

[2016-01-08 04:36] cldwalker commented on #1516
Glad to hear it!

[2016-01-08 05:06] cldwalker commented on #1097
Found this looking through old issues and agree this is poor usability. I'll be fixing this shortly

[2016-01-08 05:39] cldwalker commented on #1897
I can't reproduce this on osx 10.10. I'll leave this open for a bit longer to see if other users run into this and can provide more info. Fwiw, I tried this in a browser tab, docs and intro tab

[2016-01-08 05:57] cldwalker commented on #1427
Looking through old issues... LT uses :open-path internally in places where it makes sense to always open another file e.g. searcher. However we could use such a command for the jump stack where it would make sense to stay in the same file. I'm inclined to make a separate command :open-or-move-to-existing-path. I could also make this an option e.g. `:open-path "FILE" {:existing-path-in-same-tab tr

[2016-01-08 06:03] cldwalker commented on #1474
Looking through old issues... Closing as I think this is a reasonable default. vim and emacs do the same

[2016-01-08 06:03] #1474 closed

[2016-01-08 06:10] cldwalker commented on #1386
I think we're happy with the branding as is :) Fwiw, osx and linux do have the light command

[2016-01-08 06:10] #1386 closed

[2016-01-08 06:15] cldwalker commented on #1262
Closing as I've verified latest 0.8.0 does have syntax highlighting for gfm

[2016-01-08 06:15] #1262 closed

[2016-01-08 06:18] cldwalker commented on #1322
Closing as this fairly old and doesn't have a reproducible project. If you're still interested in the issue please provide a project and open it on the [JavaScript plugin](https://github.com/LightTable/Javascript/issues)

[2016-01-08 06:18] #1322 closed

[2016-01-08 06:23] cldwalker commented on #764
I can't reproduce this on osx. It's possible this will be resolved once we switch docs to a browser tab #2101. I'll leave this open for a bit longer to see if we get more any more information to reproduce this. If we can't reproduce we can't fix it

[2016-01-08 07:19] henrik242 commented on #1090
@cldwalker Nah, I had to attach the process to a debugger and look at the parameter within `java.lang.UNIXProcess.forkAndExec()`

[2016-01-08 20:49] snakecharmer1024 opened #2102 "After leaving on for a day or so, LT window goes white, unresponsive, have to force quit"
I love LightTable, but I'll be switching back to Sublime Text until this is fixed.

I'm using it on Mac OSX 10.10.5

Happens consistently, but only after about a day. I force quit, restart it and it works fine. Is troublesome when it does it while I'm working because I lose all my work since last save.

[2016-01-09 02:03] cldwalker commented on #2102
Sorry to hear. Handling an unresponsive event is on my short list which would make the force quit less painful. I'll leave this open to look into this. The losing work sucks and will be covered by #1700

[2016-01-09 05:29] cldwalker commented on #1045
Closing as this is the same as and better explained in #1460

[2016-01-09 05:29] #1045 closed

[2016-01-09 06:59] cldwalker commented on #1103
Agree an explicit error would help here. I moved this issue to https://github.com/LightTable/Clojure/issues/68 and have posted a suggested solution. Pull requests welcome

[2016-01-09 06:59] #1103 closed

[2016-01-09 07:13] cldwalker commented on #1162
I've confirmed this on osx 10.10 with two differently themed files and the plugin manager. I used the following user.behaviors:
[code]
I noticed that the plugin manager only took on the background color of the previous editor tab when I clicked between them. If I switched tabs via keyboard e.g. `Cmd-Shift-[]`, the plugin manager retained the correct background color. Since the bug is only triggere

[2016-01-09 07:40] cldwalker commented on #1111
@BenjaminVanRyseghem PageUp moves the cursor while he's looking to scroll while keeping the cursor in place.
Closing as ctrl/cmd up/down aren't standard keys for this behavior on osx editors. LT needs to choose keybindings that work well across three OSes. On osx 10.10, ctrl-up and ctrl-down are global keys for window motions. Cmd-up and Cmd-down have no effect on terminal editors (as expected) an

[2016-01-09 07:40] #1111 closed

[2016-01-09 07:43] cldwalker commented on #1495
Closing as this is pretty old and refers to a build script that no longer exists. In general you don't need to run the build script unless you're developing or running on the bleeding edge

[2016-01-09 07:43] #1495 closed

[2016-01-09 07:49] cldwalker commented on #1351
Also not hidden for me on osx. Closing as we haven't heard back. Can reopen if this is reproducible

[2016-01-09 07:49] #1351 closed

[2016-01-09 16:25] cldwalker commented on #1352
I did find a way to fix this using our standard node library. Fix coming out on next release

[2016-01-09 16:26] #1352 closed

[2016-01-09 16:33] cldwalker commented on #1460
Closing as no one has shown interest in adding this feature. I've added it to [the wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist#general). In the meantime, I'm updating the description from "Editor" to "App" to make it clear it's a global behavior

[2016-01-09 16:34] #1460 closed

[2016-01-09 17:32] cldwalker commented on #1217
Looking through old issues and came across this. About each issue:
1. Not reproducible on osx 10.10 with latest LT trying the first approach
2. I think this is reasonable behavior. If a user is picking a workspace, a right click behavior doesn't imply a decision has been made about picking a workspace
3. Duplicate folders and files has been fixed in #1689

I'll close in a few days unless there's m

[2016-01-09 18:09] cldwalker commented on #1143
Looking through old issues and found this. Agree alt-keys are reasonable and there should be an Exit/Quit for linux and windows. Fix coming shortly

[2016-01-09 18:50] kenny-evitt commented on #2100
@zachstone Would you check the CSS in the Dev Inspector in Light Table? Maybe there's a default CSS rule that overrides that for Mac.

[2016-01-09 19:22] #1097 closed

[2016-01-09 19:30] zachstone commented on #2100
Well it could be that there's no span around what should be the `cm-variable`.

Windows
![css-win](https://cloud.githubusercontent.com/assets/5137257/12217908/1a08b854-b6dd-11e5-8aef-59aa7e75610e.png)

OSX
![css-mac](https://cloud.githubusercontent.com/assets/5137257/12217913/3bee4308-b6dd-11e5-91bc-fb4d71bda264.png)

[2016-01-09 21:28] kenny-evitt commented on #2100
@zachstone Indeed – good find!

[2016-01-09 23:06] cldwalker commented on #2102
Looked into handling unresponsive event by adding the following before [this line](https://github.com/LightTable/LightTable/blob/eaab2c10f579ebcc7e8af2707f0dd575bca82446/deploy/core/main.js#L65):

[code]
Didn't see it handled. Pull requests welcome until we can get to this

[2016-01-10 03:46] #1403 closed

[2016-01-10 03:53] cldwalker commented on #1403
Since no one has shown interest in a light skin for sometime, light skin has been removed and added [to the wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist#general)

[2016-01-10 16:03] #1986 closed

[2016-01-10 19:24] kenny-evitt commented on #2102
@snakecharmer1024 I was curious if you are (or were) encountering the same thing I just ran into, but I just noticed the title change. My Light Table window is also (visibly) unresponsive and the entire window is blank (and gray):

![screen shot 2016-01-10 at 2 02 32 pm](https://cloud.githubusercontent.com/assets/1461730/12223357/dde8c0be-b7a2-11e5-8832-a5a7b6b8790a.png)

Activity Monitor reports

[2016-01-10 19:59] kenny-evitt commented on #2102
It seems this is an open issue upstream with Electron – see atom/electron#2409.

[I commented on that issue](https://github.com/atom/electron/issues/2409#issuecomment-170385197) and linked to a Gist with my crash dump file contents. It looks like an out-of-memory issue, tho I can't tell if it's Node that's the culprit or if it's just handling the out-of-memory condition.

[2016-01-10 20:01] kenny-evitt commented on #2102
@snakecharmer1024 If you would, please upload a crash dump (e.g. as a GitHub Gist or something similar) and link to it in a comment here and in atom/electron#2409. If you don't want to get bitten again by losing unsaved work, maybe it'd be sufficient just to open LT and leave it running, without actually using it.

[2016-01-11 04:31] snakecharmer1024 commented on #2102
@kenny-evitt Yes that is exactly what I saw. I'll leave it on and post the crash dump. Where do I find the crash dump, again?

[2016-01-11 05:26] cldwalker commented on #1427
Disregard previous comment. Agree with @rschroll fix - just files/resolve the file for this command

[2016-01-11 06:36] cldwalker commented on #2100
@zachstone Nice find! This seems to be a bug from our [forked clojure mode](https://github.com/LightTable/Clojure/blob/master/codemirror/clojure-mode.js). On [this Clojure plugin branch I've switched to CodeMirror's clojure mode](https://github.com/LightTable/Clojure/tree/mode-working-with-cm-variable) and see the correct cm-variable span on osx. Until we fix this in the plugin you can run that br

[2016-01-11 20:58] kenny-evitt commented on #2102
You might need to open the directory by running `open .` in *Terminal*, but I found mine in *~/Library/DiagnosticReport* (I think). It's the Mac OS X standard location for crash dumps so Google should confirm if my memory is accurate.

That said, an Electron person replied to me on their issue and stated that LT is to blame in my case and that we should track down the likely memory leak on our end

[2016-01-11 23:03] #1427 closed

[2016-01-11 23:03] #1143 closed

[2016-01-11 23:25] cldwalker commented on #1319
Looking through old issues and it's not clear what the issue is. `[:editor "pmeta-shift-left" :paredit.grow.left]` works for me as a keybinding on osx. If you're still interested, please try on latest LT and provide reproducible steps. Otherwise I'll close in a few days

[2016-01-11 23:36] cldwalker commented on #1163
Confirmed. Using these behaviors: ` [:editor :lt.objs.style/set-theme "elegant"]
 [:editor.keymap :lt.objs.style/set-theme "solarized"]`, [this becomes fairly visible](https://www.dropbox.com/s/a5r39ld6sm19a1f/Screenshot%202016-01-11%2018.35.55.png?dl=0)

[2016-01-11 23:53] cldwalker commented on #1167
Looking through old issues. Agree a that description change is enough. Fix coming shortly

[2016-01-12 02:40] cldwalker commented on #1379
Documenting and then closing this

[2016-01-12 06:20] cldwalker commented on #1299
Looking through old issues. Closing as this is a fair amount of work for questionable gain. Can reopen if interested in discussing this more

[2016-01-12 06:20] #1299 closed

[2016-01-12 06:22] cldwalker commented on #1966
Closing as this was handled by #2058 and followup tweaks from [this branch]( https://github.com/LightTable/LightTable/commit/60e71ea6f6e636ad44a2e4d6cc85e9eb9142e7ba)

[2016-01-12 06:22] #1966 closed

[2016-01-12 06:47] cldwalker commented on #1657
Closing as building LT is just running one command nowadays and functional testing will be covered by #1647

[2016-01-12 06:47] #1657 closed

[2016-01-12 06:50] cldwalker commented on #1486
Closing as this is fairly old and I don't see this behavior. Can reopen if reproducible steps are given and has been verified on latest LT

[2016-01-12 06:50] #1486 closed

[2016-01-12 07:00] cldwalker commented on #1476
Closing as this is fairly old and the behavior I see is searching happens per key stroke in the find input. Can reopen if this is still an issue on the latest LT and more context is given to reproduce this

[2016-01-12 07:00] #1476 closed

[2016-01-12 07:03] cldwalker commented on #1651
Closing as we no longer need a reminder for this

[2016-01-12 07:03] #1651 closed

[2016-01-12 07:05] cldwalker commented on #1579
Closing as [our releases now](https://github.com/LightTable/LightTable/releases/tag/0.8.0) include a checksums section at the bottom

[2016-01-12 07:05] #1579 closed

[2016-01-12 07:05] cldwalker commented on #1666
Closing as we've been able to build from source for awhile. See https://github.com/LightTable/LightTable/blob/master/doc/developer-install.md for details

[2016-01-12 07:05] #1666 closed

[2016-01-12 07:09] cldwalker commented on #1499
Closing as this is old and there hasn't been much interest. LT did recently get a [block comment command] which you can bind to any keybinding. Feel free to also add this to [the wishlist](https://github.com/LightTable/LightTable/wiki/QA-Checklist)

[2016-01-12 07:09] #1499 closed

[2016-01-12 07:11] cldwalker commented on #1569
Closing as this old and not enough reproducible info was given. Can reopen if more info is given

[2016-01-12 07:11] #1569 closed

[2016-01-12 07:16] cldwalker commented on #1686
Closing as we never get more info to reproduce and fix this

[2016-01-12 07:16] #1686 closed

[2016-01-12 07:22] cldwalker commented on #1492
Closing as I don't see this behavior when using ` [:app :lt.objs.style/font-settings "Consolas" 12]` on latest LT. I can reopen if you're interested digging more into your issue on the latest LT. Here's a screenshot of what I saw:

<img width="1440" alt="screen shot 2016-01-12 at 2 20 05 am" src="https://cloud.githubusercontent.com/assets/11994/12257297/3fdadf6a-b8d3-11e5-827a-9b5cad8d172e.png">

[2016-01-12 07:22] #1492 closed

[2016-01-12 09:31] berdario commented on #1319
I cannot test the latest version, since LT fails to upgrade. I see this in the console:

    Error: incorrect header check
        at Zlib._binding.onerror (zlib.js:295:17)

Is this a known (transient?) error?

I'll try again later on.

Can you please try to reproduce it on Linux?

[2016-01-12 13:59] cldwalker commented on #1319
Unless you are behind a proxy, there shouldn't be an issue with downloading a new version of LT

I'll need reproducible steps e.g:

1. Go to file X
2. Type `abc`
3. See Y

It's not clear in the video what to look for

[2016-01-12 20:12] scelera commented on #1984
@EarthCitizen - How did you point LightTable to your localhost?  I have CNTLM running on my system but haven't found anything that lets me point LightTable to it?

[2016-01-12 21:20] berdario commented on #1319
Nope, I was on the train so I thought it might be my tethered internet, but I tried again now when at home, and LT is not sending any packets whatsoever.

The LT upgrade is apparently borked. I presume that LT fetched a corrupted zip in the past (how could it be? surely LT should use a checksum before trusting what it downloaded) and now it won't redownload it again, even if it sees it's corrupted

[2016-01-13 00:16] #1379 closed

[2016-01-13 00:17] #1167 closed

[2016-01-13 06:57] cldwalker commented on #497
@niedzielski issue seems separate and I've made https://github.com/LightTable/Javascript/issues/18 for it
Closing issue as we don't have reproducible steps. If still interested, please reopen it [here](https://github.com/LightTable/Javascript/issues) with reproducible steps as demonstrated in https://github.com/LightTable/Javascript/issues/18

[2016-01-13 06:57] #497 closed

[2016-01-13 13:45] #1994 closed

[2016-01-13 16:11] kenny-evitt commented on #1319
@berdario What version of LT are you running now? You might need to download a release package because older versions look for new versions at an endpoint that the open source team doesn't control or have access to. Going forward, LT looks for new releases on GitHub.

[2016-01-13 16:24] berdario commented on #1319
The about page says

Light Table version
0.8.0
Binary version
0.8.4

But when opening up LT, it says

If this is known issue due to the change in the releases, I'll just redownload LT separately and ignore this

[2016-01-13 19:27] kenny-evitt commented on #1319
@berdario That's weird. Your binary version really says "0.8.4"? It should be "0.34.5". I'm actually pretty curious how that happened.

I think you're going to need to just re-download LT.

[2016-01-14 08:38] berdario commented on #1319
Yup, weird indeed...

Anyhow, now that I got a new release package I tried to reproduce again this bug, but it's been quite a while and it doesn't happen right away, I'd need more time using LT to find it out... and since I'm not using LT day-to-day anymore, I think I'll just close this issue for now and reopen it if needed

[2016-01-14 08:38] #1319 closed

[2016-01-14 12:37] robjens opened #2111 "Path + symlink issues on Linux"
Did a fresh download. Using ArchLinux, no `~/.config/LightTable` config so absolutely 100% pristine.

Starting using normal user in `/opt/LightTable` using `light`:

[code]

Ok, so I try to open using root: ` % sudo ./light`

![image](https://cloud.githubusercontent.com/assets/11848802/12324063/17ac9cc2-bab8-11e5-8c0f-c797f14684a7.png)

When trying to add a folder to the workspace, trying to open

[2016-01-14 12:43] robjens opened #2112 "Cannot load any Clojure projects anymore"
Sorry to open up another ticket but in all fairness, it is not very clear at the moment what the status is concerning evaluation of projects. I understood from cldwalker that InstaREPL was taken out of the project but what I meant was not insta-instaEvaluation as in as-typed but only on evaluation of forms using `[Enter]`. Yet (pristine LT) even trying to normally connect to a Clojure project does

[2016-01-14 14:32] stevebeisner opened #2113 "editing dot file (hidden files)"
There seems to be no way (through the GUI) to open dotfiles like "~/.bashrc".
They can be opened by starting lighttable through via the CLI/terminal, but
then they can't be added to the workspace, even after setting the file.ignore-pattern
appropriately in the user.behaviors file.

A better default would be "all files visible" in BOTH the workspace and in file
open dialogs... then allow options to

[2016-01-14 16:36] robjens commented on #2112
Well.... lein run is giving it too which makes it a total mystery but not the problem of LT so it seems.

[2016-01-14 16:36] #2112 closed

[2016-01-14 21:52] rundis commented on #2112
Feel the pain. I'm not sure if it's related but heard clojars has had some downtime today.
Anyhow to be clear on clojure support:
Connectiong and evaling clojure (and ClojureScript), jump to def etc etc should all work as before.

It's only the live continuous instarepl eval that has been separeted out to it's own project.

[2016-01-15 00:18] cldwalker commented on #1488
I don't know if this is by design or a bug but the core team will look into it at some point

[2016-01-15 00:24] cldwalker commented on #1217
Closing but can reopen if given reproducible steps for the first issue

[2016-01-15 00:24] #1217 closed

[2016-01-15 00:32] cldwalker commented on #1642
@kenny-evitt Could see if this is still an issue on latest LT with windows? I can't reproduce on osx

[2016-01-15 02:45] cldwalker commented on #2113
Hi. We don't have enough information to reproduce this. Could you specify what GUI you're using to open files? Is it through the navigator (cmd-o) or a file dialog (cmd-shift-o)? If the latter, on osx this is limited by osx, not by LT. What OS and LT version are you using? What file.ignore-pattern's did you try?

[2016-01-15 03:09] cldwalker commented on #1729
Closing as we haven't heard back and @raoulmillais has had success. Can reopen if this is still reproducible with LT 0.8.0 and more info is given on the environment

[2016-01-15 03:09] #1729 closed

[2016-01-15 03:14] cldwalker commented on #1737
Closing as this has been fixed

[2016-01-15 03:14] #1737 closed

[2016-01-15 16:05] stevebeisner commented on #2113
OK... yes this is on OS-X. And yes, the OS-X file dialog does not normally show hidden (dot) files. However, for the benefit of other OS-X users: I've discovered that if you type SHFT-CMD-period (".") in the OS-X file dialog, it WILL show hidden files!

[2016-01-15 16:05] #2113 closed

[2016-01-15 22:28] kenny-evitt commented on #1064
@cldwalker @rundis I'm inclined to move this to the feature wishlist. I can understand why someone would want this but (1) it's a pretty low relative priority; (2) I can understand why someone would *not* want this – I don't personally, for one. Any objections to closing this?

[2016-01-15 22:34] kenny-evitt commented on #1151
@sgrimm @rzh @MarcoPolo @BenjaminVanRyseghem Would you confirm whether this still affects you running the latest version of Light Table (currently 0.8.0).

[2016-01-15 22:36] kenny-evitt commented on #1360
@otmezger Is this still a problem with the latest version (0.8.0)?

[2016-01-15 22:38] kenny-evitt commented on #1488
@cldwalker What can we do for this? Not allow the Emacs-style bindings to be bound if an leading sequence of key combinations have already been bound?

[2016-01-15 22:51] cldwalker commented on #1064
@kenny-evitt Considering no one who's wanted this has looked into it I'm fine with the wishlist

[2016-01-15 22:52] cldwalker commented on #1488
@kenny-evitt It's not so much an Emacs plugin issue as it is investigating how combo keybindings are clobbering individual keys

[2016-01-15 22:53] kenny-evitt commented on #1615
@muhuk Can you reproduce this with 0.8.0? It's on a newer version of Electron than 0.8.0-alpha.

[2016-01-15 23:03] kenny-evitt opened #2114 ""...: unary operator expected" error building on Windows 7"
I just fetched the latest *master* branch and ran *script/build.sh* from a Cygwin terminal window:

[code]

I was able to get the script to work by changing line 17 to quote the `which` command, e.g. `` "`which npm`"`` instead of just `` `which npm` ``.

I'll submit a PR with this change in a few minutes.

[2016-01-15 23:06] kenny-evitt commented on #2114
PR #2115 fixes this for me.

[2016-01-15 23:09] kenny-evitt commented on #1642
@cldwalker @voltcode I couldn't reproduce this just now, tho I'm running a build of the latest source. But I don't think we've made any changes since the latest release (0.8.0) that would have fixed this.

[2016-01-15 23:25] cldwalker commented on #1642
@kenny-evitt Wasn't this last looked into when we were on node-webkit? If it's been a year since we saw this and can't reproduce I'm inclined to close

[2016-01-16 05:51] cldwalker commented on #2113
Glad you found a solution and thanks for sharing!

[2016-01-16 06:07] cldwalker commented on #1749
@kenny-evitt Since you're the most familiar with this, could you write a few lines on this? We could add it in [the readme](https://github.com/LightTable/LightTable/blob/master/README.md#downloads), FAQ or a new file under doc/.

[2016-01-16 06:13] cldwalker commented on #1762
Closing as the second issue has been resolved for some time and the first issue is a wontfix. LightTable is agnostic to installation paths and thus can't generate desktop files that work out of the box. Feel free to share desktop scripts [in this wiki section](https://github.com/LightTable/LightTable/wiki#miscellaneous-scripts)

[2016-01-16 06:13] #1762 closed

[2016-01-16 06:23] muhuk commented on #1615
With `0.8.0`:

Drag & drop, no tabs -> nothing happens. The cursor has a small Ghostbusters logo without the ghost.

Drag & drop, text file open -> nothing seems to happen. The cursor has the little plus sign.

In both cases, no console messages, also nothing gets printed to the terminal.

[2016-01-16 06:37] cldwalker commented on #1765
Closing as no one has shown interest on working on this and it's not a common use case. When I've worked on software projects that are > 1GB I make sure that my [ignore pattern](https://github.com/LightTable/LightTable/blob/e80f1b928890a702f53d519305ebe4b0c2982837/src/lt/objs/files.cljs#L43-L51) ignores most large blobs and then I don't have any issues searching. I'd recommend [my smart-ignore plu

[2016-01-16 06:37] #1765 closed

[2016-01-16 06:48] cldwalker commented on #1783
Closing as this is fairly old and there isn't enough info to reproduce a specific bug. On osx, I can use "alt-" to map an alt/option keybinding and "cmd-" to map an apple/command keybinding. For more about our keybindings and how mousetrap defines meta [see here](https://github.com/LightTable/LightTable/blob/master/doc/behavior-and-keymap-configuration.md#keys). Can reopen if there's a specific re

[2016-01-16 06:48] #1783 closed

[2016-01-16 06:54] cldwalker commented on #1785
Following @clojens instructions I can't reproduce this on osx 10.10 with latest LT. The tab title updates correctly if saved to a different file. I'm guessing this was buggy behavior from node-webkit days. Will close in a few days unless others can reproduce with latest LT and have any more specifics

[2016-01-16 07:04] cldwalker commented on #1805
Looking through old issues and found this. Turns out the issue was Emmet was overriding the keybinding - https://github.com/LightTable/Emmet/blob/a51837768b5bcd3785351f52e72cb45a83451293/emmet.keymap#L4

[2016-01-16 07:04] #1805 closed

[2016-01-16 07:07] cldwalker commented on #1817
Closing as we haven't heard back and this hasn't been an issue with the latest LT. Can reopen if it is and reproducible steps are given

[2016-01-16 07:07] #1817 closed

[2016-01-16 07:10] cldwalker commented on #1821
Looking through old issues and found this. There isn't enough info to reproduce this e.g. what theme and os is used. Will close in a few days unless this is tried on latest LT and there are reproducible steps

[2016-01-16 07:20] cldwalker commented on #1826
On osx 10.10 with latest LT this can be reproduced by opening two windows and pressing Command-Q. Only the current window closes when all windows and the whole application is expect to be closed. This may only be an osx expectation. Will be adding this to the roadmap

[2016-01-16 07:35] cldwalker commented on #1827
Closing as this has been open awhile, no other users have reported this preference and would require a nontrivial amount of shuffling code around

[2016-01-16 07:35] #1827 closed

[2016-01-16 07:44] cldwalker commented on #1861
Closing as it has been awhile and others haven't shown interest in this. Feel free to add to the [wishlist](https://github.com/LightTable/LightTable/wiki/Feature-wishlist). Note that plugins live in [this directory](http://docs.lighttable.com/#plugins-directory) and can be moved out between application starts to temporarily try LightTable with a different set of plugins

[2016-01-16 07:44] #1861 closed

[2016-01-16 07:51] cldwalker commented on #1833
Closing as removing a plugin and starting LT should only prompt twice at most for a removed plugin. Can reopen if there are reproducible steps on latest LT where reprompting is occurring more than twice

[2016-01-16 07:51] #1833 closed

[2016-01-16 07:55] cldwalker commented on #1869
Closing as there isn't enough info to reproduce. Can reopen if given the above

[2016-01-16 07:55] #1869 closed

[2016-01-16 08:28] cldwalker commented on #1933
Closing I've updated [the docs](http://docs.lighttable.com/#change-theme) to link to codemirror's theme demo. Suggested nicer comparisons are always welcome as a PR but don't require an open issue if no one is working on it

[2016-01-16 08:28] #1933 closed

[2016-01-16 17:25] cldwalker commented on #1894
@martinvlk @birdspider Looking through old issues and found this. This issue has been discussed a fair amount in #161. Since the core team doesn't have this issue on linux (I'm using ubuntu 14.01) we will need your help here. Was the fix here that libudev.so.1 should be symlinked to libudev.so if it exists? Currently we symlink libudev.so.1 to libudev.so for users in #161. It seems we would need t

[2016-01-16 18:31] cldwalker commented on #1816
Confirmed this is an issue on latest LT with ubuntu. Fix coming

[2016-01-16 18:34] cldwalker commented on #764
Closing as we haven't heard back and I also can't reproduce on ubuntu 14

[2016-01-16 18:34] #764 closed

[2016-01-16 18:39] cldwalker commented on #1776
Closing as this has been open for more than a year and no one who's interested in this has contributed. Happy to reopen if someone will work on this

[2016-01-16 18:39] #1776 closed

[2016-01-16 18:51] martinvlk commented on #1894
Sure, no problem.

[2016-01-16 20:25] cldwalker commented on #1956
I've updated this as blocked until after the cljs upgrade since we may need to tweak bencode during the upgrade

[2016-01-16 20:30] cldwalker commented on #1883
I've verified this is a bug because we aren't providing file types for [this mode](https://codemirror.net/mode/htmlembedded/index.html). Fix coming soon

[2016-01-16 21:37] kenny-evitt commented on #1642
@cldwalker I think you're right that this was a node-webkit bug.

@voltcode Comment if this is still unresolved for you with the latest version and we'll re-open.

[2016-01-16 21:37] #1642 closed

[2016-01-17 06:30] #1741 closed

[2016-01-17 06:30] #1816 closed

[2016-01-17 11:03] drakulavich commented on #1457
Just [updated PPA](https://launchpad.net/~dr-akulavich/+archive/ubuntu/lighttable) to the 0.8.0 release.
Now only amd64 package, cause it download official binaries from lighttable.com.

[2016-01-18 04:26] #1883 closed

[2016-01-18 04:27] cldwalker commented on #1883
Next release will have 4 file types that handle this correctly

[2016-01-18 07:48] EarthCitizen commented on #1984
@scelera If I remember correctly, I believe I did it with the http_proxy and https_proxy environment variables

[2016-01-18 15:21] Jan129 opened #2120 "How to connect lighttable to Haskell"
Hi,

I would like to ry out the Haskell plugin of lighttable. However I can not connect to Haskell. Could someone give me the details how to do it?

Thx
Jan

[2016-01-18 17:22] rundis commented on #2120
Hi !

This is an external plugin, which I believe no one in the Light Table core team is using. Neither to we provide support for it.

You might want to try the [discussion forum](https://groups.google.com/forum/#!forum/light-table-discussion)  or maybe get in touch with the [plugin author](https://github.com/jetaggart/light-haskell).

Having said that I'm seriously considering either taking over

[2016-01-18 17:22] #2120 closed

[2016-01-18 19:59] scelera commented on #1984
@EarthCitizen Thanks.  Unfourtuneatly for me I already have those set and it still doesn't work.

[2016-01-18 20:49] EarthCitizen commented on #1984
Make sure you have both set:

http_proxy=http://localhost:<your port>
https_proxy=https://localhost:<your port>

Also,

[2016-01-18 21:02] gjvnq commented on #426
It is still a problem on 0.8.0 with Clojure, LaTeX and probably other language's syntax highlighting.

[2016-01-18 21:15] scelera commented on #1984
Yup, both are set.  I've been using CNTLM for over a year now.  Works flawlessly with everything else.  I'm on LightTable 0.8.0 if that makes a difference.

[2016-01-18 21:18] gjvnq opened #2121 "Auto complete does handle unicode character properly"
When I am typing a word, the auto complete considers any accented character as a "space" in the sense that it considers that the word is "complete" and, if I continue, it "restarts" the auto complete as if I was typing another word.

For example: (in LaTeX)
What I type: `\Avião_Ícone`
What the auto complete sees: `\Avi o_ cone`

This is incredibly annoying because for each word I type (regardless

[2016-01-18 22:53] EarthCitizen commented on #1984
The only other thing I can think of is to try the various http.proxy___ Java system properties

[2016-01-18 23:21] cldwalker commented on #2121
Hi. Thanks for the report. I am able to reproduce this is on osx 10.10 with the above example. This may be related to #1793. Until the core team has time to look into this pull requests welcome. If you're interested in looking into it, [autocompletions are generated here](https://github.com/LightTable/LightTable/blob/74ec1039b627a54df9c065cf381c5163aa2ce0c4/src/lt/plugins/auto_complete.cljs#L152-L

[2016-01-18 23:24] cldwalker commented on #426
@gjvnq Can you give a specific example? Syntax highlighting is working for me with `:ãvião_Ícone` and the Clojure mode [we're about to release](https://github.com/LightTable/Clojure/pull/70)

[2016-01-19 00:04] rundis commented on #2121
I have a feeling that [this regex](https://github.com/LightTable/LightTable/blob/74ec1039b627a54df9c065cf381c5163aa2ce0c4/src/lt/plugins/auto_complete.cljs#L55) might have something to do with it ?

I had to override it in my elm plugin for autocompletion to handle dot (.) in tokens.

[2016-01-19 13:42] BebeSparkelSparkel opened #2122 "Error message does not include the filename"
The unknown file is the file that I was currently working in and trying to run the simulation from inline

![screen shot 2016-01-19 at 8 39 57 am](https://cloud.githubusercontent.com/assets/10747532/12420101/68325758-be88-11e5-9825-fd3945367832.png)

Traceback (most recent call last):
  File "/Applications/LightTable.app/Contents/Resources/app/plugins/Python/py-src/ltmain.py", line 162, in handleE

[2016-01-19 14:03] cldwalker commented on #2122
Thanks for the report. I'm moving this to the python repo - https://github.com/LightTable/Python/issues/48. I've updated CONTRIBUTING.md to reflect where to report these kind of issues. We are looking for a maintainer for the Python plugin.

[2016-01-19 14:03] #2122 closed

[2016-01-19 16:51] Sisyphuss commented on #974
I'm hitting this from an upgrade from 0.7.2 to 0.8.0.

[2016-01-19 22:34] kenny-evitt commented on #1488
@cldwalker But what *could* we do? Just prevent *combo* keybindings from clobbering existing keys? Or prevent any keybinding from clobbering an existing one?

[2016-01-19 22:38] cldwalker commented on #2100
Just released 0.3.1 Clojure which has fixed this

[2016-01-19 22:38] #2100 closed

[2016-01-19 22:57] kenny-evitt commented on #1615
@muhuk Bummer. I have no idea currently how to proceed. As you wrote earlier that this doesn't affect your productivity, I'm inclined to ignore it for now and re-test it when we next upgrade Electron.

[2016-01-19 23:46] kenny-evitt commented on #1826
Maybe I misunderstood – or maybe this really was fixed (or seemed to have been) when I tried it long ago (and presumably on a Mac).

But I just reproduced this on a Windows 7 computer [T]. In an open LT window, I opened the *File* menu and picked *New window*. In the new LT window I opened the *File* menu and picked *Quit Light Table*. Only the new window was closed.

In my experience, as a long-t

[2016-01-20 09:07] muhuk commented on #1615
Sure, no problem.

[2016-01-21 14:30] scelera commented on #1984
Thanks.  I think I got that part figured out.  I updated the tunnel.js file in \resources\app\core\node_modules\request.  Now though it's giving me this error

TypeError: lt.objs.deploy.request.get is not a function
    at lt.objs.deploy.download_file (file:///C:/usryrs/lighttable-0.8.0-windows/resources/app/core/node_modules/lighttable/bootstrap.js:28950:33)
    at lt.objs.plugins.download_metada

[2016-01-21 22:24] kenny-evitt opened #2126 "Release 0.8.1"
- [x] Version updates
   - [x] Update *deploy/core/package.json*, *deploy/core/version.json* and *project.clj* (including the Codox `:source-uri` value) to 0.8.1
   - [x] Make sure electron version is up to date in *version.json*
   - [x] Make sure plugin versions in *script/build.sh* are latest versions
- [x] Add changelog for release to CHANGELOG.md
- [x] Each core developer should QA at least o

[2016-01-21 23:12] kenny-evitt opened #2127 "New default zoom-in keybinding doesn't work on Windows"
[Note for myself – discovered on *T*]

PR #1741 added two keybindings to the default keymap, one of which doesn't work on Windows. Here's the new line in *default.keymap* that doesn't work:

[code]

`pmeta` on Windows is <kbd>Ctrl</kbd> so the above keybinding conflicts with the existing keybinding:

[code]

[2016-01-21 23:12] kenny-evitt commented on #2127
This was discovered while QA-ing the 0.8.1 release candidate build; see #2126.

[2016-01-21 23:25] kenny-evitt opened #2128 ""A JavaScript error occurred in the main process" dialog box popup on Windows for "Save file as..." in File menu"
![image](https://cloud.githubusercontent.com/assets/1461730/12497790/f2df2b44-c06b-11e5-870e-713082b11ce1.png)

I'm able to reproduce this on a Windows 7 computer [note for myself – *T*] with the following steps:

 1. Create a new file.
 2. Open the *File* menu and pick *Save file as..". The dialog box shown above is displayed.

I ran into this while QA-ing the 0.8.1 release candidate build; see #

[2016-01-21 23:27] kenny-evitt commented on #2128
I can NOT reproduce this if I run the command *File: Save file as.." from the command bar.

[2016-01-21 23:32] kenny-evitt commented on #2128
I'm getting this error now when using the *Save file as.." menu item for an open tab for an *existing* file too so I suspect this isn't because the file is new.

[2016-01-21 23:33] kenny-evitt commented on #2128
I closed and re-opened Light Table and then I was unable to reproduce the error with the original steps.

[2016-01-21 23:39] kenny-evitt opened #2129 "Save-file-as and workspace "Duplicate" menu command don't update the workspace bar"
This can be reproduced on both Windows (Windows 7) [note for myself – *T*], Mac OS X, and Linux (Ubuntu).

Steps to reproduce for save-file-as:

 1. Open a tab for an existing file.
 2. Use any of the following:
  a. Open the *File* menu and pick *Save file as..*.
  b. Open the command bar and pick the command *File: Save file as..*.
  c. Enter the default keybinding (assuming it's still bound) <k

[2016-01-21 23:40] kenny-evitt commented on #2129
This was discovered while QA-ing the 0.8.1 release candidate build; see #2126.

[2016-01-21 23:41] cldwalker commented on #2129
I suspect https://github.com/LightTable/LightTable/pull/2105 but will require more investigation

[2016-01-22 01:16] cldwalker commented on #2126
Done!

[2016-01-22 01:16] #2126 closed

[2016-01-22 03:19] 602884291 opened #2130 "Error: incorrect header check at Zlib._binding.onerror (zlib.js:295:17)"
update soft version  Error: incorrect header check
    at Zlib._binding.onerror (zlib.js:295:17)

[2016-01-22 03:45] cldwalker commented on #2130
Hi. Thanks for the report. We need [reproducible steps](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs) in order to debug this. Things that would be useful to know: operating system, what version did you upgrade from, are you behind a firewall, how did you update (through LightTable or did you download a now install off the website). If we can't reproduce it, we can't fi

[2016-01-22 06:38] max-orhai commented on #2130
I'm having the same issue, updating from 0.6.7 on Ubuntu.

Steps: Open app, click update dialog button, open console after waiting for throbber.

[2016-01-22 06:56] ProjectINT opened #2131 "Docs window is to small"
![screenshot from 2016-01-22 08 52 37](https://cloud.githubusercontent.com/assets/16366604/12504407/e2ae6cd8-c0e5-11e5-9b17-0fb10f66214a.png)

[2016-01-22 08:02] rundis commented on #2130
There are a few of similar reported issues (closed ones). It could be related with instability with the tar service from github, or it could be path lengths. Well mostly guessing. But it might be easier to track down with a little bit of error handling in deploy.cljs
https://github.com/LightTable/LightTable/blob/d2e28d25585b00fd2541ebdc2009fc9ec5b4df29/src/lt/objs/deploy.cljs#L94

[2016-01-22 08:08] rundis commented on #2130
maybe we need to checksum the downloaded file or something to ensure the downloaded tar is valid ?

[2016-01-22 09:08] cldwalker commented on #2131
Thanks for the report. That looks like an old version. Upgrading to 0.8.1 should fix this. You can also just moving the docs tab next to Welcome tab and close the empty tabset. Closing but if you have trouble the upgrade please give more info as asked in CONTRIBUTING.md

[2016-01-22 09:08] #2131 closed

[2016-01-22 09:15] cldwalker commented on #2130
@max-orhai Thanks for the info. I just ran an upgrade from 0.8.0 on ubuntu and didn't see this issue. It's possible this is an error that we get only when upgrading from older versions e.g. #974. If that is the case there is nothing we can do except have users upgrade. Can you drop in the full error message? Does your upgrade succeed if you reattempt?

[2016-01-22 09:16] cldwalker commented on #2130
@max-orhai If it doesn't I'd recommend just downloading the latest from the website as a _lot_ has changed since 0.6.7

[2016-01-22 09:23] max-orhai commented on #2130
I retried a few times, and once got a different error: a long stack trace that seemed to be complaining about a missing /usr/local/bin/LightTable/tmp directory. Sorry I didn't save that to paste here, but I doubt it would be worth fixing anyway: I eventually just reinstalled LT fresh from the 8.1 binary download, which worked fine. I agree that's a pretty big jump to handle gracefully with an auto

[2016-01-22 10:02] cldwalker commented on #2130
That's a known error that we've fixed. :) Nothing to fix except having less users on older :bug:ier versions

[2016-01-22 12:59] cldwalker opened #2132 "Unable to configure a flat behavior with #js"
On a recent thread, someone asked to [configure the autoCloseTags plugin](https://github.com/LightTable/HTML/blob/3454302ec2f0fc59205bd2da95ed9f504d621005/html.behaviors#L10). This should be possible by passing [possible options](https://github.com/LightTable/LightTable/blob/53a90bee4c2c6758e4b5dffdffbc32256a05e00d/deploy/core/node_modules/codemirror/addon/edit/closetag.js#L13-L24) as a js object:

[2016-01-22 17:20] uripatish commented on #462
Still happening in lighttable 0.8.0

[2016-01-23 03:28] kenny-evitt commented on #974
@Sisyphuss I think the problem is that *0.8.0-alpha* is considered a newer version than *0.8.0* – see #2081.

I suspect both issues will be resolved, even if the underlying issues aren't fixed, by upgrading to the even newer version *0.8.1*.

[2016-01-23 14:51] Sisyphuss commented on #974
@kenny-evitt thanks! After upgrading to 0.8.1, the problem disappears.

[2016-01-23 16:19] kenny-evitt commented on #974
@Sisyphuss Excellent :tada:

[2016-01-24 15:04] palfrey commented on #2130
Seeing the Zlib error on OS X from version 0.7.2. I'm trying to update via the LightTable menu item.

[2016-01-24 21:55] geusebi commented on #2038
What actually is the purpose of `set-width-final!` in `lt/objs/tabs.cljs`?
I am asking this because it looks like removing it entirely fixed the bug. I don't know clojure enough to be sure of what I'm doing so I'll not send a pull request for now.

[2016-01-25 11:58] RatanRSur commented on #1821
I don't use LT anymore so no worries if you close it.

[2016-01-26 06:18] cldwalker commented on #1821
Ok. Can't fix without reproducible steps

[2016-01-26 06:18] #1821 closed

[2016-01-26 06:20] cldwalker commented on #2130
Closing as there isn't anything we can do for errors on upgrading for old versions. Code base has changed too much to backport anything more than a few months back

[2016-01-26 06:20] #2130 closed

[2016-01-26 06:21] cldwalker commented on #1785
Closing for reasons stated above

[2016-01-26 06:21] #1785 closed

[2016-01-26 06:24] cldwalker commented on #1897
Closing for reasons stated above

[2016-01-26 06:24] #1897 closed

[2016-01-26 06:36] cldwalker commented on #2111
Hi. I'm not sure what the actionable request is here. If you're having permissions with using the light script then it's reasonable for you to fix your permissions issues. Most of linux users are not experiencing permissions issues with symlinking. If you have specific advice on install documentation you think would help than I'm happy to consider it

[2016-01-26 06:37] cldwalker commented on #2114
Closed by #2115

[2016-01-26 06:37] #2114 closed

[2016-01-26 15:29] kenny-evitt commented on #1984
@scelera That looks new.

[2016-01-26 17:50] kenny-evitt opened #2133 "Automate creating Chocolatey package"
Brian Dukes created [a Chocolatey package for Light Table](https://chocolatey.org/packages/LightTable). [Chocolatey is a pretty awesome package manager for Windows.]

He recently updated it for the latest (0.8.1) version of Light Table.

This issue covers automating the creation of the Chocolatey package.

[2016-01-26 17:59] cldwalker commented on #2133
That's cool to hear about Chocolatey. I don't think this should be in LightTable though. We've had several linux issues e.g. #1259 around install setup and preferences for various distros (search for "linux scripts") and I've consistently responded that's out of scope for us. Given what we have on our plate I'd prefer not to be expanding our maintenance to include installation. If you or Brian wou

[2016-01-26 18:14] kenny-evitt commented on #2133
@cldwalker That's fine, putting this in an unofficial repo. This issue is just a placeholder.

[2016-01-26 18:41] kenny-evitt commented on #2131
[Someone else reported this on Gitter.](https://gitter.im/LightTable/LightTable?at=56a77c8ceaf741c118d4f384)

But I couldn't reproduce this myself just now.

@ProjectINT What steps are you taking that result in the docs tab appearing like in your screenshot?

[2016-01-26 19:47] Tuborgman commented on #2131
Hello! This is reproducible on OSX OSX 10.11.3.
Steps are simple:
1. Open the editor.
2. Click on the highlighted link "Light Table's online docs"
3. Observe the issue on the just opened right pane.
http://pasteboard.co/15ckPBxw.png

[2016-01-26 21:22] kenny-evitt commented on #462
@uripatish Any chance you could create something like a (small) vagrant VM that we could use to reproduce this? Otherwise, I can probably setup a Samba share eventually.

[2016-01-26 22:41] kenny-evitt commented on #2038
@geusebi My *guess* is that it's supposed to perform the final adjustment after you stop dragging the tabset. If it seems like removing it fixes this bug, create a PR and I'll test it out too. If it doesn't seem to break anything else, we can ask others to review the change as well. You're certainly not really any *less* of an expert about this code than I!

[2016-01-27 05:32] cldwalker commented on #2133
:+1:

[2016-01-27 18:18] mheiber opened #2134 "Writing ES2015+ JavaScript with a transpiler"
Does LightTable support using ES2015+ and transpiling for the browser?

For example, if I'm using Webpack or Browserify with BabelJS for compiling ES2015+ to ES5, is there a way to get LightTable to understand the modern JavaScript and/or read the sourcemaps? I'd want to use features not yet available in Chrome, but still work with the live Browser view. JSX support would also be great.

[2016-01-27 23:18] kenny-evitt commented on #2131
I can't reproduce this [note to me – T] on a Windows 7 computer running a recent source build (at least as recent as version 0.8.1).

Interestingly, when I *left* click on the link, a new tab is opened – in the same tabset as the "Welcome" tab.

The docs tab is also named differently – my tab is named "Light Table docs". But in both of the screenshots provided by @ProjectINT and @Tuborgman, the ta

[2016-01-28 04:17] kenny-evitt commented on #2131
I was able to reproduce this on a Windows 10 computer [note to me – L] just now.

I was running 0.8.0. The Docs opened fine – old style.

I upgraded to 0.8.1. When I closed and re-opened LT and then clicked the docs link I got the shrunken docs tab in a new tabset.

[2016-01-28 04:18] kenny-evitt commented on #2131
I just downloaded 0.8.1 from the website on the same Windows 10 computer. The docs link opens in a tab in the *same* tabset, and it's not shrunk.

[2016-01-28 04:32] kenny-evitt commented on #2131
@cldwalker @rundis I ran a diff between the directories with the 0.8.0 and 0.8.1 versions of LT on my computer. The LT in the 0.8.0 directory *should* have been upgraded to 0.8.1. But *resources\app\core\node_modules\lighttable\cljs\lt\objs\docs.js* in the 0.8.0 directory doesn't match the one for 0.8.1. In fact, 38 files in that same directory don't match.

[2016-01-28 11:46] Trapets opened #2135 "Button - Exit Fullscreen is floated to left side"
Hei!

In LT v0.8.1 and Win7, button with _class="button fullscreen"_ is floated to left side of first tabset.

![lt_bug_exitfulls](https://cloud.githubusercontent.com/assets/5584236/12643517/3ebaead6-c5c5-11e5-9b65-b50195eb40f1.png)

Trapets

[2016-01-28 13:36] cldwalker commented on #2135
Hi! That button class was removed before the 0.8.1 release in https://github.com/LightTable/LightTable/commit/0af45fa998824318945372bad3cca6c9aec71e35. I think this may be an issue where LT's auto-update didn't pull in the latest changes. Could you download 0.8.1 from the website?

[2016-01-28 13:55] Trapets commented on #2135
I downloaded and extracted LT, the button is gone. Thanks.

[2016-01-28 13:58] cldwalker commented on #2135
Great!

[2016-01-28 13:58] #2135 closed

[2016-01-28 16:07] SnoringFrog opened #2136 "LT "updates" to 0.8.1 on every restart"
Every time I restart, LT claims it can update to 0.8.1. I say 'dowload and install'; it tells me the install was successful; I close it and restart; the cycle starts over.

Each time I get these errors in the console:

[code]

Running on OSX El Capitan 10.11.1. I open LightTable with this script:

[code]

[2016-01-28 17:11] kenny-evitt commented on #2136
@SnoringFrog What version of LT are (or were) you on before upgrading? You may need to just download the latest version.

[2016-01-28 21:53] SnoringFrog commented on #2136
I'm on 0.8.0

[2016-01-28 23:27] Tuborgman commented on #2131
@kenny-evitt

Sure - generally I'm not keeping it open all the time ) So this is reproducible after reloading the app.

[2016-01-29 14:06] cldwalker commented on #2134
Hi. LightTable's [JavaScript plugin](https://github.com/LightTable/Javascript) doesn't support transpiling but we are happy to take PRs for it. If you're interested [js eval starts here](https://github.com/LightTable/Javascript/blob/f9bec2496573ef66e396b1d3d6a48ccea57d0f08/src/lt/plugins/js.cljs#L139-L158). You can require in most npm packages e.g. [acorn required here](https://github.com/LightTab

[2016-01-29 15:45] mheiber commented on #2134
Is there a way to integrate with Babel and just use their source maps? That would provide a lot of flexibility and wouldn't require mucking around with acorn. I'm not sure if that makes sense or how source maps would fit in with the LightTable architecture.

[2016-01-29 20:30] kenny-evitt commented on #2136
@SnoringFrog [I also ran into problems upgrading from 0.8.0 to 0.8.1 on a Windows computer.](https://github.com/LightTable/LightTable/issues/2131#issuecomment-175963927)

[2016-01-30 03:35] jimypbr opened #2137 "autoclose-brackets doesn't work in v0.8.1"
I just updated to 0.8.1. In the release log it says:
* CHANGED: [:app :lt.objs.settings/pair-keymap-diffs] behavior is being deprecated. Use [:editor :lt.objs.editor/autoclose-brackets] in your user.behaviors instead.

So I replaced the first one with the second in user.behaviors. However the brackets now no longer autoclose when I do (, [, {, etc.

My user.behaviors:

 [:app :lt.objs.style/set-sk

[2016-01-30 15:41] cldwalker commented on #2137
Hi. Thanks for the bug report. What file type are you on when you tried closing? Perhaps try other file types. autoclose-brackets has different default characters it closes depending on the file type. If that doesn't work I'd recommend downloading 0.8.1 from our website. We've had a recent auto-update issue in #2036 and want to make sure you're not getting bitten by that

[2016-01-30 16:05] jimypbr commented on #2137
Hi. I am trying on a clojure (.clj) file. Tried others and got the same.
Downloading version 0.8.1 from the website and using that fixed the problem. Thanks!!

[2016-01-30 16:05] #2137 closed

[2016-01-30 19:46] danbst commented on #1869
confirm, lighttable 0.8.1 hasn't this issue

[2016-01-31 17:13] kenny-evitt commented on #2137
@cldwalker @rundis I think this is more evidence that something is wrong with upgrading.

[2016-01-31 17:26] kenny-evitt opened #2138 "Upgrading isn't working"
There are several recent bug reports for users that upgraded in LT, for 0.8.1 in particular, that are reported as being fixed by downloading the relevant release package directly. Some of those issues:

 - [Error: incorrect header check at Zlib._binding.onerror (zlib.js:295:17) · Issue #2130 · LightTable/LightTable](https://github.com/LightTable/LightTable/issues/2130) – this involved (at least in

[2016-01-31 17:27] kenny-evitt commented on #2130
[I created an issue to look into problems with upgrades in LT.](https://github.com/LightTable/LightTable/issues/2138) Note that we're restricting this to upgrading from 0.8.0 to later versions as too much changed between 0.7.2 and 0.8.0.

[2016-02-01 22:19] kenny-evitt commented on #1649
@mtaurone @shamrin Would you confirm whether you're still having this problem on the latest version?

@cldwalker @rundis I can't reproduce this on a Windows 7 computer [T]. Can either of you reproduce this on any of your computers?

[2016-02-01 22:23] kenny-evitt commented on #1700
@cldwalker @rundis This would be nice to have but is there any real reason to keep it open?

Note to anyone else that reads this – we're open to re-opening (assuming we close it) if anyone is willing to work on it.

[2016-02-01 22:32] kenny-evitt commented on #1711
@cldwalker Should we move this to the feature wishlist?

[2016-02-01 22:40] cldwalker commented on #1649
I've been able to reproduce on osx. Hope to add more to this in a week

[2016-02-01 22:44] cldwalker commented on #1700
@kenny-evitt I've marked this as a feature which means it will eventually be on a milestone. We should be able to recover some data when our app crashes

[2016-02-01 22:45] kenny-evitt commented on #2029
I added [a section to the FAQ](https://github.com/LightTable/LightTable/wiki/FAQ#windows) about problematic directories in which to install LT on Windows.

[2016-02-01 22:54] carocad opened #2139 "plugin template seems not to work"
Hey guys, I followed the [quick tutorial](https://www.youtube.com/watch?v=j91Li9kL0t8&feature=youtu.be) to get a Lighttable plugin running but when I try to call the 'hello' command, the plugin crashes. Here is the output from the console:

[code]
As can be seen from the error message, my lighttable version is 0.8.1 with a 0.34.5 binary version in Ubuntu 14.04. I also tried the tutorial shown [her

[2016-02-01 23:02] kenny-evitt commented on #1749
I added [a section to the FAQ](https://github.com/LightTable/LightTable/wiki/FAQ#windows) about problematic directories in which to install LT on Windows.

[This answer](http://stackoverflow.com/a/8424542/173497) on the Stack Overflow question ["windows - Do applications installed to Program Files have permissions to modify their folder?"](http://stackoverflow.com/questions/8424412/do-applications

[2016-02-01 23:02] #1749 closed

[2016-02-01 23:03] kenny-evitt commented on #2138
I was able to reproduce #2131 just now after downloading and install 0.8.0 and then supposedly upgrading it to 0.8.1.

[2016-02-01 23:07] kenny-evitt commented on #2138
So, to clarify, I was able to reproduce this issue just now on a Windows 7 computer [T].

[2016-02-02 05:49] mtaurone commented on #1649
Can confirm problem still exists as of Light Table version 0.8.0

On Mon, Feb 1, 2016 at 2:40 PM, Gabriel Horner <notifications@github.com>
wrote:

[2016-02-02 05:53] mtaurone commented on #1649
Disregard, problem fixed as of latest update. Discovered that it wasn't
updating on its own and remedied problem.

On Mon, Feb 1, 2016 at 9:49 PM, Matthew Taurone <matthew.taurone@gmail.com>
wrote:

[2016-02-02 16:32] jdnier commented on #1143
Thanks for this!

[2016-02-04 00:37] cldwalker commented on #2139
@carocad  On osx I'm able to generate a new plugin and run the hello command. Could you be more specific about the exact steps that lead to your error? Do you have a github repo that has your failing command? It's hard to debug without reproducible steps

[2016-02-04 03:34] ProjectINT commented on #2131
0.8.1 fixed it for me, all looks fine.

[2016-02-04 04:46] Tuborgman commented on #2131
0.8.1 is a version which has this issue at least on OSX 10.11.3.

[2016-02-04 10:17] carocad commented on #2139
@cldwalker No I don't have a github repo of the failing command as I used the code directly given to me by the leiningen template. I was just trying to run my first plugin.
As for the steps they are exactly was being told on the Youtube tutorial. For the sake of clarity here are the steps:

- ```~/.config/Lighttable/plugins/$ lein new lt-plugin clare```
- open Lighttable and add the folder to the

[2016-02-04 10:33] carocad commented on #2139
@cldwalker after a little introspection I figured out what was the problem. I have my Lighttable configured for executing the whole file on save but somehow that was not working for Clojurescript. When I correctly executed the whole file (Ctrl+ Shift + Enter) then the behaviours were loaded and there was no error on the console.

Everything as expected.

PS: I was mislead by the video since in the

[2016-02-04 10:33] #2139 closed

[2016-02-04 14:14] cldwalker commented on #2139
Thanks for the feedback. Glad you got it working

[2016-02-05 15:50] #2011 closed

[2016-02-05 15:50] kenny-evitt commented on #2011
This has been done for a long while now.

[2016-02-06 14:45] paulMihei opened #2140 "Clojure: hash set literal notation exception"
After pressing Ctrl + Shift + Enter (It's the same with Ctrl + Enter)
![image](https://cloud.githubusercontent.com/assets/4924690/12867137/e561fc0e-cce5-11e5-8a4a-3bb216e74d1a.png)

but

![image](https://cloud.githubusercontent.com/assets/4924690/12867165/b1f4b04a-cce6-11e5-8feb-191cb3706992.png)

What I have installed on my Windows 10 64bit:
![image](https://cloud.githubusercontent.com/assets/492

[2016-02-06 20:13] kenny-evitt commented on #2140
@paulMihei This is a duplicate of LightTable/Clojure#71. The recent versions of the Clojure plugin require a Clojure version of 1.7.0 or newer. I'm guessing your project is using an earlier version. You should be able to update the version your project uses – I just did for the project for which I ran into this and I didn't have any problems.

I'll re-open this if your issue is different than mine

[2016-02-06 20:13] #2140 closed

[2016-02-07 21:26] mbennette68 commented on #2130
I just start Light Table.  Message pops up saying, "There's a newer version of Light Table!

Would you like us to download and install version 0.8.0?"  I click on, "Download and Install."  App starts updating, never stops, and Console displays error, "Error: incorrect header check
    at Zlib._binding.onerror (zlib.js:295:17)"  Don't ever see that it actually updates, at all.

[2016-02-07 21:38] rundis commented on #2130
@mbennette68: As @kenny-evitt  states above there is a known issue with upgrading from 0.7.2 to the newest version of Light Table (which is 0.8.1 btw). If you would be so kind to try to download the newest binary from http://lighttable.com/ and install it for your platform. Hopefully you should be good to go after that. (A lot has changed since 0.7.2 so an easy upgrade just isn't/wasn't possible)

[2016-02-07 21:44] mbennette68 commented on #2130
Appreciate the advise and will proceed to download new binary :)

[2016-02-08 10:55] neelspoc32 opened #2141 "JNDI Lookup Failed For Clojure Code."
I am trying eval a lookup clojure code in my editor.

`(@ (delay  {:datasource (yc/lookup-jndi "java:comp/env/jdbc/MDB")}))`

But it gives me an error saying -

[code]

Note - Path Names have been changed in error.
It works from the command prompt.The lookup-jndi code comes from a library.

[2016-02-08 11:36] kenny-evitt commented on #2141
@neelspoc32 What OS are you running? What version of LT are you using? And would you share a minimal example project with code with which you can reproduce this error?

Also, specific steps to reproduce this – and specific steps to observe that it "works from the command prompt" would be extremely helpful.

[2016-02-08 16:29] rundis commented on #2141
Where is the jndi entry defined. Typically you would do that in a container like jetty,tomcat, jboss or whatever ? Are you sure you have bootstrapped the jndi setup and if yes did you do it the context of the same repl connection you are trying to do the lookup evaluation from ? Say it's Jetty for arguments sake, did you start jetty through a repl connection in LT prior to trying to do the lookup?

[2016-02-09 02:03] bdukes commented on #2133
I've added a link to the Chocolatey package in that wiki article.

Regarding keeping this up-to-date, I just update the download URL and the version number and republish every time there's a new release.  Alternatively, there's a tool to automatically generate packages, but I haven't gotten all of the pieces working.  The details of that are at https://github.com/chocolatey/choco/wiki/AutomaticPac

[2016-02-09 08:42] neelspoc32 commented on #2141
hey, sorry for the trouble caused.I am not sure what was  the exact problem,but i reinstalled the light table , cleanup the temp files and set the proxy again and it seems to be working now.

[2016-02-09 08:42] #2141 closed

[2016-02-11 07:01] cldwalker commented on #1939
If you run `Toggle line wrapping` command while on the tab, the text wraps. I could see reasons for not wrapping by default e.g. one visual line per changed/fix/added and we don't normally change wrapping defaults for specific tabs. It also seems the kind of users that care about wrapping, would have it set [as a global behavior](https://github.com/LightTable/LightTable/blob/050c8d8dcc48efe0e304d9

[2016-02-11 07:03] cldwalker commented on #2111
Closing as I haven't heard back on documentation. I can reopen if you'd like to address the above

[2016-02-11 07:03] #2111 closed

[2016-02-11 11:55] Erdk opened #2142 "Wrong version of Go plugin, cannot install, 404"
I've tried to install Go plugin but I've got 404 error:
`Error: Error downloading: https://api.github.com/repos/toqueteos/LightTable-Go/tarball/0.0.3 status code: 404...`
From what I found the only versions (branches) of Go plugin are 0.1.0 and 0.1.3.

OS: Fedora 23
Version: 0.8.1

[2016-02-11 12:51] rundis commented on #2142
There really isn't anything we can do about this. You need to contact the plugin author and ask him/her to make a proper release following the instructions for submitting plugins in https://github.com/LightTable/plugin-metadata

btw seems pretty stale, so there's a good chance it needs some fixing to be compatible with LT 0.8.*

[2016-02-11 12:51] #2142 closed

[2016-02-14 12:00] mauricioszabo commented on #2049
I've started a simple plugin in LightTable, based on https://github.com/LightTable/Declassifier.

It's hosted on https://github.com/mauricioszabo/lt_parinfer. The plugin is usable right now, it uses the node.js' version of parinfer. Some simple problems that propably will appear:

1. The plugin re-evaluates the whole text, so it might be slow with huge files
1. I didn't find any good documentation

[2016-02-14 14:07] DogLooksGood opened #2143 "How to map key for select completion candidate with ctrl-n and ctrl-p?"
The tag is `:editor.keys.hinting.active`, but what's the command?

[2016-02-14 16:22] shaunlebron commented on #2049
Great work @mauricioszabo!

For some background, parinfer was rewritten in JS, so this makes the cljs-compatibility blocker go away.

To address the points made:

1. You may notice slowness (50ms delay) at around 5k-6k lines.  Anything lower than 3k will be fine.
2. (idk)
3. Cool, this is fine early on, but it's critical to run Paren Mode on a file before it's opened.  This prevents Indent Mode fr

[2016-02-14 16:26] ohAitch commented on #2049
I'm guessing caching per-line paren state the way codemirror does for
syntax highlighting is also a non-beta function? :P

On Sunday, 14 February 2016, Shaun LeBron <notifications@github.com> wrote:

[2016-02-15 06:53] rundis commented on #2143
This should give you a hint:
https://github.com/LightTable/Emacs/blob/master/emacs.keymap#L86-L91

[2016-02-15 07:37] #2143 closed

[2016-02-15 13:34] DogLooksGood commented on #2143
Exactly what I'm looking for!

[2016-02-17 01:05] yogthos opened #2144 "nREPL hangs trying to connect to a Luminus project"
steps to reproduce

* create a new project with `lein new luminus myapp`
* run the project with `lein run`, this will start nREPL on port `7000`
* open a namespace from the project in LT and try to do add connection nREPL on `localhost:7000`

The `Connecting...` message appears and hangs, no errors appear.

[2016-02-17 07:05] cldwalker commented on #2144
Hi yogthos. When I try this on osx 10.10, I don't get a hang but instead a connection to a new process (which isn't correct). When I do [a remote connection](https://github.com/LightTable/Clojure#connect-to-remote-nrepl) via `lein repl`, I'm able to correctly communicate with the server process via lein's nrepl server and can run `start-app`. Are you aware of any differences b/n [luminus' nrepl se

[2016-02-17 07:41] rundis commented on #2144
Beat me to it, I was about to mention that the steps to reproduce didn't take into account the need to add lein-light-nrepl and nrepl-options to project.clj

[2016-02-17 14:14] yogthos commented on #2144
Yeah, I'm a bit stumped on this one as well. The nrepl started by luminus should be pretty standard and cursive connects just fine, and I can connect by running `lein repl :connect 7000` as well. What's the relationship of lein-light-nrepl and nrepl-options to the app starting the repl though. Wouldn't that be happening on LT end?

[2016-02-17 14:45] RobertWalter83 opened #2145 "LightTable 0.8.1, Windows 10, No Instarepl"
I installed LightTable 0.8.1 under Windows 10. I'm able to evaluate lines by pressing Ctrl+ENTER.

I wanted to try out Instarepl, but it cannot be found. I tried searching for it in the commands view with "repl" and other search strings, but it doesn't show up. Am I missing something?

[2016-02-17 15:21] rundis commented on #2145
@RobertWalter83 The instarepl has been factored out to a separate plugin that no longer ships with LT by default. Ref https://groups.google.com/forum/#!topic/light-table-discussion/VLOYWhCtCQg

You can find the instarepl plugin in the Light Table plugin manager.

[2016-02-17 15:21] #2145 closed

[2016-02-17 15:31] RobertWalter83 commented on #2145
Thanks, I was only browsing the ChangeLog for a change like that but didn't see it.

[2016-02-18 07:23] cldwalker commented on #2144
For a given port and host, LT opens a [connection to a nrepl client](https://github.com/LightTable/Clojure/blob/faa4b896bb24d157900508b062a066af04893d24/src/lt/plugins/clojure/nrepl.cljs#L76-L82). The lein-light-nrepl middleware entry fn is [lighttable-ops](https://github.com/LightTable/Clojure/blob/faa4b896bb24d157900508b062a066af04893d24/lein-light-nrepl/src/lighttable/nrepl/handler.clj#L21). Tw

[2016-02-19 18:45] mathk opened #2146 "ReferenceError: exports is not defined"
When trying to execute an node 'express' application I have the following issue:

To reproduce:

$ mkdir test
$ node init
$ nam install express --save

Create a file app.js:

[code]

Then add a new connection in LT using the app.js.

Environment:
LT: 0.8.1
OS: OSX 10.11.3
Node: 5.6.0 ( Tested with 4.3.1 and 0.12.7 as well)

[2016-02-20 09:20] mtbar131 commented on #2048
Hi,
I would like to work on this bug to fix it. I am a beginner in clojure and I think this will be a perfect place to start.

[2016-02-20 15:24] kenny-evitt commented on #2048
@mtbar131 Great! Take a look at the code and ask questions in comments here in this issue or in [the Gitter chat room](https://gitter.im/LightTable/LightTable).

[2016-02-21 17:19] mheiber commented on #2134
I'd really like to take a crack at this but have no idea where to start. It would be great to get some advice from package authors. Is this a good place to ask or is SO the right forum?

[2016-02-21 20:26] rundis commented on #2134
Maybe the [Discussion forum](https://groups.google.com/forum/#!forum/light-table-discussion)
or [gitter](https://gitter.im/LightTable/LightTable) would be better for getting assistance with plugin authoring etc.

[2016-02-21 21:35] mheiber commented on #2134
Thanks!
On Feb 21, 2016 3:26 PM, "Magnus Rundberget" <notifications@github.com>
wrote:

[2016-02-22 09:06] #2146 closed

[2016-02-22 09:06] mathk commented on #2146
Post this issue to Javascript repo.

[2016-02-22 12:54] geusebi commented on #2038
Sorry, totally forgot to create the pull request.
If you can test it, I would appreciate it.

[2016-02-22 17:05] robjens commented on #2111
@cldwalker  Good call I guess, as there isn't really a proper solution as long as there is a symlink being created on executing the binary (in this case made for command line usage, may I add - light), you must run it as root when there are root permissions applied on the file. Simple as that. Normally, one has this process, if needed, take place during a formal installation procedure where rights

[2016-02-22 17:12] robjens commented on #2112
Yes indeed I've found what was the culprit although I do not remember what it was and should had closed this ticket. Thanks

[2016-02-23 09:56] gdad-s-river commented on #2065
I'm facing the same problem. But I have no idea where to disable the new version check from minutes to hours?

[2016-02-24 10:26] echox opened #2148 "Metrics should be disabled by default or at least inform the user"
Hi,

LT keeps constantly polling app.kodowa.com/_fetch.
At the moment it fails with:

`Failed to load resource: the server responded with a status of 500 (Server Error): http://app.kodowa.com/_fetch`

The Feature is mentioned at the FAQ as "autopolling" (https://github.com/LightTable/LightTable/wiki/FAQ#how-do-i-turn-off-lts-autopolling).

As a user I have no idea that there is such a feature and

[2016-02-24 12:56] muhuk commented on #2148
Still 500'ing.

[2016-02-24 15:15] sersajar opened #2149 "Error: http://app.kodowa.com/_fetch"
It gives me this error on the console every few seconds while I navigating through the menu or searching for plugins. How can i fix it???

Failed to load resource: the server responded with a status of 500 (Server Error): http://app.kodowa.com/_fetch

[2016-02-24 16:21] kenny-evitt commented on #2149
This is a duplicate of #2148.

[2016-02-24 16:21] #2149 closed

[2016-02-24 17:20] ibdknox commented on #2148
The symptom should be fixed now after some surgery on the server. Though as far as I know, that server is completely unnecessary now, so probably best to just completely move off of it.

[2016-02-26 22:59] jbenet commented on #1403
i think it is a mistake to assume that lack of voices on github == lack of interest. obviously you have dev priorities and so on, nobody will be unhappy with you doing what you think is best. But people do exist that care about these things, so bear that in mind even if "people haven't shown interest".

FWIW, the reason i care about it a lot is that i use Nocturne/Tranquility, and the dark skin lo

[2016-02-26 23:29] cldwalker commented on #1403
We have higher priorities. Happy to take a light skin contribution from users who care about this

[2016-02-28 00:24] henrywright opened #2150 "Error opening console for first-time installs"
Hey guys,

I just installed a fresh copy of Light Table 0.8.1 on Ubuntu 14.04 and am loving it. When I click on View > Console I get the following error:

[2016-02-28 16:29] npenzin commented on #2078
The problem affects the "search" bar also.
The thing is about "user agent stylesheet" -> font: '.AppleSystemUIFont'

Adding custom styles seems to fix it somehow 🤔
![2016-02-29 00-25-27 window](https://cloud.githubusercontent.com/assets/1782287/13380336/d7d6b91e-de72-11e5-9829-32c8a88bd506.png)

[2016-02-28 19:56] cldwalker commented on #2148
@ibdknox Thanks for the fix
@echox Agree there should be some mention of tracking in the About and or Welcome screen. We'll be tracking this work in #2080

[2016-02-28 19:56] #2148 closed

[2016-02-28 19:57] cldwalker commented on #2080
If we decide to keep tracking, per #2148 we should put a notice in the Welcome screen and possibly the About as Atom does

[2016-02-29 13:47] henrywright opened #2151 "Cannot scroll horizontally through open file tabs"
If I open lots of files resulting in lots of tabs across the top of the screen, there seems to be no way to horizontally scroll through them.

I'm using Ubuntu 14.04 with Light Table 0.8.1.

[2016-02-29 14:36] alekseilunacharskii commented on #533
Hello, I've invested some time to create a really simple wrapper around butterfly.
See here for details https://github.com/alun/terminal/blob/master/README.md
There of course some more work to do to make it more pleasant to use.

[2016-02-29 20:07] kenny-evitt commented on #2151
This would be nice but I'm not sure there's an easy solution. Personally, I find that I often want to close tabs when I have more than a few open at once. The 'open file bar' provides a really easy way to open any file (for which I can remember the name, and for which there is some mostly-unique subset of text in that name).

Why are you opening "lots" of files simultaneously?

Are you willing to

[2016-02-29 20:20] henrywright commented on #2151
I'm not really opening lots. I'm working on a smaller screen so don't have much real estate to play with.

It also depends on the names of the files I have open, longer file names seem to take up more space.

Would love to but I don't have any ClojureScript experience :(

[2016-03-01 09:15] Berkana commented on #2150
I also got this problem. I'm using the most recent version of MacOS X.

[2016-03-01 12:45] kenny-evitt commented on #2151
@henrywright Thanks for the feedback.

Maybe instead of scrolling the tab labels we could add an overlay that lists all the tab labels, e.g. after the user presses <kbd>Ctrl</kbd>+<kbd>Tab</kbd> and continues to hold <kbd>Ctrl</kbd>.

With regard to ClojureScript experince, you're in luck – we don't require any experience! You still have to write ClojureScript code tho :smile

More seriously, if n

[2016-03-01 14:00] henrywright commented on #2151
Thanks @kenny-evitt I think I can work around this because it's easy to click on a file in the file tree and jump to the appropriate tab.

[2016-03-01 16:08] henrywright opened #2152 "Trouble with git branching"
I have 2 branches `foo` and `bar`, both with a clean working directory.

In branch `foo` I make some changes and then run `git status` to find I have some changes ready to be staged.

Now if I switch to branch `bar` and run `git status` I expect the working directory to be clean. However, I see the changes ready to be staged which I made on branch `foo`.

[2016-03-01 16:39] kenny-evitt commented on #2152
Changing branches in a Git repo doesn't 'clean' your index (what tracks your uncommitted changes).

And this is not (obviously) related to LightTable.

[2016-03-01 16:39] #2152 closed

[2016-03-01 16:42] kenny-evitt commented on #2152
If you want to 'save' your changes without committing them, run `git stash` or `git stash -u` (to include new files in the stashed changes) before switching branches.

[2016-03-01 16:47] henrywright commented on #2152
@kenny-evitt of course. I do apologise :+1:

[2016-03-01 18:52] rushabhdotshah opened #2153 "lighttable We couldn't find java. Clojure evaluation requires the JDK to be installed."
Light Table version
0.8.1

 3.19.0-30-generic #34-Ubuntu SMP Fri Oct 2 22:08:41 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

How to resolve "We couldn't find java. Clojure evaluation requires the JDK to be installed."

I do have java installed:
Picked up JAVA_TOOL_OPTIONS: -javaagent:/usr/share/java/jayatanaag.jar
java version "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
Java HotSpo

[2016-03-01 22:32] kenny-evitt commented on #2153
@rushabhdotshah Can you run your Clojure project with Leiningen from the command line via `lein run`?

[2016-03-01 22:33] kenny-evitt commented on #2152
@henrywright No worries!

[2016-03-01 22:41] kenny-evitt commented on #2065
@gdad-s-river There's nowhere to change the version-check frequency but the latest version (0.8.1) only checks once an hour instead of every five minutes.

[2016-03-02 02:20] kenny-evitt commented on #2153
@rushabhdotshah You can explicitly specify the path to your Java executable in your *user.behaviors* file by adding a behavior item like this:

[code]

where `"path"` is of course the relevant executable path.

[This is the relevant code](https://github.com/LightTable/Clojure/blob/2aeab5ca0831b6755b81f408758b8fea850f601d/src/lt/plugins/clojure.cljs#L816-L820) in the Clojure plugin that determines

[2016-03-05 23:14] jrlawson opened #2154 ""Cannot find command: julia""
Have Julia 0.4.3 installed. Have LightTable 0.8.1 installed. added a launcher (Ubuntu). Ran

Pkg.update()
Pkg.add("Atom")

from julia. All is well. When I launch LightTable from the launcher I get "Cannot find command: julia" When I launch LightTable from the command line. it finds Julia just fine. Restarting doesn't help. Blowing LightTable away and reinstalling doesn't help. Any hints?

[2016-03-06 13:18] Trapets commented on #2151
Maybe what you are looking for: `ctrl`+`shift`+`tab` and you can also define shortcuts for next and previous tab. Mouse over tabname and scroll.

[2016-03-07 23:15] kenny-evitt commented on #2138
@cldwalker @rundis I narrowed this down somewhat. I'm using #2131 as my example issue – that seemed to have been caused by *resources\app\core\node_modules\lighttable\cljs\lt\objs\docs.js* not being copied during the upgrade. And it's not being copied because it doesn't exist in the tarball that's downloaded.

[Here's the relevant code that generates the tarball URLs](https://github.com/LightTable

[2016-03-08 17:58] naomik commented on #2150
:+1: Same for me on OS X

[2016-03-09 02:23] kenny-evitt commented on #2150
@henrywright @Berkana @naomik Where are you seeing the error? In the console?

I can't reproduce this on my Mac [F].

[2016-03-09 07:37] rundis commented on #2150
Hm not able to reproduce either. Even after deleting the ltcache directory.
Does it help if you create the dir manually (and optionally an empty default.clj in the appropriate location) ?

[2016-03-09 11:06] henrywright commented on #2150
@kenny-evitt it looks as though it's showing inside the console.

[2016-03-09 11:10] henrywright commented on #2150
@rundis I thought let me try clicking View > Console again (before I try creating the dir manually as you suggested). Now I see something different. I no longer get the error message, just a blank console. I assume that's what I should be seeing?

[2016-03-09 13:41] rundis commented on #2150
@henrywright Unless there is something actually logged to the console, yeah !
1. try opening a new tab (cmd/ctrl + n)
2. cmd/ctrl + enter
3. Editor: Set current editor syntax
4. Select say JavaScript
5. Enter something like `console.log("hello")`
6. Eval the line (cmd/ctrl + enter with the cursor placed at the end of the line)

you should see hello in the console :-)

[2016-03-09 14:55] henrywright commented on #2150
@rundis doing those steps, I get

[2016-03-09 15:03] rundis commented on #2150
@henrywright which is what it should be. So your console is working as expected.

[2016-03-09 15:04] henrywright commented on #2150
Yes, it does seem to be working now. Thanks for your help.

[2016-03-09 15:07] rundis commented on #2150
No prob.
@Berkana @naomik Are you able to get the console working properly on subsequent tries (ie is the error message just shown once/first time you tried to display the console) ?

[2016-03-10 01:12] cldwalker commented on #2138
@kenny-evitt Thanks for taking a look. That sounds like a good place to dig in

[2016-03-10 21:24] Berkana commented on #2150
Here's what I see when I try to run some code:

![screen shot 2016-03-10 at 1 03 20 pm](https://cloud.githubusercontent.com/assets/1445825/13685045/72517f62-e6c3-11e5-8cab-e68c045689c3.png)

[2016-03-11 01:22] mrobbetts opened #2155 "How to use a key other than tab for autocomplete?"
I'm new to Light Table, and can't figure out how to use a key that isn't tab to summon autocomplete. Hopefully this is simple!

I am having literally the worst user experience ever, because most of the time when I press Tab, I just want to insert a tab character. However, instead, LT insists on trying to insert some text -- or, even worse, changing the word I have just finished typing into the nea

[2016-03-11 15:42] kenny-evitt commented on #2155
@mrobbetts Somewhat ironically, you can use autocompletion to check – open your 'user behaviors' file and type "autocomplete" or similar variations; any behaviors should be listed in an autocomplete dropdown.

But, if you can't find a suitable behavior, or there isn't one currently, you can dismiss the autocomplete 'hinter' by hitting <kbd>Esc</kbd>. That should be a lot easier when you want to en

[2016-03-11 15:45] kenny-evitt commented on #2150
@Berkana That's a different issue but try <kbd>Cmd</kbd>+<kbd>Shift</kbd>+<kbd>Enter</kbd> to evaluate the whole file. Or, first evaluate the first form with <kbd>Cmd</kbd>+<kbd>Enter</kbd> and then evaluate the second fom with the same shortcut.

[2016-03-12 00:04] mrobbetts commented on #2155
I did try that. I can't find anything in there related to `hinting` or `autocomplete`. I'm finding discoverability in LT to be quite difficult though. Perhaps I am doing it wrong. Could you tell me the exact sequence of keypresses you would make to prompt the hinter?

Oh, if only that were true. You can dismiss it, but if you press Tab again, it just comes back!

[2016-03-12 00:54] jeffbonhag opened #2156 "font-family: '.AppleSystemUIFont' on buttons"
Hi,

First off, I apologize if this isn't really an issue, but it always pops out at me so I thought I'd report it.  The buttons on the Welcome page look like they're using a generic serif font:

<img width="519" alt="screen shot 2016-03-11 at 7 46 45 pm" src="https://cloud.githubusercontent.com/assets/6937257/13719336/0e46bcc6-e7c2-11e5-8df7-4e00d278dfb8.png">

Is this the way it's intended to lo

[2016-03-12 01:20] kenny-evitt commented on #2155
@mrobbetts Yeah; there doesn't seem to be any behavior for that. There are two autocomplete behaviors but their names use "auto-complete" not "autocomplete".

I think I figured out what you're seeing; here are my steps to reproduce:

 1. In a file with existing contents, say some code that contains the word `class`, type `cla`. You should see the autocomplete menu with a suggestion of "class".
 2.

[2016-03-12 01:20] #2155 closed

[2016-03-12 01:21] kenny-evitt commented on #2155
@mrobbetts If the above doesn't work, just let me know and I'll re-open this issue.

[2016-03-12 15:41] kenny-evitt commented on #2156
@jeffbonhag This is a real issue; it was previously reported as #2078.

[2016-03-12 15:41] #2156 closed

[2016-03-12 17:45] jeffbonhag commented on #2156
Oops, sorry!  I looked around but didn't see it.  Thanks.

[2016-03-12 18:52] kenny-evitt commented on #2156
@jeffbonhag No worries

[2016-03-14 17:01] paultopia opened #2157 "online docs open in unreadable window on OS X"
attempting to read the online docs from the welcome screen in 0.8.1. default config (as I recall) on OS X el capitan, the docs appear in a tiny window with like 2 lines visible at a time, and no obvious way to resize that window.  See screenshot below:

<img width="1280" alt="screenshot 2016-03-14 11 57 22" src="https://cloud.githubusercontent.com/assets/11756255/13752304/18e9528a-e9dc-11e5-94c5-c

[2016-03-14 21:32] kenny-evitt commented on #2157
@paultopia This was previously reported as #2131 and I'm pretty sure that the underlying problem is that the upgrade is broken – see #2138. I hope to actually get to work on that sometime tonight.

So, for now, to fix this issue, just download the latest version.

[2016-03-14 21:32] #2157 closed

[2016-03-15 00:02] paultopia commented on #2157
thanks.  confirming clean download resolves.

[2016-03-15 12:36] ciaranj opened #2158 "Javascript/JSON rainbow bracket matching not working?"
Simple question, should it ?  looking at the DOM these files don't seem to have the cm-bracket classes applied to their markup.  How would I go about making this happen, or is this a fundamental restriction of the CodeMirror javascript mode ?

[2016-03-15 20:38] kenny-evitt commented on #2157
@paultopia Thanks

[2016-03-16 03:36] joaolucasbig opened #2159 "Having problem with node-webkit external browser connection with Light Table"
I'm trying to develop a game in node-webkit with Light Table, and I was looking to use the watcher feature from the IDE.

I've added the javascript link on my index.html file, so the Live Table tells me that its connected to the external browser.

But when I try to watch a variable in my main javascript file, I get an error. This inline error has popped out for me when I try to watch a variable wi

[2016-03-16 11:39] rundis commented on #2138
Yeah I've used an upgraded 0.8.1 and started getting all kinds of weird errors. Ended up downloading a package from lighttable.com. What's more I can't build from source on OS/X El Capitan, but that's a separate issue.

[2016-03-16 16:31] naomik commented on #2150
@rundis I've never used lighttable so I'm not sure if it's working correctly or not. When I open the console, it just appears empty now. I'm working with ES6 and transpiliation via babel so I don't know if that's a further issue. I kinda just gave up because I couldn't find a clear way to run my project.

[2016-03-16 16:40] rundis commented on #2150
I think the console work fine. The message reported above (which displays in the console btw), i managed to get by wiping out my lt settings folder. I think it's just bad handling of new clean installations (/not proper check if the file exists the first time).

[2016-03-16 16:55] naomik commented on #2150
@rundis are people using lighttable with other build tools like babel/webpack?

[2016-03-16 17:22] rundis commented on #2150
@naomik I can't say really. But the js/node support in Light Table hasn't had much love for quite some time. We could sure use a helping hand on making the js experience in LT more up to scratch.
I don't work much with JavaScript (rather use ClojureScript and lately Elm tbh)

this is rather OT, so I suggest trying out the forum
https://groups.google.com/forum/#!forum/light-table-discussion
or gitt

[2016-03-17 14:07] DeusSanctum opened #2160 "Hyphens in code slow down Light Table"
Hello,

Maybe I am missing something but when I write some code (Clojure code) and want to add some cosmetics separator as comments like

;;----------------Part 1--------------

[code]

When I try to write in place of "Part 1", Light Table freezes completely and I have to wait like 2 minutes before i can write into it.

I'm under Windows 7

Thanks

[2016-03-17 17:07] carocad opened #2161 "missing menu! behavior for underline-result object"
hey guys,
I was updating the plugin that I published to use the :inline.underline-result object and in the process I found out that it lacks the menu! behavior. Thus an underline result can only be cleared from the lateral control panel `Clear inline results`.

The relevant lines are [these](https://github.com/LightTable/LightTable/blob/53a90bee4c2c6758e4b5dffdffbc32256a05e00d/deploy/settings/defa

[2016-03-17 19:04] BenWiederhake opened #2162 "Cannot inline-eval specific clojure expression"
I'm not entirely sure where to report this, so feel free to move it as you see fit.

Steps to reproduce:
- Use any editor to write a file with the following five character: `'(())` Since there's lots of escaping going on, here's a sanity check: The parser should parse it as `(quote (()))`, and it should evaluate to "the list that contains exactly one element, and that element is the empty list"
-

[2016-03-18 00:04] amadeuspagel opened #2163 "Can't find instarepl command"

[2016-03-18 00:23] cldwalker commented on #2163
Hi. Instarepl commands have been moved out to [a plugin](https://github.com/LightTable/ClojureInstarepl) and are no longer included with LightTable. See [the announcement](https://groups.google.com/forum/#!msg/light-table-discussion/VLOYWhCtCQg/EZWJpEGrFgAJ) about it. You can install from your plugin manager by searching for instarepl

[2016-03-18 00:23] #2163 closed

[2016-03-18 00:29] cldwalker commented on #2154
Hi. LightTable doesn't interface with julia out the box. Since this is an issue with Julia, you should report this to the [Julia plugin](https://github.com/JuliaIDE/Julia-LT/issues)

[2016-03-18 00:29] #2154 closed

[2016-03-18 00:34] cldwalker commented on #2158
Hi. Your first sentence is a little hard to understand. Could you provide a specific example of what doesn't have cm-bracket classes and give us [more info](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs) about your environment?

[2016-03-18 03:56] cldwalker commented on #2153
Closing as we haven't heard back and the above answer should be enough to resolve this. Feel free to ping us if you have more questions

[2016-03-18 03:56] #2153 closed

[2016-03-18 04:02] cldwalker commented on #2151
On osx I can scroll fine on tabs horizontally by swiping left and right. In #1776 horizontal scrolling horizontally worked fine for another linux user. I'm closing as multiple alternate solutions have been proposed and that seems good enough in lieu of digging in more to the original issue

[2016-03-18 04:02] #2151 closed

[2016-03-18 04:06] cldwalker commented on #2160
I can't reproduce this on osx 10.10. This may be a dupe of #2102. If you restart LightTable is this still an issue? If it is, can you provide the .clj file causing this?

[2016-03-18 05:31] cldwalker commented on #2161
Thanks for noticing! We should have a fix in soon

[2016-03-18 08:40] ciaranj commented on #2158
Sorry about that. using version 0.8.1 of lighttable for windows, with Rainbow 0.0.8 (default theme).   If I'm editing a javascript file or a json file (.js/.json) I expected the rainbow brackets plugin to 'work', that is to display the variously nested depth brackets in matching colours.

It does not appear to do this.  Looking at the DOM for the code-mirror editor instance it looks to me as thoug

[2016-03-18 14:43] amadeuspagel commented on #2163
Thanks

[2016-03-19 13:45] #2161 closed

[2016-03-19 18:59] bugs181 commented on #2077
I'd kindly like you to reopen this issue as I'm having it with ECMAScript 2015 code here as well.

Very simply, I can't use the `let` keyword at all, even in a new file with `use strict` at the beginning.

[2016-03-21 10:47] DeusSanctum commented on #2160
Hello,

Sorry for the late reply, here is a sample code where the problem can occur (as .txt because .clj does not upload) :

[core-lt-prob.txt](https://github.com/LightTable/LightTable/files/182002/core-lt-prob.txt)

You can try by :

- First : copy paste any ;; --- (ex : ";;---------------Config---------------")
- Then : try to erase "config" with "<--" and write

Light table freeezes.

Maybe it

[2016-03-23 21:25] ZombieHippie commented on #1988
This issue is still relevant to windows on https://github.com/LightTable/LightTable/commit/a8a4f2e05c0f2295b6e093e87bcb06ab6f2e0303

[2016-03-24 09:53] uy-rrodriguez opened #2166 "Scroll wheel button: closing tab and copying text"
Hello, I've found a strange behaviour while clicking with the wheel button over a tab. If some text has been copied, the clicked tab is closed and the text is pasted inside the content of the next tab. It's really nice to can paste with the wheel button, but I think that it shouldn't do it when clicking over a tab.

P/S: Thank you for this great tool !

[2016-03-24 14:44] kenny-evitt commented on #2166
@uy-rrodriguez What's your OS, OS version, and LT version?

[2016-03-24 15:33] uy-rrodriguez commented on #2166
Sorry, I forgot to tell you that.

LT:
version
0.8.1
Binary version
0.34.5

OS (obtained with uname -a):
Linux 3.16.0-67-generic #87~14.04.1-Ubuntu

[2016-03-24 18:48] haz-mat opened #2167 "No sizing cursor on sidebar in newly opened LightTable instance with no tabs open"
When opening a new LightTable instance, with no documents/tabs open, the sidebar appears not to be able to be resized.

On Linux Mint 17.3
Light Table version
0.8.1
Binary version
0.34.5

[2016-03-24 18:54] haz-mat commented on #2167
This is actually user error. It's just somewhat difficult to get the cursor in the right spot when not having any tabs open.

[2016-03-24 18:54] #2167 closed

[2016-03-25 02:31] kenny-evitt commented on #1988
@ZombieHippie That's too bad; I don't pay no mind to zombies, nor hippies! And definitely not zombie hippies :smile:

In all seriousness, you can't have my brains – and definitely not for free (or for some grass).

In much more all-encompassing seriousness, you should probably open a new issue and provide enough details for someone to reasonably reproduce the same problem you're having. This issue

[2016-03-25 15:01] martinchooooooo opened #2170 "Can’t eval editor.cljs in LT UI"
#### To reproduce
- Have LT source in your workspace
- open `src/lt/objs/editor.cljs`
- Eval whole file (for me it’s pmeta-shift-enter)
- Get error `#< Error: This document is already in use >`
- Now when trying to use LT, nothing really works. For example try using find in the editor and you’ll get errors in the console.

#### Environment:
- LT 0.8.1, built from master (a8a4f2e)
- OSX 10.11.1
- [

[2016-03-25 23:11] henrywright opened #2171 "Trailing whitespace removed from end of line"
I'm writing a README.md file and need to have two spaces at the end of a line. When I save the document, the spaces are removed.

Is this a feature? If so, is it possible to disable it?

[2016-03-26 11:26] henrywright commented on #2171
I noticed this: https://github.com/LightTable/LightTable/blob/master/deploy/settings/default/default.behaviors#L223

Is that something that can be disabled?

[2016-03-26 11:39] rundis commented on #2171
Yeah it's the default behavior.

To disable just add the following to your user behaviors:
```[:editor.file-backed :-lt.objs.editor.file/remove-trailing-whitespace]```

or if you like you can target different editor types like
```[:editor.markdown :-lt.objs.editor.file/remove-trailing-whitespace]```

[2016-03-26 11:39] #2171 closed

[2016-03-26 11:59] rundis commented on #2162
Cheers for the report. I think it's the same issue as https://github.com/LightTable/Clojure/issues/72
so I'm closing this one.

FYI: `:lt.objs.eval/inline-results` is a behavior (think event) that is triggered when the clojure nrepl returns results from an evaluation.

[2016-03-26 11:59] #2162 closed

[2016-03-26 12:33] henrywright commented on #2171
@rundis but will that _remove_ the trailing whitespace? I actually want the trailing whitespace to _remain_ when I save the document.

[2016-03-26 14:16] cldwalker commented on #2166
Hi. This sounds like #1816. Since we're having issues with upgrading, it's possible your install hasn't gotten that bug fix. Could you download a fresh 0.8.1 and see if it's still reproducible?

[2016-03-26 14:41] cldwalker commented on #2170
Hi @martinchooooooo. Depending on the file you're re-evaling, a whole file re-eval often redefines core LT object types and recreates LT objects. This can have dire consequences in some files e.g. re-evaling object.cljs will freeze LT as LT no longer has any objects defined. In the case of editor.cljs, if you comment [the editor object type](https://github.com/LightTable/LightTable/blob/050c8d8dcc

[2016-03-26 14:53] cldwalker commented on #2160
Thanks for the example file. I'm able to edit that file and autocomplete in it fine. Since the problem has disappeared for you, I'm assuming this is a dupe of #2102. I have seen freezing occur when LT is open for many days. If you come across a reproducible case for freezing, feel free to add a comment there

[2016-03-26 14:53] #2160 closed

[2016-03-26 16:54] uy-rrodriguez commented on #2166
Sorry, I didn't see the other message, I searched for "wheel button" not "middle button".
I tested it several times on 0.8.1 and there's no problem, closing a tab doesn't pastes the content in the clipboard.

Thank you very much!

[2016-03-26 19:08] cldwalker commented on #2166
Good to hear :)

[2016-03-26 19:08] #2166 closed

[2016-03-26 22:38] lmtthws opened #2172 "Add-tag behavior isn't triggered by ::tags-removed?"
The add-tag behavior is only triggered by :object-instant. This seems odd as the remove-tag behavior is triggered both by :object-instant and :tags-added, and the :shadow-tag behavior is triggered by :object-instant, ::tags-added, and ::tags-removed.

Not sure if this is an issue or not, but it seemed inconsistent, so I thought I'd make note of it.

Also, since the add-tags function also ends up r

[2016-03-28 18:53] kennytilton opened #2173 "workspace does not appear for noobs until file/folder visits a folder, then lacks folder et al tabs"
The LightTable doc talks about select Workspace from the View menu to visit our first folder, and shows tabs for "Folder" and "Recent".

That does not happen, perhaps because I was a first time user: I went to the File menu and used Open Folder to get going, and thereafter selecting "Workspace" did show me my previously opened folders.

However, at no time have the Folder, Recent, et al options ap

[2016-03-30 10:58] martinchooooooo commented on #2170
Thanks for that info @cldwalker, that makes a lot more sense.

Funny you mention doc/for-committers.md, because it was one of the first places I looked for information on my problem. So perhaps that might be a great place to stick some info.

[2016-04-01 08:25] zsoerenm opened #2174 "LightTable fails to find plugins behind a proxy"
LightTable fails to find plugins behind a proxy.

My environment proxy settings are set and work for other applications.
I have also set some npm proxy settings.
`npm config list`
gives me the following output:

[code]

The error in LightTable is the following:

[code]

[2016-04-01 08:38] rundis commented on #2174
I think this is related to this known issue: #1984

[2016-04-01 08:38] #2174 closed

[2016-04-01 14:46] heegaiximephoomeeghahyaiseekh opened #2175 "LightTable does not work with xtightvncserver"
This issue was encountered on a 64-bit Debian Jessie system using the pre-built binary package at the following URL:

https://github.com/LightTable/LightTable/releases/download/0.8.1/lighttable-0.8.1-linux.tar.gz

`vncserver -version` gives:

    Xvnc version TightVNC-1.3.9

The first attempt to run LightTable crashed the VNC server.

After restarting VNC, LightTable prints a few warnings from Xli

[2016-04-01 17:24] rundis commented on #2175
Can you run atom or any electron app on that setup ? LightTable is based on electron.
Also a quick google suggest you might need to try a different vnc server (that supports the required extensions that's needed given the output above).

Sorry for the dissapointment but I'm not very familiar with vnc servers and I'm not so sure LightTable is to blame (maybe Electron, but I'm not really prepared to

[2016-04-01 18:27] patrickaroo commented on #2136
for whatever it's worth, I get the same update prompt on 8.0 every time I start, when I'm on 8.0 already.  OSX El Capitan here.

[2016-04-02 00:58] yogthos commented on #2144
I think it's most likely the tools.nrepl version. I tried adding lein-light-nrepl and nrepl-options, but that didn't have any effect. The only option I pass in by default is the [repl port here](https://github.com/luminus-framework/luminus-template/blob/master/resources/leiningen/new/luminus/core/src/core.clj#L28), and I tried adding the same ones as lein does, but that doesn't seem to help either

[2016-04-02 01:03] kenny-evitt commented on #2136
@patrickaroo Upgrading is broken. See #2138. Tho the latest version is 0.8.1 so maybe something else is broken for you. Feel free to open another issue with sufficient details for someone to reproduce.

[2016-04-02 17:04] kenny-evitt commented on #2172
@lmtthws I can't immediately parse what you've written; I'll need to reread it more carefully. But in the interest of making your report more concrete, would you describe a minimal example of what you think is inconsistent?

[2016-04-02 18:04] lmtthws commented on #2172
Totally - sorry about the lack of clarity.

In the below add-tag behavior, I was expecting that one of the triggers for it would be ::tags-removed. The remove-tag behavior immediately below it in the object.cljs file and the shadow-tag behavior below that each have triggers in addition to the :object.instant keyword.

Current:
[code]
Should be?
[code]

And to the second part of my original comment

[2016-04-04 01:10] paultopia commented on #2035
I'm experiencing similar behavior --- keyboard lag, and sometimes flat-out missing keystrokes (like it turned `defn` into `df` and such). While in a live clojure project.  Here's my CPU profile too, FWIW. And I'm on a fairly specced-out 2013 MPB, 16g ram, i7, ssd, all the good stuff (though also with a bunch of stuff running)

<img width="744" alt="screenshot 2016-04-03 20 07 28" src="https://clou

[2016-04-04 02:17] kenny-evitt commented on #2138
@cldwalker @rundis I created a PR for this – #2176. The two commits are very-much WIP.

The major change is that we want to download a release file (with the compiled ClojureScript) instead of the source tarball (as the code does now). That's mildly tricky for a few reasons:

 1. There's a separate release for each platform. In the interest of potentially being able to also upgrade Electron itself

[2016-04-05 15:17] 1j01 commented on #1106
Still a problem in LT 0.8.1

[2016-04-05 15:37] 1j01 opened #2177 "Weird empty package"
I found a weird broken package under available packages. It has no name, version, author, description, or source URL. (The source button has the cursor `default` and it gets `TypeError: Error processing argument -1.` via `open_url` when clicked.)

![weird empty package](https://cloud.githubusercontent.com/assets/3630663/14287779/26d85b32-fb22-11e5-8018-ec7e4a3e827e.png)

[2016-04-05 15:51] 1j01 opened #2178 "Select text in Plugins"
You should be able to select text in the Plugins view.
The text "by" shouldn't be a psuedo element, and there should probably be an actual space between the package name and version, but other than that it just needs `-webkit-user-select: text`.

[2016-04-05 15:53] 1j01 opened #2179 "Devtools shortcut: Ctrl+Shift+I"
The "[standard](https://developers.google.com/web/tools/chrome-devtools/iterate/inspect-styles/shortcuts?hl=en#accessing-devtools)" keybindings are <kbd>F12</kbd> and <kbd>Ctrl + Shift + I</kbd> on Windows, and <kbd>Cmd + Opt + I</kbd> on Mac.

We should probably use <kbd>Ctrl + Shift + I</kbd> for consistency if we can't do multiple keybindings.

[2016-04-05 16:17] 1j01 commented on #2150
:+1: I got this error in the Console running LT 0.8.1 on Windows 10 for the first time. That's the trifecta of operating systems, so this is definitely a Cross-Platform Bug™
I was also expecting some kind of command-line interface (whether JavaScript, ClojureScript, or shell) which led me to the "console failed to open" train of thought, but I guess it's just for output.
Maybe this issue should pr

[2016-04-05 16:39] 1j01 opened #2180 "Window gets unmaximized and repositioned when loaded"
When opening Light Table on Windows, the window starts out in a reasonable position, but gets shoved to the upper left corner once loaded:

![opening lt 2](https://cloud.githubusercontent.com/assets/3630663/14289672/de85a954-fb29-11e5-85ce-c76ec5e995b9.gif)

It will also unmaximize ("restore") the window:

![opening lt and maximizing it 2](https://cloud.githubusercontent.com/assets/3630663/1428990

[2016-04-05 16:41] 1j01 commented on #502
:+1: This is still an "issue" with the latest LT

[2016-04-05 16:58] 1j01 opened #2181 "Zooming in the browser"
Currently the shortcuts <kbd>Ctrl</kbd>+<kbd>+</kbd> and <kbd>Ctrl</kbd>+<kbd>-</kbd> zoom the entire UI regardless of focus, and Ctrl+mousewheel up/down does nothing. You can zoom the browser by zooming the entire UI, and conversely zooming the UI affects the contents of the browser.

Ctrl+mousewheel in the editor [should change the font size](https://github.com/LightTable/LightTable/issues/502).

[2016-04-05 19:11] 1j01 opened #2182 ""Toggle connect bar" shortcut "esc""
The shortcut for "Toggle connect bar" is listed as "esc" even though <kbd>Esc</kbd> only closes it.

[2016-04-05 19:18] kenny-evitt commented on #2177
@1j01 Thanks for the report.

The problem is that the code that builds the list ('cache') of plugin metadata is treating the *script* sub-directory as a plugin.

[2016-04-05 19:27] kenny-evitt commented on #1106
@1j01 Would you like to implement this?

[2016-04-05 19:39] kenny-evitt commented on #2178
Interesting. This seems to be explicit; [the relevant CSS](https://github.com/LightTable/LightTable/blob/53a90bee4c2c6758e4b5dffdffbc32256a05e00d/deploy/core/css/structure.css#L14):

[code]

@cldwalker @rundis Any ideas about whether removing this CSS rule is a bad idea?

I commented the line out via Developer Tools and I'll update this issue if I run into anything that seems related to that chang

[2016-04-05 19:40] kenny-evitt commented on #2178
@1j01 Why should "by" text not be a pseudo-element?

[2016-04-05 19:45] kenny-evitt commented on #2179
@1j01 What's the issue? That this isn't in the default key bindings (key map)?

[2016-04-05 19:47] kenny-evitt commented on #2150
@1j01 Which error did you get? The error mentioned in the original comment?

[2016-04-05 19:55] kenny-evitt commented on #2180
@1j01 Thanks for the report. This is something I've noticed for a while.

Given that this is cosmetic and, I suspect, tricky to fix, any help investigating or fixing this would be greatly appreciated.

[2016-04-05 20:26] kenny-evitt commented on #2182
@1j01 Thanks for the report.

I'm not sure what we can feasibly do about this for the time being. The key bindings are shown for the commands automatically and <kdb>Esc</kbd> *is* bound to the toggle connect bar command, if only for when the connect bar already has focus and receives those key events.

[2016-04-05 20:26] 1j01 commented on #2178
We should keep the global `-webkit-user-select: none;` and add` -webkit-user-select: text;` to `.plugin-manager li`, and we should avoid textual pseudo elements so that when you copy and paste, the text is present. It wouldn't be the biggest issue because it's still fairly clear the second line is the author:
[code]
But it would be better if it copied it as it appeared.

[2016-04-05 20:29] 1j01 commented on #2150
@kenny-evitt Yes.

[2016-04-05 20:33] 1j01 commented on #2179
@kenny-evitt Yeah, I mean, I guess there are two ways to open the devtools from the keyboard, from the View menu or with the command palette, but it's good when applications share shortcuts.

[2016-04-05 20:51] 1j01 commented on #1106
@kenny-evitt If I could actually get Light Table's connection feature(s) to work (with Node.js and CoffeeScript), then I would happily work on some of these issues I've opened / commented on, but as it is, Light Table isn't really useful to me. \<sad face emoji that doesn't exist\>

[2016-04-06 12:50] kenny-evitt commented on #2178
@1j01 How is keeping the global select-none helpful? And how is it helpful to be able to copy "by"? I'm not against making the changes, but I don't know why they were implemented or implemented that way nor what consequences changing them would have other than being able to copy the plugin text. And I'm not sure of the utility of being able to copy the plugin text either.

[2016-04-06 14:40] 1j01 commented on #2182
Yeah, I figured about as much. <kbd>Esc</kbd> should close the commands palette too, so maybe <kbd>Esc</kbd> should be mapped to *Close sidebar* (even outside of any sidebars). Are there any sidebars where this would be undesirable? And if we can't do it globally, we should be able to do it like *Editor: Set current editor syntax* which doesn't have a command *Toggle editor syntax switching bar* b

[2016-04-06 14:58] 1j01 commented on #2178
@kenny-evitt I'm was just guessing it would break stuff to remove it. Trying it out, it's not too bad (and it's good to be able to select as much as possible), but it would probably be better to enable it specifically for each UI element (like the line / column view, the individual file/folder list items (although it would need to ignore clicks when there's selected text to be able to select the n

[2016-04-06 19:12] kenny-evitt commented on #2178
@1j01 I have no strong feelings about this so if you'd like the changes to be made, please submit a pull request and we'll review and test your proposed changes.

[2016-04-07 01:27] lacroixca opened #2184 ""Path too long" when unzipping install package in Windows 10"
When unzipping the file, I got 3 errors for 3 different files saying that the path was too long.

Anyone else?

[2016-04-07 17:55] mberardinelli opened #2185 "Gatekeeper/App Signing"
Hello!

I was just wondering if there is any sort of timeline/ETA on when LightTable will be signed for Gatekeeper on Mac OS X? We have a CS teacher in district that would like to use LightTable, but we need to have Gatekeeper enabled on staff laptops. Unfortunately Ctrl+Click > Open does not work for him either since it prompts for the local admin password each time (and we do not give that out t

[2016-04-09 22:22] kenny-evitt commented on #2150
@1j01 Does the file mentioned not exist on your computer?

[2016-04-10 03:29] 1j01 commented on #2150
@kenny-evitt It does now presumably, because it only happened on the first launch.

[2016-04-10 04:19] kenny-evitt commented on #2150
@1j01 Thanks. That would be the next thing for someone to try then – deleting that directory and then opening LT.

[2016-04-10 15:35] kenny-evitt commented on #2179
@1j01 I don't think we can do platform-specific behaviors so we'd have to pick one for all platforms. Light Table is also not a browser so consistency seems pretty minor.

I'm going to close this as I don't think we're interested in doing this. If you feel strongly about it, create a pull request and the other team members can review your proposed change or changes.

[2016-04-10 15:35] #2179 closed

[2016-04-10 22:31] kenny-evitt commented on #2184
@lacroixca There are issues when installing Light Table in a directory with spaces too – see #2029 – so I'd advise installing it in a directory close to the root of a drive, e.g. *C:\LightTable*.

Unfortunately, there isn't really much we can do about this.

[2016-04-10 22:31] #2184 closed

[2016-04-12 11:12] #1629 closed

[2016-04-12 11:54] JanDornbusch opened #2186 "Sudden freeze of editor"
Hi, I am currently writing a clojure tutorial for webapps using LT 0.8.1 on Windows and encountered a freeze within LT.
When I try to change the following line LT freezes and didn't recover. (remove logname and "/" works, but adding text between the stars not)
`(println "****************************** /" logname)))) `
so changing to
`(println "******************************")))) `
works but when I

[2016-04-13 01:45] kenny-evitt commented on #2186
@JanDornbusch Thank you for this very thorough bug report :smile:

Sorry about the bug :disappointed:

I can't reproduce this on my Mac [note to me – F]. Would you add *really really* explicit steps I can follow to try to reproduce this? I moved the cursor, with the keyboard, in to (roughly) the middle of the asterisks but nothing happened when I entered a character.

Did you download version 0.8.

[2016-04-13 01:47] kenny-evitt commented on #2186
@JanDornbusch If you can, share your project too. Or at least the file that contains the mentioned function. I'm requesting that because the problems seems suspiciously like it's due to the autocomplete 'hinter' and that uses the entire code in the currently open file to build suggestions for the autocomplete popup.

[2016-04-13 07:09] JanDornbusch commented on #2186
I downloaded a fresh 0.8.1 and did not upgrade it. (Did a fresh installation of windows and I thougth would be a good idea to install all software fresh too).

Here is the full project [https://github.com/JanDornbusch/ClojureWebTutorial/tree/master/issue](https://github.com/JanDornbusch/ClojureWebTutorial/tree/master/issue) and the file containing the function [https://github.com/JanDornbusch/Cloj

[2016-04-13 12:16] KarsFR opened #2187 "Evaluation don't work."
I have an error when I try to evaluate python code.

[code]

Lighttable 0.8.1-1 on Archlinux.

[2016-04-13 13:17] rundis commented on #2187
This is a duplicate of https://github.com/LightTable/Python/issues/24
The python plugin needs a maintainer. The LT core team has stopped supporting the python plugin.

[2016-04-13 13:17] #2187 closed

[2016-04-13 13:19] KarsFR commented on #2187
Okay, didn't see it.

Ty

[2016-04-14 12:14] Paizo commented on #1094
version 0.8.1 broken on linux redhat (enterprise server) 7.0
Proxy settings both configured trough the graphical interface and bash rc (working with chrome, yum, etc). Seems it is simply ignored.

[2016-04-14 15:43] kenny-evitt opened #2188 "Kite plugin"
[Kite](https://kite.com/)'s an "artificial pair programmer" or "programming copilot".

Here's their docs on implementing an editor plugin:

 - [kiteco/plugins: Editor plugins for Kite](https://github.com/kiteco/plugins)

[2016-04-14 21:32] gilch commented on #1928
This is probably due to backslashes in Windows paths, which would explain why you can't reproduce it on a Mac. Your project is probably in a subdirectory of "C:\Users\". Note the "\U". This might help narrow down the issue. I've been experiencing similar issues on Windows 10 with 0.8.1.

[2016-04-14 23:36] kenny-evitt commented on #1094
@Paizo We could use some help implementing proxy support – see #1984 for the latest issue covering this.

[2016-04-15 00:13] kenny-evitt commented on #1928
@ghost I haven't been able to reproduce this on any of my Windows computers either.

[2016-04-17 14:12] olange commented on #1984
Same issue for me: I cannot refresh the plugins list, nor update, nor install plugins, being behind my company's proxy. I'm using LightTable 0.8.0 / Windows 7 Enterprise / Java JDK 7.

LightTable's console shows following error when trying to refresh the plugins list:

[code]

I'm starting LightTable with this script:

[code]

And LightTable's Node configuration looks like this:

[code]

[2016-04-17 14:32] olange commented on #1984
Updating the `request` module from version 2.14 to version 2.72 (latest as of today), then restarting LightTable, solved the issue for me. I can now refresh the plugins list and install new ones, while being behind my company's proxy:

[code]

I followed @geisi93 's suggestion in #321 (using `npm update request` rather than updating `tunnel-agent` manually in `request`'s dependencies).

[2016-04-17 14:34] olange commented on #2174
@rundis: I encountered the same problem as you I believe, and found a workaround which I described in #1984. May be it'll work for you. Kind regards

[2016-04-17 15:02] kenny-evitt commented on #1984
@olange If that really is all we need to do, that's fantastic!

Mind submitting a PR with that change? If you do, I'll try to get to it today.

[2016-04-17 16:24] kenny-evitt opened #2189 "Cleanup forked 'shelljs' Node module dependency"
See #1985 for the parent issue. @cldwalker Let me know if I should just add this info to the parent issue.

I compared our forked module with [the same version of the original module](https://github.com/shelljs/shelljs/tree/v0.1.4).

[code]

So, there are only two files that differ:

 - *package.json*
 - *shell.js*

The only difference of *package.json* is that our forked version has the project R

[2016-04-17 17:37] briangorman opened #2190 "Certain VIM commands not working correctly with Vim plugin"
OS: Fedora 23 64 Bit
LT: .81
VIm plugin .21

What does not work: ":w and "/" for search", probably more things

Steps to reproduce:

Create lein project. Run lighttable "./light" Install vim plugin. Things may work at this point. Restart lighttable. The aformentioned vim commands no longer work. Some more basic commands work e.g. dd.

The console log is blank, I have no user settings different tha

[2016-04-18 13:24] n0h4t opened #2191 "LT is not responding, menu was hidden."
My OS: Elementary Freya 64bit.

I installed LT by following the method on
`http://askubuntu.com/questions/498505/how-do-i-install-light-table`
At the very first time, everything was OK but when I tried to install some plugin then restarted LT, this happened:

[code]
The process ID even not appear in top or htop, I can kill it in ksysguard only.
Someone can help me understand why it happens and how

[2016-04-18 16:11] n0h4t commented on #2191
Remove folder ./config/LightTable. Done!

[2016-04-18 16:11] #2191 closed

[2016-04-18 20:25] howardlinus commented on #1984
yes, it works for me. Many thanks

[2016-04-19 03:02] kenny-evitt commented on #1931
I just ran into this again; this worked for me on an Ubuntu 14.04 computer:

[code]

The last package symlinks `nodejs` (which is what the `node` command is named in the first package) as `node`.

[2016-04-19 03:07] kenny-evitt commented on #1968
I was just trying to find this by searching for "home directory".

[2016-04-19 03:37] #2177 closed

[2016-04-19 05:33] Armaklan commented on #1984
Update request work for me.
Win 7. Lt launch on "git bash" command after export http_proxy & https_proxy.

[2016-04-19 07:51] rundis commented on #2177
👍

[2016-04-19 15:14] howardlinus commented on #2010
I have the following error when turn on Plugin Manager

console output:
Error: ENOENT: no such file or directory, scandir 'C:\Users\userid\AppData\Roaming\LightTable\metadata-temp'
    at Error (native)
    at Object.fs.readdirSync (fs.js:813:18)
    at Object.fs.readdirSync (ATOM_SHELL_ASAR.js:454:28)
    at lt.objs.files.full_path_ls (file:///C:/Users/userid/Documents/lighttable-0.8.1-windows/re

[2016-04-21 14:16] chrislong opened #2192 "Menus sometimes show up on wrong monitor (or not at all)"
I have 3 monitors. The right-click menus always show up on the right monitor, regardless of which monitor the Light Table window is on. Menu bar menus sometimes show up where they should, but sometimes on the right monitor even when the main window is elsewhere, and sometimes they don't show up at all.

A weird example that's happening now: The main window is on the left monitor. While keeping it

[2016-04-22 01:36] kenny-evitt commented on #2192
@chrislong LT uses Electron and so does [the editor Atom](https://atom.io/). Would you download and install Atom on your computer and confirm whether you observe the same bad behavior with Atom that you do with LT?

[2016-04-22 01:42] kenny-evitt commented on #2010
@howardlinus That doesn't look like a proxy error. Would you create a new issue for that error and provide all [the info we request when reporting bugs](https://github.com/LightTable/LightTable/blob/master/CONTRIBUTING.md#bugs) when you do so?

[2016-04-22 01:44] kenny-evitt commented on #2010
@howardlinus Sorry – I didn't reread the previous comments before my last comment. Are you behind a proxy?

[2016-04-23 15:34] rucka opened #2193 "Light Table 0.8.1 doesn't start correctly on osx"
Hi,
when I try to start the last version of LT, the main windows open but I'm not able to perform any action and the menu doesn't show any option. When I try to close the application, nothing happens (I have to force quit).
The screenshot shows the logs about opening and the close attempt.
LT runs on Macbook Pro Retina 13-inch Late 2013, OSX El Capitan version 10.11.5 beta.
Any suggestion is appre

[2016-04-23 15:41] kenny-evitt commented on #2193
@rucka Would you download the 0.8.1 release and run that directly (if that's not what you did)?

If you tried to upgrade an earlier version, it didn't work – see #2138.

[2016-04-23 16:33] rucka commented on #2193
@kenny-evitt thx for the answer. The first time I tried to upgrade my previous version, but It does not work deleting the older version and retrying to download and open fightable 0.8.1 :(

[2016-04-23 17:47] kenny-evitt commented on #2193
@rucka Try [deleting the 'user app data'](https://github.com/LightTable/LightTable/issues/1968) before downloading the latest version again.

Let me know if it still doesn't work.

[2016-04-23 18:22] rucka commented on #2193
@kenny-evitt one step forward... after deleting user app data light table seems to start correctly, but when I try to connect to clojure I receive the error:
[code]

Thanks for your support

[2016-04-26 22:23] dexter1100 commented on #2187
I also had this problem. Since searching for a solution didn't turn up anything useful I ended up editing my ltmain.py file, what the error message above is referring to.
I just put a simple version checking in, since Python 3 strings are unicode by default they don't have to be converted. It's about 8 lines more than the previous version.
I don't know how elegant this solution is but that's what

[2016-04-26 22:52] robjens commented on #1928
I have this problem on a Windows server instance, which would be 8.1. I can confirm indeed that the file (not project in this case) is in `C:\Users\...`. Latest LT download public release version, not development/git.

[2016-04-27 11:59] bbbates opened #2194 "Plugin development: cljs dependency load failure"
I'm having an issue with loading an external cljs dependency (in this case "core.logic") in a simple plugin I'm building. Using Lighttable version 0.8.1 (binary version 0.34.5), with Clojure plugin version 0.3.2 if that helps. Using OSX 10.11.4.

I've created a quick little plugin project to demonstrate the issue. See here: https://github.com/bbbates/logic-test-plugin

Steps to reproduce:

1. Impo

[2016-04-27 12:50] rundis commented on #2194
Try restarting LT. I don't think LT is capable of loading the cljs from the dependency/ies. However when you start next it will load the compiled js for your plugin which now should include the resulting js from core.logic too. I had the same issue with core.async. Let me know if that helps.

[2016-04-27 14:23] bbbates commented on #2194
Yep, that worked! Should've known the answer would be a restart. The answer is always a restart!

Should probably update the plugin developer FAQ - I will do that shortly.

[2016-04-27 14:23] #2194 closed

[2016-04-27 16:52] kenny-evitt commented on #2187
@dexter1100 There are some existing pull requests that address this too:

 - [Fixing compatibility with python3 by UnknownProgrammer · Pull Request #28 · LightTable/Python](https://github.com/LightTable/Python/pull/28)
 - [Pep8 and Python 3 compatibility by hayd · Pull Request #30 · LightTable/Python](https://github.com/LightTable/Python/pull/30)
 - [Changed unicode to str as Python3 does not use

[2016-04-27 16:59] kenny-evitt commented on #2193
@rucka That's a familiar issue. See #1052 (or several earlier issues). Hopefully that's covered in [the Clojure plugin "Connection Troubleshooting" section](https://github.com/LightTable/Clojure#connection-troubleshooting). I'd suggest running `lein clean` from your terminal/shell first.

[2016-04-27 16:59] #2193 closed

[2016-04-28 10:10] dexter1100 commented on #2187
I read some of them. I remember a particularly long conversation about converting between python3 and python2 strings which I didn't understand half of. That's why I chose to do a simple fix. Theoretically the plugin still should work with python 2 while fixing the unicode bug with python 3.

Is there a way to show inline documentation for python (like with Clojure (Ctrl + d))?

[2016-04-28 13:28] kenny-evitt commented on #1928
I can't reproduce by eval-ing a (single) form in a Clojure file whose path contains a directory that starts with 'U'; nor with a file whose path is under *C:\Users\*.

Someone encountering this issue – please provide (extremely) detailed steps to reproduce, e.g. the exact paths on your computer where you're creating files, etc.

[2016-04-28 15:32] tgfbikes commented on #2190
I am having a similar issue but on OSX except I do get some markup output on what I think is where the eval output displays:

`<span style="font-family: monospace">:</span><input type="text"/><span style="color: #888">`

My work around was to add this code to my user behaviors:

`[:editor :lt.plugins.vim/activate-vim]`

The only draw back to this approach is when I initially start up light table I

[2016-04-29 01:47] kenny-evitt commented on #2190
@tgfbikes I created [a separate issue](https://github.com/LightTable/Vim/issues/67) that I think might cover the same thing you mention.

[2016-04-30 14:29] kenny-evitt commented on #2136
I am pretty sure this is caused by the upgrade code being broken – see #2138.

I've got a working fix but it needs to be reviewed (and cleaned-up), and everyone will need to download the next new version manually anyways. You need to also download 0.8.1 to run that version.

[2016-04-30 14:29] #2136 closed

[2016-05-01 01:22] briangorman commented on #2190
tgfbikes, I see the same html output you are seeing as well.

[2016-05-01 01:39] tgfbikes commented on #2190
kenny-evitt & briangorman,

Do both of you have to edit your user behaviors/keybindings to get anything vim to work?  Have you found a different workaround than mine?

Thank you both.

[2016-05-01 15:30] kenny-evitt commented on #2187
@dexter1100 There's *currently* no way to show inline docs for Python; that would need to be implemented in the plugin.

[2016-05-01 17:36] kenny-evitt opened #2196 "Add behavior to set a GitHub API token to avoid rate limiting for checking for new versions of LT and plugins"
[@josser suggested this in the Gitter room](https://gitter.im/LightTable/LightTable?at=5714c4d55ed5a4fd3fe3f000) and linked to a Gist with instructions on how to use the same feature in Homebrew:

 - [Set your Github API Token If you hit a ”GitHub API rate limit exceeded” when searching with Homebrew (http://brew.sh/).](https://gist.github.com/christopheranderton/8644743)

Tho see the comments for

[2016-05-01 18:03] briangorman commented on #2190
I am not editing my behaviors/keybindings. Some things work e.g. movement with the hjkl keys.

[2016-05-01 18:35] kenny-evitt opened #2197 "Add 'details' for behaviors helpers"
I'm working on a PR for #2196 and I'd like to include more than just a single line in the description.

If I do tho, everything is smushed together because the description is output in an `h2` element.

So maybe it would be better to add support for 'details', separate from the existing description, that can contain more info than can easily fit on a single line.

Here's [the existing helper UI fu

[2016-05-01 19:23] kenny-evitt commented on #2190
@briangorman I don't have any problems with `:w` or `/`. I'll try to test on my Ubuntu box soonish and see if I can reproduce your issue. We may need to engage in some 'asynchronous tele-debugging'.

@tgfbikes I need to be able to reproduce the behavior you're observing, but you may have a weird 'environment', e.g. because of #2138. Given that, would you [uninstall LT completely](https://github.co

[2016-05-02 23:25] briangorman commented on #2190
@kenny-evitt I no longer use lighttable, as this issue is a show stopper for me. I really like this editor other than this issue. I am willing to do whatever I can to help fix this issue, but given that I am a clojure novice I really need guidance on where to look otherwise this is too time consuming.

[2016-05-03 01:45] didibus opened #2199 "Missing GLIBC packages on RHEL5"
I'm trying to run 0.8.1 of LightTable on RHEL5 and I get the following error:

[code]

I'm guessing it's because RHEL5 is too old, and contains older versions of GLIBC. Is there any possibility to package those binaries in with the release or to default to compiling with an older gcc?

[2016-05-07 16:44] kenny-evitt commented on #2197
- [ ] Look at the Clojure inline docs code.

[2016-05-08 07:09] mar348 opened #2200 "Error loading JS file: juno_compiled.js : Error: Cannot find module 'nw.gui'"
Dear All,

  It's a big issue for me such as the title. I'm new for using of LightTable. My context is win8.1, 64 bit, Julia-0.4.5, LightTable-0.8.1, and plugins of Julia and Juno for LightTable.

 It prompts me some errors when i launch it:

    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:286:25)
    at Module.require (module.js:365:17)
    at re

[2016-05-08 07:42] rundis commented on #2200
@mar348 Julia/Juno isn't updated for Light Table 0.8.* which has switched from Node Webkit (nw) to Electron. In addition it appears Juno has switched to Atom but failed to update the docs clearly to indicate that LT support is abandoned. /cc @MikeInnes

This is not an Light Table issue, but an issue with the plugin(s) you are using.

[2016-05-08 07:42] #2200 closed

[2016-05-09 19:36] cskujbus opened #2201 "client area is always on top (Ubuntu)"
I wanted to use LT on Ubuntu 16.04 (VirtualBox vm installation), but can't switch to other windows as LT hides everything beneath its client area.

[2016-05-10 22:22] mluisbrown commented on #1984
I'm getting the same issue as @howardlinus after updating the `request` module as per @olange 's instructions. What I find is that there is a `metadata_temp.tar.gz` of 0 bytes in the `...\AppData\Roaming|LightTable` directory (which disappears when I quite LightTable). This suggests to me that something in the proxy is still preventing the metadata file from being downloaded correctly, so the 0 by

[2016-05-10 22:24] mluisbrown commented on #2010
@kenny-evitt and @howardlinus see my comment on #1984. I believe this is a proxy problem. I think that the proxy is preventing the `metadata_temp.tar.gz` file from being correctly downloaded, so the expansion doesn't work, resulting in the missing directory.

[2016-05-11 13:24] kenny-evitt opened #2202 "Update 'for committers' doc regarding building API docs and LT version"
Under [the "Build api documentation" section](https://github.com/LightTable/LightTable/blob/53a90bee4c2c6758e4b5dffdffbc32256a05e00d/doc/for-committers.md#build-api-documentation), it is stated:

The referenced Codox issue has been closed so the step above can be removed.

[2016-05-11 22:53] carocad commented on #2082
hey @jipen
I don't think this is a bug. When you connect to the project you only established a connection to an nREPL but there is no namespace nor vars loaded from the dependencies, they were merely downloaded and put on the classpath.

Lighttable (actually Clojure's plugin) doesn't search inside the classpath nor on the files that were downloaded from the dependencies, but rather it defers that

[2016-05-11 23:15] carocad opened #2203 "unnable to get lighttable docstrings"
This happens on my LT v0.8.1 Ubuntu 14.04

When programming a LT plug-in, it is impossible to get the documentation of lighttable's internal vars. For example: pressing (Ctrl+D) 'toggle documentation at cursor' on 'defui' shows nothing, the same happens for any other LT internal function or macro. Searching the language docs doesn't work either; 'Found 0 results'.

I guess that this is due to LT i

[2016-05-12 01:10] kenny-evitt commented on #2190
@briangorman I think I've reproduced your problem on Linux.

I'm running a build of the latest source on a 64-bit Ubuntu 14.04 box.

 1. I installed the Vim plugin and I confirmed that `/` works as expected.
 2. I quit Light Table.
 3. I re-opened Light Table (I just opened the binary *LightTable*).
 4. I confirmed that some commands, e.g. `dd`, `yy`, `p` work as expected but `:w` and `/` don't. I

[2016-05-12 01:24] kenny-evitt commented on #2190
I cloned [the Vim plugin repository](https://github.com/LightTable/Vim) and then added a `console/log` call to the code for the Vim find command. I eval-ed the form, connected to *LightTable-UI* and ... now `/` works as expected.

[2016-05-12 01:29] kenny-evitt commented on #2190
Alright; I couldn't reproduce my 'fix' just now. This is very weird.

[2016-05-12 03:11] kenny-evitt commented on #2190
I think I've found a workaround. And maybe a pointer to what's wrong.

If I copy the following line from [the *vim.behaviors* file from the Vim plugin repo](https://github.com/LightTable/Vim/blob/master/vim.behaviors):

[code]

... then paste it into my *user.behaviors* and save the editor tab for that file, all of the Vim commands work. But like @tgfbikes, I have to add that line after (re-)start

[2016-05-12 15:02] TimothyDJewell commented on #2030
Hey guys, I noticed this is still open when I installed 0.8.1 on my Windows 10 machine.  Unfortunately, this bug makes an otherwise shiny IDE seem a little...confused.

I was looking into solutions, and I found a note in electron-packager about [special handling necessary for building Windows exes](https://github.com/electron-userland/electron-packager#building-windows-apps-from-non-windows-platfo

[2016-05-13 00:58] cneira opened #2204 "runmode.node.js peek: function() this.string = null"
I have tried to update lightable to use latest clojurescript 1.8.51, I have a couple of issues :

- Threadworker.js

 when registering a function it gets a bad formed one resulting in a reference error arguments$ not defined.
for example it will try to register this function
registering function theadfunc51==>function () {
  var a = argsArray(**arguments$** ), b = a.shift(), c = a.map(cljs.reader.

[2016-05-13 09:54] carocad commented on #2204
I have no experience on this subject but I know that there is already an issue with detailed information about the steps required to accomplish that. It seems to be non-trivial though. Here is the issue #1973.
I hope it helps

[2016-05-13 13:32] cneira commented on #2204
Thank you very much, this is really helpful!

[2016-05-13 13:32] #2204 closed

[2016-05-14 12:15] carocad commented on #2201
@cskujbus could you please provide a screenshot of this issue? A description of what you expected vs what happened would also be nice.  Also, about which LT version are we talking?

[2016-05-14 14:20] carocad opened #2206 "optional docstring for lt macros"
hey guys,
to be honest I have never written a macro so I don't know if this is actually possible or not, but anyway here it goes. I was having troubles understanding some of the uses of some UIs and also some behaviors, the problem being that they don't have any documentation which is not a surprise.

The real problem though is that (from my limited understanding of macros) it is also not possible

[2016-05-14 20:30] cskujbus commented on #2201
Hi,
here they are:

1. LightTable on top
![lt-top](https://cloud.githubusercontent.com/assets/3771374/15270530/47713fce-1a23-11e6-92e9-7035c7e692af.png)

2. LightTable at bottom
![lt-bottom](https://cloud.githubusercontent.com/assets/3771374/15270535/5722990e-1a23-11e6-8787-27b7691b6e22.png)

[2016-05-14 23:08] cskujbus commented on #2201
Ok, I tried in VMWare the same Ubuntu 16.04 + LightTable 0.8.1 and there is no such problem. Maybe it's some kind of Virtualbox video driver issue.